/* stylelint-disable */

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.no-scroll {
  overflow: hidden;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #353535;
  background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

abbr[title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

b,
strong {
  font-weight: 700;
}

button,
select {
  text-transform: none;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn,
i {
  font-style: italic;
}

mark {
  color: #000;
  background: transparent;
}

progress {
  vertical-align: baseline;
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

small {
  font-size: .8em;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

textarea {
  overflow: auto;
}

hr {
  height: 0;
  overflow: visible;
}

table {
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

template,
[hidden] {
  display: none;
}

[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
  appearance: button;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
.btn {
  width: 269px;
  height: 75px;
  font-size: 24px;
  line-height: 75px;
  color: #fff;
  text-align: center;
  background-color: transparent;
  background-image: url("../media/btn/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 0;
  outline: none;
  -webkit-transition: .3s transform;
  -o-transition: .3s transform;
  transition: .3s transform;
}

.btn:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.btn span {
  font-weight: 700;
}

@media (max-width: 768px) {
  .btn {
    width: 240px;
    height: 67px;
    font-size: 18px;
    line-height: 67px;
  }
}
.container {
  width: 100%;
  max-width: 1054px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1054px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }
}
/* stylelint-disable */

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

/*
 *  Owl Carousel - Core
 */

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */

.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../plugin/owl/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.face {
  position: relative;
}

.face__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.face__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.face__logo span {
  display: block;
}

.face__pride {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.face__pride-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 700;
}

.face__pride-item + .face__pride-item {
  margin-left: 60px;
}

.face__pride-item span {
  display: block;
}

.face__pride-icon {
  margin-right: 10px;
}

.face__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.face__title {
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 700;
  color: #646ba3;
}

.face__title mark {
  color: #646ba3;
}

.face__title span {
  display: block;
  font-size: 72px;
}

.face__title span mark::before {
  bottom: 12px;
}

.face__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}

.face__item + .face__item {
  margin-top: 5px;
}

.face__item mark {
  font-weight: 700;
  color: #3b9e8a;
}

.face__item span {
  display: block;
}

.face__box-icon {
  margin-right: 15px;
}

.face__product {
  position: absolute;
  bottom: -120px;
  left: -60px;
  z-index: 1;
}

.face__product::before {
  position: absolute;
  right: -155px;
  bottom: -29px;
  width: 301px;
  height: 176px;
  content: '';
  background-image: url("../media/face/berries.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.face__product::after {
  position: absolute;
  bottom: 36px;
  left: -36px;
  z-index: -1;
  width: 208px;
  height: 122px;
  content: '';
  background-image: url("../media/face/berries-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.face__form {
  position: relative;
  width: 390px;
  padding-bottom: 40px;
  background-color: #fff;
}

.face__form-price {
  position: absolute;
  top: 150px;
  left: -250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 164px;
  height: 162px;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
  text-align: center;
  background-image: url("../media/face/price.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.face__form-price span {
  margin-top: 15px;
  font-size: 38px;
  font-weight: 700;
}

.face__form-achievement {
  position: absolute;
  top: 333px;
  left: -220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 195px;
  height: 119px;
  font-size: 14px;
  color: #646ba3;
  text-align: center;
  background-image: url("../media/face/achievement.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.face__form-achievement span {
  display: block;
  font-size: 24px;
  font-weight: 700;
}

.face__form-achievement > div {
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg);
}

.face__form-head {
  position: relative;
  padding-top: 22px;
  padding-right: 130px;
  padding-bottom: 45px;
  padding-left: 60px;
  margin-bottom: 33px;
  background-image: url("../media/face/form-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.face__form-name {
  font-size: 18px;
  font-weight: 700;
  color: #3b9e8a;
  text-transform: uppercase;
}

.face__form-discount {
  position: absolute;
  top: 0;
  right: 38px;
  width: 71px;
  height: 55px;
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
  text-align: center;
  background-image: url("../media/face/flag.png");
  background-repeat: no-repeat;
}

.face__form-body {
  max-width: 298px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.face__form-label {
  position: relative;
  margin-bottom: 31px;
}

.face__form-label span {
  position: absolute;
  top: 0;
  left: 0;
  color: #999;
  -webkit-transition: .3s transform;
  -o-transition: .3s transform;
  transition: .3s transform;
  -webkit-transform: translate(20px, 18px);
  -ms-transform: translate(20px, 18px);
  transform: translate(20px, 18px);
}

.face__form-field {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 54px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: transparent;
  border: 1px solid #bdbdbd;
  border-radius: 50px;
}

.face__form-field:focus {
  outline: none;
}

.face__form-field_focus + span {
  -webkit-transform: translate(20px, -20px);
  -ms-transform: translate(20px, -20px);
  transform: translate(20px, -20px);
}

.face__form-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../media/face/arrow.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}

.face__count {
  position: absolute;
  bottom: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.face__count-name {
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
}

.face__count-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.face__count-time {
  position: relative;
  font-size: 36px;
  font-weight: 700;
}

.face__count-time + .face__count-time {
  margin-left: 30px;
}

.face__count-time + .face__count-time::before {
  position: absolute;
  top: -2px;
  left: -19px;
  content: ':';
}

.face__count-time span {
  display: block;
  text-align: center;
}

.face__count-time span:last-child {
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1054px) {
  .face__logo {
    font-size: 20px;
  }

  .face__pride-item + .face__pride-item {
    margin-left: 15px;
  }

  .face__title {
    font-size: 30px;
  }

  .face__title span {
    font-size: 50px;
  }

  .face__form {
    max-width: 300px;
  }

  .face__form-head {
    padding-right: 15px;
    padding-left: 15px;
  }

  .face__form-name {
    max-width: 160px;
    font-size: 16px;
  }

  .face__form-discount {
    right: 0;
  }

  .face__product {
    max-width: 400px;
  }

  .face__count {
    position: static;
    margin-bottom: 30px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .face__form-price {
    top: 320px;
    left: -400px;
  }
}

@media (max-width: 768px) {
  .face__head {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .face__logo {
    margin-bottom: 15px;
  }

  .face__pride-item + .face__pride-item {
    margin-left: 10px;
  }

  .face__list {
    margin-bottom: 30px;
  }

  .face__item {
    font-size: 16px;
  }

  .face__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .face__form {
    width: 100%;
    max-width: none;
    padding-top: 162px;
    background-color: transparent;
  }

  .face__title {
    font-size: 24px;
  }

  .face__title span {
    font-size: 40px;
  }

  .face__title.title mark::before {
    bottom: 3px;
    height: 10px;
  }

  .face__form-head {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
    background-color: #dcf6dd;
    background-image: none;
  }

  .face__form-name {
    max-width: none;
  }

  .face__product {
    position: relative;
    bottom: auto;
    left: auto;
    margin-bottom: 50px;
  }

  .face__form-price {
    top: 0;
    left: 0;
    z-index: 1;
  }

  .face__form-achievement {
    top: 30px;
    right: 30px;
    left: auto;
  }

  .face__form-body {
    width: 100%;
    max-width: none;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: #fff;
  }

  .face__form-btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .face__pride {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
  }

  .face__logo {
    width: 100%;
    text-align: center;
  }

  .face__pride-item + .face__pride-item {
    margin-top: 10px;
    margin-left: 0;
  }

  .face__product {
    margin-bottom: 25px;
  }

  .face__product::before {
    display: none;
  }

  .face__product::after {
    display: none;
  }

  .face__form-price {
    width: 115px;
    height: 116px;
    font-size: 14px;
  }

  .face__form-price span {
    margin-top: 5px;
    font-size: 26px;
  }

  .face__form-achievement {
    top: 15px;
    right: 0;
    width: 146px;
    height: 89px;
    font-size: 12px;
  }

  .face__form-achievement span {
    font-size: 18px;
  }

  .face__form {
    padding-top: 120px;
  }

  .face__form-name {
    max-width: 135px;
    font-size: 14px;
  }

  .face__form-body {
    padding-right: 25px;
    padding-left: 25px;
  }
}
.section_face {
  padding-top: 30px;
  padding-bottom: 180px;
  overflow-x: hidden;
  background: #b7d1e9;
  background: -o-linear-gradient(45deg, #b7d1e9 0%, #ddeaf7 50%, #b4cee8 100%);
  background: linear-gradient(45deg, #b7d1e9 0%, #ddeaf7 50%, #b4cee8 100%);
}

@media (max-width: 768px) {
  .section_face {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.title mark {
  position: relative;
  z-index: 1;
}

.title mark::before {
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 16px;
  content: '';
  background-color: #dbf6dd;
}