article,
details,
figcaption,
figure,
footer,
header,
menu,
section {
    display: block
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

blockquote,
q {
    quotes: none
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a,
input,
select,
textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0 none;
    padding: 0;
    margin: 0;
    font: inherit
}

button,
.like-btn,
[type=submit] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0 none;
    background: none;
    padding: 0;
    margin: 0
}

button:disabled,
.like-btn:disabled,
[type=submit]:disabled {
    pointer-events: none;
    cursor: default;
    opacity: .5
}


strong,
b {
    font-weight: bold;
    font-family: inherit !important
}

em,
i {
    font-style: italic;
    font-family: inherit !important
}

img {
    vertical-align: top
}

script {
    display: none !important
}

picture {
    display: block
}

html {
    font-size: 18px
}

body {
    font: 1rem/1.3 'Times New Roman', 'Droid Serif', 'Minon Pro Regular', serif;
    color: #303030;
    min-height: 100vh
}

a {
    color: #ec008c;
    -webkit-transition: color .15s linear 0s;
    -o-transition: color .15s linear 0s;
    transition: color .15s linear 0s
}

object[type*='svg'],
img[src*='svg'] {
    pointer-events: none;
    display: block;
    height: 100%;
    width: 100%
}

.hidden {
    display: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0
}

.main {
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.site-branding .main {
    position: relative;
    background-color: #fff
}

.section-1cols {
    margin-bottom: 30px
}

.section-2cols {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 30px
}

.safari5 .section-2cols::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.section-2cols-column {
    min-height: 80vh;
    -ms-flex-basis: 300px;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px
}

.safari5 .section-2cols-column {
    float: left
}

.section-2cols-column-left {
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.safari5 .section-2cols-column-left {
    width: 960px
}

.section-2cols-column-right {
    margin-left: 30px
}


.btn,
.like-btn,
[type=submit] {
    text-align: center;
    font: bold .84rem/2.5 'Arial', sans-serif;
    text-transform: uppercase;
    height: 40px;
    opacity: 1;
    -webkit-transition: opacity .15s linear 0s;
    -o-transition: opacity .15s linear 0s;
    transition: opacity .15s linear 0s;
    position: relative;
    width: 100%;
    overflow: visible
}

.btn:not(::first-letter),
.like-btn:not(::first-letter),
[type=submit]:not(::first-letter) {
    letter-spacing: 0.050em
}


.btn-pink {
    background-color: #ec008c;
    color: #fff
}

.btn-smth,
.btn [type=submit],
.like-btn [type=submit],
[type=submit] [type=submit] {
    background-color: #303030;
    color: #fff
}

.like-btn,
[type=submit] {
    height: 50px
}

.btn-round {
    font-size: 0.83em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.btn-round.fb {
    border-color: #3c559b
}

.btn-round.vk {
    border-color: rgb(230, 0, 35)
}

.btn-round.ig {
    border: 0
}


.btn-round.email {
    border-color: #000
}

.btn-thing {
    font-size: 0.83em;
    width: 24px;
    height: 25px;
    color: #fff;
    -webkit-transition: color .15s linear 0s;
    -o-transition: color .15s linear 0s;
    transition: color .15s linear 0s
}


.sharing-btn-div .btn,
.sharing-btn-div .like-btn,
.sharing-btn-div [type=submit] {
    color: #fff
}

.sharing-btn-div .btn.fb,
.sharing-btn-div .like-btn.fb,
.sharing-btn-div [type=submit].fb {
    background-color: #3c559b
}

.sharing-btn-div .btn.vk,
.sharing-btn-div .like-btn.vk,
.sharing-btn-div [type=submit].vk {
    background-color: rgb(230, 0, 35)
}

.sharing-btn-div .btn.tw,
.sharing-btn-div .like-btn.tw,
.sharing-btn-div [type=submit].tw {
    background-color: #40b5e8
}

.sharing-btn-div .btn.ok,
.sharing-btn-div .like-btn.ok,
.sharing-btn-div [type=submit].ok {
    background-color: #f58220
}

.sharing-btn-div {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex
}

.cosmo-recommend {
    background: #ebeced;
    padding: 30px 10px 0 10px;
}

.cosmo-recommend h2 {
    font: bold 13px/1 'Arial', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 30px auto
}

.cosmo-recommend a {
    text-decoration: none;
    color: #303030;
    cursor: initial;
}

.cosmo-recommend h3 {
    font: normal 17px/20px "Times New Roman";
    text-align: left
}

.cosmo-recommend .article-list li {
    padding: 0 0 30px 0
}

.cosmo-recommend img {
    width: 100%;
    border: 1px #dfdfdf solid;
    margin: 0 0 7px 0
}


.page-article-top-div {
    color: #aaa;
    text-transform: uppercase;
    font: 13px/1 'Arial', sans-serif;
    margin-bottom: 0.93em
}

.page-article-top-div::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.main-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main-head h1 {
    font: bold 2.2em/1.1 'Arial', sans-serif;
    margin: 8px 0;
    display: block;
    width: auto;
}

.page-article .article-layout {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.page-article .article-layout > * {
    -ms-flex-basis: 210px;
    -ms-flex-preferred-size: 210px;
    flex-basis: 210px
}

.page-article .article-layout .article-itself {
    -moz-flex-grow: 4;
    -ms-flex-grow: 4;
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
}

.page-article .article-layout .article-itself article {
    border-bottom: 1px dashed rgba(170, 170, 170, 0.5);
    margin-bottom: 30px
}

.page-article .article-body {
    font: .9399999999999999em/1.53 Arial, Helvetica, sans-serif
}

.page-article .article-body > div {
    margin-bottom: 30px
}

.page-article .article-body p {
    margin: 8px 0;
    text-align: justify;
}

.page-article .article-body img {
    width: 100%;
    height: auto;
    display: block;
    margin: 8px auto;
}


.page-article .article-body .article-pic {
    text-align: center
}

.page-article .article-body .article-pic.image-count-1 img {
    height: auto !important
}

.comments-div {
    margin-bottom: 30px
}

.comments-div-hidden {
    display: none
}

.comments-div-header {
    font: 36px/1 'Arial', sans-serif;
    text-transform: uppercase
}

.comments-div-header::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.comments-div-header span {
    color: #aaa;
    font-size: 20px
}

.comments-div-header-count {
    vertical-align: top;
    position: relative;
    top: 0.47em
}


.comments-div-header-pencil {
    float: right;
    position: relative;
    top: 9px
}

.comments-div-header-pencil::before {
    content: '\e90e';
    font-size: 23px
}

.comments-div-list-container .comments-div-list .opinion {
    border-top: 1px solid rgba(170, 170, 170, 0.5);
    padding: 30px 0 0;
    margin-top: 30px
}

.comments-div-list-container .comments-div-list .opinion::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.comments-div-list-container .comments-div-list .opinion > div {
    float: left
}

.comments-div-list-container .comments-div-list .opinion-img {
    width: 110px
}

.comments-div-list-container .comments-div-list .opinion-img img {
    border-radius: 50%;
    max-width: 66px;
    width: 100%;

}

.comments-div-list-container .comments-div-list .opinion-body {
    width: 84%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 7px
}

.comments-div-list-container .comments-div-list .opinion-body div {
    text-transform: uppercase;
    font: 13px/1 'Arial', sans-serif
}

.comments-div-list-container .comments-div-list .opinion-body-author-an-time {
    color: #aaa;
    margin-bottom: 0.4em
}

.comments-div-list-container .comments-div-list .opinion-body-author-an-time a {
    color: #ec008c;
    text-decoration: inherit
}


.comments-div-list-container .comments-div-list .opinion-body-author-an-time time {
    white-space: nowrap
}

.comments-div-list-container .comments-div-list .opinion-body-buttons {
    margin-top: 0.5em;
    padding-top: 0
}

.comments-div-list-container .comments-div-list .opinion-body-buttons-right {
    float: right;
    clear: right;
    padding-top: 2px
}

.comments-div-list-container .comments-div-list .opinion-body-buttons-right span {
    color: #aaa
}

.comments-div-list-container .comments-div-list .opinion-body-buttons-right form {
    display: inline;
    font-size: 13px
}

.comments-div-list-container .comments-div-list .opinion-body-buttons button,
.comments-div-list-container .comments-div-list .opinion-body-buttons a,
.comments-div-list-container .comments-div-list .opinion-body-buttons input[type=button],
.comments-div-list-container .comments-div-list .opinion-body-buttons .like-btn,
.comments-div-list-container .comments-div-list .opinion-body-buttons [type=submit] {
    font: 13px/1 'Arial', sans-serif;
    text-transform: inherit;
    text-decoration: inherit;
    background: none;
    color: #ec008c
}


.comments-div-list-container .comments-div-list .opinion-body p a {
    text-decoration: inherit;
    color: inherit;
    cursor: default
}

.comments-div-list-container .comments-div-list .opinion-btn-thing {
    margin-left: 1.8em;
    display: inline;
    color: #aaa;
    font: inherit
}


.comments-div-list-container .comments-div-list .opinion.sub-comment {
    margin-left: 20px;
    border-top-color: transparent
}

.comments-div-form {
    margin-top: 30px
}


.comments-div-form .user-pic {
    border-radius: 50%;
    display: none
}

.comments-div-form .comment-message-placeholder {
    color: #aaa;
    font: 16px/1 'Times New Roman', 'Droid Serif', 'Minon Pro Regular', serif;
    margin-bottom: 0.35em
}

.comments-div-form .user-text-field {
    border: 1px solid rgba(170, 170, 170, 0.5);
    height: 120px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1.3em;
    padding: .8em 1em
}

.comments-div-form .comment-form-button {
    width: 240px
}

.comments-div-form .answer-canceled {
    display: none;
    color: inherit;
    font-size: 21px;
    font-weight: normal;
    position: absolute;
    right: 0;
    bottom: 0
}

form {
    font: .9399999999999999em/1 'Arial', sans-serif
}

form .btn,
form .like-btn,
form [type=submit] {
    font-size: 21px;
    font-weight: normal;
    height: 50px
}

.criteo {
    margin: 0 auto
}

.banner-desktop-side {
    max-width: 300px;
    max-height: 600px
}


span.empty {
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0
}

header {
    width: 100%;
    background-color: #303030;
}

.menu-div {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.menu-div-main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 auto;
    width: 80%;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative
}

.menu-div-main-nav {
    text-transform: uppercase;
    width: 85%;
}

.menu-div-main-nav .menu-div-ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
}

.menu-div-main-nav .menu-div-ul li {
    display: inline-block;
    margin: 0 3px;
}

.menu-div-main-nav .menu-div-ul li:not(:last-child) {

}

.menu-div-main-nav .menu-div-ul li.special span {
    color: #fedc32;
    padding: 0 0 0 40px;
}


.menu-div-ul {
    font: 20px/1 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}

.menu-div-ul li span {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: .5em 0;
    -webkit-transition: color .15s linear 0s;
    -o-transition: color .15s linear 0s;
    transition: color .15s linear 0s
}


.menu-div-ul li span.favorite {
    color: #ec008c
}

.menu-div-ul li span.special {
    color: #ec008c
}

.menu-div-ul li.item-active {
    color: #ec008c;
    padding: .5em 0;
    font-weight: 600
}

.menu-div-fixed-plashka {
    background-color: inherit;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.menu-div-fixed-plashka.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000
}

.site-branding-trimming .menu-div-fixed-plashka {
    width: 1350px;
    margin-left: auto;
    margin-right: auto
}

.site-branding .menu-div {
    position: relative
}

.site-branding-trimming .menu-div {
    width: 1350px;
    margin-left: auto;
    margin-right: auto
}

.menu-div-main-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%
}


.menu-div-sub-opened .menu-buter::before {
    color: #ec008c
}

.menu-logo {
    width: 152px;
}

.social-bar-round .menu-div-zagolovok {
    margin-bottom: 1em
}

.social-bar-round .sharing-btn-div {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

footer {
    background-color: #303030;
    width: 100%;
    color: #fff
}

.site-branding footer {
    position: relative
}

.site-branding-trimming footer {
    width: 1350px;
    margin-left: auto;
    margin-right: auto
}

.footer {
    margin: 0 auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
    font: 17px/1 'Arial', sans-serif;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
}

.footer p {
    color: #999;
    font: 12px/1.2 'Times New Roman', 'Droid Serif', 'Minon Pro Regular', serif
}

.footer-left {
    width: 30%
}

.footer-center {
    width: 30%
}

.footer .censorship {
    color: #999;
    font: 24px/1 'ArialLight', sans-serif;
    margin-bottom: 1em
}

.social-bar-round {
    margin-top: 10px;
}

.footer .social-bar-round .menu-div-zagolovok {
    color: #999;
    font: 13px/1 'Arial', sans-serif;
    margin-bottom: 1em;
    text-transform: uppercase
}

.footer-center {
    padding-left: 15px;
    width: 32%;
}

.footer-left {
    width: 32%;
}

.footer-right {
    text-align: right;
    width: 32%;
}

.safari5 .footer-right {
    width: 18%
}

.footer-menu-list:first-of-type {
    margin: 10px 0;
}

.footer-menu-list li:not(:last-child) {
    margin-bottom: 1em
}

.footer-menu-list li a {
    color: inherit;
    text-decoration: inherit
}


.footer-issue-link {
    display: block;
    float: left;
    margin-right: 30px
}

.footer-issue-link img {
    max-width: 218px;
    max-height: 211px
}

.footer-issue-div {
    float: left
}

.footer-issue-div p {
    color: #fff;
    font: 17px/1 'Arial', sans-serif;
    margin-bottom: 30px
}

.footer-issue-div span {
    display: block;
    color: #fff;
    font: 24px/1 'Arial', sans-serif;
    text-transform: uppercase;
    margin: .4em 0
}

.safari5 .footer {
    display: table;
    width: 1290px
}

.menu-div-main .svg-inline--fa {
    font-size: 1.5rem;
}

.svg-inline--fa.fa-comment.fa-w-16 {
    position: relative;
    top: -13px;
}

.sharing-btn-div .svg-inline--fa {
    position: relative;
    top: 7px;
    font-size: 1.5rem;
}

.btn.btn-round {
    margin: 0 1px;
}

.product-href {
    text-align: center;
    background-color: #ec008c;
    margin: 8px auto;
    padding: 10px;
    border-radius: 5px;
}

.product-href a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
}

.img-comment {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.img-comment img {
    width: 50%;
    height: auto;
}

.comm-length {
    position: relative;
    top: -13px;
}

.hide-menu {
    display: none;
}

.page-article .article-body img.img-float {
    float: left;
    max-width: 364px;
    width: 100%;
    margin: 0 10px
}


@media screen and (max-width: 1350px) {
    .menu-div-main-nav {
        display: none;
    }

    .hide-menu {
        display: block;
    }

    .menu-div-main {
        width: 80%;
    }

    .footer {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 992px) {
    .footer {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .section-2cols-column-right {
        display: none;
    }

    .page-article .article-layout {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .page-article .article-layout {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .page-article .article-layout .article-itself {
        max-width: 80%;
    }

    .page-article .article-layout .article-itself {
        max-width: 100%;
    }

    .footer-left,
    .footer-right,
    .footer-center {
        width: 100%;
        margin: 10px 0;
    }

    .footer-menu li {
        text-align: center;
    }

    .menu-div-zagolovok {
        text-align: center;
    }

    .sharing-btn-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer-right {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .footer-left {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .footer-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .page-article .article-body img.img-float {
        float: none;
    }

}

@media screen and (max-width: 568px) {
    .comments-div-list-container .comments-div-list .opinion-body {
        width: 100%;
    }
}

.text-pink {
    color: #ec008c;
}

.img-comm {
    display: block;
    width: 30%;
    margin: 10px 0;
}

.page-article .article-body img.product-img {
    max-width: 300px;
    width: 100%;
    display: block;
    margin: 8px auto;
}

.fa-heart {
    margin-right: 3px;
}

.page-article .article-body p.text-center {
    text-align: center;
}

.page-article .article-body p.text-center span{
    font-style: italic;
    text-decoration: underline;
}


@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext";

body {
    margin: 0
}

.ryle {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 830px;
    height: 100vh;
    background-color: #ffead1;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    font-family: 'Roboto', sans-serif;
    -webkit-transition: .6s ease-in;
    -o-transition: .6s ease-in;
    transition: .6s ease-in
}

.ryle_active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.ryle__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.ryle__close:hover {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.ryle__close:hover span {
    background-color: #000
}

.ryle__close span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000
}

.ryle__close span:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.ryle__close span:last-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.ryle__box {
    position: relative;
    margin-left: -359px;
    width: 718px;
    height: 718px
}

.ryle__media {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    -webkit-transition: 5s -webkit-transform;
    transition: 5s -webkit-transform;
    -o-transition: 5s transform;
    transition: 5s transform;
    transition: 5s transform, 5s -webkit-transform
}

.ryle__media_active {
    -webkit-transform: rotate(1290deg) scale(1);
    -ms-transform: rotate(1290deg) scale(1);
    transform: rotate(1290deg) scale(1)
}

.ryle__item {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 40px;
    width: 100%;
    max-width: 300px;
    color: #fff;
    font-weight: 700;
    max-width: 176px;
    text-align: center;
    font-size: 22px
}

.ryle__item:nth-of-type(1) {
    -webkit-transform: rotate(-60deg) translate(143px, -98px);
    -ms-transform: rotate(-60deg) translate(143px, -98px);
    transform: rotate(-60deg) translate(143px, -98px)
}

.ryle__item:nth-of-type(2) {
    -webkit-transform: rotate(-30deg) translate(100px, -60px);
    -ms-transform: rotate(-30deg) translate(100px, -60px);
    transform: rotate(-30deg) translate(100px, -60px)
}

.ryle__item:nth-of-type(3) {
    -webkit-transform: rotate(0deg) translate(80px, -10px);
    -ms-transform: rotate(0deg) translate(80px, -10px);
    transform: rotate(0deg) translate(80px, -10px)
}

.ryle__item:nth-of-type(4) {
    -webkit-transform: rotate(30deg) translate(90px, 45px);
    -ms-transform: rotate(30deg) translate(90px, 45px);
    transform: rotate(30deg) translate(90px, 45px)
}

.ryle__item:nth-of-type(5) {
    -webkit-transform: rotate(60deg) translate(117px, 85px);
    -ms-transform: rotate(60deg) translate(117px, 85px);
    transform: rotate(60deg) translate(117px, 85px)
}

.ryle__item:nth-of-type(6) {
    -webkit-transform: rotate(90deg) translate(169px, 109px);
    -ms-transform: rotate(90deg) translate(169px, 109px);
    transform: rotate(90deg) translate(169px, 109px)
}

.ryle__item:nth-of-type(7) {
    -webkit-transform: rotate(120deg) translate(234px, 100px);
    -ms-transform: rotate(120deg) translate(234px, 100px);
    transform: rotate(120deg) translate(234px, 100px)
}

.ryle__item:nth-of-type(8) {
    -webkit-transform: rotate(150deg) translate(277px, 63px);
    -ms-transform: rotate(150deg) translate(277px, 63px);
    transform: rotate(150deg) translate(277px, 63px)
}

.ryle__item:nth-of-type(9) {
    -webkit-transform: rotate(180deg) translate(297px, 20px);
    -ms-transform: rotate(180deg) translate(297px, 20px);
    transform: rotate(180deg) translate(297px, 20px)
}

.ryle__item:nth-of-type(10) {
    -webkit-transform: rotate(210deg) translate(287px, -47px);
    -ms-transform: rotate(210deg) translate(287px, -47px);
    transform: rotate(210deg) translate(287px, -47px)
}

.ryle__item:nth-of-type(11) {
    -webkit-transform: rotate(240deg) translate(259px, -85px);
    -ms-transform: rotate(240deg) translate(259px, -85px);
    transform: rotate(240deg) translate(259px, -85px)
}

.ryle__item:nth-of-type(12) {
    -webkit-transform: rotate(270deg) translate(207px, -108px);
    -ms-transform: rotate(270deg) translate(207px, -108px);
    transform: rotate(270deg) translate(207px, -108px)
}

.ryle__arrow {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: -80px;
    width: 160px;
    height: 80px;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-size: cover
}

.ryle__info {
    margin: auto 50px auto auto;
    text-align: center;
    max-width: 275px;
}

.ryle__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.ryle__look {
    display: inline-block;
    padding: 15px 30px;
    background: linear-gradient(137deg, #edad5c, #c52a31);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.ryle__look:hover {
    background-color: #272727
}

.ryle__discount {
    visibility: hidden;
    margin-top: 20px;
    font-size: 22px;
    color: #fff
}

.ryle__discount_active {
    visibility: visible
}

@media (max-width: 1280px) {
    .ryle {
        width: 768px
    }
}

@media (max-width: 768px) {
    .ryle {
        width: 100vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow-y: auto
    }

    .ryle__box {
        margin-left: -239px;
        min-width: 460px;
        min-height: 460px;
        width: 460px;
        height: 460px
    }

    .ryle__media {
        background-size: cover
    }

    .ryle__info {
        margin-right: 15px
    }

    .ryle__arrow {
        right: -62px;
        width: 100px;
        height: 50px
    }

    .ryle__item {
        font-weight: 400;
        font-size: 11px;
        padding-left: 15px;
        max-width: 129px
    }

    .ryle__item:nth-of-type(1) {
        -webkit-transform: rotate(-60deg) translate(93px, -67px);
        -ms-transform: rotate(-60deg) translate(93px, -67px);
        transform: rotate(-60deg) translate(93px, -67px)
    }

    .ryle__item:nth-of-type(2) {
        -webkit-transform: rotate(-30deg) translate(65px, -43px);
        -ms-transform: rotate(-30deg) translate(65px, -43px);
        transform: rotate(-30deg) translate(65px, -43px)
    }

    .ryle__item:nth-of-type(3) {
        -webkit-transform: rotate(0deg) translate(52px, -13px);
        -ms-transform: rotate(0deg) translate(52px, -13px);
        transform: rotate(0deg) translate(52px, -13px)
    }

    .ryle__item:nth-of-type(4) {
        -webkit-transform: rotate(30deg) translate(59px, 31px);
        -ms-transform: rotate(30deg) translate(59px, 31px);
        transform: rotate(30deg) translate(59px, 31px)
    }

    .ryle__item:nth-of-type(5) {
        -webkit-transform: rotate(60deg) translate(77px, 57px);
        -ms-transform: rotate(60deg) translate(77px, 57px);
        transform: rotate(60deg) translate(77px, 57px)
    }

    .ryle__item:nth-of-type(6) {
        -webkit-transform: rotate(90deg) translate(110px, 73px);
        -ms-transform: rotate(90deg) translate(110px, 73px);
        transform: rotate(90deg) translate(110px, 73px)
    }

    .ryle__item:nth-of-type(7) {
        -webkit-transform: rotate(120deg) translate(154px, 67px);
        -ms-transform: rotate(120deg) translate(154px, 67px);
        transform: rotate(120deg) translate(154px, 67px)
    }

    .ryle__item:nth-of-type(8) {
        -webkit-transform: rotate(150deg) translate(182px, 41px);
        -ms-transform: rotate(150deg) translate(182px, 41px);
        transform: rotate(150deg) translate(182px, 41px)
    }

    .ryle__item:nth-of-type(9) {
        -webkit-transform: rotate(180deg) translate(195px, 14px);
        -ms-transform: rotate(180deg) translate(195px, 14px);
        transform: rotate(180deg) translate(195px, 14px)
    }

    .ryle__item:nth-of-type(10) {
        -webkit-transform: rotate(210deg) translate(189px, -30px);
        -ms-transform: rotate(210deg) translate(189px, -30px);
        transform: rotate(210deg) translate(189px, -30px)
    }

    .ryle__item:nth-of-type(11) {
        -webkit-transform: rotate(240deg) translate(171px, -56px);
        -ms-transform: rotate(240deg) translate(171px, -56px);
        transform: rotate(240deg) translate(171px, -56px)
    }

    .ryle__item:nth-of-type(12) {
        -webkit-transform: rotate(270deg) translate(137px, -73px);
        -ms-transform: rotate(270deg) translate(137px, -73px);
        transform: rotate(270deg) translate(137px, -73px)
    }
}

@media (max-width: 480px) {
    .ryle__box {
        margin-left: -270px;
        margin-top: -120px
    }

    .ryle__title {
        font-size: 18px;
        margin-bottom: 10px
    }
}

.all-form {
    height: 1px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 620px;
    color: #000;
    font-size: 16px;
    visibility: hidden;
    margin: 16px auto;
}

.all-form_active {
    height: auto;
    visibility: visible;
}

.all-form__time {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.all-form__time > span {
    display: block;
}

.all-form__count {
    color: red;
}

.all-form__body {
    padding: 25px 45px;
    margin-top: 25px;
    background-color: #fff;
    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.all-form__title {
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.all-form__title span {
    color: #50b27c;
}

.all-form__label > span {
    display: block;
    margin-bottom: 5px;
}

.all-form__label + .all-form__label {
    margin-top: 20px;
}

.all-form__field {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}

.all-form__btn {
    padding: 15px 40px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background-color: #53b57f;
    background: rgb(90,188,134);
    background: linear-gradient(180deg, rgba(90,188,134,1) 0%, rgba(66,163,110,1) 50%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    max-width: 350px;
    flex: 1 0 240px;
    width: 100%;
    margin-right: 15px;
}

.all-form__btn:hover {
    transform: scale(0.98);
}

.btnBlock {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.prices {
    max-width: 180px;
    flex: 0 0 180px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.new-price {
    margin-right: 10px;
    color: #53b57f;
    font-size: 18px;
}

.old-price {
    text-decoration: line-through;
}

@media screen and (max-width: 576px) {
    .btnBlock {
        justify-content: center;
    }

    .prices {
        margin-top: 16px;
    }
}