<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Recardio</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Что такое мета теги и для чего они нужны">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="мета теги, meta, мета теги для seo">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="META теги">
    <!-- описание страницы -->
    <meta property="og:description" content="Описание страницы про META теги">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Фрилансер по жизни">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Имя/логин автора -->
    <meta name="twitter:site" content="Жека">
    <!-- Название страницы -->
    <meta name="twitter:title" content="META теги">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="про META теги">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <section class="section section_face">
            <div class="container">
                
<div class="face">
    <div class="face__box">
        <div class="face__logo">Recardio</div>
        <div class="section__title face__title" data-aos="fade-up">скорая помощь <mark>для сердца и сосудов</mark></div>
        <div class="face__list">
            <div class="face__check" data-aos="fade-right">
                <mark>Укрепляет и очищает</mark> стенки сосудов
            </div>
            <div class="face__check" data-aos-delay="100" data-aos="fade-right">
                <mark>Растворяет</mark> холестериновые бляшки
            </div>
            <div class="face__check" data-aos-delay="200" data-aos="fade-right">
                <mark>Предотвращает</mark> осложнения
            </div>
            <div class="face__check" data-aos-delay="300" data-aos="fade-right">
                <mark>Нормализует</mark> давление
            </div>
        </div>
        <div class="face__product">
            <img src="../media/product.png" alt="Recardio">
        </div>
    </div>
    <div class="face__box">
        <form class="form" action="" method="post">
    <div class="form__border"></div>
    <div class="form__wrap">
        <div class="form__title">Закажите со скидкой <mark>прямо сейчас</mark></div>
        <div class="form__price">
            <div class="form__price-old">990 rub</div>
            <div class="form__price-main">99 rub</div>
        </div>
        <div class="form__time">
            <div class="form__time-title">До конца акции осталось:</div>
            <div class="form__time-box">
                <div class="form__time-count">
                    <span>00</span>
                    <span>часов</span>
                </div>
                <span>:</span>
                <div class="form__time-count">
                    <span>22</span>
                    <span>минут</span>
                </div>
                <span>:</span>
                <div class="form__time-count">
                    <span>00</span>
                    <span>секунд</span>
                </div>
            </div>
        </div>
        <div class="form__body">
            <label class="form__label">
                <select class="form__field form__select">
                    <option selected="" value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <span>Страна</span>
            </label>
            <label class="form__label">
                <input type="text" class="form__field">
                <span>Имя</span>
            </label>
            <label class="form__label">
                <input type="text" class="form__field">
                <span>Телефон</span>
            </label>
            <button class="form__btn">Купить со скидкой</button>
        </div>
    </div>
</form>

        <div class="face__plus">
            <div class="face__plus-item" data-aos="fade-up">Одобрено <br> European Society <br> of Cardiology</div>
            <div class="face__plus-item" data-aos-delay="100" data-aos="fade-up">Быстрое <br> действие</div>
            <div class="face__plus-item" data-aos-delay="200" data-aos="fade-up">Безопасный <br> состав</div>
        </div>
    </div>
</div>

            </div>
        </section>
        
<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="symptoms__subtitle">
                Миллионы людей не подозревают,
                <span>что находятся в зоне риска.</span>
            </div>
            <div class="section__title symptoms__title" data-aos="fade-up">Вам знакомы эти симптомы?</div>
            <div class="symptoms__box">
                <div class="symptoms__list">
                    <div class="symptoms__list-item" data-aos="fade-right">Головная боль и головaокружения</div>
                    <div class="symptoms__list-item" data-aos="fade-right">Шум в ушах</div>
                    <div class="symptoms__list-item" data-aos="fade-right">Быстрая утомляемость </div>
                    <div class="symptoms__list-item" data-aos="fade-right">Одышка и затрудненное дыхание</div>
                </div>
                <div class="symptoms__list">
                    <div class="symptoms__list-item" data-aos="fade-left">Появление ярких пятен перед глазами</div>
                    <div class="symptoms__list-item" data-aos="fade-left">Боль в груди</div>
                    <div class="symptoms__list-item" data-aos="fade-left">Носовые кровотечения</div>
                    <div class="symptoms__list-item" data-aos="fade-left">Покалывания, отдающие в левое плечо или шею</div>
                </div>
            </div>
            <div class="symptoms__product">
                <img src="../media/symptoms/human.png" alt="Human">
            </div>
        </div>
    </div>
</section>

        
<section class="section section_saveAndChance">
    <div class="container">
        <div class="save">
            <div class="section__title save__title" data-aos="fade-up"><mark>Как сохранить</mark> сердце здоровым?</div>
            <div class="save__info">
                <p>Гипертония может не проявлять себя годами. Повышенное давление списывают на усталость, погоду или особенность организма. Когда появляются головные боли, бессонница или затрудненное дыхание, то в последнюю очередь думают на проблемы с сердцем. “Со мной все в полном порядке, просто жарко на улице”, – говорила моя мама, когда у нее появилась отдышка.</p>
                <p>Мне страшно вспоминать тот день, когда я могла потерять ее… Примерно за 2 месяца до сердечного приступа она стала быстро уставать и жаловаться на головные боли. При всем этом давление не было высоким – 135/90. В день приступа мама чувствовала себя нормально и поехала в магазин. Позже мне позвонили из больницы и сказали, что она в реанимации. Все обошлось.</p>
                <p>Восстановление было очень долгим, и приступ мог повториться в любой момент. Давление по прежнему было 150/95. От большого количества таблеток пришли плохие анализы, что грозило развитием почечной недостаточности. Нужно срочно снизить количество ежедневно потребляемых таблеток. Но как? Ведь без них состояние моментально ухудшается.</p>
            </div>
            <div class="save__product">
                <div class="save__product-media">
                    <img src="../media/save/product.jpg" alt="">
                </div>
                <div class="save__product-info">
                    <p>Мы обратились за помощью в European Society of Cardiology. Кардиолог Vincent Chapman объяснил, что резко отменять назначенные препараты нельзя. Необходимо очистить сосуды и привести их в тонус. И только тогда постепенно снижать дозировку лекарств. Для чистки и укрепления сосудов он прописал Recardio.</p>
                    <p>Мама пропила курс и стала чувствовать себя гораздо лучше. Стала просыпаться бодрой, а не с головными болями. Прошли боли в груди, одышка и усталость. Общее состояние улучшилось, а анализы показывали нормальный уровень холестерина. Постепенно лечащий врач снизил дозировку лекарств. Через полгода по совету кардиолога мама пропила еще один курс Recardio.</p>
                </div>
            </div>
            <div class="save__footer">
                <p>В нем содержатся все необходимые витамины, которые улучшают сердечную работу. Сейчас давление мамы 125/80. Она чувствует себя отлично и больше не принимает много лекарств. Теперь я спокойна, что ей не грозят проблемы с почками. И самое главное – ее сердце такое здоровое, что прослужит еще очень долго. В жизни нет ничего важнее, чем близкие. Кто позаботится о них, если не мы?</p>
            </div>
        </div>
        <div class="chance">
            <div class="section__title chance__title" data-aos="fade-up"><mark>Recardio</mark> – надежная защита для сердца и сосудов </div>
            <div class="chance__box">
                <div class="chance__product">
                    <img src="../media/product.png" alt="Recardio">
                </div>
                <div class="chance__list">
                    <div class="chance__item" data-aos="fade-right">Нормализует показатели давления</div>
                    <div class="chance__item" data-aos="fade-right" data-aos-delay="100">Снижает концентрацию холестерина</div>
                    <div class="chance__item" data-aos="fade-right" data-aos-delay="200">Препятствует кислородному голоданию клеток</div>
                </div>
                <div class="chance__list">
                    <div class="chance__item" data-aos="fade-left">Очищает сосуды</div>
                    <div class="chance__item" data-aos="fade-left" data-aos-delay="100">Избавляет от головных болей и шума в ушах</div>
                    <div class="chance__item" data-aos="fade-left" data-aos-delay="200">Обеспечивает нормальный сосудистый тонус</div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_extract">
    <div class="container">
        <div class="extract">
            <div class="section__title extract__title" data-aos="fade-up"><mark>Натуральный состав —</mark> залог долголетия</div>
            <div class="extract__box">
                <div class="extract__item" data-aos="flip-left">
                    <div class="extract__name">Экстракт крапивы</div>
                    <div class="extract__description">Нормализует частоту сердечных сокращений и их ритм, расширяет сосуды и оказывает на них тонизирующее воздействие, снижает концентрацию холестерина в плазме крови.</div>
                </div>
                <div class="extract__item" data-aos="flip-right">
                    <div class="extract__name">Экстракт пустырника</div>
                    <div class="extract__description">Успокаивает нервную систему и нормализует сон. Способствует улучшению состава крови, её разжижению, снижению давления.</div>
                </div>
                <div class="extract__item" data-aos="flip-up">
                    <div class="extract__name">Экстракт боярышника</div>
                    <div class="extract__description">Обладает диуретическим эффектом, вследствие чего оказывает гипотензивное воздействие, тем самым уменьшая нагрузку на сердечно-сосудистую систему.</div>
                </div>
                <div class="extract__item" data-aos="flip-down">
                    <div class="extract__name">Витамины группы В</div>
                    <ul class="extract__list">
                        <li>— Выводят лишнюю жидкость.</li>
                        <li>— Помогают поддерживать необходимый тонус крупных и периферических сосудов.</li>
                        <li>— Обеспечивают эластичность миокарда.</li>
                        <li>— Способствуют нормализации сердечного ритма.</li>
                        <li>— Снимают спазм сосудов.</li>
                        <li>— Препятствуют образованию тромбов.</li>
                        <li>— Снижают уровень холестерина в крови.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_advice">
    <div class="container">
        <div class="advice">
            <div class="section__title advice__title" data-aos="fade-up">5 главных советов врача-кардиолога</div>
            <div class="advice__box">
                <div class="advice__item">
                    <div class="advice__item-info">
                        <div class="advice__item-title">1. Следите за артериальным давлением</div>
                        <div class="advice__item-description">Заведите дневник здоровья, где будете отслеживать показания АД минимально 2-3 раза в день.</div>
                    </div>
                </div>
                <div class="advice__item">
                    <div class="advice__item-info">
                        <div class="advice__item-title">2. Старайтесь контролировать эмоциональное состояние</div>
                        <div class="advice__item-description">Помимо разрушения нервных волокон, гормон стресса негативно влияет на работу сердечно-сосудистой системы. Стресс ускоряет обмен веществ, пульс и повышает давление в сосудах. Вследствие этого гипертоник моментально может ощущать дискомфорт в ушах, глазах и грудной клетке.</div>
                    </div>
                </div>
                <div class="advice__item">
                    <div class="advice__item-info">
                        <div class="advice__item-title">3. Не забывайте про диету и физическую активность</div>
                        <div class="advice__item-description">Ограничьте потребление соли и сахара. Необходимо полностью исключить табак и алкоголь. При избыточном весе, постарайтесь снизить его. Лишняя жировая ткань в организме создает серьезную нагрузку на все системы органов, опорно-двигательный аппарат человека, заставляет сердце работать с удвоенной силой.</div>
                    </div>
                </div>
                <div class="advice__item">
                    <div class="advice__item-info">
                        <div class="advice__item-name"><span>Vincent Chapman,</span> врач-кардиолог, член European Society of Cardiology</div>
                        <div class="advice__item-media" data-aos="fade" data-aos-delay="400"></div>
                        <div class="advice__item-title">4. Следите за показаниями анализов</div>
                        <div class="advice__item-description">Важно, чтобы показатели холестерина, гемоглобина, креатинина, электролитов, мочевой кислоты и других показателей были в пределах нормы.</div>
                    </div>
                </div>
                <div class="advice__item">
                    <div class="advice__item-info">
                        <div class="advice__item-title">5. Принимайте витамины/Витаминные комплексы</div>
                        <div class="advice__item-description">При артериальной гипертензии обычные витаминные комплексы не подходят. Они не содержат необходимые компоненты для здоровья сердечно-сосудистой системы. Всем своим пациентам я выписываю Recardio. Его эффективность обусловлена взаимодействием ингредиентов, которые помогают очистить сосуды от холестериновых бляшек, снизить показатели АД и нагрузку на почки. Важное отличие Recardio от других препаратов – нормализация концентрации кислорода в крови. Давление поднимается при спазме сосуда и нехватке в плазме оксигена. Витамины группы В взаимодействуя с экстрактом пустырника, обеспечивают поддержание стабильно высокого уровня кислорода, предотвращая сужение сосудов и поднятия АД. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Rosaline Tucker,</div>
                    <div class="commits__age">42 года</div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="commits__description">
                        Хроническую гипертонию мне поставили 10 лет назад. Чтобы разгрузить организм от постоянного приема таблеток, врач выписал Recardio. Давление нормализовалось, прошла тяжесть, боли и шум в голове, перестало тянуть в груди и прошла бессонница. Пропив курс Recardio, я поняла, что слишком долго сидела на серьезных медикаментах из-за чего и начались проблемы с почками. Я рада, что сейчас мое давление и анализы в норме.
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Jocelin Nash,</div>
                    <div class="commits__age">27 лет</div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="commits__description">
                        Я купила Recardio для родителей – они оба гипертоники. Мама и папа стали чувствовать себя гораздо лучше после приема. Проконсультировавшись с врачом, стала и сама принимать для профилактики. У меня очень высокий риск заболеть гипертонией, а Recardio расширяет сосуды, нормализует функции сердечно-сосудистой, нервной, иммунной систем организма. Спустя неделю прошли мои мигрени, я стала спать лучше. Это все результат очищения сердечно-сосудистой системы. Так что советую всем, у кого есть проблемы с давлением.


                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Jacob Randall,</div>
                    <div class="commits__age">54 года</div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="commits__description">
                        Купил Recardio по акции. Чуда не ждал, рассчитывал хотя бы на минимальные улучшения. Но через неделю заметил первые улучшения. Стал лучше спать и прекратились скачки давления. Пропил курс и проблема повышенного давления осталась, надеюсь, навсегда в прошлом. Показатели как у молодого парня – 120-80. Самочувствие хорошее, буду принимать для профилактики в дальнейшем.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        <section class="section section_face-footer">
            <div class="container">
                
<div class="delivery">
    <div class="section__title delivery__title" data-aos="fade-up">Как заказать?</div>
    <div class="delivery__step">
        <div class="delivery__step-item">
            <div class="delivery__media"><img src="../media/delivery/img-1.jpg" alt=""></div>
            <div class="delivery__step-description">Заполните форму заказа</div>
        </div>
        <div class="delivery__step-item">
            <div class="delivery__media"><img src="../media/delivery/img-2.jpg" alt=""></div>
            <div class="delivery__step-description">Дождитесь звонка оператора</div>
        </div>
        <div class="delivery__step-item">
            <div class="delivery__media"><img src="../media/delivery/img-3.jpg" alt=""></div>
            <div class="delivery__step-description">Подтвердите заказ</div>
        </div>
        <div class="delivery__step-item">
            <div class="delivery__media"><img src="../media/delivery/img-4.jpg" alt=""></div>
            <div class="delivery__step-description">Внесите предоплату либо оплатите товар при получении</div>
        </div>
        <div class="delivery__step-item">
            <div class="delivery__media"><img src="../media/delivery/img-5.jpg" alt=""></div>
            <div class="delivery__step-description">Получите товар курьерской службой</div>
        </div>
    </div>
    <div class="delivery__wraning">
        <div class="delivery__wraning-info">
            <div class="delivery__wraning-title">Остерегайтесь подделок!</div>
            <div class="delivery__wraning-description">В связи с огромной популярностью Recardio, стали появляться фальсифицированные образцы. Оригинальный Recardio можно приобрести только на этом сайте.</div>
        </div>
        <div class="delivery__product">
            <img src="../media/product.png" alt="">
        </div>
        <div class="delivery__wraning-media">
            <div class="delivery__media-item" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <img src="../media/delivery/medal-1.png" alt="">
            </div>
            <div class="delivery__media-item" data-aos="flip-left" data-aos-delay="100" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <img src="../media/delivery/medal-2.png" alt="">
            </div>
            <div class="delivery__media-item" data-aos="flip-left" data-aos-delay="200" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <img src="../media/delivery/medal-3.png" alt="">
            </div>
            <div class="delivery__media-item" data-aos="flip-left" data-aos-delay="300" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
                <img src="../media/delivery/medal-4.png" alt="">
            </div>
        </div>
    </div>
</div>

                
<div class="face">
    <div class="face__box">
        <div class="face__logo">Recardio</div>
        <div class="section__title face__title" data-aos="fade-up">скорая помощь <mark>для сердца и сосудов</mark></div>
        <div class="face__list">
            <div class="face__check" data-aos="fade-right">
                <mark>Укрепляет и очищает</mark> стенки сосудов
            </div>
            <div class="face__check" data-aos-delay="100" data-aos="fade-right">
                <mark>Растворяет</mark> холестериновые бляшки
            </div>
            <div class="face__check" data-aos-delay="200" data-aos="fade-right">
                <mark>Предотвращает</mark> осложнения
            </div>
            <div class="face__check" data-aos-delay="300" data-aos="fade-right">
                <mark>Нормализует</mark> давление
            </div>
        </div>
        <div class="face__product">
            <img src="../media/product.png" alt="Recardio">
        </div>
    </div>
    <div class="face__box">
        <form class="form" action="" method="post">
    <div class="form__border"></div>
    <div class="form__wrap">
        <div class="form__title">Закажите со скидкой <mark>прямо сейчас</mark></div>
        <div class="form__price">
            <div class="form__price-old">990 rub</div>
            <div class="form__price-main">99 rub</div>
        </div>
        <div class="form__time">
            <div class="form__time-title">До конца акции осталось:</div>
            <div class="form__time-box">
                <div class="form__time-count">
                    <span>00</span>
                    <span>часов</span>
                </div>
                <span>:</span>
                <div class="form__time-count">
                    <span>22</span>
                    <span>минут</span>
                </div>
                <span>:</span>
                <div class="form__time-count">
                    <span>00</span>
                    <span>секунд</span>
                </div>
            </div>
        </div>
        <div class="form__body">
            <label class="form__label">
                <select class="form__field form__select">
                    <option selected="" value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <span>Страна</span>
            </label>
            <label class="form__label">
                <input type="text" class="form__field">
                <span>Имя</span>
            </label>
            <label class="form__label">
                <input type="text" class="form__field">
                <span>Телефон</span>
            </label>
            <button class="form__btn">Купить со скидкой</button>
        </div>
    </div>
</form>

        <div class="face__plus">
            <div class="face__plus-item" data-aos="fade-up">Одобрено <br> European Society <br> of Cardiology</div>
            <div class="face__plus-item" data-aos-delay="100" data-aos="fade-up">Быстрое <br> действие</div>
            <div class="face__plus-item" data-aos-delay="200" data-aos="fade-up">Безопасный <br> состав</div>
        </div>
    </div>
</div>

            </div>
        </section>
        <section class="section section_footer">
            <footer>
                <div class="container">
                    <div class="adress">
                         <p class="footer_leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                             <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a>
                         </p>
                    </div>
                </div>
            </footer>
        </section>
        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
