<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__title"><mark>Alkotox</mark> - Забудь об алкоголе <b>за один курс</b></div>
            <div class="face__sub-title">Сделай шаг навстречу <span>трезвости</span></div>
            <div class="face__product"><img src="../media/face/product.png" alt=""></div>
            <div class="face__box">
                <div class="face__check">
                    <div class="face__check-item">Навсегда отбивает желание выпить</div>
                    <div class="face__check-item">Навсегда отбивает желание выпить</div>
                    <div class="face__check-item">Навсегда отбивает желание выпить</div>
                    <div class="face__check-item">Навсегда отбивает желание выпить</div>
                </div>
                <form class="form">
    <div class="form__head">
        <div class="form__discount">цена со <br> скидкой: <span>990₽</span></div>
        <div class="form__price">старая цена: <span>2200₽</span></div>
    </div>
    <div class="form__body">
        <div class="form__label">
            <select class="form__field" name="">
                <option selected value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <span>Страна</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </div>
        <button class="form__btn">Заказать <span> по акции</span></button>
    </div>
    <!-- устанавливаем время в атрибуте data-time (время устанавливается в секундах) -->
<div class="timer">
    <div data-time="720" class="timer__count"></div>
    <div class="timer__description">До окончании акции осталось:</div>
</div>

</form>

            </div>
            <div class="face__appearance">взгляните <mark><span>на себя</span> со стороны</mark></div>
        </div>
    </div>
</section>

        <section class="section section_drugs">
    <div class="container">
        <div class="drugs">
            <div class="drugs__title">Самый <mark>часто употребляемый</mark> наркотик</div>
            <div class="drugs__sub-title"><mark>Эффект от употребления алкогольных напитков известен каждому:</mark> когда вы навеселе, кажется, что жизнь сплошной праздник. </div>
            <div class="drugs__description">
                Когда вы допиваете первый коктейль, <b>на уровне биохимии уже запущен эйфорический и наркотический эффекты.</b> Воздействие этанола приводит к общему снижению активности нейронов. <b>Психика растормаживается.</b> Социальные нормы отодвигаются. Один становится неуклюжим, у другого похотливо блестят глаза, а третьего агрессивно заносит.
            </div>
            <div class="drugs__dependence">
                <span>Тяга к алкоголю только поначалу кажется безобидным развлечением, доступным способом снять стресс. Однажды вы ловите себя на мысли, что</span> <mark>без спиртного ваша жизнь теряет смысл.</mark>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_facts">
    <div class="container">
        <div class="facts">
            <div class="facts__title">Замечаете ли вы:</div>
            <div class="facts__box">
                <div class="facts__item">Вы не <mark>можете расслабиться без бокала вина</mark>, пива или коктейлей в выходные</div>
                <div class="facts__item">Вам <mark>не интересно общаться</mark> с непьющими друзьями</div>
                <div class="facts__item">На празднике без алкоголя <mark>не хочется находиться</mark></div>
                <div class="facts__item">Вы гораздо более <mark>скованы в сексе</mark></div>
                <div class="facts__item">Вам сложно поговорить по душам <mark>на трезвую голову</mark></div>
            </div>
        </div>
    </div>
</section>

        <section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="help__title">
                Когда <mark>необходима помощь</mark>
            </div>
            <div class="help__box">
                <div class="help__item">
                    <span>1</span>
                    <p>для вас и для окружающих очевидно, что <mark>самостоятельно</mark> справиться <mark>не получается</mark></p>
                </div>
                <div class="help__item">
                    <span>2</span>
                    <p>вам знакомы <mark>агрессивное поведение и депрессивные периоды</mark></p>
                </div>
                <div class="help__item">
                    <span>3</span>
                    <p>вы перепробовали все доступные способы – <mark>они НЕ работают</mark></p>
                </div>
                <div class="help__item">
                    <span>4</span>
                    <p>вы знаете, что такое <mark>бросать и срываться</mark></p>
                </div>
                <div class="help__item">
                    <span>5</span>
                    <p>семья (она ещё есть?) <mark>на грани распада</mark></p>
                </div>
            </div>
            <div class="help__bottle"><img src="../media/help/bottle.png" alt=""></div>
        </div>
    </div>
</section>

        
<section class="section section_chance">
    <div class="container">
        <div class="chance">
            <div class="chance__title">
                У вас еще есть <span>шанс <mark>все изменить!</mark></span>
            </div>
            <div class="chance__product">
                <img src="../media/chance/product.png" alt="">
            </div>
            <div class="chance__btn">Заказать <b>по акции</b></div>
        </div>
    </div>
</section>

<section class="section section_chance-footer">
    <div class="container">
        <div class="chance">
            <div class="chance__footer">
                <div class="chance__sub-title">Алкотокс уникален!</div>
                <div class="chance__list">
                    <div class="chance__item">потому что он уникален!</div>
                    <div class="chance__item">а ещё вот поэтому</div>
                    <div class="chance__item">и поэтому</div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
