<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <section class="section section_face">
            <div class="container">
                
<div class="face">
    <div class="face__title"><mark>Alkotox</mark> – Забудь об алкоголе <b>за один курс</b></div>
    <div class="face__sub-title">Сделай шаг навстречу <span>трезвости</span></div>
    <div class="face__product"><img src="../media/face/product.png" alt=""></div>
    <div class="face__box">
        <div class="face__check">
            <div class="face__check-item">Безопасно</div>
            <div class="face__check-item">Эффективно</div>
            <div class="face__check-item">Натурально</div>
            <div class="face__check-item">Амбулаторно</div>
        </div>
        <form class="form">
    <div class="form__head">
        <div class="form__discount">цена со <br> скидкой: <span>990₽</span></div>
        <div class="form__price">старая цена: <span>2200₽</span></div>
    </div>
    <div class="form__body">
        <div class="form__label">
            <select class="form__field" name="">
                <option selected value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <span>Страна</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </div>
        <button class="form__btn"></button>
    </div>
    <!-- устанавливаем время в атрибуте data-time (время устанавливается в секундах) -->
<div class="timer">
    <div data-time="720" class="timer__count"></div>
    <div class="timer__description">до окончания акции осталось:</div>
</div>

</form>

    </div>
    <div class="face__appearance wow bounceInRight" data-wow-offset="200">взгляните <mark><span>на себя</span> со стороны</mark></div>
</div>

            </div>
        </section>
        <section class="section section_drugs">
    <div class="container">
        <div class="drugs">
            <div class="drugs__title wow bounceInLeft" data-wow-offset="200">Самый <mark>часто употребляемый</mark> наркотик</div>
            <div class="drugs__sub-title"><mark>Эффект от употребления алкогольных напитков известен каждому:</mark> когда вы навеселе, кажется, что жизнь сплошной праздник. </div>
            <div class="drugs__description">
                Когда вы допиваете первый коктейль, <b>на уровне биохимии уже запущен эйфорический и наркотический эффекты.</b> Воздействие этанола приводит к общему снижению активности нейронов. <b>Психика растормаживается.</b> Социальные нормы отодвигаются. Один становится неуклюжим, у другого похотливо блестят глаза, а третьего агрессивно заносит.
            </div>
            <div class="drugs__dependence">
                <span>Тяга к алкоголю только поначалу кажется безобидным развлечением, доступным способом снять стресс. Однажды вы ловите себя на мысли, что</span> <mark>без спиртного ваша жизнь теряет смысл.</mark>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_facts">
    <div class="container">
        <div class="facts">
            <div class="facts__title wow bounceInRight" data-wow-offset="200">Замечаете ли вы:</div>
            <div class="facts__box">
                <div class="facts__item">Вы не <mark>можете расслабиться без бокала вина</mark>, пива или коктейлей в выходные</div>
                <div class="facts__item">Вам <mark>не интересно общаться</mark> с непьющими друзьями</div>
                <div class="facts__item">На празднике без алкоголя <mark>не хочется находиться</mark></div>
                <div class="facts__item">Вы гораздо более <mark>скованы в сексе</mark></div>
                <div class="facts__item">Вам сложно поговорить по душам <mark>на трезвую голову</mark></div>
            </div>
        </div>
    </div>
</section>

        <section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="help__title wow bounceInLeft" data-wow-offset="200">
                Когда <mark>необходима помощь</mark>
            </div>
            <div class="help__box">
                <div class="help__item">
                    <span>1</span>
                    <p>для вас и для окружающих очевидно, что <mark>самостоятельно</mark> справиться <mark>не получается</mark></p>
                </div>
                <div class="help__item">
                    <span>2</span>
                    <p>вам знакомы <mark>агрессивное поведение и депрессивные периоды</mark></p>
                </div>
                <div class="help__item">
                    <span>3</span>
                    <p>вы перепробовали все доступные способы – <mark>они НЕ работают</mark></p>
                </div>
                <div class="help__item">
                    <span>4</span>
                    <p>вы знаете, что такое <mark>бросать и срываться</mark></p>
                </div>
                <div class="help__item">
                    <span>5</span>
                    <p>семья (она ещё есть?) <mark>на грани распада</mark></p>
                </div>
            </div>
            <div class="help__bottle"><img src="../media/help/bottle.png" alt=""></div>
        </div>
    </div>
</section>

        
<section class="section section_chance">
    <div class="container">
        <div class="chance">
            <div class="chance__title wow bounceInLeft" data-wow-offset="200">
                У вас еще есть <span>шанс <mark>все изменить!</mark></span>
            </div>
            <div class="chance__btn"></div>
        </div>
    </div>
</section>

<section class="section section_chance-footer">
    <div class="container">
        <div class="chance">
            <div class="chance__footer">
                <div class="chance__sub-title wow bounceInLeft" data-wow-offset="200">Аналогов Алкотоксу нет!</div>
                <div class="chance__list">
                    <div class="chance__item">возвращает к трезвой жизни без последствий </div>
                    <div class="chance__item">помогает даже на последней стадии алкоголизма</div>
                    <div class="chance__item">не имеет вкуса и запаха</div>
                </div>
            </div>
        </div>
    </div>
</section>

        <section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="professional__title wow bounceInRight" data-wow-offset="200">Мнение специалиста</div>
            <div class="professional__info">
                <p>Алкоголизм – это болезнь, которую сложно диагностировать вовремя. Как любая зависимость, он путает сознание и мешает адекватному восприятию реальности. Люди до последнего уверены, что все под контролем. </p>
                <p>Если вы или ваши родственники столкнулись с очевидными признаками алкозависимости, рассмотрите прием препаратов от этой болезни. В условиях амбулаторного лечения можно принимать Alcotox. </p>
                <p>Это средство на растительной основе, не вызывающее негативной реакции. Стабильно и постепенно составляющие препарата отбивают тягу к алкоголю у зависимых лиц. </p>
                <p>Alcotox очищает организм, выводит продукты распада алкоголя и восстанавливает поврежденные органы. За один курс зависимость сходит на нет, у человека появляется естественное желание быть трезвым. Это доказано опытным путем и проверено сотнями моих пациентов. </p>
                <div class="professional__footer">
                    <div class="professional__name">Роберт Геллер</div>
                    <div class="professional__id"><img src="../media/professional/id.png" alt=""></div>
                </div>
            </div>
            <div class="professional__product">
                <img src="../media/professional/product.png" alt="">
            </div>
        </div>
    </div>
</section>

        
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title">Отзывы</div>
            <div class="commits__sub-title">об Alcotox</div>
            <div class="commits__slide owl-carousel js-commits__slide">
                <div class="commits__item">
                    <div class="commits__item-head">Анонимно, 36 лет</div>
                    <div class="commits__item-body">
                        <!-- <div class="commits__item-face">
                            <img src="../media/commits/face-1.png" alt="">
                        </div> -->
                        <div class="commits__item-description">
                            Всегда считал, что алкоголь – это хорошее времяпровождение. Сначала по субботам употреблял, а потом стал пить каждый вечер. Только в 35 лет понял, в какое ничтожество я превратился. Захотелось все поменять и бросить пить. Нервные срывы, психоз, срывался на близких. Помог только Alcotox. Тяга к алкоголю сошла на нет. Агрессии не было, просто не хотел пить и все. А потом появилось отвращение. После курса не пью 8 месяцев.
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__item-head">Стефан, 32 года</div>
                    <div class="commits__item-body">
                        <!-- <div class="commits__item-face">
                            <img src="../media/commits/face-1.png" alt="">
                        </div> -->
                        <div class="commits__item-description">
                            Мой дед все время пил. Он пропивал всю пенсию и клянчил деньги у родных. Заказали ему Alcotox, он только посмеялся. Пошли на компромисс: мы ему деньги, а он пьет Alcotox. В итоге он перестал принимать деньги, говорит, что не нужны. В пьяном виде больше не появляется, стал ходить на рыбалку и радуется жизни.
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__item-head">Карлос, 39 лет</div>
                    <div class="commits__item-body">
                        <!-- <div class="commits__item-face">
                            <img src="../media/commits/face-1.png" alt="">
                        </div> -->
                        <div class="commits__item-description">
                            Начались мои запои в 2017, когда поругался с начальником и меня лишили высокой должности. Пил каждый день, периодически кричал на жену, она взяла детей и уехала. Остался я один. Через пару месяцев меня выгнали с работы. До меня дошло, до чего докатился. Решил все поменять в корне.  Пошел к наркологу, тот мне прописал Alcotox. Средство в совокупности с моим желанием бросить пить сработало сразу. После первого применения я ни разу не пил. Проходил курс 5 месяцев назад.
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__item-head">Анонимно, 43 года</div>
                    <div class="commits__item-body">
                        <div class="commits__item-face">
                            <img src="../media/commits/face-1.png" alt="">
                        </div>
                        <div class="commits__item-description">
                            Мой муж постоянно пил после работы, каждый день, я замучалась ругаться с ним! Сто раз говорил, что завязал, но я постоянно находила его “тайники”. За два года запои сделали из него типичного алкоголика, а из меня истеричку с дёргающимся глазом. Заказала Alcotox, поставила ультиматум: либо лечишься, либо развод. Я увидела наконец трезвого мужа! И после этого пьяным уже ни разу! Люди, милые, Alcotox работает! Больше года уже не пьет!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="warning__box">
                <div class="warning__title">
                    ОСТЕРЕГАЙТЕСЬ ПОДДЕЛОК!
                </div>
                <div class="warning__info">
                    1 марта 2020 года был зафиксирован 136-й случай продажи фальсифицированных продуктов Alcotox. Избегайте подделок, они могут быть опасны для вашего здоровья.  Оригинальный Alcotox  реализуется только на этом сайте. Покупая продукт здесь, вы получаете 100% гарантию качества и безопасности.
                </div>
            </div>
            <div class="warning__product">
                <img src="../media/warning/product.png" alt="">
            </div>
        </div>
    </div>
</section>

        
<section class="section section_order">
    <div class="container">
        <div class="order">
            <div class="order__title">как оформить заказ</div>
            <div class="order__box">
                <figure class="order__item">
                    <div class="order__media">
                        <img src="../media/order/step-1.png" alt="" />
                    </div>
                    <div class="order__step">ШАГ 1</div>
                    <figcaption class="order__description">Оставьте заявку на сайте, заполнив форму ниже</figcaption>
               </figure>
                <figure class="order__item">
                    <div class="order__media">
                        <img src="../media/order/step-2.png" alt="" />
                    </div>
                    <div class="order__step">ШАГ 2</div>
                    <figcaption class="order__description">Наш менеджер свяжется с вами в течение 60 минут</figcaption>
               </figure>
                <figure class="order__item">
                    <div class="order__media">
                        <img src="../media/order/step-3.png" alt="" />
                    </div>
                    <div class="order__step">ШАГ 3</div>
                    <figcaption class="order__description">Мы бережно упакуем Ваш заказ и отправим его в тот же день</figcaption>
               </figure>
                <figure class="order__item">
                    <div class="order__media">
                        <img src="../media/order/step-4.png" alt="" />
                    </div>
                    <div class="order__step">ШАГ 4</div>
                    <figcaption class="order__description">Оплата производится после получения заказа</figcaption>
               </figure>
            </div>
        </div>
    </div>
</section>

        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

        <section class="section section_face section_footer">
            <div class="container">
                
<div class="face">
    <div class="face__title"><mark>Alkotox</mark> – Забудь об алкоголе <b>за один курс</b></div>
    <div class="face__sub-title">Сделай шаг навстречу <span>трезвости</span></div>
    <div class="face__product"><img src="../media/face/product.png" alt=""></div>
    <div class="face__box">
        <div class="face__check">
            <div class="face__check-item">Безопасно</div>
            <div class="face__check-item">Эффективно</div>
            <div class="face__check-item">Натурально</div>
            <div class="face__check-item">Амбулаторно</div>
        </div>
        <form class="form">
    <div class="form__head">
        <div class="form__discount">цена со <br> скидкой: <span>990₽</span></div>
        <div class="form__price">старая цена: <span>2200₽</span></div>
    </div>
    <div class="form__body">
        <div class="form__label">
            <select class="form__field" name="">
                <option selected value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <span>Страна</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </div>
        <button class="form__btn"></button>
    </div>
    <!-- устанавливаем время в атрибуте data-time (время устанавливается в секундах) -->
<div class="timer">
    <div data-time="720" class="timer__count"></div>
    <div class="timer__description">до окончания акции осталось:</div>
</div>

</form>

    </div>
    <div class="face__appearance wow bounceInRight" data-wow-offset="200">взгляните <mark><span>на себя</span> со стороны</mark></div>
</div>

            </div>
        </section>
    </body>
</html>
