<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Что такое мета теги и для чего они нужны">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="мета теги, meta, мета теги для seo">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="META теги">
    <!-- описание страницы -->
    <meta property="og:description" content="Описание страницы про META теги">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Фрилансер по жизни">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Имя/логин автора -->
    <meta name="twitter:site" content="Жека">
    <!-- Название страницы -->
    <meta name="twitter:title" content="META теги">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="про META теги">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        
<div class="page">
    <div class="avatar">
        <header class="avatar__header">
            <h1 class="avatar__title">Фильтруй как хочешь</h1>
            <select class="avatar__nav js-avatar__nav">
                <option class="avatar__item" selectet value="Все">Все</option>
                <option class="avatar__item" value="Австрия AT">Австрия AT</option>
                <option class="avatar__item" value="Бельгия BE">Бельгия BE</option>
                <option class="avatar__item" value="Болгария BG">Болгария BG</option>
                <option class="avatar__item" value="Венгрия HU">Венгрия HU</option>
                <option class="avatar__item" value="Германия DE">Германия DE</option>
                <option class="avatar__item" value="Греция GR">Греция GR</option>
                <option class="avatar__item" value="Испания ES">Испания ES</option>
                <option class="avatar__item" value="Италия IT">Италия IT</option>
                <option class="avatar__item" value="Латвия LV">Латвия LV</option>
                <option class="avatar__item" value="Литва LT">Литва LT</option>
                <option class="avatar__item" value="Польша PL">Польша PL</option>
                <option class="avatar__item" value="Португалия PT">Португалия PT</option>
                <option class="avatar__item" value="Румыния RO">Румыния RO</option>
                <option class="avatar__item" value="Словакия SL">Словакия SL</option>
                <option class="avatar__item" value="Словения SN">Словения SN</option>
                <option class="avatar__item" value="Франция FR">Франция FR</option>
                <option class="avatar__item" value="Хорватия HR">Хорватия HR</option>
                <option class="avatar__item" value="Чехия CZ">Чехия CZ</option>
                <option class="avatar__item" value="Эстония EE">Эстония EE</option>
            </select>
            <div class="avatar__filtr">
                <label class="avatar__label">
                    <input data-mwi="man" class="avatar__checkbox" type="checkbox" checked>
                    <p>Муж</p>
                </label>
                <label class="avatar__label">
                    <input data-mwi="woman" class="avatar__checkbox" type="checkbox" checked>
                    <p>Жен</p>
                </label>
                <label class="avatar__label">
                    <input data-img="img" class="avatar__checkbox" type="checkbox" checked>
                    <p>Картинки</p>
                </label>
            </div>
        </header>
        <div class="avatar__body">
            <div class="grid">
                <div class="grid__item grid__item_active" data-type="Все" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Австрия AT" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Бельгия BE" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Болгария BG" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Венгрия HU" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Германия DE" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Греция GR" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Испания ES" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Италия IT" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Латвия LV" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Литва LT" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Польша PL" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Португалия PT" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Румыния RO" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Словакия SL" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Словения SN" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Франция FR" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Хорватия HR" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Чехия CZ" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Эстония EE" data-mwi="man">man</div>
                <div class="grid__item grid__item_active" data-type="Все" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Австрия AT" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Бельгия BE" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Болгария BG" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Венгрия HU" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Германия DE" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Греция GR" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Испания ES" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Италия IT" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Латвия LV" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Литва LT" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Польша PL" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Португалия PT" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Румыния RO" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Словакия SL" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Словения SN" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Франция FR" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Хорватия HR" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Чехия CZ" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Эстония EE" data-mwi="woman">woman</div>
                <div class="grid__item grid__item_active" data-type="Все" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Австрия AT" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Бельгия BE" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Болгария BG" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Венгрия HU" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Германия DE" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Греция GR" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Испания ES" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Италия IT" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Латвия LV" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Литва LT" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Польша PL" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Португалия PT" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Румыния RO" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Словакия SL" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Словения SN" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Франция FR" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Хорватия HR" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Чехия CZ" data-img="img">img</div>
                <div class="grid__item grid__item_active" data-type="Эстония EE" data-img="img">img</div>
            </div>
        </div>
    </div>
</div>

        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
