/* stylelint-disable */

.no-scroll {
  overflow: hidden;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

abbr[title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

b,
strong {
  font-weight: 700;
}

button,
select {
  text-transform: none;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn,
i {
  font-style: italic;
}

mark {
  color: #000;
  background: transparent;
}

progress {
  vertical-align: baseline;
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

small {
  font-size: .8em;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

textarea {
  overflow: auto;
}

hr {
  height: 0;
  overflow: visible;
}

table {
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

template,
[hidden] {
  display: none;
}

[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
  appearance: button;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/* stylelint-disable */

.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 25px 46px;
  color: #000;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1030px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* stylelint-disable */

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'OldKharkiv';
  src: url("../fonts/OldKharkiv/OldKharkiv-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section_face {
  position: relative;
  overflow: hidden;
}

.section_face::before {
  position: absolute;
  top: 0;
  left: -50px;
  width: calc(100% + 50px);
  height: 100%;
  content: '';
  background-image: url("../media/section/face.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  -webkit-animation: trafficBg 10s infinite ease;
  animation: trafficBg 10s infinite ease;
}

.section_luck {
  background-image: url("../media/section/luck.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section_help {
  background-image: url("../media/section/help.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.section_expectation {
  background-image: url("../media/section/expectation.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.section_fact {
  overflow: hidden;
  background-color: #fff;
}

.section_progress {
  background-image: url("../media/section/progress.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section_commits {
  background-color: #fff;
}

.section_secret {
  background-image: url("../media/section/secret.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section__title {
  font-family: "OldKharkiv", sans-serif;
}

@-webkit-keyframes trafficBg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes trafficBg {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* stylelint-disable */

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

/*
 *  Owl Carousel - Core
 */

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */

.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../plugin/owl/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.commits__title {
  margin-bottom: 40px;
  font-size: 59px;
  line-height: .9;
  text-align: center;
  letter-spacing: -2px;
}

.commits__title mark {
  color: #d9a433;
}

.commits__box .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px !important;
}

.commits__box .owl-dot {
  width: 15px !important;
  height: 15px !important;
  margin-right: 3px !important;
  margin-left: 3px !important;
  background-color: #000 !important;
  border-radius: 50% !important;
}

.commits__box .owl-dot.active {
  background-color: #c8a77a !important;
}

.commits__box .owl-dot:focus {
  outline: none;
}

.commits__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  padding: 20px 23px;
  margin: 38px 20px 20px;
  border: 2px solid #000;
  -webkit-box-shadow: 0 0 12px rgba(243, 152, 39, 0.81);
  box-shadow: 0 0 12px rgba(243, 152, 39, 0.81);
}

.commits__face {
  position: absolute;
  top: -38px;
  width: 76px;
}

.commits__name {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}

.commits__age {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.commits__stars {
  margin-top: 20px;
  margin-right: auto;
}

.commits__stars span {
  display: inline-block;
  width: 28px;
  height: 27px;
  background-image: url("../media/commits/star.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.commits__stars span span + span {
  margin-left: 15px;
}

.expectation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expectation__title {
  max-width: 375px;
  margin-right: 40px;
  font-size: 77px;
  line-height: 63px;
  color: #fff;
}

.expectation__description {
  max-width: 220px;
  padding: 30px 35px;
  font-size: 18px;
  font-weight: 600;
  background-color: #fef2b7;
}

.face {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.face__box {
  position: relative;
  z-index: 2;
}

.face__box_first {
  min-width: 380px;
}

.face__title {
  margin-bottom: 75px;
  margin-left: -6px;
  font-size: 124px;
  line-height: 100px;
  color: #d9a433;
  text-transform: uppercase;
  white-space: nowrap;
}

.face__title span {
  display: block;
}

.face__title mark {
  display: block;
  margin-left: 6px;
  font-size: 48px;
  line-height: 50px;
  color: #000;
}

.face__list {
  max-width: 285px;
}

.face__list-description {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 600;
}

.face__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 51px;
  padding: 10px 10px 10px 51px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.85);
  background-image: url("../media/face/check.png");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  border-radius: 2px;
}

.face__list-item + .face__list-item {
  margin-top: 10px;
}

.face__product {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-top: 80px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.face__product::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 900px;
  height: 733px;
  content: '';
  background-image: url("../media/face/moneyBg.png");
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.face__product::after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 500px;
  height: 405px;
  content: '';
  background-image: url("../media/face/money.png");
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: rotation 400s infinite linear;
  animation: rotation 400s infinite linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.fact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 326px;
  padding-left: 318px;
}

.fact::before {
  position: absolute;
  top: 50%;
  left: -200px;
  width: 508px;
  height: 378px;
  content: '';
  background-image: url("../media/fact/product.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fact::after {
  position: absolute;
  top: 0;
  left: 30px;
  width: 1020px;
  height: 340px;
  content: '';
  background-image: url("../media/fact/border.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fact__title {
  margin-bottom: 30px;
  font-size: 43px;
  line-height: 41px;
}

.fact__title mark {
  color: #d9a433;
}

.fact__description {
  font-weight: 500;
}

.fact__description mark {
  font-weight: 700;
}

.failures__title {
  margin-bottom: 10px;
  font-size: 57px;
  line-height: 71px;
  text-align: center;
}

.failures__title mark {
  color: #e71831;
}

.failures__sub-title {
  margin-bottom: 35px;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.failures__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.failures__item {
  width: 235px;
}

.failures__media {
  margin-bottom: 20px;
  -webkit-box-shadow: 6px 6px 10px 0 #a2a2a2;
  box-shadow: 6px 6px 10px 0 #a2a2a2;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.failures__media:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

.failures__description {
  font-weight: 600;
  text-align: center;
}

.form {
  max-width: 300px;
  padding: 28px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.form:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.24);
}

.form__title {
  margin-bottom: 25px;
  font-size: 29px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
}

.form__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form__price-old {
  margin-right: 10px;
  font-weight: 500;
  color: #282828;
  text-decoration: line-through;
  text-transform: uppercase;
}

.form__price-new {
  font-size: 26px;
  font-weight: 700;
  color: #f4b733;
  text-transform: uppercase;
}

.form__label {
  position: relative;
  display: block;
  margin-bottom: 25px;
}

.form__label span {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form__field {
  width: 100%;
  height: 52px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e2e2e2;
  border-radius: 40px;
}

.form__field_active + span {
  font-size: 13px;
  -webkit-transform: translateY(-43px);
  -ms-transform: translateY(-43px);
  transform: translateY(-43px);
}

.form__field:focus {
  outline: none;
}

.form__btn {
  width: 100%;
  height: 52px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  background-color: #f4b733;
  border: 0;
  border-radius: 40px;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
}

.form__btn:hover {
  -webkit-box-shadow: inset 7px -4px 10px rgba(0, 0, 0, 0.38);
  box-shadow: inset 7px -4px 10px rgba(0, 0, 0, 0.38);
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.help__info {
  max-width: 525px;
  margin-bottom: 50px;
  margin-left: auto;
}

.help__title {
  margin-bottom: 30px;
  font-size: 80px;
  line-height: 66px;
  color: #d9a433;
}

.help__title mark {
  color: #fff;
}

.help__description {
  color: #fff;
}

.help__description span {
  display: block;
}

.help__description span:first-child {
  margin-bottom: 20px;
  line-height: 21px;
}

.help__description span:last-child {
  font-size: 20px;
  line-height: 24px;
}

.help__description span:last-child mark {
  color: #d9a433;
}

.help__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.help__item {
  width: 457px;
}

.help__item + .help__item {
  margin-left: 43px;
}

.help__item-description {
  padding: 35px;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
}

.luck {
  max-width: 567px;
}

.luck__title {
  margin-bottom: 30px;
  font-size: 51px;
  line-height: 54px;
  letter-spacing: -2px;
}

.luck__description span:first-child {
  display: block;
  padding: 15px 25px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 0.59);
}

.luck__description span:last-child {
  line-height: 21px;
}

.progress__title {
  margin-bottom: 40px;
  font-size: 65px;
  line-height: 53px;
  color: #fff;
  text-align: center;
}

.progress__title mark {
  color: #d9a433;
}

.progress__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.progress__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 190px;
}

.progress__item:nth-child(1) .progress__media {
  background-color: #d9a433;
}

.progress__item:nth-child(2) .progress__media {
  background-color: #5abaa0;
}

.progress__item:nth-child(3) .progress__media {
  background-color: #5a6eba;
}

.progress__item:nth-child(4) .progress__media {
  background-color: #c65a45;
}

.progress__item:nth-child(5) .progress__media {
  background-color: #d93379;
}

.progress__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 200px;
}

.progress__description {
  height: 100%;
  padding: 25px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
}

.secret__title {
  max-width: 565px;
  margin-bottom: 50px;
  font-size: 58px;
  line-height: 58px;
}

.secret__btn {
  display: inline-block;
  padding: 20px 40px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  background: #f4c742;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4c742), color-stop(70%, #f2a728));
  background: -o-linear-gradient(top, #f4c742 0%, #f2a728 70%);
  background: linear-gradient(180deg, #f4c742 0%, #f2a728 70%);
  border-radius: 40px;
  -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.secret__btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

@media (max-width: 1030px) {
  .container {
    max-width: 768px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section_help {
    background-image: url("../media/section/help-1030.jpg");
  }

  .section_secret {
    background-image: url("../media/section/secret-1030.jpg");
  }

  .commits__item {
    width: 320px;
    padding: 20px 23px;
    margin: 38px 20px 20px;
    border: 2px solid #000;
    -webkit-box-shadow: 0 0 12px rgba(243, 152, 39, 0.81);
    box-shadow: 0 0 12px rgba(243, 152, 39, 0.81);
  }

  .face {
    padding-bottom: 200px;
  }

  .face__product {
    top: auto;
    right: 135px;
    bottom: 55px;
    left: auto;
    max-width: 250px;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .face__product::before {
    display: none;
  }

  .face__product::after {
    width: 400px;
    height: 325px;
  }

  .fact::after {
    display: none;
  }

  .fact__title {
    line-height: 1;
  }

  .failures__item {
    width: 173px;
  }

  .failures__title {
    margin-bottom: 20px;
    font-size: 47px;
    line-height: .9;
  }

  .failures__sub-title {
    margin-bottom: 70px;
  }

  .failures__description {
    font-size: 16px;
  }

  .help__info {
    margin-left: 0;
  }

  .luck__description {
    display: block;
    padding: 15px 25px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .luck__description span:first-child {
    padding: 0;
    background-color: transparent;
  }

  .progress__box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .progress__item {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }

  .secret__title {
    font-size: 47px;
    line-height: .9;
    color: #fff;
  }

  .secret__btn {
    -webkit-box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.4);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }

  .section_expectation {
    background-image: url("../media/section/expectation-768.jpg");
  }

  .commits__item {
    width: auto;
  }

  .commits__title {
    font-size: 47px;
  }

  .expectation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .expectation__title {
    max-width: none;
    margin-right: 0;
    margin-bottom: 50px;
    font-size: 47px;
    line-height: .9;
  }

  .expectation__description {
    max-width: none;
    padding: 20px;
  }

  .face {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0;
  }

  .face__title {
    margin-bottom: 40px;
    margin-left: 0;
    font-size: 72px;
    line-height: .8;
    text-align: center;
    white-space: normal;
  }

  .face__title span {
    display: inline-block;
  }

  .face__title mark {
    margin-left: 0;
    font-size: 38px;
  }

  .face__box_first {
    min-width: 0;
  }

  .face__list {
    max-width: none;
  }

  .face__product {
    position: static;
    margin: 40px auto;
  }

  .face__product::after {
    width: 350px;
    height: 283px;
  }

  .fact {
    padding-bottom: 280px;
    padding-left: 0;
  }

  .fact::before {
    top: auto;
    bottom: 0;
    left: 50%;
    width: 370px;
    height: 275px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .fact__title {
    margin-bottom: 50px;
    font-size: 47px;
  }

  .failures__item {
    width: 210px;
    margin-bottom: 25px;
  }

  .form {
    max-width: none;
  }

  .help__info {
    margin-bottom: 30px;
  }

  .help__title {
    margin-bottom: 50px;
    font-size: 47px;
    line-height: .9;
  }

  .help__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .help__item {
    width: 100%;
  }

  .help__item + .help__item {
    margin-top: 30px;
    margin-left: 0;
  }

  .help__item-description {
    padding: 20px;
  }

  .luck__title {
    margin-bottom: 50px;
    font-size: 47px;
    line-height: .9;
  }

  .progress__title {
    margin-bottom: 50px;
    font-size: 47px;
    line-height: .9;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }

  .section_face::before {
    background-image: url("../media/section/face-480.jpg");
  }

  .commits__title {
    font-size: 37px;
  }

  .expectation__title {
    font-size: 37px;
    text-align: center;
  }

  .expectation__description {
    text-align: center;
  }

  .face__product {
    max-width: 190px;
  }

  .face__product::after {
    width: 270px;
    height: 224px;
  }

  .face__title {
    font-size: 47px;
  }

  .face__title mark {
    font-size: 30px;
  }

  .face__list-description {
    font-size: 16px;
    text-align: center;
  }

  .fact__title {
    font-size: 37px;
    text-align: center;
  }

  .fact__description {
    text-align: center;
  }

  .failures__item {
    width: calc(50% - 10px);
  }

  .failures__media {
    -webkit-box-shadow: 3px 3px 10px 0 #a2a2a2;
    box-shadow: 3px 3px 10px 0 #a2a2a2;
  }

  .help__title {
    font-size: 37px;
    text-align: center;
  }

  .help__description {
    text-align: center;
  }

  .help__item-description {
    font-size: 16px;
    text-align: center;
  }

  .luck__title {
    font-size: 37px;
    line-height: 1;
    text-align: center;
  }

  .luck__description {
    text-align: center;
  }

  .progress__title {
    font-size: 37px;
  }

  .progress__item {
    width: calc(50% - 7.5px);
    margin-bottom: 15px;
  }

  .progress__description {
    padding: 20px 10px;
  }

  .secret {
    text-align: center;
  }

  .secret__title {
    font-size: 37px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .progress__item {
    width: 100%;
    margin-bottom: 15px;
  }
}