
.authorization {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 80px;
  margin-bottom: 10rem;
}

.authorization__item {
  cursor: pointer;
}

.authorization__logo {
  width: 140px;
}

.authorization__item_right {
  margin-left: auto;
}

@media (max-width: 768px) {
  .authorization {
    margin-bottom: 3rem;
  }
}
