
.employer {
  margin-bottom: 3rem;
}

.employer__item {
  display: flex;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  border-radius: 3px;

  & img {
    padding: .5rem;
    border-right: 1px solid #e8e8e8;
  }

  & input {
    width: 100%;
    padding: 1rem .5rem;
    background-color: transparent;
    font-weight: 300;
  }

  & select {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 1rem .5rem;
    color: #969696;
  }

  & + & {
    margin-top: 1rem;
  }

  & input::placeholder {
     color: #969696;
  }
}

.employer__check {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;

  & label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #969696;

    & input {
      margin-right: .5rem;
    }
  }

  & a {
    font-size: 14px;
    color: #3cd52d;
    margin-left: .5rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.employer__btn {
  display: flex;
  flex-direction: column;
  text-align: center;
}
