
.infoSummary {
  padding: 3rem 2rem;
  border-radius: 3px;

  &_f5f7f6 {
    background-color: #f5f7f6;
  }
}

.infoSummary__title {
  margin-bottom: 3rem;
  font-size: 22px;
  font-weight: 400;
}

@media (max-width: 480px) {
  .infoSummary {
    padding: 2rem 1rem;
  }
}
