
.search {
  margin-bottom: 2rem;
}

.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.search__input {
  width: 100%;
  font-size: 18px;
}

@media (max-width: 980px) {
  .search {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .search__form {
    padding: .5rem 1rem;
  }

  .search__input {
    width: 100%;
    font-size: 14px;
  }
}
