
.searchCompany {
  margin-bottom: 2rem;
}

.searchCompany__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchCompany__field {
  display: flex;
  width: calc(50% - 1rem);
  padding: 1rem;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.searchCompany__input {
  width: 100%;
  font-size: 18px;
}

@media (max-width: 768px) {
  .searchCompany__form {
    flex-wrap: wrap;
  }

  .searchCompany__field {
    width: 100%;
    padding: .5rem 1rem;

    & + & {
      margin-top: 1rem;
    }
  }

  .searchCompany__input {
    font-size: 14px;
  }
}
