
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: rgb(60, 213, 45);
  cursor: pointer;
  transition: .3s;
  color: #fff;
  border: 1px solid transparent;

  &_orange {
    background-color: #ffcb5b;
  }

  &_white {
    background-color: #fff;
    color: #3cd52d;
    border: 1px solid #3cd52d;

    &:hover {
      color: #fff;
    }
  }

  &:hover {
    background-color: rgba(60, 213, 45, .8);
  }
}

@media (max-width: 768px) {
  .btn {
    padding: 1rem;
    font-size: 14px;
  }
}
