
.cleanelle__title {
    font-family: "bebasNeue", sans-serif;
    font-size: 136px;
    font-weight: 700;
    color: #0056a9;
    text-align: center;
}

@media (max-width: 1170px) {
    .cleanelle__title {
        font-size: 100px;
    }
}

@media (max-width: 768px) {
    .cleanelle__title {
        font-size: 75px;
    }
}

@media (max-width: 480px) {
    .cleanelle__title {
        font-size: 55px;
    }
}
