
.instructions__title {
    margin-bottom: 70px;
    font-family: "BebasNeue", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;

    & a {
        color: #0056a9;
        text-decoration: underline;
    }

    & span {
        display: block;
    }
}

.instructions__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -100px;
    margin-right: -60px;
    margin-left: -60px;
}

.instructions__item {
    position: relative;
    width: 163px;
    padding-bottom: 20px;
    margin-top: 100px;
    margin-right: 60px;
    margin-left: 60px;
    text-align: center;
}

.instructions__name {
    position: absolute;
    top: 100%;
    left: 50%;
    font-size: 24px;
    font-weight: 700;
    transform: translateX(-50%);
}

@media (max-width: 1170px) {
    .instructions__title {
        font-size: 48px;
        line-height: 1;
    }

    .instructions__item {
        &:last-child {
            margin-right: auto;
        }
    }
}

@media (max-width: 768px) {
    .instructions__title {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .instructions__title {
        font-size: 30px;
    }

    .instructions__body {
        margin-top: -80px;
        margin-right: 0;
        margin-left: 0;
    }

    .instructions__item {
        width: calc(50% - 15px);
        padding-bottom: 10px;
        margin-top: 60px;
        margin-right: 0;
        margin-left: 0;

        &:nth-child(2n) {
            margin-left: 30px;
        }
    }

    .instructions__name {
        width: 100%;
        font-size: 18px;
        word-wrap: break-word;
    }
}
