.recommendations {
    margin-top: -137px;
}

.recommendations__title {
    position: relative;
    margin-bottom: 120px;
    font-family: "BebasNeue", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;

    &::before {
        position: absolute;
        top: -35px;
        left: 50%;
        width: 111px;
        height: 8px;
        content: '';
        background-color: #e21b1b;
        border-radius: 5px;
        transform: translateX(-50%);
    }
}

.recommendations__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -60px;
}

.recommendations__item-media {
    margin: -95px auto 30px;
}

.recommendations__item-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    color: #0056a9;
}

.recommendations__item-description {
    font-size: 21px;
    font-weight: 500;
    line-height: 21px;

    & span {
        display: block;
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: 700;
        text-decoration: underline;
    }
}

.recommendations__item {
    align-self: flex-start;
    width: 450px;
    padding: 35px;
    margin-bottom: 60px;
    text-align: center;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.18);

    &:nth-child(2n) {
        width: 650px;
    }

    &_product {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 330px;
        padding-right: 215px;
        text-align: left;
        background-color: #0056a9;

        & .recommendations__item-media {
            position: absolute;
            top: -30px;
            right: 0;
            margin-top: 0;
            margin-bottom: 0;
        }

        & .recommendations__item-title {
            font-size: 36px;
            font-weight: 800;
            line-height: 36px;
            color: #fff;

            & a {
                color: #2bd6ff;
                text-decoration: underline;
            }
        }

        & .recommendations__item-description {
            font-size: 21px;
            line-height: 24px;
            color: #aeeef9;
        }
    }

    .recommendations__item-btn {
        margin-top: auto;
    }
}

@media (max-width: 1170px) {
    .recommendations__title {
        font-size: 48px;
        line-height: 1;
    }

    .recommendations__item-title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    .recommendations__item-description {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;
    }

    .recommendations__item {
        width: 320px;
        padding: 30px;

        &:nth-child(2n) {
            width: 390px;
        }

        &_product {
            padding-right: 140px;

            & .recommendations__item-media {
                top: 20px;
                right: -10px;
                max-width: 150px;
            }

            & .recommendations__item-title {
                font-size: 26px;
                font-weight: 700;
                line-height: 1;
            }

            & .recommendations__item-description {
                font-size: 18px;
                line-height: 1.2;
            }
        }
    }
}

@media (max-width: 768px) {
    .recommendations__item {
        width: 100%;
        margin-bottom: 0;

        &:nth-child(2n) {
            width: 100%;
        }

        & + & {
            margin-top: 85px;
        }
    }
}

@media (max-width: 480px) {
    .recommendations__title {
        margin-bottom: 85px;
        font-size: 34px;

        &::before {
            top: -20px;
        }
    }

    .recommendations__item-media {
        margin-top: -75px;
        margin-bottom: 20px;

        & img {
            max-width: 90px;
        }
    }

    .recommendations__item-title {
        font-size: 18px;
    }

    .recommendations__item-description {
        font-size: 16px;

        & span {
            margin-top: 20px;
        }
    }

    .recommendations__item {
        padding: 30px 15px;
        border-radius: 15px;

        & + & {
            margin-top: 70px;
        }

        &_product {
            margin-top: 25px !important;
            text-align: center;

            & .recommendations__item-media {
                position: static;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }

    .recommendations__item-btn {
        margin-right: auto;
        margin-left: auto;
    }
}
