
.warning {
    padding: 15px;
    margin-bottom: 95px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.18);
}

.warning__info {
    padding: 25px;
    text-align: center;
    border: 3px solid #f00;
    border-radius: 30px;
}

.warning__title {
    margin-bottom: 20px;
    font-size: 44px;
    font-weight: 800;
    line-height: 44px;
    color: #e21b1b;

    & span {
        display: block;
    }
}

.warning__description {
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
}

@media (max-width: 1170px) {
    .warning__title {
        font-size: 28px;
        line-height: 1;
    }

    .warning__description {
        font-size: 22px;
        line-height: 1;
    }
}

@media (max-width: 768px) {
    .warning__title {
        font-size: 22px;
    }

    .warning__description {
        font-size: 18px;
    }
}

// @media (max-width: 480px) {
//
// }
