<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <section class="section section_header">
        <div class="container">
            <header class="header">
                <div class="header__product"></div>
                <div class="header__head">
                    <div class="logo">
                        <div class="logo__media">
                            <img src="../media/logo.png" alt="">
                        </div>
                        <div class="logo__info">
                            <div class="logo__title">30 дней с КЕТО:</div>
                            <div class="logo__subTitle">ешь и худей!</div>
                        </div>
                    </div>
                    <div class="header__logo">
                        <div class="header__icons"><img src="../media/header/icon.png" alt=""></div>
                    </div>
                </div>
                <div class="header__box header__box_first">
                    <div class="header__title">
                        Профессиональная программа <span>комфортного</span>
                        <span>снижения</span>
                        <span>веса</span>
                    </div>
                    <div class="header__col">
                        <div class="header__check">
                            <div class="header__item">
                                <div class="header__item-media"></div>
                                <div class="header__item-title">
                                    Кетоз вызывает углеводное голодание клеток
                                    <span>организм для получения энергии начинает расщеплять жир с образованием большого количества КЕТО-ВНВ</span>
                                </div>
                            </div>
                            <div class="header__item">
                                <div class="header__item-media"></div>
                                <div class="header__item-title">
                                    КЕТО-ВНВ предотвращает повторное отложение жира
                                    <span>организм для получения энергии</span>
                                </div>
                            </div>
                        </div>
                        <div class="timer js-timerOne clock flip-clock-wrapper" style="margin:2em;">
                            <span class="flip-clock-divider days">
                                <span class="flip-clock-label">дней</span>
                            </span>
                            <ul class="flip ">
                                <li class="flip-clock-before">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">9</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">9</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="flip-clock-active">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">0</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">0</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="flip ">
                                <li class="flip-clock-before">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">0</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">0</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="flip-clock-active">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">2</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">2</div>
                                        </div>
                                    </a>
                                </li>
                            </ul><span class="flip-clock-divider hours"><span class="flip-clock-label">часов</span><span class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span></span>
                            <ul class="flip ">
                                <li class="flip-clock-before">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">0</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">0</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="flip-clock-active">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">1</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">1</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="flip ">
                                <li class="flip-clock-before">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">0</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">0</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="flip-clock-active">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">3</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">3</div>
                                        </div>
                                    </a>
                                </li>
                            </ul><span class="flip-clock-divider minutes"><span class="flip-clock-label">минут</span><span class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span></span>
                            <ul class="flip  play">
                                <li class="flip-clock-before">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">2</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">2</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="flip-clock-active">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">1</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">1</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="flip  play">
                                <li class="flip-clock-before">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">0</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">0</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="flip-clock-active">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">9</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">9</div>
                                        </div>
                                    </a>
                                </li>
                            </ul><span class="flip-clock-divider seconds"><span class="flip-clock-label">секунд</span><span class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span></span>
                            <ul class="flip  play">
                                <li class="flip-clock-before">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">3</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">3</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="flip-clock-active">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">2</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">2</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="flip  play">
                                <li class="flip-clock-before">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">8</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">8</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="flip-clock-active">
                                    <a href="#">
                                        <div class="up">
                                            <div class="shadow"></div>
                                            <div class="inn">7</div>
                                        </div>
                                        <div class="down">
                                            <div class="shadow"></div>
                                            <div class="inn">7</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header__box">
                    <%- include('block/form') %>
                </div>
            </header>
        </div>
    </section>
    <section class="section section_steps">
        <div class="container">
            <div class="steps">
                <div class="steps__item">
                    <div class="steps__nomber">1</div>
                    <div class="steps__name">Безопасный</div>
                </div>
                <div class="steps__item">
                    <div class="steps__nomber">2</div>
                    <div class="steps__name">Натуральный</div>
                </div>
                <div class="steps__item">
                    <div class="steps__nomber">3</div>
                    <div class="steps__name">Эффективный</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section_works">
        <div class="container">
            <div class="works">
                <div class="works__title">Как работает <span>кетоз</span></div>
                <div class="works__subTitle">
                    <span>Кетоз</span> – эффективный путь снижения веса при получении организмом энергии из расщепленного жира, вместо глюкозы.
                </div>
                <div class="works__box">
                    <div class="works__item">
                        <div class="works__media"></div>
                        <div class="works__info">
                            При высоком потреблении жиров, <span>уровень глюкозы снижается</span>
                        </div>
                    </div>
                    <div class="works__item">
                        <div class="works__media"></div>
                        <div class="works__info">
                            <span>Липаза высвобождает</span> запасы триглицеридов
                        </div>
                    </div>
                    <div class="works__item">
                        <div class="works__media"></div>
                        <div class="works__info">
                            Жирные кислоты <span>поступают в печень</span>
                        </div>
                    </div>
                    <div class="works__item">
                        <div class="works__media"></div>
                        <div class="works__info">
                            <span>Печень начинает вырабатывать кетоны,</span> которые используются организмом в качестве энергии.
                        </div>
                    </div>
                </div>
                <div class="works__benefit">
                    <div class="works__benefit-item">
                        <div class="works__benefit-title">польза</div>
                        <div class="works__benefit-info">
                            <span>Более эффективный источник</span> <span>топлива, который <mark>стимулирует</mark></span> <span><mark>производство митохондрий.</mark></span>
                            <span>Почему это важно? Большое</span> <span>количество митохондрий приводит</span> <span>к большему количеству энергии</span> <span>и более здоровым клеткам.</span>
                        </div>
                        <div class="works__benefit-info">
                            <span>Действуют как <mark>антиоксиданты</mark> –</span> <span>помогают защитить организм от</span> повреждений и болезней.
                        </div>
                        <div class="works__benefit-info">
                            <span>Помогают <mark>худеть правильно</mark>,</span> <span>без вреда для организма</span> и возврата веса.
                        </div>
                    </div>
                    <div class="works__benefit-media"></div>
                    <div class="works__benefit-item works__benefit-item_right">
                        <div class="works__benefit-title">кетонов</div>
                        <div class="works__benefit-info">
                            <span><mark>Помогают бороться с раком. </mark></span>
                            <span>Раковые клетки не могут</span> <span>использовать кетоны в качестве</span> <span>топлива. Без топлива раковые клетки не</span> <span>имеют энергии для роста, и иммунная</span> система устраняет их из организма.
                        </div>
                        <div class="works__benefit-info">
                            Сохраняют <mark>мышечную массу</mark>.
                        </div>
                        <div class="works__benefit-info">
                            <span>Защищают и <mark>восстанавливает</mark></span> <mark>нервную систему</mark>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section_popular">
        <div class="container">
            <div class="popular">
                <div class="popular__product"></div>
                <div class="popular__title">Мировой бестселлер <span>в диетологии!</span></div>
                <div class="popular__description">
                    <mark>Почему КЕТО самый популярный продукт для похудения?</mark>
                    <span>
                        <b>КЕТО создан на основе синтезированного растительного волокна и природных компонентов.</b> Бета-гидроксибутират первый субстрат, который запускает метаболическое
                        состояние кетоза в действие. BHB на молекулярном уровне разгоняет метаболизм, повышает сопротивляемость
                        иммунитета и разрушает жировые клетки, превращая их в энергию. Попадая в организм, BHB запускает процесс переработки жиров и углеводов в энергию, что приводит к стремительной, а главное безопасной потери веса.
                    </span>
                    <mark>KETO DIET с BHB помогает терять до 1 килограммажира в день! Присоединяйтесь к тысячам людей, которые уже ощутили эффект кетоза!</mark>
                </div>
            </div>
        </div>
    </section>
    <section class="section section_join">
        <div class="container">
            <div class="join">
                <div class="join__title">Большинство людей <span>не могли похудеть годами,</span> <span>пока не попробовали <mark>КЕТО DIET!</mark></span></div>
                <div class="join__slide owl-carousel js-join__slide">
                    <div class="join__item"><img src="../media/join/slide-1.jpg" alt=""></div>
                    <div class="join__item"><img src="../media/join/slide-2.jpg" alt=""></div>
                    <div class="join__item"><img src="../media/join/slide-3.jpg" alt=""></div>
                    <div class="join__item"><img src="../media/join/slide-4.jpg" alt=""></div>
                </div>
                <div class="join__go">
                    <div class="join__go-title">Присоединяйтесь к уже похудевшим вместе с <span>keto diet!</span></div>
                    <div class="join__go-btn">Присоединиться!</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section_proces">
        <div class="container">
            <div class="proces">
                <div class="proces__title">Как работает кетогенная диета <span>и КЕТО DIET</span></div>
                <div class="proces__box">
                    <div class="proces__item">
                        <div class="proces__name">Традиционная диета</div>
                        <div class="proces__media"><img src="../media/proces/img-1.jpg" alt=""></div>
                        <div class="proces__item-title">Почему вы не худеете?</div>
                        <div class="proces__info">
                            Большинство доступных продуктов содержат высокие показатели <b>кабогидратов</b>. К тому же рацион многих людей составляют преимущественно <b>насыщенная углеводами</b> пища. Организм вынужден <b>сжигать только углеводы</b> как более лёгкий источник энергии.
                        </div>
                        <div class="proces__arrow"><img src="../media/proces/arrow-1.png" alt=""></div>
                        <div class="proces__subTitle">Проблема</div>
                        <div class="proces__info">
                            <div class="proces__info-nomber">1</div>
                            Жиры накапливаются в организме, так как углеводы сжигаются как легкое энергетическое топливо. По сути, мы набираем больше веса из года в год.</div>
                        <div class="proces__info">
                            <div class="proces__info-nomber">2</div>
                            Углеводы неправильный источник энергии для организма, поэтому мы чувствуем усталость, стресс и истощение в конце дня.</div>
                    </div>
                    <div class="proces__item">
                        <div class="proces__name proces__name_color">Кетогенная диета</div>
                        <div class="proces__media"><img src="../media/proces/img-2.jpg" alt=""></div>
                        <div class="proces__item-title">Почему <mark>Кето работает?</mark></div>
                        <div class="proces__info">
                            Кетоз – это состояние, в котором <b>тело фактически сжигает жировые отложения для получения энергии</b>, а не углеводы. Кетоз чрезвычайно трудно получить самостоятельно. KETO DIET помогает организму быстро достичь кетоза и переработать жир в энергию.
                        </div>
                        <div class="proces__arrow"><img src="../media/proces/arrow-2.png" alt=""></div>
                        <div class="proces__subTitle proces__subTitle_color">Решение</div>
                        <div class="proces__info">
                            <div class="proces__info-nomber">1</div>
                            Когда тело находится в кетозе, вы сжигаете накопленный жир для получения энергии, а не углеводов!</div>
                        <div class="proces__info">
                            <div class="proces__info-nomber">2</div>
                            Жировые отложения – идеальный источник энергии для организма. Находясь в кетозе, вы ощущаете бодрость и энергию, как никогда раньше!</div>
                    </div>
                </div>
                <div class="section__btn">
                    <div class="btn btn_orange js-openPopap">Заказать со скидкой</div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section_brand brand">
        <div class="container">
            <div class="brand">
                <div class="brand__title">Фигура мечты <span>уже близко!</span> <mark>KETO</mark></div>
            </div>
        </div>
        <div class="brand__footer">
            <div class="container">
                <div class="brand__footer-title">ЧТО ВЫ ПОЛУЧАЕТЕ?</div>
                <div class="brand__footer-subTitle">Простой способ сбросить вес <mark>за 30 дней кетоза!</mark></div>
            </div>
        </div>
    </section>
    <section class="section section_science">
        <div class="container">
            <div class="science">
                <div class="science__title">научный подход <span>к снижению веса</span></div>
                <div class="science__subTitle">Доверьте тело KETO DIET!</div>
                <div class="science__box">
                    <div class="science__item">
                        <div class="science__item-media"></div>
                        <div class="science__description">KETO Diet содержит <b>бета-гидроксибутират.</b> BHB является первым субстратом, который запускает состояние кетоза в действие.</div>
                    </div>
                    <div class="science__item">
                        <div class="science__item-media"></div>
                        <div class="science__description"><b>Бета-гидроксибутират находится в крови и, что важно, может пересекать различные  барьеры,</b> чтобы превращаться в энергию в любое время. Одна из самых важных областей, где это происходит кетоз – мозг. Гематоэнцефалический барьер (BBB) ​​обычно регулируем, но BHB все равно может проникнуть в мозг для создания энергии.</div>
                    </div>
                    <div class="science__item">
                        <div class="science__item-media"></div>
                        <div class="science__description">Это одна из основных причин того, почему повышенный <b>уровень BHB приводят к улучшению интеллектуальных способностей.</b> </div>
                    </div>
                </div>
                <div class="science__media"></div>
            </div>
        </div>
    </section>
    <section class="section section_health">
        <div class="container">
            <div class="health">
                <div class="health__title"><span>Станьте стройнее, здоровее и увереннее</span> с KETO DIET</div>
                <div class="health__subTitle">Идеально для мужчин и женщин</span></div>
                <div class="health__box">
                    <div class="health__group">
                        <div class="health__item"><b>Улучшайте</b> <span>работу мозга</span></div>
                        <div class="health__item"><b>Теряйте</b> вес</div>
                    </div>
                    <div class="health__group">
                        <div class="health__item"><b>Восстановитесь</b> <span>после упражнений</span></div>
                        <div class="health__item"><b>Зарядитесь</b> <span>энергией</span></div>
                    </div>
                    <div class="health__group">
                        <div class="health__item"><b>Поддерживайте</b> <span>мышечную массу</span></div>
                        <div class="health__item"><b>Нормализуйте</b> <span>пищеварение</span></div>
                    </div>
                    <div class="health__group">
                        <div class="health__item"><b>Нормализуйте</b> <span>сон</span></div>
                        <div class="health__item"><b>Сжигайте жир</b> <span>в проблемных зонах</span></div>
                    </div>
                </div>
                <div class="section__btn">
                    <div class="btn btn_orange js-openPopap">Заказать <span>со скидкой</span></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section_weight">
        <div class="container">
            <div class="weight">
                <div class="weight__title">Как сбросить вес раз и навсегда?</div>
                <div class="weight__subTitle">Справиться с последствиями переедания и достигнуть максимальных результатов за 30 дней <span>поможет КETO Diet совместно с кето-диетой.</span></div>
                <div class="weight__box">
                    <div class="weight__item">
                        <div class="weight__media"></div>
                        <div class="weight__description">Принимайте <mark><span>KETO DIET по две</span> капсулы</mark> ежедневно</div>
                    </div>
                    <div class="weight__item">
                        <div class="weight__media"></div>
                        <div class="weight__description">Придерживайтесь <span>кето-рациона</span> <small><span>(соотношение 70% жира, 25%</span><span> белка и 5% углеводов)</span></small></div>
                    </div>
                </div>
                <div class="weight__info">
                    Придерживаясь кето-рациона вы будете худеть с комфортом, не угнетая <span>себя за запретный семейный ужин или оказавшись у шведского стола.</span>
                </div>
            </div>
        </div>
    </section>
    <section class="section section_commit">
        <div class="container">
            <div class="commit">
                <div class="commit__title">Что говорят о КETO DIET?</div>
                <div class="commit__slide owl-carousel js-commit__slide">
                    <div class="commit__item">
                        <div class="commit__item-title">Angelin Harris, 21 год</div>
                        <div class="commit__item-before">
                            <div class="commit__item-subTitle">ДО КУРСА:</div>
                            <div class="commit__item-description">
                                критически низкое
                                <span>количество кетонов:</span>
                                <span><b>0,8 МОЛЬ</b></span>
                                <mark>Вес: 67 кг</mark>
                            </div>
                        </div>
                        <div class="commit__item-media">
                            <img src="../media/commit/img-1.jpg" alt="">
                        </div>
                        <div class="commit__item-after">
                            <div class="commit__item-subTitle">РЕЗУЛЬТАТ ПОСЛЕ КУРСОВОГО ПРИЕМА KETO DIET</div>
                            <div class="commit__item-description">
                                критически низкое
                                <span>количество кетонов:</span>
                                <span><b>0,8 МОЛЬ</b></span>
                                <mark>Вес: 52 кг</mark>
                                <span><strong>(-15 кг)</strong></span>
                            </div>
                        </div>
                        <div class="commit__item-info">
                            Моя мама придерживалась кето-диеты по рекомендациям врача. <mark>И за 3 месяца она похудела на 20 кг</mark>. Я хоте так захотела, но диету не всегда получалось соблюдать. Я попробовала KETO Diet. И к моему удивлению, меня перестало тянуть на углеводы. Добавка помогла разогнать кетоз, а мой организм уже сам подавал мне знаки, что ему нужно. Мне оставалось только прислушиваться. <mark><b>За один курс мне удалось сбросить 15 кг!</b></mark> Причем мне не было сложно, я не голодала и не была уставшей. Наоборот, чувствовала легкость и прилив сил. Даже голова стала лучше работать.
                        </div>
                    </div>
                    <div class="commit__item">
                        <div class="commit__item-title">Emma Brown, 43 года</div>
                        <div class="commit__item-before">
                            <div class="commit__item-subTitle">ДО КУРСА:</div>
                            <div class="commit__item-description">
                                критически низкое
                                <span>количество кетонов:</span>
                                <span><b>0,8 МОЛЬ</b></span>
                                <mark>Вес: 108 кг</mark>
                            </div>
                        </div>
                        <div class="commit__item-media">
                            <img src="../media/commit/img-2.jpg" alt="">
                        </div>
                        <div class="commit__item-after">
                            <div class="commit__item-subTitle">РЕЗУЛЬТАТ ПОСЛЕ КУРСОВОГО ПРИЕМА KETO DIET</div>
                            <div class="commit__item-description">
                                критически низкое
                                <span>количество кетонов:</span>
                                <span><b>0,8 МОЛЬ</b></span>
                                <mark>Вес: 52 кг</mark>
                                <span><strong>(-56 кг)</strong></span>
                            </div>
                        </div>
                        <div class="commit__item-info">
                            Я никогда не говорю о своей диете, если кто-то не спрашивает (первое правило кето). Если это происходит, люди чаще всего говорят, что у такого рациона очень много ограничений. Я с этим категорически не согласна! Знаете, что действительно можно назвать ограничениями? Одышку во время подъема по лестнице, неспособность не отставать от своего ребенка, стеснительность на фото, избегание зеркал, ненависть к покупке новой одежды… Кето не ограничивает – оно дает намного большую свободу, чем я когда-либо испытывала. К тому же это очень вкусно) <b><mark>Но в кетоз очень сложно войти самостоятельно. Лично я так и не смогла. Мне помог KETO BodyTon.</mark></b> Он сам ввел мой организм в кетоз, а мне осталось только поддерживать это состояние и все. Проще простого.
                        </div>
                    </div>
                    <div class="commit__item">
                        <div class="commit__item-title">Jacob Green, 30 лет</div>
                        <div class="commit__item-before">
                            <div class="commit__item-subTitle">ДО КУРСА:</div>
                            <div class="commit__item-description">
                                критически низкое
                                <span>количество кетонов:</span>
                                <span><b>0,8 МОЛЬ</b></span>
                                <mark>Вес: 108 кг</mark>
                            </div>
                        </div>
                        <div class="commit__item-media">
                            <img src="../media/commit/img-3.jpg" alt="">
                        </div>
                        <div class="commit__item-after">
                            <div class="commit__item-subTitle">РЕЗУЛЬТАТ ПОСЛЕ КУРСОВОГО ПРИЕМА KETO DIET</div>
                            <div class="commit__item-description">
                                критически низкое
                                <span>количество кетонов:</span>
                                <span><b>0,8 МОЛЬ</b></span>
                                <mark>Вес: 52 кг</mark>
                                <span><strong>(-56 кг)</strong></span>
                            </div>
                        </div>
                        <div class="commit__item-info">
                            Я радовался когда в моду вошел бодипозитив, но огорчился, когда увидел свои результаты анализов. Мне нужно было срочно худеть. Врач сразу предупредил, что это не так просто как кажется и выписал KETO BodyTon. Я читал, что некоторые люди годами не могут войти в состояние кетоза, так как это очень трудно. Лично у меня с капсулами это удалось сделать с первого раза. Они именно для этого и созданы, помочь запустить кетоз в организме без лишнего напряжения. <b><mark>И худеется с ними комфортно, вообще не чувствуешь голода. Я много ел, но все равно похудел на 12 кг.</mark></b>
                        </div>
                    </div>
                    <div class="commit__item">
                        <div class="commit__item-title">Lily Moore, 26 лет</div>
                        <div class="commit__item-before">
                            <div class="commit__item-subTitle">ДО КУРСА:</div>
                            <div class="commit__item-description">
                                критически низкое
                                <span>количество кетонов:</span>
                                <span><b>0,8 МОЛЬ</b></span>
                                <mark>Вес: 108 кг</mark>
                            </div>
                        </div>
                        <div class="commit__item-media">
                            <img src="../media/commit/img-4.jpg" alt="">
                        </div>
                        <div class="commit__item-after">
                            <div class="commit__item-subTitle">РЕЗУЛЬТАТ ПОСЛЕ КУРСОВОГО ПРИЕМА KETO DIET</div>
                            <div class="commit__item-description">
                                критически низкое
                                <span>количество кетонов:</span>
                                <span><b>0,8 МОЛЬ</b></span>
                                <mark>Вес: 52 кг</mark>
                                <span><strong>(-56 кг)</strong></span>
                            </div>
                        </div>
                        <div class="commit__item-info">
                            Я похудела на 56 килограмм именно <b><mark>благодаря КETO BodyTone.</mark></b> Теперь я  фитнес-тренер, и знаю, почему диеты не работают. Люди годами ходят в зал, но их фигуры не меняются. Их ошибка в выборе не той диеты. Все они выбирают низкокалорийную, после которой килограммы возвращаются вдвойне. Это неправильно, ведь с КЕТО худеть гораздо быстрее, легче и килограммы не возвращаются.
                        </div>
                    </div>
                    <div class="commit__item">
                        <div class="commit__item-title">Christian Hill, 28 лет</div>
                        <div class="commit__item-before">
                            <div class="commit__item-subTitle">ДО КУРСА:</div>
                            <div class="commit__item-description">
                                критически низкое
                                <span>количество кетонов:</span>
                                <span><b>0,8 МОЛЬ</b></span>
                                <mark>Вес: 87 кг</mark>
                            </div>
                        </div>
                        <div class="commit__item-media">
                            <img src="../media/commit/img-5.jpg" alt="">
                        </div>
                        <div class="commit__item-after">
                            <div class="commit__item-subTitle">РЕЗУЛЬТАТ ПОСЛЕ КУРСОВОГО ПРИЕМА KETO DIET</div>
                            <div class="commit__item-description">
                                критически низкое
                                <span>количество кетонов:</span>
                                <span><b>0,8 МОЛЬ</b></span>
                                <mark>Вес: 62 кг</mark>
                                <span><strong>(-25 кг)</strong></span>
                            </div>
                        </div>
                        <div class="commit__item-info">
                            Ожирение – это мое генетическое заболевание. У меня все в семье крупные. Всю жизнь я мечтала похудеть, но мне не удавалась. Сами понимаете какая еда ждала меня дома. И как потом оказалось, генетику можно изменить, если немного поменять свой рацион. Изначально это было очень трудно и я понимала, что сама не справлюсь. <b><mark>Поэтому решила попробовать  KETO DIET.</mark></b> Это лучшее, что случалось со мной за последнее время. За один курс я похудела на 25 килограмм! Я изменила свои пищевые привычки и теперь придерживаюсь кето-диеты.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section_popap js-popap">
        <div class="container container_popap">
            <div class="section__close">
                <span></span>
                <span></span>
            </div>
            <div class="group">
                <div class="purchase">
                    <div class="purchase__description">
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                    </div>
                    <div class="purchase__item">
                        <div class="purchase__head">
                            <div class="purchase__head-title">BUY 4 GET 2 FREE BOTTLES</div>
                            <div class="purchase__head-subTitle">FREE SHIPPING</div>
                        </div>
                        <div class="purchase__body">
                            <div class="purchase__body-check"></div>
                            <div class="purchase__media">
                                <!-- <div class="purchase__savePrice">save <span>$103</span></div> -->
                                <img src="../media/purchase/product-1.png" alt="">
                            </div>
                            <div class="purchase__info">
                                <div class="purchase__info-title">FOR THOSE WHO NEED <span>TO LOSE 25+ POUNDS</span></div>
                                <div class="purchase__price">$136</span></div>
                                <div class="purchase__btn">SELECTED PACKAGE!</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="purchase__item">
                        <div class="purchase__head">
                            <div class="purchase__head-title">BUY 3 GET 1 FREE BOTTLES</div>
                            <div class="purchase__head-subTitle">FREE SHIPPING</div>
                        </div>
                        <div class="purchase__body">
                            <div class="purchase__body-check"></div>
                            <div class="purchase__media">
                                <!-- <div class="purchase__savePrice">save <span>$44</span></div> -->
                                <img src="../media/purchase/product-2.png" alt="">
                            </div>
                            <div class="purchase__info">
                                <div class="purchase__info-title">FOR THOSE WHO NEED <span>TO LOSE 15+ POUNDS</span></div>
                                <div class="purchase__price">$117</span></div>
                                <div class="purchase__btn">SELECTED PACKAGE!</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="purchase__item purchase__item_active">
                        <div class="purchase__head purchase__head_colorFull">
                            <div class="purchase__head-title">BUY 1 BOTTLE</div>
                        </div>
                        <div class="purchase__body">
                            <div class="purchase__body-check"></div>
                            <div class="purchase__media">
                                <!-- <div class="purchase__savePrice">save <span>$20</span></div> -->
                                <img src="../media/purchase/product-3.png" alt="">
                            </div>
                            <div class="purchase__info">
                                <div class="purchase__info-title">FOR THOSE WHO NEED <span>TO LOSE 7+ POUNDS</span></div>
                                <div class="purchase__price">$44</span></div>
                                <div class="purchase__btn">SELECTED!</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="priceList">
                        <div class="priceList__container">
                            <div class="priceList__title">up to <mark>$50</mark> off</div>
                            <div class="priceList__subTitle">Special Promotion*</div>
                            <div class="priceList__description">PRICE SHOWN ARE AFTER MAIL IN REBATES.</div>
                            <div class="priceList__box">
                                <div class="priceList__item">
                                    $50 mail in rebate for <span>"Best Selling Package"</span>
                                </div>
                                <div class="priceList__item">
                                    $30 mail in rebate for <span>"Tire 2 Package"</span>
                                </div>
                                <div class="priceList__item">
                                    $10 mail in rebate for <span>"Sampler Package"</span>
                                </div>
                            </div>
                            <div class="priceList__info">
                                Details on how to obtain your rebate will be provided in your package.Rebates are valid for <span> 45 days from date of purchase.</span>
                            </div>
                        </div>
                        <div class="priceList__footer">
                            <div class="priceList__footer-row">
                                <div class="priceList__footer-name">Shipping Type:</div>
                                <div class="priceList__footer-info"><b>FREE</b> Priority Shipping</div>
                            </div>
                            <div class="priceList__footer-row">
                                <div class="priceList__footer-name">Shipping Price:</div>
                                <div class="priceList__footer-info"><b>$0.00</b></div>
                            </div>
                            <div class="priceList__footer-row">
                                <div class="priceList__footer-name">Your Total:</div>
                                <div class="priceList__footer-info js-price">$44.00</div>
                            </div>
                            <div class="priceList__footer-row">
                                <div class="priceList__footer-name">Retail: $448.00</div>
                                <div class="priceList__footer-info"><b>You Save: $300.00</b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pay pay_top">
                    <div class="pay__head">
                        <div class="pay__title">FINAL STEP <span>COMPLETE YOUR ORDER</span></div>
                    </div>
                    <div class="pay__body">
                        <div class="pay__subTitle">Is your billing address the same as your shipping address?</div>
                        <form class="pay__form">
                            <div class="pay__good">
                                <label>
                                    <span>Yes</span>
                                    <input checked class="pay__check" type="radio" name="good">
                                </label>
                                <label>
                                    <span>No</span>
                                    <input class="pay__check" type="radio" name="good">
                                </label>
                            </div>
                            <div class="pay__accept">
                                <span>We accept:</span>
                                <div class="pay__card"><img src="../media/pay/card.jpg" alt=""></div>
                            </div>
                            <div class="pay__item">
                                <input name="card" type="text" class="pay__field" placeholder="Credit Card Number" minlength="16" maxlength="16" required>
                            </div>
                            <div class="pay__item pay__item_group">
                                <span>Date:</span>
                                <select class="pay__select" required>
                                    <option value="">1994</option>
                                    <option value="">1995</option>
                                    <option value="">1996</option>
                                    <option value="">1997</option>
                                    <option value="">1998</option>
                                </select>
                                <select class="pay__select" required>
                                    <option value="">Январь</option>
                                    <option value="">Февраль</option>
                                    <option value="">Март</option>
                                    <option value="">Апрель</option>
                                    <option value="">Май</option>
                                    <option value="">Июнь</option>
                                    <option value="">Июль</option>
                                    <option value="">Август</option>
                                    <option value="">Сентябрь</option>
                                    <option value="">Октябрь</option>
                                    <option value="">Ноябрь</option>
                                    <option value="">Декабрь</option>
                                </select>
                            </div>
                            <div class="pay__item pay__item_group">
                                <span>CVV Code:</span>
                                <input name="cvv" type="password" class="pay__field" minlength="3" maxlength="3" required>
                            </div>
                            <div class="pay__btn">
                                <input class="submit btn" type="submit" value="Заказать со скидкой">
                            </div>
                        </form>
                        <div class="pay__footer">
                            <div class="pay__logo"><img src="../media/pay/logo.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="contact">
                <div class="contact__title">Contact Us</div>
                <div class="contact__description">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</div>
                <form class="contact__form">
                    <div class="contact__item">
                        <input name="name" type="text" class="contact__field" placeholder="Name" required>
                    </div>
                    <div class="contact__item">
                        <input name="email" type="text" class="contact__field" placeholder="Email Address" required>
                    </div>
                    <div class="contact__item">
                        <input name="tel" type="text" class="contact__field" placeholder="Telephone" required>
                    </div>
                    <div class="contact__item">
                        <textarea class="contact__textarea" placeholder="Enter your Message here"></textarea>
                    </div>
                    <div class="contact__item contact__item_group">
                        <input type="text" class="contact__field contact__field_width" placeholder="Captcha">
                        <div class="contact__captcha">gf3cwg</div>
                    </div>
                    <div class="contact__item">
                        <div class="contact__btn">Close</div>
                    </div>
                    <div class="contact__item">
                        <input class="contact__btn contact__btn_orange" type="submit" placeholder="Send">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="messageSuccess">
        <div class="messageError__title">Оплата прошла успешно! <span>Спасибо.</span></div>
    </div>
    <div class="messageError">
        <div class="messageError__title">Оплата не прошла <span>Нам очень жаль, но ваша оплата не прошла.</span></div>
    </div>
    <%- include('block/script') %>
</body>

</html>
