<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Bacteoff</title>
    <meta name="description" content="Bacteoff">
    <meta itemprop="image" content="../media/share/image.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Bacteoff">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="Bacteoff">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Bacteoff">
    <!-- описание страницы -->
    <meta property="og:description" content="Bacteoff">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Bacteoff">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Название страницы -->
    <meta name="twitter:title" content="Bacteoff">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="Bacteoff">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <main>
            
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">Bacteoff</div>
                <div class="section__title face__title" data-aos="fade-up">Ваша защита от <mark>всех видов паразитов</mark></div>
                <div class="face__product">
                    <img src="../media/product.png" alt="Detonic">
                </div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">выведение <mark>паразитов</mark> </div>
                    <div class="face__check" data-aos="fade-right">полная <mark>детоксикация</mark></div>
                    <div class="face__check" data-aos="fade-right">восстановление <mark>микрофлоры</mark></div>
                    <div class="face__check" data-aos="fade-right">усиление <mark>иммунитета</mark></div>
                </div>
            </div>
            <div class="face__box">
                <form class="form" action="" method="post">
    <div class="form__title">Заказать <mark>сейчас</mark></div>
    <div class="form__price">
        <div class="form__price-old">100$</div>
        <div class="form__price-main">20$</div>
    </div>
    <div class="form__body">
        <label class="form__label">
            <select class="form__field form__select">
                <option selected="" value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </label>
    </div>
    <div class="form__time">
        <div class="form__time-title">До конца акции:</div>
        <div class="form__time-box">
            <div class="form__time-count">
                <span>00</span>
                <span>часов</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>22</span>
                <span>минут</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>00</span>
                <span>секунд</span>
            </div>
        </div>
    </div>
    <button class="form__btn">ЗАКАЗАТЬ</button>
</form>

            </div>
        </div>
    </div>
</section>

            
<section class="section section_eags">
    <div class="container">
        <div class="eags">
            <div class="eags__box">
                <div class="eags__item">
                    <div class="eags__item-title">Универсальная растительная формула</div>
                </div>
                <div class="eags__item">
                    <div class="eags__item-title">Эффективна против ленточных, круглых, плоских паразитов</div>
                </div>
                <div class="eags__item">
                    <div class="eags__item-title">Уничтожает паразитов на всех жизненных циклах развития</div>
                </div>
                <div class="eags__item">
                    <div class="eags__item-title">Снижает интоксикацию во время выведения продуктов распада</div>
                </div>
                <div class="eags__item">
                    <div class="eags__item-title">Восстанавливает микрофлору и стабилизирует кровообращение</div>
                </div>
                <div class="eags__item">
                    <div class="eags__item-title">Усиливает иммунитет, устраняя риск повторных заражений</div>
                </div>
            </div>
            <div class="eags__footer">
                <mark>В организме человека одновременно могут соседствовать разные виды паразитов.</mark> По данным ВОЗ, ежегодно каждый второй человек заражается одним из видов гельминтов.
            </div>
        </div>
    </div>
</section>

            
<section class="section section_parazits">
    <div class="container">
        <div class="parazits">
            <div class="section__title parazits__title" data-aos="fade-right">Что вы представляете, когда слышите словосочетание <mark>"паразитарная инвазия"?</mark></div>
            <div class="parazits__subtitle" data-aos="fade-right">Ком мерзких червей из фильма ужасов?</div>
            <div class="parazits__description" data-aos="fade-right">Теперь представьте, что вы слышите это в кабинете врача. В результатах анализов зафиксирован факт, что у вас внутри черви-паразиты. </div>
            <div class="parazits__info">Этим объясняется:</div>
            <div class="parazits__box">
                <div class="parazits__item" data-aos="flip-right"> гастрит </div>
                <div class="parazits__item" data-aos="flip-right"> нарушения пищеварения </div>
                <div class="parazits__item" data-aos="flip-right"> ангина </div>
                <div class="parazits__item" data-aos="flip-right"> частые </div>
                <div class="parazits__item" data-aos="flip-right"> ОРЗ </div>
                <div class="parazits__item" data-aos="flip-right"> ожирение </div>
                <div class="parazits__item" data-aos="flip-right"> головные боли </div>
                <div class="parazits__item" data-aos="flip-right"> кожные проблемы </div>
                <div class="parazits__item" data-aos="flip-right"> заложенность носа </div>
                <div class="parazits__item" data-aos="flip-right"> аллергические реакции </div>
                <div class="parazits__item" data-aos="flip-right"> воспаления </div>
                <div class="parazits__item" data-aos="flip-right"> болезни суставов </div>
                <div class="parazits__item" data-aos="flip-right"> опухоли </div>
                <div class="parazits__item" data-aos="flip-right"> проблемы со сном </div>
                <div class="parazits__item" data-aos="flip-right"> синдром хронической усталости </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="section__title symptoms__title" data-aos="fade-right">Паразитарная инфекция вызывает симптомы, напоминающие картину других заболеваниЙ.</div>
            <div class="symptoms__info" data-aos="fade-left">
                Многие хронические болезни имеют паразитарную природу или утяжеляются наличием паразитарной инфекции.
            </div>
        </div>
    </div>
</section>

            
<section class="section section_pain">
    <div class="container">
        <div class="pain">
            <div class="pain__box">
                <div class="pain__row">
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-1.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Глаза:</div>
                                <div class="pain__item-description">демодекоз, миазы, онхоцеркоз, телязиоз, цистицеркоз.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-line pain__pulse-line_active"></div>
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-2.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Головной мозг:</div>
                                <div class="pain__item-description">альвеококкоз, цистицеркоз, эхинококкоз, токсоплазмоз, первичный амебный менингоэнцефалит.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                            <div class="pain__pulse-line"></div>
                        </div>
                    </div>
                </div>
                <div class="pain__row">
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-3.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Кожа:</div>
                                <div class="pain__item-description">чесотка, крысиный клещевой дерматит, педикулёз, пуликоз, саркопсиллёз, тромбидиаз, фтириаз, хемиптероз.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-line"></div>
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-4.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Сердце:</div>
                                <div class="pain__item-description">дирофиляриоз, эхинококкоз.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                            <div class="pain__pulse-line"></div>
                        </div>
                    </div>
                </div>
                <div class="pain__row">
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-5.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Желудочно-кишечный тракт и печень:</div>
                                <div class="pain__item-description">анкилостомоз, аскаридоз, кишечные миазы, лингватулидозы, метагонимоз, скарабиаз, стронгилоидоз, трихинеллез, трихостронгилоидоз, трихоцефалез, энтеробиоз, альвеококкоз, клонорхоз, описторхоз, фасциолез, эхинококкоз.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-line"></div>
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-6.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Мочевой пузырь, половые органы:</div>
                                <div class="pain__item-description">уринарный миаз, альвеококкоз, эхинококкоз.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                            <div class="pain__pulse-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_prezents">
    <div class="container">
        <div class="prezents">
            <div class="prezents__box">
                <div class="section__title prezents__title" data-aos="fade-right">ПРИРОДНАЯ ЭФФЕКТИВНОСТЬ, <mark>ДОКАЗАННАЯ НАУЧНО</mark></div>
                <div class="prezents__description">В составе Bacteoff комбинация растительных экстрактов, оказывающая на жизнедеятельность паразитов негативное действие. Помогая организму наладить процессы мочеобразования, желчеотделения и пищеварения, Bacteoff стимулирует полную детоксикацию, избавляя от всех видов паразитарных организмов.</div>
                <a href="#" class="prezents__btn">ЗАКАЗАТЬ</a>
            </div>
            <div class="prezents__media">
                <div class="prezents__product">
                    <img src="../media/product.png" alt="">
                    <a href="#" class="prezents__btn prezents__btn_768">ЗАКАЗАТЬ</a>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_sostav">
    <div class="container">
        <div class="sostav">
            <div class="section__title sostav__title" data-aos="fade-up">Состав Bacteoff</div>
            <div class="sostav__box">
                <div class="sostav__item" data-aos="fade-right">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-2.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Ламинария</span>
                        <span>Благодаря большому содержанию клетчатки, нормализуется работа пищеварительного тракта и улучшается состояние здоровья в целом. А альгинаты и органические кислоты эффективно очищают организм от вредных веществ.</span>
                    </div>
                </div>
                <div class="sostav__item sostav__item_right" data-aos="fade-left">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-3.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Репешок</span>
                        <span>Оказывает губительное действие на большинство паразитов, поражающих человека. Содержит полиненасыщенные кислоты, эфирные масла и комплекс витаминов и микроэлементов, которые положительно влияют на все органы и системы человеческого организма.</span>
                    </div>
                </div>
                <div class="sostav__item" data-aos="fade-right">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-1.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Чёрный тмин</span>
                        <span>Содержит алкалоиды, флавоноиды, дубильные вещества, которые подавляют рост и развитие паразитов, способствуют восстановлению нормальной микрофлоры кишечника, ускоряют регенерацию поврежденных слизистых оболочек и выводят продукты их жизнедеятельности.</span>
                    </div>
                </div>
                <div class="sostav__item sostav__item_right" data-aos="fade-left">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-4.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Цветы пижмы</span>
                        <span>Обладает мочегонными и желчегонными свойствами, что позволяет быстрее выводить токсины, которые выделяют паразиты во время их уничтожения.</span>
                    </div>
                </div>
                <div class="sostav__item" data-aos="fade-right">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-5.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Тысячелистник</span>
                        <span>В составе есть горечь, которая считается антагонистом паразитов, обитающих в пищеварительном тракте человека. Также содержит природный токсин – кетон туйон, который губительно действует на паразитов, парализуя их.</span>
                    </div>
                </div>
                <div class="sostav__item sostav__item_right"  data-aos="fade-left">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-6.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Чеснок</span>
                        <span>Наличие горечи и смол создают невыносимую среду для жизнедеятельности паразитов. Кремний помогает выводить токсины и вредные вещества из организма. Инулин, аскорбиновая кислота, витамин B и D, жирные масла укрепляют иммунитет.</span>
                    </div>
                </div>
                <div class="sostav__product"><img src="../media/product.png" alt=""></div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="problems__body">
                <div class="section__title problems__title" data-aos="fade-right">ЛУЧШЕЕ, ЧТО <span>МОЖНО СДЕЛАТЬ —</span> <mark>ЭТО ПРОФИЛАКТИКА</mark></div>
                <div class="problems__info" data-aos="fade-right">
                    Зачастую причина различных серьезных заболеваний внутренних органов – интоксикация организма, вызванная гельминтозом.


                    <mark>Симптомы зависят от вида паразитирующих глистов, их размера и места обитания в организме. Не редки случаи полностью отсутствующей симптоматики. Именно поэтому я рекомендую периодически проходить профилактический курс очистки от паразитов и принимать противогельминтные препараты.</mark>
                    <mark>
                        Своим пациентам на протяжении долгого времени я назначаю BACTEOFF. Их многочисленные положительные отзывы об этом средстве говорят сами за себя. BACTEOFF – эффективный, натуральный и полностью безопасный препарат. За 1 курс применения он избавляет от всех видов гельминтов даже при запущенных случаях заболеваний.
                    </mark>
                    <mark>Устранить вовремя причину – значит не тратить зря время и деньги на последствия. Поэтому я рекомендую всем, кому не безразлично свое здоровье, помочь своему организму с помощью BACTEOFF.</mark>
                </div>
                <div class="problems__name" data-aos="fade-right">
                    Симон Петру
                    <mark>Инфекционист с 8-летним стажем.</mark>
                </div>
            </div>
            <div class="problems__media"><img src="../media/problems/human.png" alt=""></div>
        </div>
    </div>
</section>

            
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы:</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Anna Anselm, <mark>42 года</mark></div>
                    <div class="commits__description">
                        Не думала, что когда-нибудь это коснется и меня тоже. В прошлом году появились боли в животе, мучилась с постоянным вздутием. После долгого обследования выяснилось, что виноваты во всем паразиты. Я так благодарна грамотному доктору, который сразу назначил мне BACTEOFF. Все неприятные симптомы ушли сразу же. После курса лечения сдала все анализы и убедилась, что мой организм полностью чист. BACTEOFF – лучшее средство для избавления от паразитов! 
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">David Seifert, <mark>63 года</mark></div>
                    <div class="commits__description">
                        Я 4 месяца вел борьбу с гельминтами. Принимал разные лекарства, а затем мучился от их побочных эффектов: головокружение, бессонница, учащенное сердцебиение и т. д. Но самое главное – не было результата лечения, моя проблема оставалась со мной. Все изменилось с тех пор, как моя дочь прочитала в интернете статью о препарате BACTEOFF и заказала его для меня. Могу с уверенностью сказать, что это очень эффективное и натуральное средство. Благодаря ему, я полностью здоров и чувствую себя отлично.
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Janine Hudson, <mark>49 лет</mark></div>
                    <div class="commits__description">
                        Я была в ужасе, когда по возвращению из отпуска я обратилась к врачу с жалобами на плохое самочувствие, и он поставил диагноз – анкилостомоз. Это паразитарная инвазия, возбудитель которой – круглые черви из рода Ancylostoma. К счастью, BACTEOFF справился с этой проблемой оперативно. Теперь принимаю раз в полгода этот препарат для профилактики. Жалею, что не знала о нем раньше. Всем советую!
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_info aos-init aos-animate" data-aos="fade-right">
    <div class="container">
        <div class="info">
            <div class="info__title">ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></div>
            <div class="info__description">Количество упаковок, необходимое для желаемого результата, <mark>определяется индивидуально и в отдельных случаях может увеличиться.</mark></div>
        </div>
    </div>
</section>

            
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">Bacteoff</div>
                <div class="section__title face__title" data-aos="fade-up">Ваша защита от <mark>всех видов паразитов</mark></div>
                <div class="face__product">
                    <img src="../media/product.png" alt="Detonic">
                </div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">выведение <mark>паразитов</mark> </div>
                    <div class="face__check" data-aos="fade-right">полная <mark>детоксикация</mark></div>
                    <div class="face__check" data-aos="fade-right">восстановление <mark>микрофлоры</mark></div>
                    <div class="face__check" data-aos="fade-right">усиление <mark>иммунитета</mark></div>
                </div>
            </div>
            <div class="face__box">
                <form class="form" action="" method="post">
    <div class="form__title">Заказать <mark>сейчас</mark></div>
    <div class="form__price">
        <div class="form__price-old">100$</div>
        <div class="form__price-main">20$</div>
    </div>
    <div class="form__body">
        <label class="form__label">
            <select class="form__field form__select">
                <option selected="" value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </label>
    </div>
    <div class="form__time">
        <div class="form__time-title">До конца акции:</div>
        <div class="form__time-box">
            <div class="form__time-count">
                <span>00</span>
                <span>часов</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>22</span>
                <span>минут</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>00</span>
                <span>секунд</span>
            </div>
        </div>
    </div>
    <button class="form__btn">ЗАКАЗАТЬ</button>
</form>

            </div>
        </div>
    </div>
</section>

            <section class="section section_footer">
                <footer>
                    <div class="container">
                        <div class="adress" data-aos="fade-up">
                             <p class="footer_leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                                 <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a>
                             </p>
                        </div>
                    </div>
                </footer>
            </section>
            <div id="loader-wrapper">
                <div id="loader"></div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </main>
        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
