@font-face {
    font-family: 'ProximaNova';
    src: url('fonts/ProximaNova-Regular.woff') format('woff'),
        url('fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('fonts/ProximaNova-Bold.woff') format('woff'),
        url('fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('fonts/ProximaNova-Semibold.woff') format('woff'),
        url('fonts/ProximaNova-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTSerif-Regular.woff') format('woff'),
        url('fonts/PTSerif-Regular.woff2') format('woff2'),
        url('fonts/PTSerif-Bold.woff') format('woff'),
        url('fonts/PTSerif-Bold.woff2') format('woff2');
    font-style: normal;
}

ul {
    list-style-type: none;
}

BODY {
    position: relative;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background: #FFF;
    letter-spacing: .01em;
    font: 400 15px/1.4 'ProximaNova', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #242F33
}

HTML BODY .i-ljuser,
HTML BODY .i-ljuser-profile {
    width: auto !important;
    height: auto !important;
    margin: 0 !important
}

HTML BODY .i-ljuser,
HTML BODY .i-ljuser-profile,
HTML BODY .i-ljuser-userhead {
    padding: 0 !important;
    border: 0 !important
}

HTML BODY .i-ljuser {
    position: static !important;
    display: inline !important;
    background: 0 0 !important;
    white-space: nowrap !important;
    font-style: normal !important
}

HTML BODY .i-ljuser-userhead {
    width: 16px !important;
    height: 16px !important;
    margin: 0 1px 0 0 !important;
    vertical-align: text-bottom !important;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: ''
}

.clearfix:after {
    clear: both
}

.l-showtime::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(57, 191, 113, .4)
}

.svgicon {
    width: 16px;
    height: 16px
}

.svgicon {
    display: inline-block;
    visibility: inherit !important;
    pointer-events: auto !important;
    fill: currentColor;
    -moz-transform: scale(1)
}

.b-flatbutton {
    display: inline-block;
    cursor: pointer;
    margin: 0
}

.b-flatbutton {
    position: relative;
    padding: 15px 20px;
    border: 0 !important;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font: 600 14px/1 ProximaNova, Tahoma, Arial, sans-serif;
    font: 600 .875rem/1 ProximaNova, Tahoma, Arial, sans-serif
}

.b-flatbutton {
    background: #09C;
    color: #FFF
}

.b-flatbutton:link,
.b-flatbutton:visited {
    background: #09C;
    text-decoration: none;
    color: #FFF
}

.b-flatbutton:focus,
.b-flatbutton:hover {
    background: #00ACE6;
    text-decoration: none;
    color: #FFF
}

.b-flatbutton:active {
    background: #0086B3;
    text-decoration: none;
    color: #FFF
}

.b-flatbutton-simple {
    padding: 10px 15px
}

.flaticon {
    fill: #7A9199
}

.flaticon--arrow-right {
    width: 30px;
    height: 56px;
    fill: #7A9199
}

HTML BODY {
    margin-top: 0 !important
}

.aentry-post__text p {
    margin: 0 0 20px
}

@media (max-width: 520px) {

    .aentry-post__text p {
        margin-bottom: 16px
    }
}

.badge,
A.badge:link,
A.badge:visited {
    color: #333
}

.category-panel {
    font-size: 14px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1100px;
    margin: 24px 0 20px;
    padding: 4px 0 12px;
    border-top: 1px solid #DCE1E4;
    border-bottom: 1px solid #DCE1E4
}

.category-panel__caption {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 8px;
    margin-right: 8px
}

.category-panel__list {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0
}

.category-panel__item {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8px
}

.category-panel__item:not(:last-child) {
    margin-right: 8px
}

.category-panel__link {
    padding: 6px 8px;
    line-height: 14px;
    font-size: 14px
}

.category-panel__link:link,
.category-panel__link:visited {
    border: none
}

.badge {
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    box-sizing: border-box;
    padding: 8px 10px;
    border-radius: 12px;
    background: #FFF6C2;
    -webkit-transition: color .2s;
    transition: color .2s
}

A.badge:active,
A.badge:focus,
A.badge:hover {
    color: #00A3D9
}

.badge--icon {
    padding-left: 30px
}

.badge--icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.badge--thumbs-up-icon::before {
    width: 14px;
    height: 18px;
    background-image: url(img/svg2.svg);
}

.tag {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 4px;
    background: #EEF1F3;
    -webkit-transition: background .2s;
    transition: background .2s
}

.tag:active,
.tag:hover {
    background: #E5EBEE
}

.tag__link {
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-transform: capitalize;
    -webkit-transition: color .2s;
    transition: color .2s
}

.tag__link:link,
.tag__link:visited {
    border: none;
    color: #5B5F61
}

.tag__link:focus {
    outline: 0;
    color: #00A3D9
}

HTML BODY .i-ljuser-username,
HTML BODY .i-ljuser-username:link,
HTML BODY .i-ljuser-username:visited {
    color: #00BAF8
}

HTML BODY .i-ljuser-username:active,
HTML BODY .i-ljuser-username:focus,
HTML BODY .i-ljuser-username:hover {
    color: #000
}

.categories {
    position: relative;
    background: #FFF;
    font: 15px/1 ProximaNova, Helvetica, sans-serif;
    box-shadow: 0 0 14px 1px rgba(100, 100, 100, .25);
    z-index: 9;
    color: #646464
}

@media screen and (min-device-width: 320px) and (max-device-width: 568px),
screen and (-ms-high-contrast: active) and (max-width: 30em),
(-ms-high-contrast: none) and (max-width: 30em) {
    .categories {
        box-shadow: none;
        border-bottom: 1px solid #EDF2F4
    }
}

@media (max-width: 320px) {
    .categories {
        position: static
    }
}

.flatbutton {
    text-decoration: none
}

.flatbutton:focus::before {
    content: ''
}

.flatbutton {
    display: inline-block
}

.flatbutton {
    box-sizing: border-box
}

.flatbutton {
    position: relative;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 30px;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    font: 600 14px/1 ProximaNova, Helvetica, sans-serif;
    letter-spacing: .3px;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-appearance: none
}

.flatbutton--small {
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 12px;
    letter-spacing: 0
}

.flatbutton:focus::before {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 2px solid #69C9E9;
    border-radius: inherit
}

.flatbutton,
.flatbutton:link,
.flatbutton:visited {
    background: #00A2D9;
    color: #FFF
}

.flatbutton:hover {
    background: #00BEFF;
    color: #FFF
}

.flatbutton:active {
    background: #0092C4;
    color: #FFF
}

.flatbutton--neutral {
    border: 1px solid #C3D3D9;
    background: 0 0;
    color: #333
}

.flatbutton--neutral:link,
.flatbutton--neutral:visited {
    background: 0 0;
    color: #333
}

.flatbutton--neutral:hover {
    border-color: #9CA7AB;
    background: 0 0;
    color: #333
}

.flatbutton--neutral:active:focus {
    background: #F5F5F5;
    color: #333
}

.flatbutton--neutral:focus {
    color: #333
}

HTML BODY .i-ljuser {
    text-transform: uppercase;
    font-size: 12px
}

HTML BODY .i-ljuser-username {
    letter-spacing: .05em
}

HTML BODY .i-ljuser-type-P .i-ljuser-profile {
    display: inline-block;
    width: 12px !important;
    height: 12px !important;
    margin: 0 6px 0 0 !important;
    background-position: -1px -1px;
    background-repeat: no-repeat;
    vertical-align: -2px
}

HTML BODY .i-ljuser-type-P .i-ljuser-userhead {
    opacity: 0;
    filter: alpha(opacity=0)
}

@media print {

    HTML BODY .i-ljuser-type-P .i-ljuser-userhead {
        opacity: 1;
        filter: alpha(opacity=1)
    }
}

.mdspost-article .mdspost-extra-follow__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.mdspost {
    margin: 0;
    padding: 0;
    overflow: hidden
}

.mdspost-goback {
    height: 40px;
    margin: 0;
    background: #052F3D;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 40px
}

.mdspost-goback__link {
    display: none;
    margin: 0;
    color: #CBD0D2
}

.mdspost-goback .mdspost-goback__link:active,
.mdspost-goback .mdspost-goback__link:hover,
.mdspost-goback .mdspost-goback__link:link,
.mdspost-goback .mdspost-goback__link:visited {
    color: #CBD0D2
}

.mdspost-goback__icon {
    margin: 0 5px 0 0;
    vertical-align: -1px;
    fill: #B3C1C5
}

.mdspost-goback__text {
    margin: 0
}

.mdspost-article {
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
    background: #FFF
}

.mdspost-article__entry {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 30px
}

.mdspost-furtherdata {
    padding: 0;
    font-size: 14px;
    list-style: none
}

.mdspost-article__entry::after {
    content: "";
    display: table;
    clear: both
}

.mdspost-entry__wrapper {
    width: 100%;
    max-width: 740px;
    margin-right: 40px
}

.mdspost-article__header {
    position: relative;
    margin: 0 0 23px
}

.mdspost-furtherdata {
    margin: 0 0 24px;
    line-height: 1.2;
    color: #A1AEB2
}

.mdspost-furtherdata__item {
    display: inline;
    margin: 0
}

.mdspost-furtherdata A,
.mdspost-furtherdata A:active,
.mdspost-furtherdata A:focus,
.mdspost-furtherdata A:link,
.mdspost-furtherdata A:visited {
    color: #00BAF8
}

.mdspost-furtherdata A:hover {
    color: #000
}

.mdspost-furtherdata__item::before {
    content: "\00b7";
    margin: 0 .1em;
    font-weight: 700
}

.mdspost-title {
    margin: -3px 0 10px;
    font-weight: 700;
    font-size: 46px;
    line-height: 1
}

.mdspost-text::after {
    content: '';
    clear: both
}

.mdspost-text-container {
    position: relative
}

.mdspost-text {
    overflow: hidden;
    font: 19px/1.45 'PT Serif', Georgia, Times, serif;
    color: #242F33
}

.mdspost-text::after {
    display: table
}

@-moz-document url-prefix() {

    .mdspost-text--styled-first-letter:not(.mdspost-text--punctuation-start)::first-letter,
    .mdspost-text--styled-first-letter:not(.mdspost-text--punctuation-start)>P:first-child::first-letter {
        margin-top: 11px
    }
}

.mdspost-text--styled-first-letter:not(.mdspost-text--punctuation-start)::first-letter {
    float: inherit;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-transform: inherit
}

.mdspost-text> :first-child {
    margin-top: 0 !important
}

.mdspost-text IMG {
    max-width: 100% !important;
    height: auto !important
}

.mdspost-text P {
    margin: 0 0 10px
}

.mdspost-text P:first-child {
    margin-bottom: 13px
}

.mdspost-text A:link {
    color: #00BAF8
}

.mdspost-text A:active,
.mdspost-text A:hover {
    color: #000
}

.mdspost-extra {
    margin-top: 23px
}

.mdspost-extra__follow {
    margin: 38px 0 0
}

.mdspost-extra__follow .mdspost-extra-follow {
    margin: 0 !important;
    padding: 0 !important
}

.mdspost-extra-follow {
    position: relative;
    list-style: none
}

.mdspost-extra-follow::after {
    display: none;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 100%)
}

.mdspost-extra-follow__item {
    position: relative;
    min-height: 50px;
    margin: 0;
    padding: 10px 180px 10px 60px
}

.mdspost-extra-follow__item::before {
    content: none
}

.mdspost-extra-follow__item:first-child {
    padding-top: 16px
}

.mdspost-extra-follow__item:last-child {
    padding-bottom: 16px
}

.mdspost-extra-follow__item::after {
    content: "";
    display: table;
    clear: both
}

.mdspost-extra-follow__userpic {
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    padding: 0;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    font: 0/0 a
}

.mdspost-extra-follow__item:first-child .mdspost-extra-follow__userpic {
    top: 16px
}

.mdspost-extra-follow__pic {
    position: absolute;
    width: 50px;
    height: 50px;
}

.mdspost-extra-follow__username {
    display: block;
    margin: 5px 0;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700
}

.mdspost-extra-follow__item .mdspost-extra-follow__friend {
    position: absolute;
    top: 20px;
    right: 0
}

.mdspost-extra-follow__item:first-child .mdspost-extra-follow__friend {
    top: 26px
}

.mdspost-entry__aside {
    width: 300px;
    margin-right: 50px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.mdspost-article__comments {
    margin: 0;
    padding: 40px 0
}

.mdspost-article .mdspost-furtherdata {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

@media all and (max-width: 1000px) {

    .mdspost-title {
        font-size: 40px
    }

    .mdspost-text-container {
        margin-left: 0
    }

    .mdspost-article__entry {
        display: block;
        width: 100%;
        max-width: 740px;
        margin: 0 auto
    }

    .mdspost-entry__wrapper {
        width: 100%;
        margin: 0
    }

    .mdspost-entry__content {
        margin-right: 0
    }

    .mdspost-entry__aside {
        float: none;
        width: 100%;
        margin: 0;
        padding-top: 30px
    }
}

@media all and (min-width: 550.1px) {
    .mdspost-extra-follow__item .mdspost-extra-follow__friend {
        min-width: 158px
    }
}

@media all and (max-width: 550px) {

    .mdspost-article__entry {
        padding-top: 12px
    }

    .mdspost-furtherdata {
        margin-top: -2px;
        margin-bottom: 12px
    }

    .mdspost-furtherdata {
        font-size: 11px
    }

    .mdspost-article__header--bordered {
        margin-bottom: 20px
    }

    .mdspost-title {
        margin-bottom: 13px;
        font-size: 31px;
        line-height: .98
    }

    .mdspost-text {
        font-size: 18px;
        line-height: 1.4
    }

    .mdspost-text>P {
        overflow: hidden
    }

    .mdspost-text P:first-child {
        margin-bottom: 20px
    }

    .mdspost-extra {
        margin-top: 20px
    }

    .mdspost-extra-follow__item {
        padding-right: 50px
    }

    .mdspost-extra-follow__item .mdspost-extra-follow__friend {
        top: 18px;
        width: 36px;
        height: 36px;
        padding: 0;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        line-height: 48px
    }

    .mdspost .mdspost-extra-follow .mdspost-extra-follow__item .mdspost-extra-follow__friend-text {
        display: none
    }
}

@media all and (max-width: 480px) {
    .mdspost-furtherdata__item {
        display: block
    }
}

.mdspost-article .mdspost-furtherdata {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: .03px;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #8C969B
}

.mdspost-article .mdspost-extra-follow__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
    padding: 0
}

.mdspost-article .mdspost-extra-follow__item:first-child {
    margin-top: 0
}

.mdspost-article .mdspost-extra-follow__item .mdspost-extra-follow__userpic {
    position: static;
    width: 42px;
    height: 42px;
    border-radius: 4px;
    margin-bottom: 13px;
    margin-right: 0
}

.mdspost-article .mdspost-extra-follow__username .ljuser .i-ljuser-profile,
.mdspost-article .mdspost-furtherdata .ljuser .i-ljuser-profile {
    width: auto !important;
    height: auto !important;
    margin-right: 4px !important;
    background-image: none !important
}

.mdspost-article .mdspost-extra-follow__username .ljuser .i-ljuser-userhead,
.mdspost-article .mdspost-furtherdata .ljuser .i-ljuser-userhead {
    opacity: 1 !important;
    vertical-align: baseline !important
}

.mdspost-article .mdspost-extra-follow__username {
    margin: 0 0 16px
}

.mdspost-article .mdspost-extra-follow__username .ljuser .i-ljuser-username,
.mdspost-article .mdspost-furtherdata .ljuser .i-ljuser-username {
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    letter-spacing: inherit
}

.mdspost-article .mdspost-extra-follow__username .ljuser .i-ljuser-username b,
.mdspost-article .mdspost-furtherdata .ljuser .i-ljuser-username b {
    font-weight: 400
}

.mdspost-article .mdspost-extra-follow__item .mdspost-extra-follow__friend {
    position: static;
    min-width: 0;
    font: 400 16px/1 ProximaNova, Helvetica, sans-serif;
    text-transform: none;
    padding: 6px 12px;
    border-radius: 4px;
    border-color: #D4DCE0;
    -webkit-transition: border-color .2s, background-color .2s;
    transition: border-color .2s, background-color .2s
}

.mdspost-article .mdspost-extra-follow__item .mdspost-extra-follow__friend:hover {
    border-color: #BDC8CD
}

@media (max-width: 550px) {
    .mdspost .mdspost-extra-follow .mdspost-extra-follow__item .mdspost-extra-follow__friend-text {
        display: inline-block
    }

    .mdspost-extra-follow__item .mdspost-extra-follow__friend {
        width: auto;
        height: auto
    }
}

.aentry-head__userpanel,
.aentry-head__userpic-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.aentry-post {
    word-wrap: break-word
}

.aentry-head__info a,
.aentry-head__userpic-img {
    text-decoration: none
}

.aentry-head__userpanel {
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.aentry-head__userpic {
    margin-right: 16px
}

.aentry-head__userpic-img {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 8px;
    overflow: hidden
}

.aentry-head__userpic img {
    width: 100%;
    height: auto;
    margin: 0
}

.aentry-head__block {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: calc(100% - 100px);
    min-height: 62px;
    margin: 0 -4px
}

.aentry-head__list {
    min-height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0
}

.aentry-head__info {
    margin: 0 4px 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 0;
    color: #8C969B
}

.aentry-head__info:last-child {
    margin-right: 0
}

.aentry-head__info a {
    color: #8C969B
}

.aentry-head__date {
    margin: 0 4px;
    font-size: 14px;
    font-weight: 400;
    color: #8C969B;
    line-height: 16px;
    letter-spacing: .03px
}

.aentry-head__date TIME {
    margin-right: .5em
}

.aentry-head__rating {
    color: #8C969B
}

.aentry-head__rating::before {
    content: "\00b7";
    margin: 0 .3em 0 .1em;
    font-weight: 700
}

.aentry-head__adv-panel {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 0 0 12px;
    white-space: nowrap
}

@media (max-width: 520px) {
    .aentry-head__adv-panel {
        display: none
    }
}

.aentry-head__adv-panel--post-media {
    margin: 14px 0
}

.mdspost-entry__wrapper .aentry-head__username {
    margin-right: 0
}

.aentry-head__username {
    line-height: 0
}

.aentry-head__username .i-ljuser-username {
    vertical-align: text-bottom;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #00A3D9;
    text-decoration: none
}

.aentry-head__username .i-ljuser-username b {
    font-weight: 400
}

.aentry-head__username .i-ljuser-profile {
    margin-right: 4px !important
}

.aentry-head__username .i-ljuser-profile img {
    margin: 0 !important;
    box-sizing: border-box
}

.aentry-post {
    width: 100%;
    max-width: 772px;
    padding: 0 16px;
    margin: 0 auto 20px;
    box-sizing: border-box
}

.aentry-post.mdspost-entry__content {
    max-width: 740px;
    padding: 0
}

.aentry-post .mdspost-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -.95px
}

.aentry-post .mdspost-title {
    margin-top: 32px
}

.aentry-post__text {
    -webkit-flex-basis: 400px;
    -ms-flex-preferred-size: 400px;
    flex-basis: 400px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.aentry-post__text {
    font: 400 20px/28px 'PT Serif', Georgia, Times, serif
}

.aentry-post__text::after {
    content: "";
    display: block;
    clear: both
}

.aentry-post__text a {
    color: #00A3D9;
    border-bottom: 1px solid rgba(0, 163, 217, .25);
    cursor: pointer
}

.aentry-post__text a:hover {
    color: #00C0FF;
    border-bottom: 1px solid rgba(0, 192, 255, .25)
}

@media (max-width: 1000px) {
    .aentry-post.mdspost-entry__content {
        max-width: 100%;
        margin-right: 0;
        padding: 0
    }
}

@media (max-width: 750px) {
    .aentry-post {
        width: 100%
    }
}

@media (max-width: 520px) {

    .aentry-post__text {
        margin-bottom: 35px
    }

    .aentry-post__text p {
        margin-bottom: 10px
    }
}

.acomments {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto
}

@media (max-width: 1400px) {
    .acomments {
        width: 100%;
        box-sizing: border-box
    }
}

.categories__wrap-inner,
.categories__wrap-outer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.categories {
    font: 14px/1 ProximaNova, Helvetica, sans-serif
}

@media (max-width: 1200px) {
    .categories {
        display: none;
    }
}

.categories__wrap-outer {
    position: relative;
    display: flex;
    justify-content: center;
    height: 54px;
    box-shadow: 0 0 10px 1px rgba(100, 100, 100, .25);
    background: #FFF;
    z-index: 50
}

.categories__wrap-inner {
    position: absolute;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.categories__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.categories__list {
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0
}

.categories__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    list-style: none;
    padding: 0
}

.categories__item:first-child .categories__link {
    padding-left: 0
}

.categories__item:first-child .categories__link::after {
    left: 0;
    width: calc(100% - 12px);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.categories__link {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    color: #333;
    -webkit-transition: color .2s;
    transition: color .2s
}

.categories__link:active,
.categories__link:visited {
    color: #333
}

.categories__link:focus,
.categories__link:hover {
    outline: 0;
    color: #00A3D9
}

.categories__item--more {
    display: none
}

.categories__item--more .categories__link {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: inherit
}

.categories__item--more .categories__link:focus .categories__more-icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.categories__more-icon {
    font-size: 0;
    margin-left: 10px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.categories__more-icon .svgicon {
    fill: #333;
    width: 6px;
    height: 12px
}

@media all and (min-width: 650.1px) {

    @supports ((-webkit-filter:blur(1px)) or (filter:blur(1px))) {}
}

.plista_widget_sidebar {
    background: transparent;
    width: auto;
    height: auto;
    margin: 10px 0 15px 0
}

.plista_widget_sidebar .plistaAllOuter {
    display: block;
    -webkit-font-smoothing: antialiased
}

.plista_widget_sidebar a,
.plista_widget_sidebar a:hover {
    text-decoration: none !important
}

.plista_widget_sidebar .itemLink {
    position: relative;
    display: block;
    text-transform: none;
    text-decoration: none;
    overflow: hidden;
    background: transparent;
    width: auto;
    height: auto;
    float: none;
    border: none;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #EAEEF0
}

.plista_widget_sidebar .plistaHeadline {
    position: relative;
    display: block;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    margin: 0;
    padding: 10px 0 5px;
    font-family: 'ProximaNova', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #242F33
}

.plista_widget_sidebar .itemTitle {
    position: relative;
    display: block;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    margin: 1px 0 6px;
    padding: 0;
    font-family: 'ProximaNova', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 17.6px;
    color: #333
}

.plista_widget_sidebar .itemAuthor {
    position: relative;
    display: block;
    font-style: normal;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    text-align: left;
    margin: 0 0 6px 0;
    padding: 0;
    font-family: 'ProximaNovaRegular', Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.6px;
    font-size: 12px;
    line-height: 16.8px;
    color: #00A3D9
}

.plista_widget_sidebar .itemTimereading {
    position: relative;
    display: inline-block;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    margin: 0;
    padding: 0 0 0 0;
    font-family: 'ProximaNovaRegular', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 16.8px;
    color: #A1AEB2
}

.plista_widget_sidebar .plista_widget_imgwrapper {
    position: relative;
    line-height: 0;
    margin: 3px 3% 3px 0 !important;
    width: 40% !important;
    float: left;
    height: auto !important
}

.plista_widget_sidebar .plista_widget_imgwrapper img {
    border: none;
    width: 100% !important;
    height: auto !important;
    margin: 0;
    padding: 0;
    vertical-align: middle
}

.plista_widget_sidebar .plista_widget_imgwrapper+.itemTitle {
    margin: 1px 0 6px 23%
}

.plista_widget_sidebar .plistaClear {
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 1px
}

@media screen and (max-width: 320px) {

    .plista_widget_sidebar .plista_widget_imgwrapper {
        line-height: 0;
        margin: auto !important;
        width: 100% !important;
        height: auto !important
    }

    .plista_widget_sidebar .plista_widget_imgwrapper img {
        height: auto !important
    }

    .plista_widget_sidebar .plista_widget_imgwrapper+.itemTitle {
        margin: 1px 0 6px 0
    }
}

.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}

._uy {
    font: 400 14px/1 "ProximaNova", Helvetica, sans-serif;
    color: #333;
    border: 0;
    display: inline-flex;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    align-items: center;
    user-select: none;
    justify-content: center;
    text-decoration: none;
    background-color: #FFF;
}

._v0 {
    height: 32px;
    border: 1px solid #D4DCE0;
    padding: 0 15px 2px;
    transition: border-color .2s, background-color .2s, color .2s;
    border-radius: 4px;
}

._v0:not(._v1):hover {
    border-color: #BDC8CD;
}

._v0:not(._v1):focus {
    border-color: #00A3D9;
}

._v0:not(._v1):active {
    background-color: #F9FAFA;
}

._v7 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

._vh .svgicon {
    fill: #C8D4DA;
    max-width: 18px;
    max-height: 18px;
}

._vj {
    width: 32px;
    padding: 0 !important;
    position: relative;
}

._4m {
    height: 17px;
    border: 0;
    display: inline-block;
    padding: 0;
    outline: 0;
    position: relative;
    font-size: 0;
    font-family: inherit;
    background-color: transparent;
}

._4m:active ._4o svg {
    fill: #A8B3B9;
}

._4m:active ._4q {
    color: #A8B3B9;
}

._4m:hover ._4o svg,
._4m:hover svg path {
    fill: #5B5F61;
    transition: fill .2s ease;
}

._4m:hover ._4o .svgicon--lj path:nth-child(2) {
    fill: #FFF;
    transition: fill .2s ease;
}

._4m:hover ._4q {
    color: #5B5F61;
    transition: fill .2s ease;
}

._4o {
    width: 17px;
    height: 17px;
    display: inline-block;
    opacity: 0.5;
    transition: all .2s ease;
}

._4o svg {
    width: 16px;
    height: 16px;
}

._4o .svgicon--lj,
._4o .svgicon--fb,
._4o .svgicon--twitter,
._4o .svgicon--comments {
    width: 17px;
    height: 17px;
}

._4o svg {
    fill: #838B8E;
}

._4q {
    color: #838B8E;
    height: 16px;
    margin: 0 0 0 8px;
    display: inline-block;
    opacity: 0.5;
    font-size: 14px;
    transition: fill .2s ease;
    font-weight: 600;
    line-height: 20px;
    vertical-align: top;
}

._4r {
    opacity: 1;
}

._4s {
    opacity: 1;
}

._4s:visited {
    color: #838B8E;
}

._5d {
    height: 35px;
    display: inline-block;
    position: relative;
    font-size: 0;
}

._5d:hover ._5f .svgicon {
    fill: #5B5F61;
    transition: fill .2s ease;
}

._5d:hover ._5i {
    color: #5B5F61;
    transition: fill .2s ease;
}

._5f {
    width: 16px;
    height: 16px;
    border: 0;
    display: inline-block;
    padding: 0;
    outline: 0;
    transition: all .2s ease;
    background-color: transparent;
}

._5f span {
    width: 16px;
    height: 16px;
    display: inline-block;
}

._5f .svgicon {
    fill: #838B8E;
    width: 16px;
    height: 16px;
}

._5i {
    color: #838B8E;
    height: 16px;
    margin: 0 0 0 8px;
    border: 0;
    display: inline-block;
    outline: 0;
    position: relative;
    font-size: 14px;
    transition: fill .2s ease;
    font-weight: 600;
    line-height: 20px;
    vertical-align: top;
    background-color: transparent;
}

._5i span:focus {
    outline: 0;
}

._5i:visited {
    color: #838B8E;
}

._4c {
    width: 100%;
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
    line-height: 23px;
}

._4d {
    height: 16px;
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
}

._4e {
    margin-right: 24px;
    vertical-align: top;
}

._4f {
    height: 16px;
    display: inline-block;
    font-size: 0;
    transition: fill .2s ease;
}

._4f svg {
    width: 16px;
    height: 16px;
}

._4h {
    margin-left: auto;
}

._4h ._4e:last-child {
    margin-right: 0;
}

._56:last-child {
    margin-right: 0;
}

._57 {
    opacity: 1;
}

@media (max-width: 750px) {
    ._56:last-child {
        margin-right: 24px;
    }
}

@media (max-width: 430px) {
    span._4d._4h._4f {
        display: none;
    }
}

/* >>> file start: stc/schemius_v4/header_v5.css */
.s-logo {
    float: left
}

.s-header-item__link,
.s-logo,
.s-logo-link {
    box-sizing: border-box
}

.s-logo {
    background: 0 0 !important
}

.s-header-in,
.s-logo {
    overflow: visible;
    height: 60px
}

.s-header {
    position: absolute;
    z-index: 1005;
    top: 0;
    width: 100%;
    min-width: 1000px;
    padding: 0;
    text-align: left;
    font: 600 13px/60px ProximaNova, Helvetica, sans-serif !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

.s-header DIV {
    visibility: visible;
    cursor: default;
    border: none
}

.s-header A:hover,
.s-header A:link,
.s-header A:visited {
    height: auto;
    -webkit-filter: none;
    filter: none;
    cursor: pointer !important
}

HTML BODY .s-header {
    opacity: 1 !important
}

.html-adaptive .s-header {
    position: relative;
    top: auto;
    width: auto
}

.s-header-in,
.s-logo {
    top: 0;
    right: 0;
    left: 0
}

.s-header-in {
    position: relative;
    z-index: 4998;
    width: 100%;
    background: #004359 !important;
    font: inherit !important
}

.s-header-in * {
    line-height: inherit !important;
    font-size: inherit !important;
    text-transform: uppercase !important
}

HTML BODY .s-header-item .b-flatbutton,
HTML BODY .s-header-item__link {
    border: none !important;
    text-shadow: none;
    font: inherit !important
}

HTML BODY .s-header-item .b-flatbutton {
    line-height: 1 !important;
    text-transform: inherit !important;
    color: #FFF !important
}

HTML BODY .s-header-item .b-flatbutton,
HTML BODY .s-header-item__link {
    text-decoration: none !important;
    font-size: 13px;
    font-weight: 600 !important
}

HTML BODY .s-header-item__link {
    background-color: inherit !important;
    color: #FFF !important
}

HTML BODY .s-header-item__link:hover {
    border: none !important;
    background: 0 0 !important;
    color: #829399 !important
}

.s-logo {
    position: relative;
    width: 199px;
    padding-left: 15px;
    font: inherit !important;
    -webkit-transition: width .3s ease-in;
    transition: width .3s ease-in
}

.s-logo-link {
    overflow: hidden;
    display: inline-block;
    height: 60px;
    max-width: 100%;
    padding: 15px 0;
    vertical-align: top
}

HTML BODY .s-logo-link,
HTML BODY .s-logo-link:hover {
    border: none;
    background-color: inherit;
    cursor: pointer !important
}

.s-logo-title {
    display: block;
    background-image: url(img/logo.svg);
    width: 165px;
    height: 30px;
    background-position: left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    text-shadow: none;
    font: 0/0 a !important;
    color: transparent !important;
    cursor: pointer !important
}

.s-header-item__link {
    text-transform: uppercase !important
}

.s-header__nav {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    font: inherit !important;
    text-transform: inherit !important
}

.s-header-item,
.s-nav-body {
    margin: 0;
    padding: 0;
    list-style: none;
    background: 0 0;
    font: inherit !important;
    text-transform: inherit !important
}

.s-header-item {
    position: relative
}

.s-header-item--right {
    float: right
}

.s-header-item-post--long {
    color: inherit !important;
    text-transform: inherit !important;
    cursor: inherit !important
}

.s-header-item--signup .b-flatbutton {
    margin-top: 12px
}

.s-nav-item {
    z-index: 10;
    float: left;
    padding-right: 10px;
}

.s-header-item__link {
    display: block;
    max-height: 60px;
    padding: 0 12px;
    outline: 0;
    letter-spacing: .05em !important;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s
}

.s-header-item__link--icon {
    padding-left: 30px !important
}

.s-header-item__link--icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -2px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.s-header-item__link--fire-icon::before {
    width: 14px;
    height: 18px;
    background-image: url(img/svg1.svg);
}

.s-do {
    float: right;
    height: 60px;
    margin: 0;
    padding: 0;
    font: inherit !important;
    text-transform: inherit !important
}

.pagewide-wrapper {
    position: static;
    width: auto
}

/* <<< file end: stc/schemius_v4/header_v5.css */
/*# map link was there [header_v5.css.map] */
/* >>> file start: stc/schemius_v4/header_v5-adaptive.css */
.s-header {
    min-width: 240px
}

.s-nav-body--common {
    right: 100%;
    left: -100%
}

@media (max-width: 960px) {
    .s-logo {
        width: 45px
    }
}

@media (min-width: 611px) {
    BODY .s-header--logged-out .s-header-item__link {
        padding: 0 10px
    }

    BODY .s-header--logged-out .s-header-item__link--icon {
        padding-left: 30px !important
    }
}

@media (max-width: 610px) {

    .s-logo {
        position: absolute;
        top: 0;
        right: 60px;
        left: 60px;
        width: auto;
        padding: 0;
        text-align: center
    }

    .s-header--logged-out .s-do {
        display: none
    }

    .s-nav-item {
        margin-bottom: -1px;
        border-top: 1px solid #00394D;
        border-bottom: 1px solid #00394D
    }

    .s-nav-item.s-nav-item-login {
        margin-bottom: 0;
        border: none
    }

    .s-nav-body--convertible {
        position: fixed;
        top: 0;
        bottom: 0;
        visibility: hidden;
        overflow-y: auto;
        -webkit-transition: .2s ease;
        transition: .2s ease;
        -webkit-transition-property: right, left, visibility;
        transition-property: right, left, visibility;
        -webkit-transition-delay: 0s, 0s, .2s;
        transition-delay: 0s, 0s, .2s;
        background: #003040
    }

    .s-nav-body--convertible .s-nav-item {
        float: none;
        overflow: hidden
    }

    .s-nav-body--convertible .s-header-item__link {
        padding: 1em 24px .7em;
        line-height: 1.4 !important
    }

    .s-nav-body--convertible .s-header-item__link--icon {
        padding: 1em 24px .7em 4.46em !important
    }

    .s-nav-body--convertible .s-header-item__link--icon::before {
        left: 28px;
        margin-top: 0
    }

    .s-nav-item-signup .b-flatbutton,
    .s-nav-item-signup .b-flatbutton:link,
    .s-nav-item-signup .b-flatbutton:visited {
        background: 0 0
    }

    .s-nav-item-signup .b-flatbutton {
        padding: 0 24px;
        line-height: 40px
    }

    .s-nav-body--convertible .s-header-item__link:focus,
    .s-nav-body--convertible .s-header-item__link:hover {
        background: #004359 !important
    }

    .html-adaptive .body-content,
    BODY {
        position: relative;
        left: 0;
        -webkit-transition: left .2s ease;
        transition: left .2s ease
    }

    BODY.s-schemius {
        left: auto;
        -webkit-transition: none;
        transition: none
    }
}

.s-nav-nojs-control-login {
    display: none
}

@media (max-width: 610px) {

    .html-adaptive .body-content {
        -webkit-transition: none;
        transition: none
    }
}

button {
    overflow: visible
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

b {
    font-weight: bolder
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button {
    text-transform: none
}

button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

BODY {
    margin: 20px 0
}

.s-footer A,
A,
A:visited {
    text-decoration: none
}

BODY,
HTML {
    height: 100%
}


.s-footer-nav LI {
    letter-spacing: .05em;
    text-transform: uppercase
}

@media (min-width: 1366px) {
    BODY {
        font-size: 16px
    }
}

A {
    color: #00A3D9
}

A:visited {
    color: #007399
}

A:active,
A:focus,
A:hover {
    text-decoration: none;
    color: #0086B3
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: ''
}

.s-body:after,
.s-layout:after {
    content: ""
}

.clearfix:after {
    clear: both
}

.s-schemius {
    min-width: auto
}

@media (max-width: 650px) {
    .s-body {
        padding-bottom: 0
    }
}

.s-footer,
.s-layout {
    position: relative
}

.s-layout {
    min-height: 100%;
    margin: 0 auto -210px
}

.p-ljtimes .s-layout {
    margin-bottom: -260px
}

.p-ljtimes .s-layout:after {
    height: 260px
}

.s-body {
    padding: 0;
    text-align: left
}

.s-body:after {
    display: table;
    clear: both;
    border-collapse: collapse
}

@media (max-width: 650px) {
    .p-ljtimes .s-layout {
        margin-bottom: -461px
    }
}

.s-footer {
    margin: 0;
    border-top: 3px solid #00394c;
    background: #004359;
    font-size: 13px;
    font-family: ProximaNova, sans-serif;
    font-weight: 600;
    color: #8faab2
}

.p-ljtimes .s-footer {
    margin-bottom: 0;
    padding-bottom: 40px
}

@media (max-width: 650px) {
    .p-ljtimes .s-footer {
        margin-top: 0;
        padding-bottom: 0
    }

    .p-ljtimes .s-footer:after,
    .s-footer:after {
        content: '';
        display: table;
        clear: both
    }

    .s-footer-nav {
        margin-bottom: 1.45em
    }
}

.s-footer-in {
    padding: 35px 40px 0
}

.s-footer UL {
    padding: 0;
    margin: 0
}

.s-footer LI,
.s-footer UL {
    list-style: none
}

.s-footer A:link,
.s-footer A:visited {
    color: #FFF
}

.s-footer A:active,
.s-footer A:focus,
.s-footer A:hover {
    color: #00a3d9
}

.s-footer-nav {
    text-align: center;
}

.s-footer-nav LI {
    display: inline;
    margin: 0 2.3em 0 0;
    padding: 0
}

.s-footer-nav A {
    display: inline-block;
    padding: 1em;
    margin: -1em
}

.lintroug {
    text-decoration: line-through;
}

@media screen and (max-width: 950px) and (min-width: 650px) {
    .s-footer-in {
        padding-right: 20px;
        padding-left: 20px
    }
}

@media screen and (max-width: 650px) {

    .s-footer,
    .s-footer-nav LI {
        margin: 0;
        text-align: center
    }

    .s-footer {
        height: auto
    }

    .s-footer-in {
        padding: 35px 20px 0
    }

    .s-footer-nav {
        float: none
    }

    .s-footer-nav LI {
        display: block;
        padding: .7em;
        border-bottom: 1px solid #004c67
    }
}

@media print {

    .s-footer,
    .s-header,
    .s-layout:after,
    BUTTON {
        display: none
    }

    * {
        -webkit-transition: none !important;
        transition: none !important
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

/* .commits__body {} */

.wrap-btn {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px !important;

}

.wrap-btn__btn {
    display: inline-block;
    padding: 10px 60px;
    background-color: #00BAF8;
    color: #fff !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.wrap-btn__btn:hover {
    background-color: #30cbff;
}

.commits {
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px
}

.send-message {
    margin-top: 30px;
}

.commits__title {
    margin-bottom: 15px;
    font-size: 24px
}

.commits__item+.commits__item {
    padding-top: 25px
}

.commits__item.hide .commits__add {
    display: none
}

.commits__item+.commits__item {
    margin-top: 20px;
    border-top: 1px solid #eaeaea
}

.commits__item:first-child {
    padding-top: 0
}

.commits__head {
    display: flex;
    align-items: center;
    margin-bottom: 5px
}

.commits__face {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: gray;
    overflow: hidden
}

.commits__face img {
    display: block;
    width: 100%
}

.commits__name {
    font-size: 14px
}

.commits__date {
    font-size: 12px
}

.commits__description {
    color: #000;
    line-height: 24px
}

.commits__media {
    margin-top: 10px
}

.commits__success {
    display: inline-block;
    padding: 5px 15px;
    margin-top: 20px;
    font-style: italic;
    font-size: 12px;
    background-color: #e2e2e2
}

.commits__media img {
    display: block;
    max-width: 100%
}

.commits__add-title {
    margin-bottom: 10px
}

.commits__field-name {
    display: block;
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #b9b7b7
}

.commits__field-message {
    display: block;
    width: 100%;
    height: 100px;
    max-width: 500px;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #b9b7b7
}

.commits__item_hide {
    display: none
}

.commits_error {
    border-color: red
}

.commits__sucses {
    background-color: #a1caa6;
    color: #fff;
    display: inline-block;
    padding: 7px 20px;
    margin-top: 15px;
    font-style: italic
}

.commits__add-btn {
    display: inline-block;
    padding: 10px 25px;
    font-size: 12px;
    color: #ffffff;
    background-color: #b10000;
    text-decoration: none;
    opacity: .9;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    cursor: pointer
}

.commits__add-btn:hover {
    transform: scale(.98);
    opacity: 1
}

.mybtn {
    display: inline-block;
    padding: 10px 25px;
    font-size: 12px;
    color: #ffffff;
    background-color: #b10000;
    text-decoration: none;
    opacity: .9;
    text-transform: uppercase
}

.mybtn:hover {
    transform: scale(.98);
    opacity: 1
}

@media(max-width:480px) {
    .commits__description {
        font-size: 14px
    }

    .commits__sucses {
        font-size: 12px
    }
}


img {
    display: block;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .mdspost-entry__aside {
        display: none;
    }
}

@media (max-width: 480px) {
    .aentry-post .mdspost-title {
        font-size: 28px;
        line-height: 1.2;
    }

    .mdspost-text p {
        overflow: visible;
    }

    .mdspost-text p>img {
        margin-left: -15px;
        margin-right: -15px;
        max-width: calc(100% + 30px) !important;
    }

    .mdspost-text {
        overflow: visible;
    }

    .wrap-btn__btn {
        display: block;
    }
}