html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
  outline: none;
}

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif, Tahoma, Verdana;
  font-weight: 300;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
  border: 0;
}

button {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.hideScroll {
  overflow: hidden;
}

@media (min-width: 769px) {
  .hideScroll {
    overflow: auto !important;
    padding-right: 0 !important;
  }
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #3cd52d;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

.btn:hover {
  background-color: rgba(60, 213, 45, 0.8);
}

@media (max-width: 768px) {
  .btn {
    padding: 1rem;
    font-size: 14px;
  }
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

/*
 *  Owl Carousel - Core
 */

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */

.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../plugin/owl-carousel/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.articlesSlide {
  margin-top: -1rem;
}

.articlesSlide .owl-dot {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.62) !important;
  border-radius: 50%;
  margin-right: .5rem;
  margin-left: .5rem;
}

.articlesSlide .owl-dot:focus {
  outline: 0;
}

.articlesSlide .owl-dot.active {
  background-color: #000;
  border: 1px solid black !important;
}

.articlesSlide .owl-dots {
  text-align: center;
  padding: 1rem 0;
}

.articlesSlide__item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 15px;
  -webkit-box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.35);
  background-color: #fff;
}

.articlesSlide__media {
  margin-right: -15px;
  margin-bottom: 2rem;
  margin-left: -15px;
}

.articlesSlide__description {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 400;
}

.articlesSlide__date {
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: .5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-align: right;
}

.articlesSlide__date span {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
}

.articlesSlide__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.articlesSlide__face {
  margin-right: .5rem;
}

@media (max-width: 1200px) {
  .articlesSlide__media {
    margin-bottom: 1rem;
  }

  .articlesSlide__description {
    margin-bottom: .5rem;
    font-weight: 300;
  }
}
.authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  min-height: 80px;
  margin-bottom: 10rem;
}

.authorization__item {
  cursor: pointer;
}

.authorization__logo {
  width: 140px;
}

.authorization__item_right {
  margin-left: auto;
}

@media (max-width: 768px) {
  .authorization {
    margin-bottom: 3rem;
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  margin-bottom: 2rem;
}

.footer__copyright {
  width: 100%;
}

@media (max-width: 980px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .network__icon {
    width: 40px;
  }
}

@media (max-width: 480px) {
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 3rem;
  margin-left: 5rem;
}

.footerNav__item + .footerNav__item {
  margin-left: 3rem;
}

.footerNav__list + .footerNav__list {
  margin-top: 1rem;
}

.footerNav__link {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.68);
  -webkit-transition: .3s;
  transition: .3s;
  padding: 5px 10px;
}

.footerNav__link:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 980px) {
  .footerNav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .footerNav__item + .footerNav__item {
    margin-left: 1rem;
  }

  .footerNav__link {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .footerNav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .footerNav__item {
    margin-bottom: 2rem;
  }

  .footerNav__item + .footerNav__item {
    margin-left: 0;
  }
}
.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: auto;
  margin-right: 15px;
  margin-left: 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: auto;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 15px;
  margin-bottom: auto;
  margin-left: 15px;
  padding-top: 3rem;
}

.header__logo {
  width: 160px;
}

.header__entrance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__logo {
    width: 110px;
  }
}
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 4rem;
  color: #fff;
}

.home__logo {
  margin-right: auto;
}

.home__working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 45%;
  text-align: right;
}

.home__employer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 45%;
  text-align: left;
}

.home__title {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
}

.home__title span {
  display: block;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
}

.home__description {
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-size: 26px;
}

.home__description span {
  display: block;
  font-weight: 300;
  font-size: 26px;
}

.home__count {
  margin-bottom: 3.5rem;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
}

.home__count span {
  display: block;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
}

.home__more {
  position: relative;
  z-index: 1;
}

.home__more::after {
  position: absolute;
  top: 8px;
  left: -8px;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  border: 1px solid #39d52c;
}

.home__more_colorBlack::after {
  border: 1px solid #111111;
}

.home__more_colorBlack .home__btn::before {
  background-color: #111111;
}

.home__btn {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

.home__btn:hover {
  top: 8px;
  left: -8px;
  text-decoration: none;
}

.home__btn::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  background-color: #39d52c;
}

@media (max-width: 1200px) {
  .home__title {
    font-size: 38px;
  }

  .home__title span {
    font-size: 38px;
  }

  .home__description {
    font-size: 22px;
  }

  .home__description span {
    font-size: 22px;
  }

  .home__count {
    font-size: 22px;
  }

  .home__count span {
    font-size: 22px;
  }
}

@media (max-width: 980px) {
  .home__title {
    font-size: 28px;
  }

  .home__title span {
    font-size: 28px;
  }

  .home__description {
    font-size: 18px;
  }

  .home__description span {
    font-size: 18px;
  }

  .home__count {
    font-size: 18px;
  }

  .home__count span {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .home__working {
    width: auto;
    margin-bottom: 6rem;
  }

  .home__employer {
    width: auto;
  }

  .home__more::after {
    top: 4px;
    left: -4px;
  }

  .home__btn {
    padding: .5rem 1rem;
    font-size: 14px;
    font-weight: 300;
  }

  .home__btn:hover {
    top: 4px;
    left: -4px;
  }
}
.jobOpenings {
  margin-top: -1rem;
}

.jobOpenings .owl-dot {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.62) !important;
  border-radius: 50%;
  margin-right: .5rem;
  margin-left: .5rem;
}

.jobOpenings .owl-dot:focus {
  outline: 0;
}

.jobOpenings .owl-dot.active {
  background-color: #000;
  border: 1px solid black !important;
}

.jobOpenings .owl-dots {
  text-align: center;
  padding: 1rem 0;
}

.jobOpenings__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 15px;
  -webkit-box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.jobOpenings__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.jobOpenings__head-icon:nth-child(2) {
  margin-left: 1rem;
}

.jobOpenings__head-icon_last {
  margin-left: auto;
}

.jobOpenings__media {
  margin-right: auto;
  margin-bottom: 1rem;
  margin-left: auto;
}

.jobOpenings__title {
  margin-bottom: .5rem;
  font-weight: 700;
  font-size: 20px;
}

.jobOpenings__intro {
  margin-bottom: .5rem;
  font-weight: 700;
  font-size: 16px;
  color: #3cd52d;
}

.jobOpenings__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: .5rem;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
}

.jobOpenings__price img {
  width: auto !important;
  margin-right: .5rem;
}

.jobOpenings__city {
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  color: #ababab;
}

.jobOpenings__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jobOpenings__footer-item {
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.jobOpenings__footer-item + .jobOpenings__footer-item {
  margin-left: 6px;
}

@media (max-width: 1200px) {
  .jobOpenings__footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .jobOpenings__footer-item {
    padding: 5px 10px;
    margin-right: 2px;
    margin-left: 2px;
  }

  .jobOpenings__footer-item + .jobOpenings__footer-item {
    margin-left: auto;
  }
}
.lookJobOpenings {
  display: block;
  text-align: center;
}
.nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.nav__item + .nav__item {
  margin-left: 1.5rem;
}

.nav__link {
  font-weight: 400;
  color: #7c7d7d;
}

.nav__link:hover {
  text-decoration: none;
}

@media (min-width: 769px) {
  .nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    opacity: 1 !important;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
  }

  .nav__item + .nav__item {
    margin-top: 1rem;
    margin-left: 0;
  }
}
.navOpen {
  display: none;
}

@media (max-width: 768px) {
  .navOpen {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    position: relative;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 5px;
    cursor: pointer;
  }

  .navOpen_active span:first-child {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .navOpen_active span:nth-child(2) {
    display: none;
  }

  .navOpen_active span:last-child {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .navOpen span {
    width: 30px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    -webkit-transition: .3s;
    transition: .3s;
  }
}
.network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.network__title {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.network__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.network__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid #3cd52d;
}

.network__icon + .network__icon {
  margin-left: 1rem;
}
.pageHome {
  background: #39d52c;
  background: linear-gradient(98deg, #111111 0%, #111111 50%, #39d52c 50.1%, #39d52c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#39d52c',GradientType=0 );
}

@media (max-width: 768px) {
  .pageHome {
    background: linear-gradient(176deg, #111111 0%, #111111 50%, #39d52c 50.1%, #39d52c 100%);
  }
}
.pageIntro {
  padding-top: 5rem;
  text-align: center;
  padding-bottom: 5rem;
}

.pageIntro__title {
  margin-bottom: 3rem;
  color: #1d1d1d;
  font-size: 60px;
  font-weight: 400;
}

.pageIntro__description {
  margin-bottom: 3rem;
  color: #1d1d1d;
  font-size: 28px;
  font-weight: 400;
}

.pageIntro__description span {
  display: block;
  color: #1d1d1d;
  font-size: 28px;
  font-weight: 400;
}

.pageIntro__count {
  margin-bottom: 2.5rem;
  color: #1d1d1d;
  font-size: 28px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .pageIntro__title {
    margin-bottom: 1.5rem;
    font-size: 40px;
  }

  .pageIntro__description {
    margin-bottom: 1.5rem;
    font-size: 20px;
  }

  .pageIntro__description span {
    font-size: 20px;
  }

  .pageIntro__count {
    margin-bottom: 1.5rem;
    font-size: 22px;
  }
}
.partnersCompany {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.partnersCompany__description {
  width: calc(50% - 100px);
  color: #1d1d1d;
  font-size: 24px;
  font-weight: 300;
}

.partnersCompany__search {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 1200px) {
  .partnersCompany__description {
    width: calc(50% - 50px);
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .partnersCompany__description {
    margin-bottom: 2rem;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
}
.partnersSlide {
  width: 50%;
}

.partnersSlide .owl-dot {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.62) !important;
  border-radius: 50%;
  margin-right: .5rem;
  margin-left: .5rem;
}

.partnersSlide .owl-dot:focus {
  outline: 0;
}

.partnersSlide .owl-dot.active {
  background-color: #000;
  border: 1px solid black !important;
}

.partnersSlide .owl-dots {
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .partnersSlide {
    width: 100%;
  }
}
.request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.request__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request__form input {
  padding: 1rem;
  border-radius: 5px 0 0 5px;
  background-color: #000000;
  color: #fff;
}

.request__form input::-webkit-input-placeholder {
  color: #fff;
}

.request__form input::-moz-placeholder {
  color: #fff;
}

.request__form input:-ms-input-placeholder {
  color: #fff;
}

.request__form input::-ms-input-placeholder {
  color: #fff;
}

.request__form input::placeholder {
  color: #fff;
}

.request__form button {
  border-radius: 0 5px 5px 0;
}

@media (max-width: 768px) {
  .request__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .request__form input {
    margin-bottom: .5rem;
    border-radius: 5px;
  }

  .request__form button {
    border-radius: 5px;
  }
}
.section {
  background-color: #ffffff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section_face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #f5f7f6;
}

.section_f5f7f6 {
  background-color: #f5f7f6;
}

.section_000 {
  background-color: #000;
}

.section__title {
  margin-bottom: 3rem;
  color: #1d1d1d;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 1200px) {
  .section__title {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .section__title {
    margin-bottom: 1.5rem;
    font-size: 28px;
  }
}
.whyBudu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #111;
}

.whyBudu__item {
  width: 30%;
  background-color: #f5f7f6;
  padding: 15px 15px 40px 15px;
}

.whyBudu__media {
  margin-bottom: 1rem;
}

.whyBudu__title {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 26px;
}

.whyBudu__description {
  font-weight: 300;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .whyBudu__title {
    font-size: 20px;
  }

  .whyBudu__description {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .whyBudu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .whyBudu__item {
    max-width: 290px;
    width: auto;
  }

  .whyBudu__item + .whyBudu__item {
    margin-top: 1.5rem;
  }
}