
.brand__title {
    margin-left: 245px;
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;

    & span {
        display: block;
        font-size: inherit;
    }

    & mark {
        font-family: 'Bebas';
        font-size: 150px;
        font-weight: 700;
        background-color: transparent;
        display: table;
        background: -o-linear-gradient(0deg, #76c5af 33%, #a3cc38);
        background: linear-gradient(0deg, #76c5af 33%, #a3cc38);
        color: #76c5af;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.brand__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.66);
    padding-top: 30px;
    padding-bottom: 30px;
}

.brand__footer-title {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}

.brand__footer-subTitle {
    font-size: 24px;
    text-align: center;

    & mark {
        font-size: inherit;
        font-weight: 500;
        color: #c83c8a;
        background-color: transparent;
    }
}

@media(max-width: 1030px) {
    .brand__title {
        font-size: 28px;
        margin-left: 240px;

        & mark {
            font-size: 80px;
        }
    }

    .brand__footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .brand__footer-title {
        font-size: 22px;
    }

    .brand__footer-subTitle {
        font-size: 18px;
    }
}

@media(max-width: 768px) {
    .brand__title {
        font-size: 20px;
        margin-left: 100px;

        & mark {
            font-size: 60px;
        }
    }

    .brand__footer-title {
        font-size: 18px;
    }

    .brand__footer-subTitle {
        font-size: 16px;
    }
}

@media(max-width: 480px) {
    .brand__title {
        margin-left: 0;
        text-align: center;
        font-size: 28px;
        margin-bottom: 20px;
        font-weight: 700;
        font-family: 'Bebas';
        color: #c83c8a;
        line-height: .9;

        & mark {
            display: inline;
            font-size: 60px;
        }
    }

    .brand__footer-title {
        font-size: 16px;
    }

    .brand__footer-subTitle {
        font-size: 14px;
    }
}
