
.health__title {
    margin-bottom: 40px;
    display: block;
    font-size: 36px;
    text-align: center;

    & span {
        display: inline-block;
        font-family: 'Bebas';
        font-size: 72px;
        font-weight: 700;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(33%, #76c5af), to(#a3cc38));
        background: linear-gradient(0deg, #76c5af 33%, #a3cc38);
        color: #76c5af;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
}

.health__subTitle {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
}

.health__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 100px;
    background-image: url('../media/health/bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 430px;
}

.health__group {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & + & {
        margin-top: 60px;
    }

    &:nth-of-type(1) {
        .health__item {
            &:first-child {
                margin-left: 145px;
            }

            &:last-child {
                margin-right: 148px;
            }
        }
    }

    &:nth-of-type(2) {
        .health__item {
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 80px;
            }
        }
    }

    &:nth-of-type(3) {
        .health__item {
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 31px;
            }
        }
    }

    &:nth-of-type(4) {
        .health__item {
            &:first-child {
                margin-left: 81px;
            }

            &:last-child {
                margin-right: 11px;
            }
        }
    }
}

.health__item {
    padding-left: 40px;
    position: relative;
    font-size: 24px;

    &:first-child {
        text-align: right;
        padding-right: 40px;
        padding-left: 0;

        &::before {
            left: auto;
            right: 0;
        }
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../media/health/check.png');
        background-repeat: no-repeat;
        width: 33px;
        height: 32px;
        content: '';
    }

    & b {
        font-size: inherit;
        font-weight: 500;
    }

    & span {
        display: block;
        font-size: inherit;
    }
}

.health__btn {
    text-align: center;
    margin-bottom: -37px;
}

@media(max-width: 1030px) {
    .health__title {
        margin-bottom: 20px;
        font-size: 72px;
        color: #c83c8a;
        font-family: 'Bebas';
        line-height: .9;
        text-align: left;

        & span {
            font-size: inherit;
            display: inline;
            text-align: left;
        }
    }

    .health__subTitle {
        font-size: 20px;
    }

    .health__box {
        background-size: 340px;
    }

    .health__group {
        & + & {
            margin-top: 30px;
        }

        &:nth-of-type(1) {
            .health__item {
                &:first-child {
                    margin-left: 69px;
                }

                &:last-child {
                    margin-right: 67px;
                }
            }
        }

        &:nth-of-type(2) {
            .health__item {
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 51px;
                }
            }
        }

        &:nth-of-type(3) {
            .health__item {
                &:first-child {
                    margin-left: 7px;
                }

                &:last-child {
                    margin-right: 31px;
                }
            }
        }

        &:nth-of-type(4) {
            .health__item {
                &:first-child {
                    margin-left: 58px;
                }

                &:last-child {
                    margin-right: 14px;
                }
            }
        }
    }

    .health__item {
        font-size: 16px;
    }

    .health__btn {
        margin-bottom: 0;
    }
}

@media(max-width: 768px) {
    .health__title {
        font-size: 60px;
    }

    .health__subTitle {
        margin-bottom: 20px;
        font-size: 18px;
        letter-spacing: 0;
        text-align: left;
    }

    .health__box {
        background-image: none;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 30px;
    }

    .health__group {
        & + & {
            margin-top: 30px;
        }

        &:nth-of-type(1) {
            .health__item {
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &:nth-of-type(2) {
            .health__item {
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &:nth-of-type(3) {
            .health__item {
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &:nth-of-type(4) {
            .health__item {
                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .health__item {
        width: calc(50% - 15px);

        &:first-child {
            text-align: left;
            padding-left: 40px;
            padding-right: 0;

            &::before {
                left: 0;
                right: auto;
            }
        }
    }
}

@media(max-width: 480px) {
    .health__title {
        font-size: 28px;
        text-align: center;
        line-height: 1;
        color: #000;

        & span {
            display: inline;
            text-align: center;
            color: #c83c8a;
            background: none;
            -webkit-text-fill-color: #c83c8a;
        }
    }

    .health__subTitle {
        text-align: center;
        font-size: 16px;
    }

    .health__group {
        & + & {
            margin-top: 15px;
        }
    }

    .health__item {
        font-size: 14px;
        padding-left: 25px;

        &:first-child {
            padding-left: 25px;
        }

        &::before {
            width: 20px;
            height: 20px;
            background-size: cover;
        }
    }
}
