
.popular {
    position: relative;
}

.popular__product {
    position: absolute;
    bottom: -40px;
    right: -80px;
    width: 252px;
    height: 455px;
    background-image: url('../media/popular/product.png');
    background-size: cover;
}

.popular__title {
    margin-bottom: 40px;
    font-size: 90px;
    color: #c83c8a;
    font-family: 'Bebas';
    font-weight: 700;
    line-height: .9;

    & span {
        display: block;
        font-size: 36px;
        font-family: 'Mont';
        font-weight: 400;
        color: #2e2e2e;
    }
}

.popular__description {
    font-size: 18px;
    max-width: 505px;

    & span {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: inherit;
    }

    & mark {
        font-weight: 500;
        color: #2f9892;
        background-color: transparent;
        font-size: inherit;
    }

    & b {
        font-weight: 700;
        font-size: inherit;
    }
}

@media(max-width: 1030px) {
    .popular__product  {
        width: 130px;
        height: 247px;
        bottom: -40px;
        right: 65px;
    }

    .popular__title {
        font-size: 80px;
        margin-bottom: 20px;

        & span {
            font-size: 28px;
        }
    }

    .popular__description {
        font-size: 16px;
        max-width: 450px;
    }
}

@media(max-width: 768px) {
    .popular {
        padding-bottom: 50px;
    }

    .popular__product {
        width: 100px;
        height: 190px;
        bottom: -50px;
        right: 0px;
    }

    .popular__title {
        font-size: 60px;
        margin-bottom: 20px;

        & span {
            font-size: 28px;
        }
    }

    .popular__description {
        font-size: 16px;
        max-width: 100%;

        & mark {
            display: block;
            max-width: 260px;
        }
    }
}

@media(max-width: 480px) {
    .popular__product {
        width: 70px;
        height: 134px;
        bottom: -18px;
        right: 40px;
    }

    .popular__title {
        font-size: 28px;
        text-align: center;

        & span {
            font-family: 'Bebas';
            display: inline;
            color: #c83c8a;
            font-size: inherit;
        }
    }

    .popular__description {
        font-size: 14px;
        max-width: none;
    }
}

@media(max-width: 370px) {
    .popular__product {
        display: none;
    }
}
