
.popup__box {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    overflow-y: auto;
}

.popup__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.popup__subTitle {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.popup__description {
    font-size: 18px;
    margin-bottom: 15px;

    & + & {
        margin-bottom: 5px;
    }
}

.popup__btn {
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #bbbbbb     ;
}

.popup__close {
    margin-top: 15px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 8px 30px;
    background-color: #44aca6;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background-color;

    &:hover {
        background-color: #4ecec6;
    }
}

@media(max-width: 768px) {
    .popup__title {
        font-size: 22px;
    }

    .popup__subTitle {
        font-size: 18px;
    }

    .popup__description {
        font-size: 16px;
    }
}

@media(max-width: 480px) {
    .popup__subTitle {
        font-size: 16px;
    }

    .popup__description {
        font-size: 14px;
    }

}
