
<section class="section section_chance">
    <div class="container">
        <div class="chance">
            <div class="chance__title wow bounceInLeft" data-wow-offset="200">
                У вас еще есть <span>шанс <mark>все изменить!</mark></span>
            </div>
            <div class="chance__btn">Заказать <b>по акции</b></div>
        </div>
    </div>
</section>

<section class="section section_chance-footer">
    <div class="container">
        <div class="chance">
            <div class="chance__footer">
                <div class="chance__sub-title wow bounceInLeft" data-wow-offset="200">Аналогов Алкотоксу нет!</div>
                <div class="chance__list">
                    <div class="chance__item">возвращает к трезвой жизни без последствий </div>
                    <div class="chance__item">помогает даже на последней стадии алкоголизма</div>
                    <div class="chance__item">не имеет вкуса и запаха</div>
                </div>
            </div>
        </div>
    </div>
</section>
