
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title">Отзывы</div>
            <div class="commits__sub-title">об Alcotox</div>
            <div class="commits__slide owl-carousel js-commits__slide">
                <div class="commits__item">
                    <div class="commits__item-head">Анонимно, 36 лет</div>
                    <div class="commits__item-body">
                        <!-- <div class="commits__item-face">
                            <img src="../media/commits/face-1.png" alt="">
                        </div> -->
                        <div class="commits__item-description">
                            Всегда считал, что алкоголь – это хорошее времяпровождение. Сначала по субботам употреблял, а потом стал пить каждый вечер. Только в 35 лет понял, в какое ничтожество я превратился. Захотелось все поменять и бросить пить. Нервные срывы, психоз, срывался на близких. Помог только Alcotox. Тяга к алкоголю сошла на нет. Агрессии не было, просто не хотел пить и все. А потом появилось отвращение. После курса не пью 8 месяцев.
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__item-head">Стефан, 32 года</div>
                    <div class="commits__item-body">
                        <!-- <div class="commits__item-face">
                            <img src="../media/commits/face-1.png" alt="">
                        </div> -->
                        <div class="commits__item-description">
                            Мой дед все время пил. Он пропивал всю пенсию и клянчил деньги у родных. Заказали ему Alcotox, он только посмеялся. Пошли на компромисс: мы ему деньги, а он пьет Alcotox. В итоге он перестал принимать деньги, говорит, что не нужны. В пьяном виде больше не появляется, стал ходить на рыбалку и радуется жизни.
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__item-head">Карлос, 39 лет</div>
                    <div class="commits__item-body">
                        <!-- <div class="commits__item-face">
                            <img src="../media/commits/face-1.png" alt="">
                        </div> -->
                        <div class="commits__item-description">
                            Начались мои запои в 2017, когда поругался с начальником и меня лишили высокой должности. Пил каждый день, периодически кричал на жену, она взяла детей и уехала. Остался я один. Через пару месяцев меня выгнали с работы. До меня дошло, до чего докатился. Решил все поменять в корне.  Пошел к наркологу, тот мне прописал Alcotox. Средство в совокупности с моим желанием бросить пить сработало сразу. После первого применения я ни разу не пил. Проходил курс 5 месяцев назад.
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__item-head">Анонимно, 43 года</div>
                    <div class="commits__item-body">
                        <!-- <div class="commits__item-face">
                            <img src="../media/commits/face-1.png" alt="">
                        </div> -->
                        <div class="commits__item-description">
                            Мой муж постоянно пил после работы, каждый день, я замучалась ругаться с ним! Сто раз говорил, что завязал, но я постоянно находила его “тайники”. За два года запои сделали из него типичного алкоголика, а из меня истеричку с дёргающимся глазом. Заказала Alcotox, поставила ультиматум: либо лечишься, либо развод. Я увидела наконец трезвого мужа! И после этого пьяным уже ни разу! Люди, милые, Alcotox работает! Больше года уже не пьет!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
