<section class="section section_drugs">
    <div class="container">
        <div class="drugs">
            <div class="drugs__title wow bounceInLeft" data-wow-offset="200">Самый <mark>часто употребляемый</mark> наркотик</div>
            <div class="drugs__sub-title"><mark>Эффект от употребления алкогольных напитков известен каждому:</mark> когда вы навеселе, кажется, что жизнь сплошной праздник. </div>
            <div class="drugs__description">
                Как только вы допиваете первый коктейль, на уровне биохимии уже запущен эйфорический процесс. Именно из-за него вас начинает тянуть на второй стакан. Кажется, что вы ещё совсем трезвы, а потом контроль над ситуацией полностью пропадает.
                <br>
                Большое количество этанола подавляет активность нейронов, психика растормаживается. После третьего-четвёртого коктейля социальные нормы отодвигаются. Один становится неуклюжим, у другого похотливо блестят глаза, а третий начинает агрессивно реагировать на окружающих.
            </div>
            <div class="drugs__dependence">
                <span>Тяга к алкоголю только поначалу кажется безобидным развлечением, доступным способом снять стресс. Однажды вы ловите себя на мысли, что</span> <mark>без спиртного ваша жизнь теряет смысл.</mark>
            </div>
        </div>
    </div>
</section>
