
<div class="face">
    <div class="face__title"><mark>Alkotox</mark> – Забудь об алкоголе <b>за один курс</b></div>
    <div class="face__sub-title">Сделай шаг навстречу <span>трезвости</span></div>
    <div class="face__product"><img src="../media/face/product.png" alt=""></div>
    <div class="face__box">
        <div class="face__check">
            <div class="face__check-item">Безопасно</div>
            <div class="face__check-item">Эффективно</div>
            <div class="face__check-item">Натурально</div>
            <div class="face__check-item">Амбулаторно</div>
        </div>
        <%- include('form') %>
    </div>
    <div class="face__appearance wow bounceInRight" data-wow-offset="200">взгляните <mark><span>на себя</span> со стороны</mark></div>
</div>
