
<section class="section section_facts">
    <div class="container">
        <div class="facts">
            <div class="facts__title wow bounceInRight" data-wow-offset="200">Замечаете ли вы:</div>
            <div class="facts__box">
                <div class="facts__item">Вы не <mark>можете расслабиться без бокала вина</mark>, пива или коктейлей в выходные</div>
                <div class="facts__item">Вам <mark>не интересно общаться</mark> с непьющими друзьями</div>
                <div class="facts__item">На празднике без алкоголя <mark>не хочется находиться</mark></div>
                <div class="facts__item">Вы гораздо более <mark>скованы в сексе</mark></div>
                <div class="facts__item">Вам сложно поговорить по душам <mark>на трезвую голову</mark></div>
            </div>
        </div>
    </div>
</section>
