<form class="form">
    <div class="form__head">
        <div class="form__discount">цена со <br> скидкой: <span>990₽</span></div>
        <div class="form__price">старая цена: <span>2200₽</span></div>
    </div>
    <div class="form__body">
        <div class="form__label">
            <select class="form__field" name="">
                <option selected value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <span>Страна</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </div>
        <div class="form__btn">Заказать <b>по акции</b></div>
    </div>
    <%- include('timer') %>
</form>
