<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="help__title wow bounceInLeft" data-wow-offset="200">
                Когда <mark>необходима помощь</mark>
            </div>
            <div class="help__box">
                <div class="help__item">
                    <span>1</span>
                    <p>для вас и для окружающих очевидно, что <mark>самостоятельно</mark> справиться <mark>не получается</mark></p>
                </div>
                <div class="help__item">
                    <span>2</span>
                    <p>вам знакомы <mark>агрессивное поведение и депрессивные периоды</mark></p>
                </div>
                <div class="help__item">
                    <span>3</span>
                    <p>вы перепробовали все доступные способы – <mark>они НЕ работают</mark></p>
                </div>
                <div class="help__item">
                    <span>4</span>
                    <p>вы знаете, что такое <mark>бросать и срываться</mark></p>
                </div>
                <div class="help__item">
                    <span>5</span>
                    <p>семья (она ещё есть?) <mark>на грани распада</mark></p>
                </div>
            </div>
            <div class="help__bottle"><img src="../media/help/bottle.png" alt=""></div>
        </div>
    </div>
</section>
