
<section class="section section_order">
    <div class="container">
        <div class="order">
            <div class="order__title">как оформить заказ</div>
            <div class="order__box">
                <figure class="order__item">
                    <div class="order__media">
                        <img src="../media/order/step-1.png" alt="" />
                    </div>
                    <div class="order__step">ШАГ 1</div>
                    <figcaption class="order__description">Оставьте заявку на сайте, заполнив форму ниже</figcaption>
               </figure>
                <figure class="order__item">
                    <div class="order__media">
                        <img src="../media/order/step-2.png" alt="" />
                    </div>
                    <div class="order__step">ШАГ 2</div>
                    <figcaption class="order__description">Наш менеджер свяжется с вами в ближайшее время</figcaption>
               </figure>
                <figure class="order__item">
                    <div class="order__media">
                        <img src="../media/order/step-3.png" alt="" />
                    </div>
                    <div class="order__step">ШАГ 3</div>
                    <figcaption class="order__description">Мы бережно упакуем Ваш заказ и отправим его в тот же день</figcaption>
               </figure>
                <figure class="order__item">
                    <div class="order__media">
                        <img src="../media/order/step-4.png" alt="" />
                    </div>
                    <div class="order__step">ШАГ 4</div>
                    <figcaption class="order__description">Оплата производится после получения заказа</figcaption>
               </figure>
            </div>
        </div>
    </div>
</section>
