<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="professional__title wow bounceInRight" data-wow-offset="200">Мнение специалиста</div>
            <div class="professional__info">
                <p>Алкоголизм – это болезнь, которую сложно диагностировать вовремя. Как любая зависимость, она путает сознание и мешает адекватному восприятию реальности. Люди до последнего уверены, что все под контролем. </p>
                <p>Если вы или ваши родственники столкнулись с очевидными признаками алкозависимости, рассмотрите прием препаратов от этой болезни. В условиях амбулаторного лечения можно принимать Alcotox. </p>
                <p>Это средство на растительной основе, не вызывающее негативной реакции. Стабильно и постепенно составляющие препарата отбивают тягу к алкоголю у зависимых лиц. </p>
                <p>Alcotox очищает организм, выводит продукты распада алкоголя и восстанавливает поврежденные органы. За один курс зависимость сходит на нет, у человека появляется естественное желание быть трезвым. Это доказано опытным путем и проверено сотнями моих пациентов. </p>
                <div class="professional__footer">
                    <div class="professional__id"><img src="../media/professional/id.png" alt=""></div>
                    <div class="professional__name">Роберт Геллер</div>
                </div>
            </div>
            <div class="professional__product">
                <img src="../media/professional/product.png" alt="">
            </div>
        </div>
    </div>
</section>
