<!-- устанавливаем время в атрибуте data-time (время устанавливается в секундах) -->
<div class="timer">
    <div data-time="720" class="timer__count"></div>
    <div class="timer__description">до окончания акции осталось:</div>
</div>
