
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="warning__box">
                <div class="warning__title">
                    ОСТЕРЕГАЙТЕСЬ ПОДДЕЛОК!
                </div>
                <div class="warning__info">

                    <span></span> года был зафиксирован 136-й случай продажи фальсифицированных продуктов Alcotox. Избегайте подделок, они могут быть опасны для вашего здоровья.  Оригинальный Alcotox  реализуется только на этом сайте. Покупая продукт здесь, вы получаете 100% гарантию качества и безопасности.
                </div>
            </div>
            <div class="warning__product">
                <img src="../media/warning/product.png" alt="">
            </div>
        </div>
    </div>
</section>
