<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Название сайта</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <section class="section section_face">
            
<div class="container">
    <div class="face">
        <div class="face__product wow pulse"></div>
        <div class="face__logo">Oftalmaks</div>
        <div class="face__box">
            <div class="face__info">
                <div class="section__title face__title wow fadeIn" data-wow-offset="100">Верните <span>зрение</span> <i><mark>за 1 курс</mark></i></div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay = "0.1s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Снимает напряжение</span> и боль в глазах за 5 минут</div>
                </div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay = "0.2s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Восстанавливает зрение</span> на 99% за 1 курсовой прием</div>
                </div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay = "0.3s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Препятствует развитию</span> глазных заболеваний и ослаблению зрения</div>
                </div>
                <div class="face__theAppointment">
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Воздействует</b> <span>на причину</span> плохого зрения</div>
                    </div>
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Защищает</b> <span>при длительных</span> нагрузках</div>
                    </div>
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Снимает</b> напряжение</div>
                    </div>
                </div>
            </div>
            <form class="form wow flipInY" data-wow-offset="100">
                <div class="form__title">Закажите <span>со скидкой</span> <span><mark>прямо сейчас</mark></span></div>
                <div class="form__price"><span>990 руб</span> <mark>99 руб.</mark></div>
                <div class="form__count">
                    <div class="form__count-title">До конца акции осталось:</div>
                    <div class="form__count-time">
                        <div class="form__count-item"><span>00</span> <span>часов</span></div> :
                        <div class="form__count-item"><span>12</span> <span>минут</span></div> :
                        <div class="form__count-item"><span>00</span> <span>секунд</span></div>
                    </div>
                </div>
                <div class="form__item">
                    <input name="name" class="form__field" type="text" placeholder="Ваше имя">
                </div>
                <div class="form__item">
                    <input name="country" class="form__field" type="text" placeholder="Страна">
                </div>
                <div class="form__item">
                    <input name="phone" class="form__field" type="text" placeholder="Телефон">
                </div>
                <div class="form__item">
                    <button class="form__btn">Купить со скидкой</button>
                </div>
            </form>
        </div>
    </div>
</div>

        </section>
        <section class="section section_cause">
            
<div class="container">
    <div class="cause">
        <div class="cause__info">
            <div class="section__title cause__title wow slideInRight" data-wow-offset="100">Почему <mark>зрение портится?</mark></div>
            <div class="cause__description wow slideInRight" data-wow-offset="100">За остроту зрения отвечает хрусталик и глазные мышцы. Когда мышцы ослабевают и эластичность хрусталика снижается, зрение стремительно падает.</div>
            <div class="cause__subtitle wow slideInRight" data-wow-offset="100">Это происходит по нескольким причинам:</div>
            <ul class="cause__list">
                <li class="cause__list-item wow slideInRight" data-wow-offset="100">Возрастные изменения</li>
                <li class="cause__list-item wow slideInRight" data-wow-offset="100">Воспалительные процессы и болезни глаз</li>
                <li class="cause__list-item wow slideInRight" data-wow-offset="100">Повышенное давление на глазное яблоко</li>
                <li class="cause__list-item wow slideInRight" data-wow-offset="100">Усиленная нагрузка на глаза</li>
                <li class="cause__list-item wow slideInRight" data-wow-offset="100">Недостаточно кровоснабжение</li>
            </ul>
        </div>
        <div class="cause__warning wow slideInUp" data-wow-offset="100"><mark>При отсутствии лечения зрение постепенно снижается до полной слепоты</mark>. Очки и контактные линзы только усугубляют ситуацию: глазные мышцы совсем перестают работать, от этого зрение падает еще быстрее.</div>
    </div>
</div>

        </section>
        <section class="section section_demonstration">
            
<div class="container">
    <div class="demonstration">
        <div class="demonstration__item wow slideInUp" data-wow-offset="100" data-wow-delay="0.3s">
            <div class="demonstration__media"><img src="../media/demonstration/img-1.jpg" alt=""></div>
            <div class="demonstration__info">
                <div class="demonstration__subTitle">Мышечный аппарат фокусирует глаза</div>
                <div class="demonstration__description">таким образом, чтобы получаемые изображения, проходя через хрусталик, проецировались на сетчатке</div>
            </div>
        </div>
        <div class="demonstration__item wow slideInUp" data-wow-offset="100" data-wow-delay="0.6s">
            <div class="demonstration__media"><img src="../media/demonstration/img-2.jpg" alt=""></div>
            <div class="demonstration__info">
                <div class="demonstration__subTitle">Нарушения в балансе работы мышц</div>
                <div class="demonstration__description">создают недостаточное или чрезмерное сдавливание глазного яблока</div>
            </div>
        </div>
        <div class="demonstration__item wow slideInUp" data-wow-offset="100" data-wow-delay="0.9s">
            <div class="demonstration__media"><img src="../media/demonstration/img-3.jpg" alt=""></div>
            <div class="demonstration__info">
                <div class="demonstration__subTitle">Хрусталик деформируется</div>
                <div class="demonstration__description">фокус искажается, картинка плывет</div>
            </div>
        </div>
    </div>
</div>

        </section>
        <section class="section section_help">
            
<div class="container">
    <div class="help">
        <div class="section__title help__title wow slideInLeft" data-wow-offset="100">Ваше зрение <span>можно спасти!</span></div>
        <div class="help__box wow slideInRight" data-wow-offset="100">
            <div class="help__media"><img src="../media/help/laboratory.jpg" alt=""></div>
            <div class="help__info">
                <p>На создание биодобавки Oftalmaks ученые из Европейского Офтальмологического Центра потратили 8 лет. Разработка прошла многоступенчатое тестирование, получила лицензию и сертификаты качества, а также ряд наград за лучшую разработку в области офтальмологии.</p>
                <p>Особенность новейшего средства в максимально быстром эффекте, заметном уже после 1 курса применения.</p>
            </div>
            <div class="help__footer">
                <div class="help__item">
                    <div class="help__item-media"><img src="../media/help/icon-1.png" alt=""></div>
                    <div class="help__item-description">Рекомендовано к применению <mark>ассоциацией офтальмологов ЕС</mark></div>
                </div>
                <div class="help__item">
                    <div class="help__item-media"><img src="../media/help/icon-2.png" alt=""></div>
                    <div class="help__item-description">100% <mark>натуральный</mark> состав</div>
                </div>
                <div class="help__item">
                    <div class="help__item-media"><img src="../media/help/icon-3.png" alt=""></div>
                    <div class="help__item-description">Эффективность <mark>подтверждена клинически</mark></div>
                </div>
            </div>
        </div>
    </div>
</div>

        </section>
        <section class="section section_innovation">
            
<div class="container">
    <div class="innovation wow bounceInUp" data-wow-offset="100">
        <div class="innovation__logo">Oftalmaks</div>
        <div class="innovation__border">
            <div class="section__title innovation__title"><mark>Инновационная разработка</mark> для восстановления зрения</div>
            <div class="innovation__description">
                <p>Oftalmaks – это биогенный комплекс природных экстрактов, оказывающих направленное действие при снижении зрения и обеспечивающий полное избавление от наиболее распространенных болезней глаз человека.</p>
                <p>Это единственный препарат, который регулирует работу мышц глазного яблока, что помогает восстановить нормальную фокусировку и вернуть четкое и яркое, объемное зрение.</p>
            </div>
        </div>
    </div>
</div>

        </section>
        <section class="section section_ingredients">
            
<div class="container">
    <div class="ingredients">
        <div class="ingredients__product wow pulse" data-wow-offset="100"></div>
        <div class="ingredients__title section__title wow slideInDown" data-wow-offset="100">В состав Oftalmaks вошли <span><mark>высококачественные ингредиенты</mark></span> с доказанной эффективностью</div>
        <div class="ingredients__box">
            <div class="ingredients__item wow slideInLeft" data-wow-offset="100">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-1.jpg" alt=""></div>
                <div class="ingredients__name">ЭКСТРАКТ ГОЛУБИКИ И ЯСТРЕБИНКИ</div>
                <div class="ingredients__description">усиливает остроту зрения, укрепляет сетчатку глаз</div>
            </div>
            <div class="ingredients__item ingredients__item_right wow slideInRight" data-wow-offset="100">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-4.jpg" alt=""></div>
                <div class="ingredients__name">МОРСКОЙ ВИНОГРАД И РАУВОЛЬФИЯ</div>
                <div class="ingredients__description">Защищают сетчатку от фотоповреждения. Усиливает остроту зрения</div>
            </div>
            <div class="ingredients__item wow slideInLeft" data-wow-offset="100">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-2.jpg" alt=""></div>
                <div class="ingredients__name">ЭКСТРАКТ ГИНКГО БИЛОБА</div>
                <div class="ingredients__description">Улучшает микроциркуляцию Предотвращает хрупкость капилляров Улучшает кровоток в сосудах сетчатки глаза</div>
            </div>
            <div class="ingredients__item ingredients__item_right wow slideInRight" data-wow-offset="100">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-5.jpg" alt=""></div>
                <div class="ingredients__name">АКУЛИЙ ЖИР</div>
                <div class="ingredients__description">Улучшает эластичность сосудов, остроту зрения и контрастность восприятия изображения. Нормализует внутриглазное давления, обеспечивает профилактику глаукомы.</div>
            </div>
            <div class="ingredients__item wow slideInLeft" data-wow-offset="100">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-3.jpg" alt=""></div>
                <div class="ingredients__name">ШИКША</div>
                <div class="ingredients__description">Предупреждает возрастное снижение зрения. Снижает риск развития макулярной дегенерации. Помогает в профилактике катаракты</div>
            </div>
            <div class="ingredients__item ingredients__item_right wow slideInRight" data-wow-offset="100">
                <div class="ingredients__item-media"><img src="../media/ingredients/img-6.jpg" alt=""></div>
                <div class="ingredients__name">ВИТАМИНЫ В, С, Е</div>
                <div class="ingredients__description">Улучшают состояние органов зрения. Участвуют в процессах темновой адаптации, снижают усталость глаз. Ускоряют восстановление зрительных пигментов. Способствуют предотвращению катаракты</div>
            </div>
        </div>
    </div>
</div>

        </section>
        <section class="section section_professional">
            
<div class="container">
    <div class="professional">
        <div class="professional__title section__title wow slideInLeft" data-wow-offset="100">Мнение <mark>специалиста</mark></div>
        <div class="professional__description">
            <p class=" wow slideInLeft" data-wow-offset="100"><mark>За последние несколько лет количество людей, страдающих от потери зрения возросло в 18 раз. Многие мои пациенты впадают в панику, просят меня выписать им линзы и очки, хотя не понимают, что такая мера в дальнейшем еще больше ухудшит ситуацию, полностью нарушив работу глаз.</mark></p>
            <p class=" wow slideInLeft" data-wow-offset="100">Сегодня появилась возможность РЕШИТЬ проблему. Для этих целей и создан препарат Oftalmaks. Я назначаю его каждому своему пациенту
            и в 99% случаев им удается вернуть четкое и яркое зрение уже после 1 курса.</p>
            <p class=" wow slideInLeft" data-wow-offset="100">В состав препарата входят специально подобранные компоненты, восстанавливающие правильную работу глазных мышц и улучшающие состояние хрусталика - главных факторов хорошего зрения.</p>
        </div>
        <div class="professional__footer">
            <div class="professional__name"><mark>Януш Линовски</mark>, д.м.н., профессор, <span>офтальмолог</span> с 35-летним стажем</div>
            <div class="professional__picture"><img src="../media/professional/picture.png" alt=""></div>
        </div>
        <div class="professional__media wow slideInRight" data-wow-offset="100"></div>
    </div>
</div>

        </section>
        <section class="section section_face section_face-footer">
            
<div class="container">
    <div class="commits">
        <div class="commits__title section__title wow slideInUp" data-wow-offset="100">Отзывы</div>
        <div class="commits__box">
            <div class="commits__item wow slideInLeft" data-wow-offset="100">
                <div class="commits__border">
                    <div class="commits__head">
                        <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                        <div class="commits__name">Klaudia KRAWCZYK,</div>
                        <div class="commits__age">35 лет</div>
                    </div>
                    <div class="commits__description">
                        Про Oftalmaks узнала в поликлинике, там его активно обсуждали, вот и решила заказать попробовать, а вдруг? Возраст уже сказывается, часто приходилось очками пользоваться, т.к. элементарно номер автобуса не видела. Да и окулист неутешительные прогнозы делал - с сетчаткой проблемы начинались. А Oftalmaks говорят при всех проблемах с глазами применяется. Что сказать могу, препарат чудесный! Сейчас все вижу намного лучше, могу даже мелкие детали в далеко разглядеть. Так что смело рекомендую!
                    </div>
                </div>
            </div>
            <div class="commits__item wow slideInUp" data-wow-offset="100">
                <div class="commits__border">
                    <div class="commits__head">
                        <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                        <div class="commits__name">Oliwia PAWŁOWSKA,</div>
                        <div class="commits__age">29 лет</div>
                    </div>
                    <div class="commits__description">
                        После родов начались проблемы со зрением. Видимо, давление было сильное, и зрение резко ухудшилось. мне сказали, что такое бывает и, что скоро это пройдет. Но через год стало только хуже. Были боли, краснота, сухость. От минус 0,5 переросло в минус 2. Пошла к платному врачу, потому что в поликлинике только и говорили, что это пройдет. Капайте капли дешевые. Нормальный врач в платной клинике прописал Oftalmaks, и все стало хорошо буквально через месяц! Зрение постепенно возвращается, уже не -2, а всего -1, почти 100% зрение. Про давление и боль, а тем более про сухость, я давно забыла!
                    </div>
                </div>
            </div>
            <div class="commits__item wow slideInRight" data-wow-offset="100">
                <div class="commits__border">
                    <div class="commits__head">
                        <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                        <div class="commits__name">Filip KWIATKOWSKI</div>
                        <div class="commits__age">42 года</div>
                    </div>
                    <div class="commits__description">
                        Я программист, и постоянная работа перед монитором очень сильно подорвала мое зрение. Дошло до того, что вставал из-за компьютера,  а пред глазами все плыло. Мучили постоянные головные боли из-за напряжения в глазах. Спохватился только тогда, когда работать не смог – глаза перестали различать мелкие буквы на экране. Взял отпуск, заказал Oftalmaks. 2 недели дал глазам отдохнуть от компьютера, принимал препарат и по 15 минут в день гимнастику делал. Результат меня, конечно, поразил. Вижу все настолько четко, как будто мне глаза протерли! Теперь за зрением буду следить всегда!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            
<div class="container">
    <div class="face">
        <div class="face__product wow pulse"></div>
        <div class="face__logo">Oftalmaks</div>
        <div class="face__box">
            <div class="face__info">
                <div class="section__title face__title wow fadeIn" data-wow-offset="100">Верните <span>зрение</span> <i><mark>за 1 курс</mark></i></div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay = "0.1s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Снимает напряжение</span> и боль в глазах за 5 минут</div>
                </div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay = "0.2s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Восстанавливает зрение</span> на 99% за 1 курсовой прием</div>
                </div>
                <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay = "0.3s">
                    <div class="face__check"></div>
                    <div class="face__item-description"><span>Препятствует развитию</span> глазных заболеваний и ослаблению зрения</div>
                </div>
                <div class="face__theAppointment">
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Воздействует</b> <span>на причину</span> плохого зрения</div>
                    </div>
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Защищает</b> <span>при длительных</span> нагрузках</div>
                    </div>
                    <div class="face__theAppointment-item">
                        <div class="face__theAppointment-description"><b>Снимает</b> напряжение</div>
                    </div>
                </div>
            </div>
            <form class="form wow flipInY" data-wow-offset="100">
                <div class="form__title">Закажите <span>со скидкой</span> <span><mark>прямо сейчас</mark></span></div>
                <div class="form__price"><span>990 руб</span> <mark>99 руб.</mark></div>
                <div class="form__count">
                    <div class="form__count-title">До конца акции осталось:</div>
                    <div class="form__count-time">
                        <div class="form__count-item"><span>00</span> <span>часов</span></div> :
                        <div class="form__count-item"><span>12</span> <span>минут</span></div> :
                        <div class="form__count-item"><span>00</span> <span>секунд</span></div>
                    </div>
                </div>
                <div class="form__item">
                    <input name="name" class="form__field" type="text" placeholder="Ваше имя">
                </div>
                <div class="form__item">
                    <input name="country" class="form__field" type="text" placeholder="Страна">
                </div>
                <div class="form__item">
                    <input name="phone" class="form__field" type="text" placeholder="Телефон">
                </div>
                <div class="form__item">
                    <button class="form__btn">Купить со скидкой</button>
                </div>
            </form>
        </div>
    </div>
</div>

        </section>
        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
