<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Detonic</title>
    <meta name="description" content="Detonic">
    <meta itemprop="image" content="../media/share/image.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Detonic">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="Detonic">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Detonic">
    <!-- описание страницы -->
    <meta property="og:description" content="Detonic">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Detonic">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Название страницы -->
    <meta name="twitter:title" content="Detonic">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="Detonic">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <main>
            
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">DETONIC</div>
                <div class="section__title face__title" data-aos="fade-up"><mark>Тройной удар</mark> по циститу</div>
                <div class="face__product">
                    <img src="../media/product.png" alt="Detonic">
                </div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">Снимает воспаление и облегчает боль</div>
                    <div class="face__check" data-aos="fade-right">Борется с бактериальной инфекцией</div>
                    <div class="face__check" data-aos="fade-right">Защищает мочевыдели–тельную систему</div>
                </div>
                <div class="face__eggs">
                    <div class="face__eggs-item"><mark>100</mark>% <span>результат</span></div>
                    <div class="face__eggs-item">эко <span>продукт</span></div>
                    <div class="face__eggs-item"><span>одобрено</span> EAU</div>
                    <div class="face__eggs-item"><span>товар</span> года</div>
                </div>
            </div>
            <div class="face__box">
                <form class="form" action="" method="post">
    <div class="form__title">Заказать <mark>сейчас</mark></div>
    <div class="form__price">
        <div class="form__price-old">100$</div>
        <div class="form__price-main">20$</div>
    </div>
    <div class="form__body">
        <label class="form__label">
            <select class="form__field form__select">
                <option selected="" value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </label>
    </div>
    <div class="form__time">
        <div class="form__time-title">До конца акции:</div>
        <div class="form__time-box">
            <div class="form__time-count">
                <span>00</span>
                <span>часов</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>22</span>
                <span>минут</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>00</span>
                <span>секунд</span>
            </div>
        </div>
    </div>
    <button class="form__btn">ЗАКАЗАТЬ</button>
</form>

            </div>
        </div>
    </div>
</section>

            
<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="section__title symptoms__title" data-aos="fade-left">Основные симптомы <mark>обострения цистита:</mark></div>
            <div class="symptoms__box">
                <div class="symptoms__item" data-aos="zoom-in">ЧАСТЫЕ ПОЗЫВЫ В ТУАЛЕТ</div>
                <div class="symptoms__item" data-aos="zoom-in">БОЛЬ И ЖЖЕНИЕ ПРИ МОЧЕИСПУСКАНИИ</div>
                <div class="symptoms__item" data-aos="zoom-in">ОПОРОЖНЕНИЕ МОЧЕВОГО ПУЗЫРЯ МАЛЫМИ ПОРЦИЯМИ </div>
                <div class="symptoms__item" data-aos="zoom-in">НЕПРИЯТНЫЙ ЗАПАХ И ПОМУТНЕНИЕ МОЧИ</div>
                <div class="symptoms__item" data-aos="zoom-in">ПОВЫШЕНИЕ ТЕМПЕРАТУРЫ ТЕЛА</div>
                <div class="symptoms__item" data-aos="zoom-in">ОЩУЩЕНИЕ НЕПОЛНОГО ОПОРОЖНЕНИЯ</div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="section__title warning__title" data-aos="fade-up">
                <span><mark>Цистит – воспалительный процесс</mark></span>
                в слизистой оболочке мочевого пузыря</div>
            <div class="warning__subtitle">
                В 90%  случаев заболевание имеет инфекционный характер.
                <span><mark>Его вызывает «кишечная палочка» — Е.сoli.</mark></span>
            </div>
            <div class="warning__list">
                <div class="warning__list-name">Способствовать развитию инфекции может любая из этих причин:</div>
                <div class="warning__list-box">
                    <div class="warning__list-item" data-aos="fade-left">стресс</div>
                    <div class="warning__list-item" data-aos="fade-right">переохлаждение</div>
                    <div class="warning__list-item" data-aos="fade-left">травма</div>
                    <div class="warning__list-item" data-aos="fade-right">гормональные нарушения</div>
                    <div class="warning__list-item" data-aos="fade-left">перенесенные заболевания</div>
                    <div class="warning__list-item" data-aos="fade-right">особенности анатомического строения мочеиспускательных путей</div>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_facts">
    <div class="container">
        <div class="facts">
            <div class="section__title facts__title" data-aos="fade-right">
                <mark>3 главных факта</mark> о цистите
            </div>
            <div class="facts__list">
                <div class="facts__item" data-aos="fade-right">
                    <div class="facts-count">1.</div>
                    <div class="facts__description">
                        <mark>Чаще всего циститом болеют женщины из-за анатомических особенностей.</mark> До 50 лет 75% женщин хотя бы раз в жизни перенесли цистит.
                    </div>
                </div>
                <div class="facts__item" data-aos="fade-right">
                    <div class="facts-count">2.</div>
                    <div class="facts__description">
                        <mark>У 60% развивается хроническая форма,</mark> для которой характерно более трех обострений в год.
                    </div>
                </div>
                <div class="facts__item" data-aos="fade-right">
                    <div class="facts-count">3.</div>
                    <div class="facts__description">
                        <mark>Цистит может протекать и в скрытой форме, когда отсутствуют симптомы,</mark> лабораторные и бактериологические показатели находятся в пределах нормы. Это опасно развитием  пиелонефрита.
                    </div>
                </div>
            </div>
            <div class="facts__media" data-aos="zoom-in">
                <div class="facts__media-explanation">поражение циститом</div>
                <div class="facts__media-explanation">здоровая поверхность мочевого пузыря</div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_treatment">
    <div class="container">
        <div class="treatment">
            <div class="section__title treatment__title" data-aos="zoom-in"><mark>Detonic - натуральное средство,</mark> способствующее оздоровлению мочеполовой системы</div>
            <div class="treatment__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="treatment__list">
                <div class="treatment__item" data-aos="fade-left"><mark>Биоактивная формула</mark> для поддержки здоровья и защиты мочевыводящих путей </div>
                <div class="treatment__item" data-aos="fade-left"><mark>Быстро снимает</mark> симптомы цистита: боль, резь, жжение, воспаление</div>
                <div class="treatment__item" data-aos="fade-left"><mark>Нормализует</mark> мочеиспускание</div>
                <div class="treatment__item" data-aos="fade-left"><mark>Повышает устойчивость</mark> организма к инфекциям</div>
                <div class="treatment__item" data-aos="fade-left"><mark>Препятствует прикреплению</mark> и размножению бактерий на поверхности слизистой мочевыводящих путей</div>
                <div class="treatment__item" data-aos="fade-left"><mark>Регулирует</mark> окислительно-восстановитель- ные процессы и повышает иммунитет</div>
            </div>
        </div>
    </div>
</section>

             <section class="section section_ingredients">
     <div class="container">
         <div class="ingredients">
             <div class="section__title ingredients__title" data-aos="fade-up">Оптимально сбалансированная комбинация <mark>точно подобранных компонентов</mark></div>
             <div class="ingredients__product"><img src="../media/product.png" alt=""></div>
             <div class="ingredients__body">
                 <figure class="ingredients__item" data-aos="fade-right">
                     <div class="ingredients__head">
                         <div class="ingredients__media"><img src="../media/ingredients/img-1.jpg" alt=""></div>
                         <div class="ingredients__name">Экстракт листьев боярышника</div>
                     </div>
                     <figcaption class="ingredients__description">Продуцирует антитела, которые <span>подавляют патогенные</span> микроорганизмы в организме.</figcaption>
                 </figure>
                 <figure class="ingredients__item" data-aos="fade-left">
                     <div class="ingredients__head ingredients__head_right">
                         <div class="ingredients__media ingredients__media_right"><img src="../media/ingredients/img-2.jpg" alt=""></div>
                         <div class="ingredients__name">Экстракт семян тыквы</div>
                     </div>
                     <figcaption class="ingredients__description ingredients__description_right">Оказывает бактерицидный <span>эффект и разрушает клетку</span> возбудителей цистита.</figcaption>
                 </figure>
                 <figure class="ingredients__item" data-aos="fade-right">
                     <div class="ingredients__head">
                         <div class="ingredients__media"><img src="../media/ingredients/img-3.jpg" alt=""></div>
                         <div class="ingredients__name">Экстракт гвоздики</div>
                     </div>
                     <figcaption class="ingredients__description">Оказывает бактерицидное, <span>болеутоляющее и</span> спазмолитическое действие.</figcaption>
                 </figure>
                 <figure class="ingredients__item" data-aos="fade-left">
                     <div class="ingredients__head ingredients__head_right">
                         <div class="ingredients__media ingredients__media_right"><img src="../media/ingredients/img-4.jpg" alt=""></div>
                         <div class="ingredients__name">Экстракт плодов чаги</div>
                     </div>
                     <figcaption class="ingredients__description ingredients__description_right">Натуральный антиоксидант <span>укрепляющий иммунитет.</span> </figcaption>
                 </figure>
                 <figure class="ingredients__item" data-aos="fade-right">
                     <div class="ingredients__head">
                         <div class="ingredients__media"><img src="../media/ingredients/img-5.jpg" alt=""></div>
                         <div class="ingredients__name">Алоэ</div>
                     </div>
                     <figcaption class="ingredients__description">Регенерирует поврежденные <span>инфекцией клетки и ткани</span> слизистой.</figcaption>
                 </figure>
                 <figure class="ingredients__item" data-aos="fade-left">
                     <div class="ingredients__head ingredients__head_right">
                         <div class="ingredients__media ingredients__media_right"><img src="../media/ingredients/img-6.jpg" alt=""></div>
                         <div class="ingredients__name">Экстракт чеснока</div>
                     </div>
                     <figcaption class="ingredients__description ingredients__description_right">Способствует <span>выведению микробов из</span> мочевыводящих путей. </figcaption>
                 </figure>
                 <figure class="ingredients__item ingredients__item_bottom" data-aos="fade-up">
                     <div class="ingredients__head">
                         <div class="ingredients__media"><img src="../media/ingredients/img-7.jpg" alt=""></div>
                         <div class="ingredients__name">Инулин</div>
                     </div>
                     <figcaption class="ingredients__description ingredients__description_bottom">Природный пребиотик. Нормализует микрофлору и защищает организм от инфекционно-воспалительных действий в мочевыделительной системе.</figcaption>
                 </figure>
             </div>
         </div>
     </div>
 </section>

            
<section class="section section_professional">
    <div class="container">
        <div class="professional" data-aos="fade-right">
            <div class="section__title professional__title">Мнение специалиста:</div>
            <div class="professional__info">
                <p><mark>Ключ к быстрому и эффективному лечению цистита – своевременное назначение соответствующей терапии. При цистите положительно зарекомендовала себя фитотерапия. Этот метод лечения растительными средствами обосновался на научной платформе.</mark></p>
                <p><b>DETONIC показал себя в качестве эффективного и безопасного препарата.</b></p>
                <p>Я использую его в своей практике, так как препарат полностью натуральный, легко всасывается и с потоком крови быстро достигает места воспаления в мочевых путях. Главное отличие DETONIC от других препаратов натурального происхождения в том, что в его состав входит проантоцианидины, которые эффективны против бактерии Е.сoli и других возбудителей цистита.</p>
                <p><b>DETONIC обладает накопительным действием: </b></p>
                <ul>
                    <li>— облегчает симптомы заболевания</li>
                    <li>— снимает воспаление</li>
                    <li>— очищает мочеполовую систему от инфекций</li>
                    <li>— создает защитный слой, который предупреждает рецидивы и развитие хронического заболевания. </li>
                </ul>
            </div>
            <div class="professional__footer">
                <div class="professional__name">
                    <span>Conrad Gallagher</span>
                    <span>профессор, врач-уролог</span>
                </div>
                <div class="professional__id">
                    <img src="../media/professional/id.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="section__professional">
        <img src="../media/professional/human.png" alt="">
    </div>
</section>

            
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Amy Owen, <mark>34 года</mark></div>
                    <div class="commits__description">
                        Если бы я знала как лечить цистит правильно с самого начала, то бы не запустила его до хронической формы. Но я рада, что в моей жизни появилось такое средство как DETONIC. Препарат помог снять боль и воспаление. Через 3 дня после применения я уже нормально ходила в туалет. Хотя обычно болезнь затягивалась на недели… И самое главное, что приступы цистита у меня случаются по 3-5 раз в год. А после приема DETONIC прошло уже полгода без возобновления болезни.
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Cordelia Morgan, <mark>54 года</mark></div>
                    <div class="commits__description">
                        Что такое цистит я узнала после менопаузы. Врач сказала, что такое возможно из-за гормональной перестройки организма и ослабленного иммунитета. DETONIC мне помог лучше, чем другие средства. Сколько лет страдаю хроническим циститом, но впервые узнала, что обострения можно так быстро вылечить. Ни один антибиотик не сравнится с натуральным препаратом.
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Liliana Hoover, <mark>42 года</mark></div>
                    <div class="commits__description">
                        Отличный препарат! Действует быстро и очень надолго можно забыть о цистите. Первый раз принимала его года два назад после нескольких рецидивов цистита. К моему удивлению, обострений не было очень долго. Пока я очень сильно не  промёрзла. Как только я почувствовала первые симптомы цистита, то сразу вспомнила про DETONIC. Благодаря этому средству, я очень быстро вылечилась и до осложнений не дошло. Всем рекомендую!
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_steps">
    <div class="container">
        <div class="steps">
            <div class="section__title steps__title" data-aos="fade-up">Detonic действует <mark>в 3 этапа:</mark></div>
            <div class="steps__body">
                <div class="steps__item" data-aos="zoom-in">
                    <div class="steps__nomber">1.</div>
                    <div class="steps__description">снимает <span>болезненные</span> симптомы</div>
                </div>
                <div class="steps__item" data-aos="zoom-in">
                    <div class="steps__nomber">2.</div>
                    <div class="steps__description">борется с <span>возбудителем</span> заболевания</div>
                </div>
                <div class="steps__item" data-aos="zoom-in">
                    <div class="steps__nomber">3.</div>
                    <div class="steps__description">формирует защиту <span>мочевыводящих</span> путей</div>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_fraud">
    <div class="container">
        <div class="fraud">
            <div class="fraud__head">
                <div class="section__title fraud__title">Остерегайтесь подделок!</div>
                <div class="fraud__subtitle">
                    В связи с огромной популярностью средства DETONIC, участились случаи фальсификации.
                    <span>Оригинальный препарат от цистита DETONIC можно приобрести только на этом сайте.</span>
                </div>
            </div>
            <div class="fraud__product">
                <img src="../media/product.png" alt="">
            </div>
            <div class="fraud__media">
                <img src="../media/fraud/img-1.png" data-aos="flip-right" alt="">
                <img src="../media/fraud/img-2.png" data-aos-delay="100" data-aos="flip-right" alt="">
                <img src="../media/fraud/img-3.png" data-aos-delay="200" data-aos="flip-right" alt="">
                <img src="../media/fraud/img-4.png" data-aos-delay="300" data-aos="flip-right" alt="">
            </div>
        </div>
    </div>
</section>

            
<section class="section section_info" data-aos="fade-right">
    <div class="container">
        <div class="info">
            <div class="info__title">ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></div>
            <div class="info__description">Количество упаковок, необходимое для желаемого результата, <mark>определяется индивидуально и в отдельных случаях может увеличиться.</mark></div>
        </div>
    </div>
</section>

            
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">DETONIC</div>
                <div class="section__title face__title" data-aos="fade-up"><mark>Тройной удар</mark> по циститу</div>
                <div class="face__product">
                    <img src="../media/product.png" alt="Detonic">
                </div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">Снимает воспаление и облегчает боль</div>
                    <div class="face__check" data-aos="fade-right">Борется с бактериальной инфекцией</div>
                    <div class="face__check" data-aos="fade-right">Защищает мочевыдели–тельную систему</div>
                </div>
                <div class="face__eggs">
                    <div class="face__eggs-item"><mark>100</mark>% <span>результат</span></div>
                    <div class="face__eggs-item">эко <span>продукт</span></div>
                    <div class="face__eggs-item"><span>одобрено</span> EAU</div>
                    <div class="face__eggs-item"><span>товар</span> года</div>
                </div>
            </div>
            <div class="face__box">
                <form class="form" action="" method="post">
    <div class="form__title">Заказать <mark>сейчас</mark></div>
    <div class="form__price">
        <div class="form__price-old">100$</div>
        <div class="form__price-main">20$</div>
    </div>
    <div class="form__body">
        <label class="form__label">
            <select class="form__field form__select">
                <option selected="" value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </label>
    </div>
    <div class="form__time">
        <div class="form__time-title">До конца акции:</div>
        <div class="form__time-box">
            <div class="form__time-count">
                <span>00</span>
                <span>часов</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>22</span>
                <span>минут</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>00</span>
                <span>секунд</span>
            </div>
        </div>
    </div>
    <button class="form__btn">ЗАКАЗАТЬ</button>
</form>

            </div>
        </div>
    </div>
</section>

            <section class="section section_footer">
                <footer>
                    <div class="container">
                        <div class="adress">
                             <p class="footer_leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                                 <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a>
                             </p>
                        </div>
                    </div>
                </footer>
            </section>
            <div id="loader-wrapper">
                <div id="loader"></div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </main>
        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
