<div class="advantages">
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon1.png" alt="">
        </div>
        <div class="advantages__title">Без тяги <span>к сигаретам</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon2.png" alt="">
        </div>
        <div class="advantages__title">Без абстинентного <span>синдрома</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon3.png" alt="">
        </div>
        <div class="advantages__title">Без книг <span>и гипноза</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon4.png" alt="">
        </div>
        <div class="advantages__title">Без медикаментов <span>и пластырей</span></div>
    </div>
</div>
