
<div class="effects">
    <div class="effects__box">
        <div class="effects__title">
            Когда вы выкурили <span>свою <span>первую сигарету,</span></span>
        </div>
        <div class="effects__subtitle">
            вам точно хотелось остаться курильщиком
        </div>
        <div class="effects__description">
            на всю жизнь?
        </div>
        <div class="effects__events">
            наведите на фото
            <img src="../media/effects/arrow-right.png" alt="">
        </div>
    </div>
    <div class="effects__media">
        <div class="effects__fadeLine">
            <img src="../media/effects/fadeLine.png" alt="">
        </div>
        <div class="effects__face">
            <img src="../media/effects/human1.png" alt="">
            <img src="../media/effects/human2.png" alt="">
        </div>
    </div>
</div>
