<div class="eggs">
    <div class="eggs__item">
        <img src="../media/eggs/img1.png" alt="">
    </div>
    <div class="eggs__item">
        <img src="../media/eggs/img2.png" alt="">
    </div>
    <div class="eggs__item">
        <img src="../media/eggs/img3.png" alt="">
    </div>
</div>
