<div class="order face__order">
    <div class="order__title">Закажите сейчас <span>со скидкой</span></div>
    <div class="order__price">
        <span>€ 599</span>
        <span>€ 99</span>
    </div>
    <div class="order__form">
        <label class="order__item">
            <span>Ваше имя:</span>
            <input class="order__field" type="text" name="name">
        </label>
        <label class="order__item">
            <span>Страна:</span>
            <input class="order__field" type="text" name="country">
        </label>
        <label class="order__item">
            <span>Телефон:</span>
            <input class="order__field" type="text" name="phone">
        </label>
        <div class="order__item order__item_btn">
            <button class="order__btn">Заказать</button>
        </div>
    </div>
</div>
