
.cause {
    position: relative;
}

.cause__title {
    margin-bottom: 10px;
    font-size: 62px;
    line-height: 57px;
    font-weight: 800;
    color: #ef265a;
    text-transform: uppercase;

    & span {
        display: block;
        font-size: 62px;
    }
}

.cause__subTitle {
    margin-bottom: 40px;
    font-size: 43px;
    font-weight: 600;
    color: #ffffff;
    line-height: 43px;
    text-transform: uppercase;

    & span {
        display: block;
        font-size: 43px;
    }
}

.cause__description {
    max-width: 500px;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;

    & span {
        font-size: 18px;
        margin-bottom: 20px;
        display: block;
    }
}

.cause__info {
    position: absolute;
    bottom: -190px;
    padding: 20px 20px 20px 215px;
    border: 3px solid #ef265a;
    border-radius: 7px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    color: #fff;
    background-image: url("../media/cause/bg.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #641315;

    & span {
        font-size: 18px;
        font-weight: 400;
    }
}

@media(max-width: 1280px) {
    .cause__title {
        font-size: 48px;
        line-height: 1;

        & span {
            font-size: 48px;
        }
    }

    .cause__subTitle {
        font-size: 28px;
        line-height: 1.2;

        & span {
            font-size: 28px;
        }
    }
}

@media(max-width: 768px) {
    .cause__title {
        font-size: 38px;

        & span {
            font-size: 38px;
        }
    }

    .cause__subTitle {
        margin-bottom: 25px;
        font-size: 18px;

        & span {
            font-size: 18px;
        }
    }

    .cause__description {
        font-size: 16px;

        & span {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    .cause__info {
        padding: 15px 15px 15px 45px;
        background-position: -160px;
        font-size: 16px;
        bottom: -160px;

        & span {
            font-size: 16px;
        }
    }
}

@media(max-width: 480px) {
    .cause__title {
        font-size: 28px;

        & span {
            font-size: 28px;
        }
    }

    .cause__subTitle {
        margin-bottom: 15px;
        font-size: 16px;

        & span {
            font-size: 16px;
        }
    }

    .cause__description {
        margin-bottom: 15px;
        font-size: 14px;

        & span {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    .cause__info {
        position: static;
        font-size: 14px;

        & span {
            font-size: 14px;
        }
    }
}
