
.container {
    width: calc(100% - 700px);
    max-width: 1030px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media(max-width: 1280px) {
    .container {
        max-width: 768px;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 480px;
    }
}

@media(max-width: 480px) {
    .container {
        width: 100%;
    }
}
