
.effects {
    position: relative;
    display: flex;
}

.effects__box {
    position: relative;
    max-width: 480px;
    z-index: 2;
}

.effects__title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;

    & > span {
        font-size: 26px;
        display: block;

        & span {
            border-bottom: 2px solid #f46b8c;
            font-size: 26px;
        }
    }
}

.effects__subtitle {
    font-size: 50px;
    font-weight: 600;
    line-height: .8;
    margin-bottom: 10px;
}

.effects__description {
    margin-bottom: 70px;
    font-size: 86px;
    color: #ef265a;
    font-weight: 800;
    line-height: .8;
}

.effects__events {
    position: relative;
    display: inline-flex;
    margin-left: 100px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;

    &::before {
        position: absolute;
        width: calc(100% + 120px);
        height: 45px;
        margin-left: -30px;
        top: 50%;
        transform: translateY(-50%) skewX(-15deg);
        background-color: rgba(0, 0, 0, 0.06);
        content: '';
    }
}

.effects__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -210px;
    right: -320px;
    transition: 3s opacity;

    &:hover {
        & .effects__fadeLine {
            transform: translateY(800px);
        }

        & .effects__face {
            animation: spin 1s linear;
            animation-fill-mode: forwards;
        }
    }
}

.effects__face {
    width: 1071px;
    height: 917px;
    background-image: url('../media/effects/human1.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    animation: spin2 1s linear;
}

.effects__fadeLine {
    position: absolute;
    transform: translateY(40px);
    transition: 1s transform;
}

@media(max-width: 1280px) {

    .effects__media {
        right: 0;

        &:hover {
            & .effects__fadeLine {
                transform: translateY(400px);
            }

            & .effects__face {
                animation: spin-1280 1s linear;
                animation-fill-mode: forwards;
            }
        }
    }

    .effects__face {
        width: 500px;
        height: 430px;
        background-image: url('../media/effects/human1-1280.png');
        animation: spin2-1280 1s linear;
    }

    .effects__title {
        font-size: 24px;

        & span {
            font-size: 24px;
        }
    }

    .effects__subtitle {
        font-size: 34px;
    }

    .effects__description {
        font-size: 48px;
    }

    .effects__box {
        max-width: 340px;
    }

    .effects__events  {
        margin-left: 40px;
        font-size: 14px;

        &::before {
            width: calc(100% + 60px);
        }

        & img {
            margin-left: -5px;
        }
    }

}

@media(max-width: 768px) {
    .effects {
        flex-direction: column;
    }

    .effects__box {
        max-width: 100%;
    }

    .effects__title {
        font-size: 22px;

        & span {
            font-size: 22px;

            & span {
                font-size: 22px;
            }
        }
    }

    .effects__subtitle {
        font-size: 30px;
    }

    .effects__description {
        font-size: 38px;
        margin-bottom: 30px;
    }

    .effects__events {
        display: none;
    }

    .effects__media {
        position: static;

        &:hover {
            & .effects__fadeLine {
                transform: translateY(240px);
            }

            & .effects__face {
                animation: spin-480 1s linear;
                animation-fill-mode: forwards;
            }
        }
    }

    .effects__face {
        width: 320px;
        height: 276px;
        background-image: url('../media/effects/human1-480.png');
        animation: spin2-480 1s linear;
        background-position: center bottom;
    }
}

@media (max-width: 480px) {
    .effects__title {
        font-size: 18px;

        & span {
            font-size: 18px;

            & span {
                font-size: 18px;
            }
        }
    }

    .effects__subtitle {
        font-size: 23px;
    }

    .effects__description {
        font-size: 34px;
    }
}

@keyframes spin {
    0% {

    }
    100% {
        background-image: url('../media/effects/human2.png');
    }
}

@keyframes spin2 {
    0% {
        background-image: url('../media/effects/human2.png');
    }
    100% {
        background-image: url('../media/effects/human1.png');
    }
}

@keyframes spin-1280 {
    0% {

    }
    100% {
        background-image: url('../media/effects/human2-1280.png');
    }
}

@keyframes spin2-1280 {
    0% {
        background-image: url('../media/effects/human2-1280.png');
    }
    100% {
        background-image: url('../media/effects/human1-1280.png');
    }
}

@keyframes spin-480 {
    0% {

    }
    100% {
        background-image: url('../media/effects/human2-480.png');
    }
}

@keyframes spin2-480 {
    0% {
        background-image: url('../media/effects/human2-480.png');
    }
    100% {
        background-image: url('../media/effects/human1-480.png');
    }
}
