
.eggs {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 1280px) {
    .eggs {
        display: none;
    }
}

@media(max-width: 768px) {
    .eggs {
        display: flex;
        justify-content: flex-start;
    }

    .eggs__item {
        width: 96px;

        & + & {
            margin-left: 15px;
        }
    }
}
