
.face {
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 28px;
}

.face__head {
    width: 100%;
}

.face__title {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 77px;
    line-height: 1;
    color: #171717;
    font-weight: 600;

    & span {
        display: block;
        font-size: 77px;

        &:last-child {
            font-weight: 800;
            display: table;
            background-image: linear-gradient(45deg, #43a8c5 33%, #53b44e);
            color: #0B2349;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;color: #171717;
        }
    }
}

.face__order {
    margin-bottom: 30px;
}

.face__product {
    position: absolute;
    left: -15px;
    width: calc(100% + 30px);
    height: 770px;
    z-index: -1;
    bottom: -215px;
    background-image: url('../media/face/product.png');
    background-repeat: no-repeat;
    background-position: center bottom;

    & img {
        margin-right: auto;
        margin-left: auto;
    }
}

.face__box_eggs {
    margin-left: auto;
}

.face__arrow {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

@media(max-width: 1280px) {
    .face__head {
        margin-bottom: 30px;
    }

    .face__title {
        margin-top: 0;
        font-size: 50px;

        & span {
            font-size: 50px;
        }
    }

    .face__product {
        background-image: url('../media/face/product-1280.png');
        bottom: -120px;
        background-position: center bottom;
    }
}

@media(max-width: 768px) {
    .face {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
    }

    .face__title {
        font-size: 40px;
        margin-bottom: 25px;
        margin-bottom: 450px;

        & span {
            display: inline;
            font-size: 40px;
        }
    }

    .face__box_eggs {
        margin-top: 25px;
        margin-left: 0;
    }

    .face__product {
        top: 180px;
        bottom: auto;
        height: 370px;
        background-position: center bottom;
        background-image: url('../media/face/product-768.png');
    }

    .face__arrow {
        bottom: -40px;
        width: 65%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width: 480px) {

    .face__title {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 386px;
        line-height: 1.2;

        & span {
            display: inline;
            text-align: center;
            font-size: 24px;

            &:last-child {
                display: inline;
            }
        }
    }

    .face__head {
        display: flex;
        justify-content: center;
    }

    .face__product {
        top: 170px;
        height: 300px;
        background-position-x: center;
        background-image: url('../media/face/product-480.png');
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .face__title,
    .order__price,
    .question__subTitle,
    .step__subTitle,
    .product__title,
    .step__subTitle,
    .product__title,
    .professional__title,
    .reviews__title,
    .support__title,
    .step__name,
    .product__name,
    .support__subTitle {
        background: transparent !important;
        color: #171717 !important;

        & span {
            background: transparent !important;
            color: #171717 !important;

            &:last-child {
                color: #171717 !important;
                background: transparent !important;
            }
        }
    }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    .face__title,
    .order__price,
    .question__subTitle,
    .step__subTitle,
    .product__title,
    .step__subTitle,
    .product__title,
    .professional__title,
    .reviews__title,
    .support__title,
    .step__name,
    .product__name,
    .support__subTitle {
        background: transparent !important;
        color: #171717 !important;
        -webkit-text-fill-color: #171717 !important;

        & span {
            background: transparent !important;
            color: #171717 !important;
            -webkit-text-fill-color: #171717 !important;

            &:last-child {
                color: #171717 !important;
                background: transparent !important;
                -webkit-text-fill-color: #171717 !important;
            }
        }
    }
}}
