
.face {
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 28px;
}

.face__head {
    width: 100%;
}

.face__title {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 77px;
    line-height: 1;
    color: #171717;
    font-weight: 600;

    & span {
        display: block;
        font-size: 77px;

        &:last-child {
            font-weight: 800;
            display: table;
            background: linear-gradient(45deg, #43a8c5 33%, #53b44e);
            color: #0B2349;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.face__order {
    margin-bottom: 30px;
}

.face__product {
    position: absolute;
    left: 0;
    width: 100%;
    height: 713px;
    z-index: -1;
    bottom: -215px;
    background-image: url('../media/face/product.png');
    background-repeat: no-repeat;
    background-position: center bottom;

    & img {
        margin-right: auto;
        margin-left: auto;
    }
}

.face__box_eggs {
    margin-left: auto;
}

.face__arrow {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

@media(max-width: 1280px) {
    .face__title {
        font-size: 50px;
        & span {
            font-size: 50px;
        }
    }

    .face__product {
        bottom: -120px;
        background-image: url('../media/face/product-1280.png');
        background-position: 160px bottom;
    }
}

@media(max-width: 768px) {
    .face {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 360px;
    }

    .face__title {
        font-size: 40px;
        margin-bottom: 25px;

        & span {
            display: inline;
            font-size: 40px;
        }
    }

    .face__box_eggs {
        margin-top: 25px;
        margin-left: 0;
    }

    .face__product {
        background-position-x: 28px;
        bottom: 0;
        background-image: url('../media/face/product-768.png');
    }

    .face__arrow {
        bottom: -40px;
        width: 65%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media(max-width: 480px) {
    .face {
        padding-bottom: 290px;
    }

    .face__title {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 30px;
        line-height: 1.2;

        & span {
            display: inline;
            text-align: center;
            font-size: 24px;

            &:last-child {
                display: inline;
            }
        }
    }

    .face__head {
        display: flex;
        justify-content: center;
    }

    .face__product {
        background-position-x: center;
        bottom: 0;
        background-image: url('../media/face/product-480.png');
    }
}
