
.facts__item {
    display: flex;
    align-items: center;
    margin-left: -110px;
    background-color: #fff;
    border: 3px solid #ef265a;
    border-radius: 7px;
    font-weight: 500;

    & + & {
        margin-top: 50px;
    }

    &_right {
        margin-left: 0;
        margin-right: -110px;

        & .facts__content {
            order: 1;
        }
    }
}

.facts__content {
    display: flex;
    padding: 45px;
}

.facts__nomber {
    margin-right: 40px;
    font-size: 112px;
    color: #e6e6e6;
    line-height: .75;
}

.facts__subTitle {
    font-size: 26px;
    line-height: 32px;
    color: #ef265a;

    & span {
        margin-top: 25px;
        color: #000;
        display: block;
        font-size: 20px;
        line-height: 28px;
    }
}

.facts__media {
    min-width: 429px;
}

@media(max-width: 1280px) {
    .facts__item {
        margin-left: 0;

        &_right {
            margin-right: 0;
        }
    }

    .facts__content {
        padding: 15px;
        flex-direction: column;
    }

    .facts__nomber {
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 60px;
    }

    .facts__subTitle {
        font-size: 20px;
        line-height: 1.2;

        & span {
            margin-top: 10px;
            font-size: 16px;
            line-height: 1.2;
        }
    }

    .facts__media {
        min-width: 300px;
        width: 350px;
    }
}

@media(max-width: 768px) {
    .facts__item {
        flex-direction: column;

        & + & {
            margin-top: 15px;
        }
    }

    .facts__content {
        flex-direction: row;
    }

    .facts__nomber {
        margin-right: 15px;
        margin-bottom: 0;
    }

    .facts__subTitle {
        font-size: 18px;

        & span {
            margin-top: 5px;
            font-weight: 400;
        }
    }

    .facts__media {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        min-width: 100%;
        overflow: hidden;

        & img {
            width: 100%;
        }
    }
}

@media(max-width: 480px) {
    .facts__item {
        &_right {
            & .facts__content {
                order: 0;
            }
        }
    }

    .facts__nomber {
        margin-right: 15px;
        font-size: 50px;
    }

    .facts__subTitle {
        font-size: 16px;
        line-height: 1;

        & span {
            font-size: 14px;
        }
    }

    .facts__media {
        height: auto;
        width: 100%;

        & img {
            width: auto;
            min-width: 100%;
        }
    }
}
