
.facts__item {
    position: relative;
    margin-left: -110px;
    background-color: #fff;
    border: 3px solid #ef265a;
    border-radius: 7px;
    font-weight: 500;
    box-shadow: 15px 16px 13px 0px #e2e2e2;

    & + & {
        margin-top: 50px;
    }

    &_right {
        margin-left: 0;
        margin-right: -110px;

        & .facts__media {
            right: auto;
            left: 0;
        }

        & .facts__content {
            padding: 45px 82px 45px 606px;
        }
    }
}

.facts__content {
    display: flex;
    align-items: center;
    padding: 45px 527px 45px 150px;
    height: 365px;
}

.facts__nomber {
    position: absolute;
    top: 5px;
    left: -113px;
    width: 90px;
    font-size: 112px;
    color: #e6e6e6;
    line-height: .75;
    text-align: right;
}

.facts__subTitle {
    position: relative;
    font-size: 26px;
    line-height: 32px;
    color: #ef265a;

    & span {
        margin-top: 25px;
        color: #000;
        display: block;
        font-size: 20px;
        line-height: 28px;
    }
}

.facts__media {
    position: absolute;
    top: 0;
    right: 0;
    width: 429px;
}

@media(max-width: 1280px) {
    .facts__item {
        margin-left: 0;
        min-height: 304px;

        &_right {
            margin-right: 0;

            & .facts__content {
                padding: 15px 15px 15px 365px;
            }
        }
    }

    .facts__content {
        height: 298px;
        padding: 15px 365px 15px 15px;
    }

    .facts__nomber {
        top: -50px;
        left: 0;
        width: auto;
        font-size: 60px;
        text-align: left;
    }

    .facts__subTitle {
        font-size: 20px;
        line-height: 1.2;

        & span {
            margin-top: 10px;
            font-size: 16px;
            line-height: 1.2;
        }
    }

    .facts__media {
        min-width: 300px;
        width: 350px;
    }
}

@media(max-width: 768px) {
    .facts__item {
        display: flex;
        flex-direction: column;
        padding-right: 0;
        min-height: none;
        max-height: none;

        & + & {
            margin-top: 15px;
        }

        &_right {
            & .facts__content {
                padding: 15px;
            }
        }
    }

    .facts__content {
        align-items: flex-start;
        order: 2;
        height: auto;
        padding: 15px;
        position: static;
        transform: translateY(0);
    }

    .facts__nomber {
        top: 0;
        left: 0;
    }

    .facts__subTitle {
        font-size: 18px;
        padding-left: 64px;

        & span {
            margin-top: 5px;
            font-weight: 400;
        }
    }

    .facts__media {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        min-width: 100%;
        overflow: hidden;

        & img {
            width: 100%;
        }
    }
}

@media(max-width: 480px) {
    .facts__nomber {
        margin-right: 15px;
        font-size: 50px;
    }

    .facts__subTitle {
        font-size: 16px;
        line-height: 1;

        & span {
            font-size: 14px;
        }
    }

    .facts__media {
        height: auto;
        width: 100%;

        & img {
            width: auto;
            min-width: 100%;
        }
    }
}
