
.fake {
    position: relative;
    padding-right: 400px;
    display: flex;
    max-height: 366px;
    border-radius: 7px;
    border: 3px solid #e12355;
    background: #fff;
    background: linear-gradient(103deg, rgba(255,255,255,1) 61%, rgba(225,35,85,1) 61%, rgba(225,35,85,1) 100%);
}

.fake__box {
    width: 100%;
    padding: 70px 0 70px 60px;
}

.fake__title {
    font-size: 56px;
    line-height: 52px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #ef265a;
    text-transform: uppercase;
}

.fake__description {
    font-size: 19px;
    line-height: 1.2;
}

.fake__media {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    height: 528px;
    background-repeat: no-repeat;
    background-image: url('../media/fake/product.png');
}

@media(max-width: 1280px) {
    .fake__title {
        font-size: 48px;
        line-height: 1;
    }

    .fake__description {
        font-size: 18px;
    }

    .fake {
        padding-right: 0;
        background: #fff;
        padding: 15px;
        flex-direction: column;
        max-height: none;
    }

    .fake__box {
        padding: 0;
        text-align: center;
    }

    .fake__media {
        margin-top: 25px;
        position: static;
        transform: translateY(0);
        width: 100%;
        height: 321px;
        background-image: url('../media/fake/product-1280.png');
        background-position-x: center;
    }
}

@media(max-width: 768px) {
    .fake__title {
        font-size: 38px;
    }

    .fake__description {
        font-size: 16px;
    }
}

@media(max-width: 480px) {
    .fake__title {
        font-size: 28px;
    }

    .fake__description {
        font-size: 14px;
    }

    .fake__media {
        height: 222px;
        background-image: url('../media/fake/product-480.png');
    }
}
