
.memories {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.memories_subTitle {
    margin-bottom: 10px;
    max-width: 330px;
    font-size: 43px;
    font-weight: 600;
    color: #171717;
    line-height: 43px;
    text-transform: uppercase;
    text-align: right;
}

.memories_title {
    max-width: 330px;
    font-size: 62px;
    line-height: 57px;
    font-weight: 800;
    color: #ef265a;
    text-transform: uppercase;
    text-align: right;
}

.memories__box {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 376px;
}

.memories__item {
    max-width: 148px;
    margin-bottom: 40px;
}

.memories__media {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 148px;
    border-radius: 50%;
    background: rgb(255,211,195);
    background: linear-gradient(to top, rgba(255,211,195,1) 0%, rgba(251,175,172,1) 100%);
}

.memories__name {
    position: relative;
    font-weight: 800;
    color: #ef265a;
    text-align: center;
    text-transform: uppercase;
}

@media(max-width: 1280px) {
    .memories_subTitle {
        font-size: 28px;
        line-height: 1.2;
        max-width: 220px;
    }

    .memories_title {
        font-size: 48px;
        line-height: 1;
    }

    .memories__box {
        flex-wrap: nowrap;
        max-width: none;
    }

    .memories__item {
        max-width: 120px;
        margin-bottom: 0;

        & + & {
            margin-left: 20px;
        }
    }

    .memories__media {
        width: 120px;
        height: 120px;
        padding: 30px;
    }

    .memories__name {
        font-size: 14px;
    }
}

@media(max-width: 768px) {
    .memories_subTitle {
        font-size: 18px;
        font-weight: 800;
        line-height: 1;
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .memories_title {
        font-size: 38px;
        line-height: 1;
        max-width: 100%;
        text-align: center;
    }

    .memories__box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .memories__item {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 36%;
        margin-bottom: 25px;

        & + & {
            margin-left: 0;
        }
    }

    .memories__media {
        width: 100px;
        height: 100px;
        padding: 20px;
    }

    .memories__name {
        width: 125px;
        font-weight: 600;
    }
}
@media(max-width: 480px) {
    .memories_subTitle {
        font-size: 16px;
    }

    .memories_title {
        font-size: 28px;
    }

    .memories__item {
        width: 50%;

        & + & {
            margin-left: 0;
        }
    }

    .memories__media {
        width: 100px;
        height: 100px;
        padding: 20px;
    }

    .memories__name {
        width: 125px;
    }
}
