.product {
    background-image: url("../media/product/product.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 100px;
    margin-bottom: -70px;
}

.product__title {
    display: inline;
    background-image: linear-gradient(45deg, #43a8c5 33%, #53b44e);
    color: #0B2349;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;color: #171717;
    font-size: 61px;
    line-height: 57px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.product__subTitle {
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

    & span {
        display: block;
        font-size: 30px;
    }
}

.product__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 50px;

    &:nth-of-type(2n) {
        align-items: flex-end;
        text-align: right;
    }
}

.product__media {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 142px;
    border-radius: 30px;
    overflow: hidden;

    & img {
        max-width: none;
    }
}

.product__name {
    background-image: linear-gradient(45deg, #43a8c5 33%, #53b44e);
    color: #0B2349;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;color: #171717;
    margin-bottom: 10px;
    font-size: 27px;
    font-weight: 600;
    line-height: 28px;

    & span {
        display: block;
        font-size: 27px;
    }
}

.product__description {
    max-width: 233px;
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
}


@media(max-width: 1280px) {
    .product {
        background-image: url("../media/product/product-1280.png");
    }

    .product__title {
        font-size: 48px;
    }

    .product__subTitle {
        margin-bottom: 25px;
        font-size: 28px;

        & span {
            font-size: 28px;
        }
    }

    .product__name {
        font-size: 22px;
        margin-bottom: 5px;
        line-height: 1;

        & span {
            font-size: 22px;
        }
    }

    .product__description {
        font-size: 16px;
        line-height: 1.2;
    }
}

@media(max-width: 768px) {
    .product {
        background-image: url("../media/product/product-768.png");
    }

    .product__title {
        font-size: 38px;
        line-height: 1;
    }

    .product__subTitle {
        margin-top: 10px;
        font-size: 18px;
        line-height: 1;

        & span {
            font-size: 18px;
        }
    }

    .product__media {
        width: 100px;
        height: 100px;
    }

    .product__name {
        font-size: 18px;

        & span {
            font-size: 18px;
        }
    }

    .product__description {
        font-size: 14px;
        max-width: 167px;
    }
}

@media(max-width: 480px) {
    .product {
        background-image: none;
    }

    .product__title {
        font-size: 28px;
        line-height: 1.2;
    }

    .product__subTitle {
        font-size: 16px;
        line-height: 1.2;

        & span {
            font-size: 16px;
        }
    }

    .product__box {
        flex-direction: column;
    }

    .product__item {
        min-height: 100px;
        position: relative;
        padding-left: 115px;
        width: 100%;
        margin-bottom: 25px;

        &:nth-of-type(2n) {
            align-items: flex-start;
            text-align: left;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .product__media {
        position: absolute;
        left: 0;
        top: 0;
    }

    .product__description {
        max-width: 100%;
    }

    .product__name {
        & span {
            display: inline;
        }
    }
}
