
.professional {
    display: flex;
}

.professional__box {
    &_doc {
        padding-bottom: 50px;
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 130px;
        margin-top: -100px;
        max-width: 650px;
        background-color: #f6f6f9;
    }

    &_human {
        position: relative;
    }
}

.professional__title {
    margin-bottom: 20px;
    display: inline-block;
    background-image: linear-gradient(45deg, #43a8c5 33%, #53b44e);
    color: #0B2349;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;color: #171717;
    font-size: 61px;
    line-height: 57px;
    font-weight: 800;
    text-transform: uppercase;
}

.professional__subTitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #43a8c5;
}

.professional__description {
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
}

.professional__footer {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.professional__identifier {
    margin-right: 30px;
}

.professional__name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.professional__position {
    max-width: 200px;
    color: #43a8c5;
    font-weight: 500;
    font-style: italic;
}

.professional__media {
    position: absolute;
    background-image: url('../media/professional/human.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 372px;
    height: 774px;
}

@media(max-width: 1280px) {
    .professional__title {
        font-size: 48px;
        line-height: 1;
    }

    .professional__description {
        font-size: 16px;

        & span {
            font-size: 16px;
        }
    }

    .professional__box {
        &_doc {
            max-width: 485px;
            padding-right: 30px;
            padding-left: 30px;
        }
    }

    .professional__media {
        width: 250px;
        height: 760px;
        background-image: url('../media/professional/human-1280.png');
    }
}

@media(max-width: 768px) {
    .professional__title {
        font-size: 38px;
    }

    .professional__subTitle {
        font-size: 18px;
    }

    .professional__description {
        font-size: 14px;
        line-height: 20px;

        & span {
            font-size: 14px;
        }
    }

    .professional__box {
        &_doc {
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }

        &_human {
            display: none;
        }
    }

    .professional__media {
        background-image: none;
    }
}

@media(max-width: 480px) {
    .professional__title {
        font-size: 28px;
    }

    .professional__subTitle {
        font-size: 16px;
        line-height: 1.2;
    }

    .professional__box {
        &_doc {
            margin-top: 0;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    .professional__name {
        font-size: 18px;
    }

    .professional__position {
        font-size: 14px;
    }
}
