
.step__title {
    margin-bottom: 20px;
    font-size: 43px;
    line-height: 42px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.step__subTitle {
    background-image: linear-gradient(45deg, #43a8c5, #53b44e);
    color: #0B2349;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;color: #171717;
    font-size: 61px;
    line-height: 57px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.step__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.step__item {
    position: relative;
    z-index: 1;
    padding-top: 92px;
    width: calc(25% - 10px);
}

.step__count {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    font-size: 165px;
    font-weight: 700;
    color: #fff;
    line-height: .8;
    cursor: default;
}

.step__name {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(45deg, #43a8c5, #53b44e);
    color: #0B2349;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;color: #171717;
}

.step__line {
    margin-bottom: 20px;
    height: 10px;
    border-radius: 25px;
    background-color: #fff;
    background: rgb(70,170,179);
    background-image: linear-gradient(to right, rgba(70,170,179,1) 0%, rgba(148,216,222,1) 31%, rgba(255,255,255,1) 100%);
}

.step__description {
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
}

@media(max-width: 1280px) {
    .step__title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .step__subTitle {
        font-size: 48px;
        line-height: 1;
    }

    .step__item {
        padding-top: 80px;
    }

    .step__count {
        font-size: 100px;
    }

    .step__name {
        height: 40px;
        font-size: 18px;
    }

    .step__description {
        font-size: 14px;
        line-height: 19px;
    }
}

@media(max-width: 768px) {
    .step__title {
        font-size: 18px;
        margin-bottom: 0;
    }

    .step__subTitle {
        font-size: 38px;
    }

    .step__box {
        flex-wrap: wrap;
    }

    .step__item {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .step__name {
        margin-bottom: 0;
    }
}

@media(max-width: 480px) {
    .step__title {
        font-size: 16px;
    }

    .step__subTitle {
        font-size: 28px;
    }

    .step__item {
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .step__name {
        height: auto;
        margin-bottom: 10px;
    }
}
