
.support {
    position: relative;
    padding-bottom: 200px;
}

.support__title {
    margin-bottom: 20px;
    display: inline-block;
    background: linear-gradient(45deg, #43a8c5 33%, #53b44e);
    color: #0B2349;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 61px;
    line-height: 57px;
    font-weight: 800;
    text-transform: uppercase;
}

.support__item {
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.14);
    overflow: hidden;

    & + & {
        margin-top: 30px;
    }
}

.support__name {
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 15px;
    background: rgb(69,169,182);
    background: linear-gradient(rgba(69,169,182,1) 0%, rgba(81,178,94,1) 100%);
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
}

.support__indikator {
    margin-bottom: auto;
    position: relative;
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-right: 15px;

    & span {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background-color: #fff;
    }
}

.support__description {
    padding: 15px;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #f3f2f1;
    line-height: 1.3;
    background-color: #fff;
}

.support__callback {
    margin-top: 140px;
    max-width: 390px;
}

.support__subTitle {
    margin-bottom: 20px;
    display: inline-block;
    background: linear-gradient(45deg, #43a8c5 33%, #53b44e);
    color: #0B2349;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 61px;
    line-height: 57px;
    font-weight: 800;
    text-transform: uppercase;
}

.support__info {
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.support__btn {
    display: inline-block;
    padding: 21px 59px;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background: rgb(69,169,182);
    background: linear-gradient(to right, #43a8c5 0%, #53b44e 100%);
    transition: .3s background;
    cursor: pointer;

    &:hover {
        background: rgb(83,180,78);
        background: linear-gradient(to right, rgba(83,180,78,1) 0%, rgba(67,168,197,1) 100%);
    }
}

.support__media {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 455px;
    height: 636px;
    background-image: url('../media/support/human.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

@media(max-width: 1280px) {
    .support__title {
        font-size: 48px;
        line-height: 1;
    }

    .support__info {
        font-size: 28px;
        line-height: 1.2;
    }

    .support__subTitle {
        font-size: 48px;
        line-height: 1;
    }

    .support__description {
        font-size: 16px;
    }

    .support__media {
        width: 321px;
        height: 448px;
        background-image: url('../media/support/human-1280.png');
    }

    .support__callback {
        margin-top: 50px;
    }
}

@media(max-width: 768px) {
    .support {
        padding-bottom: 100px;
    }

    .support__title {
        font-size: 38px;
    }

    .support__info {
        font-size: 18px;
    }

    .support__subTitle {
        font-size: 38px;
    }

    .support__name {
        font-size: 16px;
    }

    .support__item {
        & + & {
            margin-top: 15px;
        }
    }

    .support__callback {
        max-width: 100%;
        margin-right: 0;
    }

    .support__media {
        display: none;
        background-image: none;
    }

    .support__btn {
        font-size: 16px;
        padding: 15px 30px;
    }

    .support__info {
        max-width: 350px;
        margin-bottom: 25px;
    }
}

@media(max-width: 480px) {
    .support {
        padding-bottom: 0;
    }

    .support__title {
        font-size: 28px;
    }

    .support__info {
        font-size: 16px;
    }

    .support__subTitle {
        font-size: 28px;
    }

    .support__name {
        font-size: 14px;
    }

    .support__item {
        & + & {
            margin-top: 15px;
        }
    }
}
