
.wraning__title {
    margin-bottom: 10px;
    font-size: 62px;
    line-height: 57px;
    font-weight: 800;
    color: #ef265a;
    text-transform: uppercase;

    & span {
        display: block;
        font-size: 62px;
    }
}

.wraning__subTitle {
    font-size: 43px;
    font-weight: 600;
    color: #171717;
    line-height: 43px;
    text-transform: uppercase;

    & span {
        display: block;
        font-size: 43px;
    }
}

@media(max-width: 1280px) {
    .wraning__title {
        font-size: 48px;
        line-height: 1;

        & span {
            font-size: 48px;
        }
    }

    .wraning__subTitle {
        font-size: 28px;
        line-height: 1;

        & span {
            font-size: 28px;
        }
    }
}

@media(max-width: 768px) {
    .wraning__title {
        font-size: 38px;

        & span {
            font-size: 38px;
        }
    }

    .wraning__subTitle {
        font-size: 18px;
        line-height: 1.2;

        & span {
            font-size: 18px;
        }
    }
}

@media(max-width: 480px) {
    .wraning__title {
        font-size: 28px;

        & span {
            font-size: 28px;
        }
    }

    .wraning__subTitle {
        font-size: 16px;

        & span {
            font-size: 16px;
        }
    }
}
