<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Сахарный диабет – патология метаболизма, обусловленная нарушением продукции или действия инсулина, проявляющаяся повышением концентрации глюкозы в плазме крови (гипергликемией), увеличением количества мочи (более 1,5 л/сут) и развитием осложнений.">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="диабет, инсулин, сахар">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Suganorm сахарный диабет">
    <!-- описание страницы -->
    <meta property="og:description" content="Сахарный диабет – патология метаболизма, обусловленная нарушением продукции или действия инсулина, проявляющаяся повышением концентрации глюкозы в плазме крови (гипергликемией), увеличением количества мочи (более 1,5 л/сут) и развитием осложнений.">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Suganorm сахарный диабет">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Название страницы -->
    <meta name="twitter:title" content="Suganorm сахарный диабет">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="Сахарный диабет – патология метаболизма, обусловленная нарушением продукции или действия инсулина, проявляющаяся повышением концентрации глюкозы в плазме крови (гипергликемией), увеличением количества мочи (более 1,5 л/сут) и развитием осложнений.">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__head">
                <div class="face__logo">Средство <span>от диабета №1</span></div>
                <div class="face__pride">
                    <div class="face__pride-item">
                        <div class="face__pride-icon">
                            <img src="../media/face/icon-1.png" alt="">
                        </div>
                        <div>Снижает сахар <span>до нормы</span></div>
                    </div>
                    <div class="face__pride-item">
                        <div class="face__pride-icon">
                            <img src="../media/face/icon-2.png" alt="">
                        </div>
                        <div>Товар года <span>2020</span></div>
                    </div>
                    <div class="face__pride-item">
                        <div class="face__pride-icon">
                            <img src="../media/face/icon-3.png" alt="">
                        </div>
                        <div>Одобрено ведущими <span>эндокринологами Европы</span></div>
                    </div>
                </div>
            </div>

            <div class="face__body">
                <div class="face__box">
                    <div class="face__title title title_line wow fadeIn" data-wow-offset="100"><span>Sug<mark>aNorm</mark></span> – правильн<mark>ое лечение диабета</mark></div>
                    <div class="face__list">
                        <div class="face__item wow slideInLeft" data-wow-offset="100">
                            <div class="face__box-icon">
                                <img src="../media/face/check.png" alt="">
                            </div>
                            <div>
                                <mark>Cнижает</mark> уровень сахара,
                                <span><mark>помогает</mark> усваивать инсулин </span>
                            </div>
                        </div>
                        <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay="0.1s">
                            <div class="face__box-icon">
                                <img src="../media/face/check.png" alt="">
                            </div>
                            <div>
                                <mark>Предупреждает</mark> гипогликемию,
                                <span><mark>повышает</mark> иммунитет</span>
                            </div>
                        </div>
                        <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay="0.2s">
                            <div class="face__box-icon">
                                <img src="../media/face/check.png" alt="">
                            </div>
                            <div>
                                <mark>Нормализует</mark> обмен веществ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="face__product"><img src="../media/face/product.png" alt=""></div>
                <div class="face__box">
                    <div class="face__form">
                        <div class="face__form-price">цена со <br> скидкой: <span>39 евро</span></div>
                        <div class="face__form-achievement">
                            <div>
                                Прорыв в эндокринологии <span>2020 года</span>
                            </div>
                        </div>
                        <div class="face__form-head">
                            <div class="face__form-name">Скидка на первый заказ:</div>
                            <div class="face__form-discount">-50%</div>
                        </div>

                        <div class="face__form-rice-box">
                            <div class="face__price-new">
                                <span>Новая цена:</span>
                                <span>39 евро</span>
                            </div>
                            <div class="face__price-old">
                                <span>Старая цена:</span>
                                <span>78 евро</span>
                            </div>
                        </div>
                        <div class="face__form-body">
                            <div class="face__form-label">
                                <select class="face__form-field face__form-select">
                                    <option selected></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </div>
                            <div class="face__form-label">
                                <input class="face__form-field" type="text">
                                <span>Имя</span>
                            </div>
                            <div class="face__form-label">
                                <input class="face__form-field" type="text">
                                <span>Телефон</span>
                            </div>
                            <div class="face__count">
                                <div class="face__count-name">до конца акции:</div>
                                <div class="face__count-box">
                                    <div class="face__count-time"><span>00</span><span>часов</span></div>
                                    <div class="face__count-time"><span>00</span><span>минут</span></div>
                                    <div class="face__count-time"><span>00</span><span>секунд</span></div>
                                </div>
                            </div>
                            <button class="face__form-btn btn wow tada" data-wow-offset="100" data-wow-delay="2s">Купить <span>SugaNorm</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_info">
    <div class="container">
        <div class="info">
            <div class="info__title title wow fadeIn" data-wow-offset="100"><mark>Что нужно знать</mark> <span>о диабете?</span></div>
            <div class="info__sub-title">Основными симптомами диабета считаются:</div>
            <div class="info__box">
                <figure class="info__item">
                    <div class="info__item-media"><img src="../media/info/item-1.png" alt=""></div>
                    <figcaption class="info__item-description">СУХОСТЬ <span>ВО РТУ И</span> ПОСТОЯННАЯ ЖАЖДА</figcaption>
                </figure>
                <figure class="info__item">
                    <div class="info__item-media"><img src="../media/info/item-2.png" alt=""></div>
                    <figcaption class="info__item-description">ПОВЫШЕННЫЙ АППЕТИТ</figcaption>
                </figure>
                <figure class="info__item">
                    <div class="info__item-media"><img src="../media/info/item-3.png" alt=""></div>
                    <figcaption class="info__item-description">БЫСТРАЯ УТОМЛЯЕМОСТЬ, СОНЛИВОСТЬ</figcaption>
                </figure>
                <figure class="info__item">
                    <div class="info__item-media"><img src="../media/info/item-4.png" alt=""></div>
                    <figcaption class="info__item-description">УЧАЩЕННОЕ МОЧЕИСПУСКАНИЕ</figcaption>
                </figure>
                <figure class="info__item">
                    <div class="info__item-media"><img src="../media/info/item-5.png" alt=""></div>
                    <figcaption class="info__item-description"><span>ЗУД И ПЛОХАЯ</span> РЕГЕНЕРАЦИЯ КОЖИ</figcaption>
                </figure>
            </div>
            <div class="info__alert">
                <div class="info__alert-icon"><img src="../media/info/alert.png" alt=""></div>
                <div class="info__alert-description">
                    <div class="info__alert-bd">
                        Сахарным диабетом страдают более 385 миллионов
                        человек в возрасте от 20 до 80 лет.
                        <span>более 80% людей даже не подозревают
                            о своем заболевании.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        <section class="section section_danger">
    <div class="container">
        <div class="danger">
            <div class="danger__title wow fadeIn" data-wow-offset="100">
                <div>При диабете II типа организм вырабатывает</div>
                <div>инсулин в достаточном количестве,</div>
                <mark>
                    <div>но мышечная ткань не воспринимает его,</div>
                    <div class="danger__title-line">и в результате <span>случается инсулиновый голод</span></div>
                </mark>
            </div>
            <div class="danger__body">
                <div class="danger__causes">
                    <div class="danger__causes-title">Причины:</div>
                    <div class="danger__causes-box">
                        <div class="danger__causes-item">
                            <img src="../media/danger/cause-1.png" alt="">
                            <span>Возраст</span>
                        </div>
                        <div class="danger__causes-item">
                            <img src="../media/danger/cause-2.png" alt="">
                            <span>Хронические заболевания</span>
                        </div>
                        <div class="danger__causes-item">
                            <img src="../media/danger/cause-3.png" alt="">
                            <span>Лишний вес</span>
                        </div>
                    </div>
                    <div class="danger__causes-footer">
                        Генетическая предрасположенность
                    </div>
                </div>
                <div class="danger__list">
                    <div class="danger__list-title">осложнения</div>
                    <div class="danger__list-item wow slideInRight" data-wow-offset="100">
                        <div class="danger__list-icon"><img src="../media/danger/!.png" alt="">
                        </div>
                        Невропатия
                    </div>
                    <div class="danger__list-item wow slideInRight" data-wow-offset="100" data-wow-delay="0.05s">
                        <div class="danger__list-icon"><img src="../media/danger/!.png" alt="">
                        </div>
                        Поражение ног
                    </div>
                    <div class="danger__list-item wow slideInRight" data-wow-offset="100" data-wow-delay="0.1s">
                        <div class="danger__list-icon"><img src="../media/danger/!.png" alt="">
                        </div>
                        Кожные болезни
                    </div>
                    <div class="danger__list-item wow slideInRight" data-wow-offset="100" data-wow-delay="0.15s">
                        <div class="danger__list-icon"><img src="../media/danger/!.png" alt="">
                        </div>
                        Потеря зрения
                    </div>
                    <div class="danger__list-item wow slideInRight" data-wow-offset="100" data-wow-delay="0.2s">
                        <div class="danger__list-icon">
                            <img src="../media/danger/!.png" alt="">
                        </div>
                        Сердечно-сосудистые заболевания
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_defender">
    <div class="container">
        <div class="defender">
            <div class="defender__title title wow fadeIn" data-wow-offset="100"><mark>Ученые научились блокировать ген,</mark> <span>отвечающий за развитие диабета</span></div>
            <div class="defender__list">
                <div class="defender__list-doctor"><img src="../media/defender/doctor.jpg" alt=""></div>
                <div class="defender__lixt-box">
                    <div class="defender__item">Без генетической предрасположенности невозможно заболеть диабетом. Генетики из университета в Миннесоте сделали открытие, что ген PFKFB3 – основной регулятор метаболизма, и играет ключевую роль в процессе развития диабета.</div>
                    <div class="defender__item">Дальнейшие исследования ученых доказали: <mark>профилактика и окончательное избавление от диабета возможны при помощи генной терапии.</mark> Этот метод был тщательно исследован и подтвержден клинически.</div>
                    <div class="defender__item">В основе лечения лежит терапия на натуральных компонентах, которые ученые объединили в препарате <mark>SugaNorm</mark>.</div>
                    <div class="defender__item">Препарат на генетическом уровне блокирует повышение сахара в крови и нормализует выработку инсулина, помогая организму его усваивать. </div>
                </div>
            </div>
            <div class="defender__product"><img src="../media/defender/product.png" alt=""></div>
        </div>
    </div>
</section>

        
<section class="section section_job">
    <div class="container">
        <div class="job">
            <div class="job__title title wow fadeIn" data-wow-offset="100"><mark>Как работает SugaNorm?</mark></div>
            <div class="job__body">
                <div class="job__box">
                    <div class="job__item">
                        <div class="job__media">
                            <img src="../media/job/img-1.png" alt="">
                        </div>
                        <div class="job__name">Экстракт корицы</div>
                        <div class="job__description">
                            Восстанавливает чувствительность ткани к инсулину и позволяет контролировать уровень сахара в крови.
                            <span><mark>Предотвращает нарушение углеводного обмена, снижает уровень холестерина в крови.</mark></span>
                        </div>
                    </div>
                    <div class="job__item">
                        <div class="job__media">
                            <img src="../media/job/img-2.png" alt="">
                        </div>
                        <div class="job__name">Экстракт шелковицы</div>
                        <div class="job__description">
                            <mark>Регулирует уровень сахара в крови,</mark> налаживает выработку и усвоение инсулина в организме. Нормализует давление и увеличивает проходимость мелких сосудов.
                        </div>
                    </div>
                    <div class="job__item">
                        <div class="job__media">
                            <img src="../media/job/img-3.png" alt="">
                        </div>
                        <div class="job__name">хром</div>
                        <div class="job__description">
                            Снижает уровень холестерина в крови и риск сердечно-сосудистых заболеваний. <mark>Поддерживает нормальный уровень глюкозы и ускоряет обмен веществ.</mark>
                        </div>
                    </div>
                </div>
                <div class="job__product"><img src="../media/job/product.png" alt=""></div>
                <div class="job__footer">
                    <div class="job__btn btn">Купить <span>SugaNorm</span></div>
                </div>
            </div>
        </div>
    </div>
</section>

        <section class="section section_information">
    <div class="container">
        <div class="information">
            <div class="information__title title wow fadeIn" data-wow-offset="100"><mark>Что нужно знать</mark> <span>о диабете?</span></div>
            <div class="information__body">
                <div class="information__product">
                    <div class="information__border"><div>Прорыв в эндокринологии <span>2020 года</span></div></div>
                    <div class="information__price">цена со скидкой: <span>39 евро</span></div>
                    <img src="../media/information/product.png" alt="">
                </div>
                <div class="information__list">
                    <div class="information__item wow slideInRight" data-wow-offset="100">
                        <div class="information__item-media">
                            <img src="../media/information/icon-1.png" alt="">
                        </div>
                        <div class="information__item-info">
                            Стимулирует выработку инсулина,
                            помогает усваивать глюкозу и снижает сахар до нормы. <mark>Нормализует вес
                                и липидный обмен.</mark> Обладает гипогликемическим эффектом.
                        </div>
                    </div>
                    <div class="information__item wow slideInRight" data-wow-offset="100" data-wow-delay="0.05s">
                        <div class="information__item-media">
                            <img src="../media/information/icon-2.png" alt="">
                        </div>
                        <div class="information__item-info">
                            <mark>Налаживает обменные процессы,</mark> предотвращает нарушение функций поджелудочной и щитовидной желез.
                        </div>
                    </div>
                    <div class="information__item wow slideInRight" data-wow-offset="100" data-wow-delay="0.1s">
                        <div class="information__item-media">
                            <img src="../media/information/icon-3.png" alt="">
                        </div>
                        <div class="information__item-info">
                            <mark>Снижает риск сердечно-сосудистых заболеваний</mark> и почечной недостаточности.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="professional__title title wow fadeIn" data-wow-offset="100"><mark>Комментарий диетолога</mark></div>
            <div class="professional__info">
                <div class="professional__media"><img src="../media/professional/human.png" alt=""></div>
                <div class="professional__content">
                    <p>До появления препарата SugaNorm диабет сложно поддавался <span>лечению. Сахароснижающие лекарства и диета помогали</span> поддерживать нужный уровень глюкозы в крови, а вспомогательные <span>препараты усваивать инсулин. Но такие средства имеют
                        большое</span> количество побочных эффектов и их необходимо принимать всю <span>жизнь. Постоянная корректировка дозировки часто приводила</span> к отмене препарата, так как он переставал действовать.
                        <b><span>SugaNorm позволяет иммунным клеткам вырабатывать</span>
                            в должном количестве гормон инсулин</b>, а также помогать <span>поджелудочной железе воспринимать его. За счет этого</span> восстанавливаются обменные процессы, и диабетики
                        <span>избавляется от заболевания.</span></p>
                    <p>
                        Я активно использую в своей практике препарат
                        <span>SugaNorm, и статистика поражает. <b>У 10 из 10 больных</span>
                            после курса лечения наблюдается положительная
                            <span>динамика со значительным снижением</span>
                            уровня глюкозы в крови.</b>
                    </p>
                </div>
                <div class="professional__footer">
                    <div class="professional__name">
                        доктор медицинских наук, <span>врач-эндокринолог</span> Thomas Shields
                    </div>
                    <div class="professional__id">
                        <img src="../media/professional/id.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__title title wow fadeIn" data-wow-offset="100"><mark>Отзывы</mark> <span>о SugaNorm</span></div>
            <div class="commits__slide owl-carousel">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__description">
                        Почти 10 лет назад мне поставили диабет 2-го типа. Моя жизнь изменилась в худшую сторону. Постоянная усталость, жажда, царапина от кошки могла заживать месяцами… Еще и проблемы с сердцем появились. <mark>Я лечился долго, но только SugaNorm помог снизить уровень сахара и удерживать нормальный показатель. Начав принимать его, я почувствовал себя гораздо лучше.</mark> Через неделю пропала сухость во рту, я стал лучше спать и чувствовать себя более энергичным. Постепенно сахар пришел в норму. Уже полгода анализ на сахар не показывает больше 4,6 ммоль.
                        <div class="commits__name">
                            Ryan Clark
                            <div class="commits__age">50 лет</div>
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__description">
                        После 40 лет у меня диагностировали диабет. Я очень рада, что наши ученые смогли сделать препарат, который не просто временно снижает сахар, а способствует лечению заболевания. Я боролась с ним очень долго и мне было мучительно тяжело придерживаться диеты, которая не особо помогала. SugaNorm помог мне. Вот уже более года мой сахар в норме. Чувствую себя отлично, даже вес начал падать, так как обмен веществ наладился.
                        <div class="commits__name">
                            Melinda Malone
                            <div class="commits__age">62 года</div>
                        </div>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__description">
                        Много лет лечился от диабета. Сахар в крови постоянно скакал от 5,5 до 15. Хотя я и соблюдал диеты и все назначения врача. Из-за этого приходилось пить таблетки горстями, а сейчас практически не пью их. После курса SugaNorm ушла усталость и сонливость, сахар в крови пришел в норму. Я даже стал забывать проверять его. Чувствую себя здоровым и нормальным человеком.
                        <div class="commits__name">
                            Simon Tucker
                            <div class="commits__age">47 лет</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        <section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__head">
                <div class="face__logo">Средство <span>от диабета №1</span></div>
                <div class="face__pride">
                    <div class="face__pride-item">
                        <div class="face__pride-icon">
                            <img src="../media/face/icon-1.png" alt="">
                        </div>
                        <div>Снижает сахар <span>до нормы</span></div>
                    </div>
                    <div class="face__pride-item">
                        <div class="face__pride-icon">
                            <img src="../media/face/icon-2.png" alt="">
                        </div>
                        <div>Товар года <span>2020</span></div>
                    </div>
                    <div class="face__pride-item">
                        <div class="face__pride-icon">
                            <img src="../media/face/icon-3.png" alt="">
                        </div>
                        <div>Одобрено ведущими <span>эндокринологами Европы</span></div>
                    </div>
                </div>
            </div>

            <div class="face__body">
                <div class="face__box">
                    <div class="face__title title title_line wow fadeIn" data-wow-offset="100"><span>Sug<mark>aNorm</mark></span> – правильн<mark>ое лечение диабета</mark></div>
                    <div class="face__list">
                        <div class="face__item wow slideInLeft" data-wow-offset="100">
                            <div class="face__box-icon">
                                <img src="../media/face/check.png" alt="">
                            </div>
                            <div>
                                <mark>Cнижает</mark> уровень сахара,
                                <span><mark>помогает</mark> усваивать инсулин </span>
                            </div>
                        </div>
                        <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay="0.1s">
                            <div class="face__box-icon">
                                <img src="../media/face/check.png" alt="">
                            </div>
                            <div>
                                <mark>Предупреждает</mark> гипогликемию,
                                <span><mark>повышает</mark> иммунитет</span>
                            </div>
                        </div>
                        <div class="face__item wow slideInLeft" data-wow-offset="100" data-wow-delay="0.2s">
                            <div class="face__box-icon">
                                <img src="../media/face/check.png" alt="">
                            </div>
                            <div>
                                <mark>Нормализует</mark> обмен веществ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="face__product"><img src="../media/face/product.png" alt=""></div>
                <div class="face__box">
                    <div class="face__form">
                        <div class="face__form-price">цена со <br> скидкой: <span>39 евро</span></div>
                        <div class="face__form-achievement">
                            <div>
                                Прорыв в эндокринологии <span>2020 года</span>
                            </div>
                        </div>
                        <div class="face__form-head">
                            <div class="face__form-name">Скидка на первый заказ:</div>
                            <div class="face__form-discount">-50%</div>
                        </div>

                        <div class="face__form-rice-box">
                            <div class="face__price-new">
                                <span>Новая цена:</span>
                                <span>39 евро</span>
                            </div>
                            <div class="face__price-old">
                                <span>Старая цена:</span>
                                <span>78 евро</span>
                            </div>
                        </div>
                        <div class="face__form-body">
                            <div class="face__form-label">
                                <select class="face__form-field face__form-select">
                                    <option selected></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <span>Страна</span>
                            </div>
                            <div class="face__form-label">
                                <input class="face__form-field" type="text">
                                <span>Имя</span>
                            </div>
                            <div class="face__form-label">
                                <input class="face__form-field" type="text">
                                <span>Телефон</span>
                            </div>
                            <div class="face__count">
                                <div class="face__count-name">до конца акции:</div>
                                <div class="face__count-box">
                                    <div class="face__count-time"><span>00</span><span>часов</span></div>
                                    <div class="face__count-time"><span>00</span><span>минут</span></div>
                                    <div class="face__count-time"><span>00</span><span>секунд</span></div>
                                </div>
                            </div>
                            <button class="face__form-btn btn wow tada" data-wow-offset="100" data-wow-delay="2s">Купить <span>SugaNorm</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        <footer class="section section_footer footer">
    <div class="container">
        <div class="footer__box">
            <p class="footer__leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a></p>
        </div>
    </div>
</footer>

        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
