.wp-block-gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0
}

.wp-block-gallery .blocks-gallery-item {
    margin: 0 16px 16px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative
}

.wp-block-gallery .blocks-gallery-item figure {
    margin: 0;
    height: 100%
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .wp-block-gallery .blocks-gallery-item figure {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start
    }
}

.wp-block-gallery .blocks-gallery-item img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .wp-block-gallery .blocks-gallery-item img {
        width: auto
    }
}

.wp-block-gallery.is-cropped .blocks-gallery-item img {
    width: 100%
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .wp-block-gallery.is-cropped .blocks-gallery-item img {
        height: 100%;
        flex: 1;
        -o-object-fit: cover;
        object-fit: cover
    }
}

.wp-block-gallery .blocks-gallery-item {
    width: calc((100% - 16px) / 2)
}

.wp-block-gallery.columns-1 .blocks-gallery-item {
    width: 100%;
    margin-right: 0
}

@media (min-width: 600px) {
    @supports (-ms-ime-align:auto) {
    }

    @supports (-ms-ime-align:auto) {
    }

    @supports (-ms-ime-align:auto) {
    }

    @supports (-ms-ime-align:auto) {
    }

    @supports (-ms-ime-align:auto) {
    }

    @supports (-ms-ime-align:auto) {
    }

    .wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(1n) {
        margin-right: 0
    }
}

.wp-block-gallery .blocks-gallery-item:last-child {
    margin-right: 0
}

.wp-block-gallery.alignleft {
    max-width: 305px;
    width: 100%
}

.wp-block-gallery.alignleft {
    display: flex
}

.has-drop-cap:not(:focus):first-letter {
    float: left;
    font-size: 8.4em;
    line-height: .68;
    font-weight: 100;
    margin: .05em .1em 0 0;
    text-transform: uppercase;
    font-style: normal
}

.has-drop-cap:not(:focus):after {
    content: "";
    display: table;
    clear: both;
    padding-top: 14px
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
}

/*
 * Widget styles for Jetpack
 */
/* Clear floats */
.grid-container:before, .grid-75:before, .tablet-grid-75:before, .grid-container:after, .grid-75:after, .tablet-grid-75:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0
}

.grid-container:after, .grid-75:after, .tablet-grid-75:after {
    clear: both
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px
}

.grid-75, .tablet-grid-75 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px
}

.grid-parent {
    padding-left: 0;
    padding-right: 0
}

@media (min-width: 768px) and (max-width: 1024px) {
    .tablet-grid-75 {
        float: left;
        width: 75%
    }
}

@media (min-width: 1025px) {
    .grid-75 {
        width: 75%
    }
}

html, body, div, span, h1, p, a, em, strong, ul, li {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

article,
figure,
footer,
header,
main,
nav {
    display: block;
}

ul {
    list-style: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

a img {
    border: 0;
}

/* =Global

----------------------------------------------- */
body,
button {
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

/* Text elements */
p {
    margin: 16px 0
}

ul {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

li > ul {
    margin-bottom: 0;
    margin-left: 1.5em;
}

strong {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

figure {
    margin: 0;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

button {
    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline;
    /* Improves appearance and consistency in all browsers */
    *vertical-align: middle;
    /* Improves appearance and consistency in all browsers */
}

button {
    line-height: normal;
    /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}

button {
    border: 0;
    background: #666;
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button;
    /* Corrects inability to style clickable 'input' types in iOS */
    padding: 10px 20px;
    color: #FFF;
}

button:hover {
    background: #606060;
}

button:focus,
button:active {
    background: #606060;
}

button::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

/* Text meant only for screen readers */
/* Clearing */
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
    content: '';
    display: table;
}

[class*="content"]:after,
[class*="site"]:after {
    clear: both;
}

/* =Menu

----------------------------------------------- */
.main-navigation {
    z-index: 100;
}

.main-navigation {
    padding: 0;
}

.main-navigation .main-nav ul li a {
    display: block;
    line-height: 60px;
    padding: 0 20px;
}

.menu-toggle {
    line-height: 60px;
    margin: 0;
    padding: 0 20px;
}

.menu-toggle:before {
    content: "\f0c9";
    font-family: FontAwesome;
}

.menu-toggle .mobile-menu {
    margin-left: 10px;
}

.main-navigation .main-nav ul ul li a {
    line-height: normal;
    padding: 10px 20px;
}

.main-navigation ul ul {
    top: 60px;
}

.main-navigation ul ul li a {
    font-size: 90%;
}

.main-navigation {
    clear: both;
    display: block;
}

.inside-navigation {
    position: relative;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
    -webkit-transition: padding 0s ease-in-out;
    -moz-transition: padding 0s ease-in-out;
    -o-transition: padding 0s ease-in-out;
    transition: padding 0s ease-in-out;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    position: absolute;
    top: 1.5em;
    left: 0;
    z-index: 99999;
    width: 200px;
    text-align: left;
}

.main-navigation ul ul a {
    display: block;
}

.main-navigation ul ul li {
    width: 100%;
}

.main-navigation ul li:hover > ul {
    display: block;
}

.nav-float-right .main-navigation {
    float: right;
}

.site-header {
    position: relative;
}

.header-aligned-left .site-header {
    text-align: left;
}

.site-header .header-image {
    vertical-align: middle;
}

.main-navigation .main-nav ul ul li a, .nav-float-right .main-navigation .main-nav ul ul li a {
    line-height: normal;
}

.nav-aligned-center .main-navigation ul {
    letter-spacing: -0.31em;
    font-size: 1em;
}

.nav-aligned-center .main-navigation ul li {
    letter-spacing: normal;
}

.main-navigation .main-nav ul li .dropdown-toggle {
    display: none;
}

/* =Content

----------------------------------------------- */
.hentry {
    margin: 0 0 2em;
}

.posted-on .updated {
    display: none;
}

.byline {
    display: inline;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

body {
    font-size: 15px;
}

body .grid-container {
    max-width: 1100px;
}

a {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

h1 {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

.separate-containers .inside-article {
    padding: 40px;
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 1.2em;
}

/* Layout spacing */
.right-sidebar .site-main {
    margin: 30px 30px 30px 0;
}

.site-main {
    margin: 30px 0;
}

.separate-containers .site-main > *:last-child {
    margin-bottom: 0;
}

/* Widget styling */
/* Widget navigation */
.site-info {
    padding: 40px 0;
    text-align: center;
}

/* Posts */
.entry-title {
    margin-bottom: 0;
}

.entry-header {
    word-wrap: break-word;
}

.entry-meta {
    font-size: 85%;
    margin-top: .5em;
}

/* Site header */
.site-logo {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

.inside-header {
    padding: 40px;
}

/* Page Header Addon */
.page-header-image-single {
    line-height: 0;
    /* no more weird spacing */
}

.separate-containers .page-header-image-single {
    margin-top: 30px;
}

.separate-containers .inside-article .page-header-image-single {
    margin-bottom: 2em;
    margin-top: 0;
}

/* WooCommerce */
/* bbPress */
/* SiteOrigin Page Builder */
/* MailChimp CSS */
/* Menu class for items to float right */
/* Mobile menu */
.menu-toggle {
    display: none;
    cursor: pointer;
}

/* EDITS ADDED TO CUSTOMIZE FOR HEALTHIVIBE */
#interior-banner {
    height: 420px;
}

#interior-banner-text {
    padding: 80px 0 0;
}

.interior-headline {
    font-size: 2.35em;
    font-weight: 400;
    text-shadow: 0 0 10px #000000;
}

#interior-banner.blog-home {
    margin: 0;
    position: relative;
}

#interior-banner-text {
    color: #ffffff;
    line-height: 200%;
}

#interior-banner-text.blog-home span {
    font-size: 150%;
    color: #72AB51;
    text-shadow: 0 2px 2px #ccc;
}

@media screen and (min-width: 600px) {
    #interior-banner.blog-home {
        background: url(img/panorama-blog.jpg) no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 599px) {
    #interior-banner.blog-home {
        background: url(img/panorama-blog-mobile.jpg) no-repeat;
        background-size: cover;
    }
}

#interior-banner-text {
    color: #ffffff;
    line-height: 200%;
}

#footer-links li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    padding: 0 20px;
    font-size: 75%;
    text-transform: uppercase;
    cursor: pointer;
}

#copy {
    font-size: 70%;
    margin-top: 20px;
}

body {
    background-color: #ffffff;
    color: #3a3a3a;
}

a,
a:visited {
    color: #1e73be;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #000000;
}

body .grid-container {
    max-width: 1220px;
}

.byline,
.single .byline,
.group-blog .byline {
    display: none;
}

.site-header {
    background-color: #FFFFFF;
    color: #3a3a3a;
}

.site-header a {
    color: #3a3a3a;
}

.main-navigation,
.main-navigation ul ul {
    background-color: #ffffff;
}

.main-navigation ul ul {
    background-color: #3f3f3f;
}

.main-navigation .main-nav ul li a,
.menu-toggle {
    color: #3a3a3a;
}

.main-navigation .main-nav ul ul li a {
    color: #FFFFFF;
}

.main-navigation .main-nav ul li > a:hover {
    color: #8ec63f;
    background-color: #ffffff;
}

.main-navigation .main-nav ul ul li > a:hover {
    color: #FFFFFF;
    background-color: #4f4f4f;
}

.inside-article {
    background-color: #FFFFFF;
    color: #3a3a3a;
}

.entry-meta {
    color: #888888;
}

.entry-meta a,
.entry-meta a:visited {
    color: #666666;
}

.entry-meta a:hover {
    color: #1E73BE;
}

.site-info {
    background-color: #d9d9d9;
    color: #3a3a3a;
}

.site-info a,
.site-info a:visited {
    color: #3a3a3a;
}

.site-info a:hover {
    color: #4295DD;
}

::-webkit-input-placeholder {
    color: #666666;
    opacity: 0.7;
}

:-moz-placeholder {
    color: #666666;
    opacity: 0.7;
}

::-moz-placeholder {
    color: #666666;
    opacity: 0.7;
}

:-ms-input-placeholder {
    color: #666666;
    opacity: 0.7;
}

button {
    background-color: #666666;
    color: #FFFFFF;
}

button:hover,
button:focus,
button:active {
    background-color: #3F3F3F;
    color: #FFFFFF;
}

.inside-header {
    padding: 20px 0 30px;
}

.separate-containers .inside-article {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.main-navigation .main-nav ul li a,
.menu-toggle {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
}

.nav-float-right .main-navigation .main-nav ul li a {
    line-height: 30px;
}

.main-navigation .main-nav ul ul li a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-navigation ul ul {
    top: 30px;
}

.site-info {
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.right-sidebar.separate-containers .site-main {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
}

.separate-containers .site-main {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.separate-containers .page-header-image-single {
    margin-top: 0px;
}

.separate-containers .hentry {
    margin-bottom: 0px;
}

body,
button {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-transform: none;
    font-size: 17px;
}

.main-navigation a,
.menu-toggle {
    font-family: inherit;
    font-weight: normal;
    text-transform: none;
    font-size: 15px;
}

.main-navigation .main-nav ul ul li a {
    font-size: 14px;
}

h1 {
    font-family: inherit;
    font-weight: 300;
    text-transform: none;
    font-size: 40px;
}

/* GeneratePress specific */
.sf-menu .menu-item-has-children > a:first-child {
    padding-right: 2.5em;
    *padding-right: 1em;
}

.sf-menu .menu-item-has-children > a:first-child:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: inherit;
    margin-top: -5px;
    border-color: transparent;
    border-left-color: inherit;
}

.sf-menu > .menu-item-has-children > a:first-child:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -3px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: inherit;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sf-menu li {
    position: relative;
}

.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.sf-menu > li {
    float: left;
}

.sf-menu li:hover > ul {
    display: block;
}

.sf-menu a {
    display: block;
    position: relative;
}

/*** arrows (for all except IE7) **/
/* styling for both css and generated arrows */
/* styling for right-facing arrows */
#interior-banner {
    height: 420px
}

#interior-banner-text {
    padding: 80px 0 0
}

.interior-headline {
    font-size: 2.35em;
    font-weight: 400;
    text-shadow: 0 0 10px #000
}

#interior-banner.blog-home {
    margin: 0;
    position: relative
}

#interior-banner-text {
    color: #fff;
    line-height: 200%
}

#interior-banner-text.blog-home span {
    font-size: 150%;
    color: #72AB51;
    text-shadow: 0 2px 2px #ccc
}

@media screen and (min-width: 600px) {
    #interior-banner.blog-home {
        background: url(img/panorama-blog.jpg) no-repeat;
        background-size: cover
    }
}

@media screen and (max-width: 599px) {
    #interior-banner.blog-home {
        background: url(img/panorama-blog-mobile.jpg) no-repeat;
        background-size: cover
    }
}

#interior-banner-text {
    color: #fff;
    line-height: 200%
}

#footer-links li {
    display: inline;
    list-style-type: none;
    padding: 0 20px;
    font-size: 75%;
    text-transform: uppercase
}

#copy {
    font-size: 70%;
    margin-top: 20px
}

#interior-banner-text.blog-home {
    font-size: 1.75em;
    font-weight: 200 !important
}

#interior-banner-text.blog-home SPAN.smallertxt {
    font-size: .75em
}

.main-navigation, .main-navigation ul ul {
    background-color: #fff;
    text-transform: uppercase
}

.main-navigation ul ul {
    background-color: #b2d69c
}

.main-navigation .main-nav ul li a, .menu-toggle {
    color: #333;
    text-transform: uppercase;
    font-size: .8em
}

.main-navigation .main-nav ul ul li a {
    color: #FFF
}

.main-navigation .main-nav ul li > a:hover {
    color: #000;
    background-color: #fff !important;
    border-bottom: 3px solid #B2D69C;
    color: #72a951;
    margin-left: 0;
    z-index: 150000;
    background: none;
    cursor: pointer;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    text-transform: uppercase
}

.main-navigation .main-nav ul ul li > a:hover {
    color: #fff;
    background-color: #8ec63f !important
}

.main-navigation .main-nav ul li ul {
    -moz-border-radius: 0 10px 10px;
    -webkit-border-radius: 0 10px 10px 10px;
    border-radius: 0 10px 10px 10px;
    background: #b2d69c
}

.main-navigation .main-nav ul li ul li a {
    margin: 0;
    background: transparent !important;
    display: block;
    color: #fff;
    text-transform: none !important;
    font-size: 90%
}

.main-navigation .main-nav ul li ul li a:hover {
    border-bottom: none !important
}

#interior-banner {
    height: 420px;
}

#interior-banner-text {
    padding: 80px 0 0 0;
}

.interior-headline {
    font-size: 2.35em;
    font-weight: 400;
    text-shadow: 0 0 10px #000000;
    padding-left: 10px;
}

.interior-headline SPAN.smallertxt {
    font-size: .8em;
    padding-left: 10px;
}

H1 {
    font-size: 1.85em;
    font-weight: 600;
    color: #6e638b;
}

.canvas {
    width: 1080px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

A,
A:link,
A:visited,
A:hover {
    text-decoration: none;
    font-weight: 400;
    color: #73a950;
}

li A,
li A:link,
li A:visited,
li A:hover {
    text-decoration: none;
    color: inherit;
}

#interior-banner.blog-home {
    margin: 0;
    position: relative;
}

#interior-banner-text {
    color: #ffffff;
    line-height: 200%;
}

#interior-banner-text.blog-home span {
    color: #72AB51;
    text-shadow: 0px 2px 2px #ccc;
}

@media screen and (min-width: 600px) {
    #interior-banner.blog-home {
        background: url(img/panorama-blog.jpg) no-repeat 50% 20%;
        background-size: cover;
    }
}

@media screen and (max-width: 599px) {
    #interior-banner.blog-home {
        background: url(img/panorama-blog-mobile.jpg) no-repeat;
        background-size: cover;
    }

    .interior-headline {
        font-size: 1.35em;
        font-weight: 400;
        text-shadow: 0 0 10px #000000;
        padding-left: 10px;
    }

    .interior-headline SPAN.smallertxt {
        font-size: .8em;
        padding-left: 10px;
    }
}

.page-header-image-single {
    display: none;
}

/* MENU ITEMS */

.main-navigation .main-nav ul li a,
.menu-toggle {
    color: #333;
}

.main-navigation .main-nav ul ul li a {
    color: #FFFFFF;
}

/* MENU ITEM HOVER */
.main-navigation .main-nav ul li > a:hover {
    color: #000;
    background-color: #d9d9d9;
}

.main-navigation .main-nav ul ul li > a:hover {
    color: #ffffff;
    background-color: #8ec63f;
}

/* CURRENT ITEMS */
/* SUB-NAVIGATION CURRENT ITEMS */
@media screen and (max-width: 599px) {

    /* MENU ITEMS */
    .main-navigation,
    .main-navigation ul ul {
        background-color: #fff;
    }

    .main-navigation ul ul {
        background-color: #b2d69c;
    }

    .main-navigation .main-nav ul li a,
    .menu-toggle {
        color: #333;
    }

    .main-navigation .main-nav ul ul li a {
        color: #FFFFFF;
    }

    /* MENU ITEM HOVER */
    .main-navigation .main-nav ul li > a:hover {
        color: #333333;
        background-color: #fff;
        border-bottom: 4px solid #b2d69c;
    }

    .main-navigation .main-nav ul ul li > a:hover {
        color: #ffffff;
        background-color: #8ec63f;
    }
}

.comment-block {
    padding: 10px;
    width: 100%;
    margin-top: 30px;
}

.comment-block span {
    color: #000000;
}

.comment-header {
    border-bottom: 2px solid #e7e9ee;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.comment-heading {
    font-size: 1.5rem;
    color: #000;
}

.comment-heading:after {
    content: "";
    display: block;
    height: 2px;
    width: 120px;
    background-color: #2a2e2e;
    position: absolute;
    bottom: -2px;
}

.comment {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.comment-answer {
    margin-left: 60px;
}

.avatar {
    margin-right: 12px;
    max-width: 48px;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    background-color: lightgrey;
    position: relative;
}

.avatar img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.comment-date {
    color: grey;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
}

.comment-circle {
    display: inline-block;
    background-color: lightgrey;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 5px;
    position: relative;
    top: 2px;
}

.comment-name {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.comment-info {
    margin-bottom: 10px;
}

.comment-text p {
    margin: 0;
}

.comment .comment-content .comm-img {
    display: block;
    width: 40%;
    margin: 10px 0;
}

#primary {
    margin: 0 auto;
}

.post-img {
    display: block;
    margin: 16px auto;
    max-width: 650px;
    width: 100%;
}

A.order, A.order:link, A.order:visited, A.order:hover {
    display: block;
    text-align: center;
    background-color: #73a950;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 305px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}
