<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Cibershop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Карточка для соцсетей -->
    <meta itemprop="image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <meta name="twitter:image" content="../media/share/image.jpg">

    <!-- Краткое описание страницы  -->
    <meta name="description" content="">
    <meta property="og:description" content="">
    <meta name="twitter:description" content="">

    <!-- Заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="РеКардио">
    <meta name="twitter:title" content="Помоги сердцу">

    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="рекардио, сердце, сердечная недостаточность, сердечно-сосудистой">

    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">

    <!-- Название сайта -->
    <meta property="og:site_name" content="Antg">

    <!-- Favicon -->
    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <!-- Кто принимал участие над разработкой данного сайта -->
    <meta name="Author" content="Кузнецов Никита Рудалисович(Верстальщик)">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <div class="basket">
            <div class="basket__close"></div>
            <div class="basket__container">
                <div class="basket__head">
                    <div class="basket__head-left">
                        <div class="basket__title">корзина</div>
                        <div class="basket__head-box">
                            <div class="basket__quantity">4 шт</div>
                            <div class="basket__price">62 110 ₽</div>
                        </div>
                    </div>
                    <div class="basket__head-right">
                        <div class="basket__step">
                            <div class="basket__step-item basket__step-item_active">
                                <span>1</span>
                                <span>Адрес</span>
                            </div>
                            <div class="basket__step-line"></div>
                            <div class="basket__step-item">
                                <span>2</span>
                                <span>Доставка</span>
                            </div>
                            <div class="basket__step-line"></div>
                            <div class="basket__step-item">
                                <span>3</span>
                                <span>Оплата</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="basket__list">
                    <div class="basket__box">
                        <div class="basket__item">
                            <div class="basket__media">
                                <div class="basket__media-close"></div>
                                <img src="../media/basket/img-1.png" alt="">
                            </div>
                            <div class="basket__info">
                                <div class="basket__info-left">
                                    <div class="basket__categorise">мышки</div>
                                    <div class="basket__name">Logitech MX Master </div>
                                    <div class="basket__price">7 120 ₽</div>
                                </div>
                                <div class="basket__info-righr">
                                    <div class="basket__remove">-</div>
                                    <div class="basket__count">2 шт.</div>
                                    <div class="basket__add">+</div>
                                </div>
                            </div>
                        </div>
                        <div class="basket__item">
                            <div class="basket__media">
                                <div class="basket__media-close"></div>
                                <img src="../media/basket/img-2.png" alt="">
                            </div>
                            <div class="basket__info">
                                <div class="basket__info-left">
                                    <div class="basket__categorise">наушники</div>
                                    <div class="basket__name">Sony MDR-Z7M2</div>
                                    <div class="basket__price">54 990 ₽</div>
                                </div>
                                <div class="basket__info-righr">
                                    <div class="basket__remove">-</div>
                                    <div class="basket__count">2 шт.</div>
                                    <div class="basket__add">+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="basket__box">
                        <div class="basket__subtitle">адрес доставки</div>
                        <form class="form">
                            <div class="form__field">
                                <input type="text" placeholder="E-mail *">
                            </div>
                            <div class="form__field">
                                <input type="text" placeholder="Телефон *">
                            </div>
                            <div class="form__field">
                                <input type="text" placeholder="Город *">
                            </div>
                            <div class="form__field">
                                <input type="text" placeholder="Улица, дом *">
                            </div>
                            <div class="form__field">
                                <input type="text" placeholder="Квартира">
                            </div>
                            <div class="form__field">
                                <input type="text" placeholder="Строение">
                            </div>
                            <div class="form__field">
                                <input type="text" placeholder="Корпус">
                            </div>
                            <div class="form__field">
                                <input type="text" placeholder="Подъезд">
                            </div>
                            <div class="form__field">
                                <input type="text" placeholder="Домофон">
                            </div>
                            <div class="form__field">
                                <input type="text" placeholder="Этаж">
                            </div>
                        </form>
                        <div class="basket__description">Мы используем Ваши данные исключительно для службы доставки. Ваши данные надежно защищены и не попадут третьим лицам.</div>
                        <div class="basket__btn">далее</div>
                    </div>
                </div>
            </div>
        </div>
        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
