<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Cibershop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Карточка для соцсетей -->
    <meta itemprop="image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <meta name="twitter:image" content="../media/share/image.jpg">

    <!-- Краткое описание страницы  -->
    <meta name="description" content="">
    <meta property="og:description" content="">
    <meta name="twitter:description" content="">

    <!-- Заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="РеКардио">
    <meta name="twitter:title" content="Помоги сердцу">

    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="рекардио, сердце, сердечная недостаточность, сердечно-сосудистой">

    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">

    <!-- Название сайта -->
    <meta property="og:site_name" content="Antg">

    <!-- Favicon -->
    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <!-- Кто принимал участие над разработкой данного сайта -->
    <meta name="Author" content="Кузнецов Никита Рудалисович(Верстальщик)">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        
<section class="section section_header">
    <header class="header">
        <div class="container">
            <div class="header__head">
                <div class="header__login">
                    <div class="header__login-item header__login-item_white">Вход</div>
                    <div class="header__login-item">Регистрация</div>
                </div>
                <a href="/" class="logo header__logo">
                    <img src="../media/logo.png" alt="">
                </a>
                <div class="header__userNav">
                    <div class="header__userNav-item">
                        <img src="../media/header/search.png" alt="">
                    </div>
                    <div class="header__userNav-item">
                        <img src="../media/header/basket.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <nav class="header__nav">
            <div class="container">
                <div class="header__nav-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header__burger">
                    <div class="header__nav-body">
                        <a href="#" class="header__nav-item">Мыши </a>
                        <a href="#" class="header__nav-item">Клавиатуры </a>
                        <a href="#" class="header__nav-item">Мониторы </a>
                        <a href="#" class="header__nav-item">Колонки </a>
                        <a href="#" class="header__nav-item">Акустика </a>
                        <a href="#" class="header__nav-item">Бытовая техника </a>
                        <a href="#" class="header__nav-item">Планшеты </a>
                        <a href="#" class="header__nav-item">Процессоры </a>
                        <a href="#" class="header__nav-item">Микрофоны </a>
                        <a href="#" class="header__nav-item">Смарфоны </a>
                        <a href="#" class="header__nav-item">Ноутбуки</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</section>

        <section class="section">
            <div class="container">
                <div class="section__title section__title_left">процессоры</div>
                
<div class="breadcrumbs">
    <div class="breadcrumbs__box">
        <a href="#" class="breadcrumbs__item">главная</a>
        <span> / </span>
        <a href="#" class="breadcrumbs__item">каталог</a>
        <span> / </span>
        <a href="#" class="breadcrumbs__item">процессоры</a>
    </div>
    <div class="breadcrumbs__box">
        <div class="breadcrumbs__item breadcrumbs__item_filtr">фильтр</div>
        <div class="breadcrumbs__item breadcrumbs__item_arrow">по названию</div>
        <div class="breadcrumbs__item breadcrumbs__item_arrow">по цене</div>
    </div>
</div>


                <div class="catalog">
                    <a href="#" class="catalog__item catalog__item_double">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-1.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Персональные компьютеры</div>
                            <div class="catalog__name">Apple Mac Pro Xeon W 3.5 ГГц </div>
                            <div class="catalog__price">410 000 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-2.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Портативные колонки</div>
                            <div class="catalog__name">JBL PULSE 3 Black </div>
                            <div class="catalog__price">9 490 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-12.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Смартфоны</div>
                            <div class="catalog__name">Samsung Galaxy S10 </div>
                            <div class="catalog__price">59 990 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-4.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Микрофоны</div>
                            <div class="catalog__name">Samson C01U Pro </div>
                            <div class="catalog__price">8 900 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-5.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Компьютерные мыши</div>
                            <div class="catalog__name">Razer DeathAdder Elite  </div>
                            <div class="catalog__price">5 490 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-6.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Наушники</div>
                            <div class="catalog__name">Sony MDR-Z7M2 </div>
                            <div class="catalog__price">54 990 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-7.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Мониторы</div>
                            <div class="catalog__name">Apple Pro Display XDR  </div>
                            <div class="catalog__price">370 000 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-8.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Смартфоны</div>
                            <div class="catalog__name">Apple iPhone XS Max </div>
                            <div class="catalog__price">49 990 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-9.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Пылесосы</div>
                            <div class="catalog__name">Беспроводной пылесос BORK V800 </div>
                            <div class="catalog__price">49 000 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-10.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Часы</div>
                            <div class="catalog__name">Apple Watch Series 5</div>
                            <div class="catalog__price">32 990 ₽</div>
                        </div>
                    </a>
                    <a href="#" class="catalog__item">
                        <div class="catalog__add">
                            <span></span>
                            <span></span>
                        </div>
                        <div class="catalog__media">
                            <img src="../media/catalog/product-11.png" alt="">
                        </div>
                        <div class="catalog__footer">
                            <div class="catalog__categories">Телевизоры</div>
                            <div class="catalog__name">Xiaomi Mi TV 4S 55</div>
                            <div class="catalog__price">35 590 ₽</div>
                        </div>
                    </a>
                </div>

                
<div class="page-number">
    <div class="page-number__item">1</div>
    <div class="page-number__item page-number__item_active">2</div>
    <div class="page-number__item">3</div>
    <div class="page-number__item">4</div>
    <div class="page-number__item">5</div>
</div>

            </div>
        </section>
        <section class="section section_footer">
    <div class="container">
        <footer class="footer">
            <div class="footer__head">
                <div class="footer__head-item">
                    <a href="/" class="logo footer__logo">
                        <img src="../media/logo.png" alt="">
                    </a>
                </div>
                <div class="footer__pay">
                    <div class="footer__pay-item">
                        <img src="../media/footer/visa.png" alt="">
                    </div>
                    <div class="footer__pay-item">
                        <img src="../media/footer/master.png" alt="">
                    </div>
                    <div class="footer__pay-item">
                        <img src="../media/footer/mir.png" alt="">
                    </div>
                </div>
                <div class="footer__head-item">
                    <a href="tel:+79199995931">+7 919 999-59-31</a>
                </div>
            </div>
            <div class="footer__body">
                <div class="footer__nav">
                    <ul class="footer__list">
                        <li><a href="#">Клавиатуры</a></li>
                        <li><a href="#">Мониторы</a></li>
                        <li><a href="#">Колонки</a></li>
                        <li><a href="#">Акустика</a></li>
                        <li><a href="#">Планшеты</a></li>
                        <li><a href="#">Процессоры</a></li>
                        <li><a href="#">Микрофоны</a></li>
                        <li><a href="#">Смарфоны</a></li>
                        <li><a href="#">Ноутбуки</a></li>
                    </ul>
                    <ul class="footer__list">
                        <li><a href="#">Клавиатуры</a></li>
                        <li><a href="#">Мониторы</a></li>
                        <li><a href="#">Колонки</a></li>
                        <li><a href="#">Акустика</a></li>
                        <li><a href="#">Планшеты</a></li>
                        <li><a href="#">Процессоры</a></li>
                        <li><a href="#">Микрофоны</a></li>
                        <li><a href="#">Смарфоны</a></li>
                        <li><a href="#">Ноутбуки</a></li>
                    </ul>
                    <ul class="footer__list">
                        <li><a href="#">Клавиатуры</a></li>
                        <li><a href="#">Мониторы</a></li>
                        <li><a href="#">Колонки</a></li>
                        <li><a href="#">Акустика</a></li>
                        <li><a href="#">Планшеты</a></li>
                        <li><a href="#">Процессоры</a></li>
                        <li><a href="#">Микрофоны</a></li>
                        <li><a href="#">Смарфоны</a></li>
                        <li><a href="#">Ноутбуки</a></li>
                    </ul>
                    <ul class="footer__list">
                        <li><a href="#">Клавиатуры</a></li>
                        <li><a href="#">Мониторы</a></li>
                        <li><a href="#">Колонки</a></li>
                        <li><a href="#">Акустика</a></li>
                        <li><a href="#">Планшеты</a></li>
                        <li><a href="#">Процессоры</a></li>
                        <li><a href="#">Микрофоны</a></li>
                        <li><a href="#">Смарфоны</a></li>
                        <li><a href="#">Ноутбуки</a></li>
                    </ul>
                </div>
                <div class="footer__position">
                    <img src="../media/footer/market.png" alt="">
                </div>
            </div>
            <div class="footer__info">
                <div class="footer__info-item">© 2020. ООО «Кибершоп». Все права защищены.</div>
                <div class="footer__info-item"><a href="">Оплата</a> / <a href="">Реквизиты организации</a> / <a href="">Пользовательское соглашение</a></div>
            </div>
        </footer>
    </div>
</section>

        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
