<section class="section section_failures">
    <div class="container">
        <div class="failures">
            <div class="failures__title section__title">
                <span><mark>2020</mark></span><mark> — високосный год.</mark> Чем страшно <span>проклятие 29 февраля?</span>
            </div>
            <div class="failures__box">
                <div class="failures__item">природные катаклизмы</div>
                <div class="failures__item">обвал мировой экономики</div>
                <div class="failures__item">пандемия вирусной инфекции</div>
                <div class="failures__item">жизненные кризисы</div>
                <div class="failures__item">роковые ошибки</div>
            </div>
        </div>
    </div>
</section>
