
<section class="section section_help">
       <div class="container">
           <div class="help">
               <div class="help__title section__title">
                   Неважно, прагматично вы смотрите на мир или ищете знаки судьбы, можно сказать наверняка: <span>в это сложное время <mark>нужна поддержка</mark></span>
               </div>
               <div class="help__box">
                   <div class="help__title-intro">
                       <mark>Прорицательница Астафья из небольшого поселения на востоке Черногории видит будущее уже 62 года.</mark> Эта способность открылась ей в возрасте 24 лет, когда она юной девушкой попала в автокатастрофу.
                   </div>
                   <div class="help__info">
                       <div class="help__info-title"><span>—</span> Астафья, есть ли шанс пережить этот год спокойно?</div>
                       <div class="help__description">
                           <p>Встретились злые силы високосного года и влияние ретро-Меркурия. Это напоминает ураган, от которого невозможно укрыться. Многие не верят, но когда начнут происходить массовые беды, они встрепенутся. В такое время всё ломается, люди голодают и болеют, происходят мировые бедствия.</p>
                           <p>Не начинайте ничего нового! Будьте готовы к сбоям в делах, сложностям в общении. <mark>А главное — </mark></p>
                           <p>защитите самое важное, что у вас есть – здоровье!</p>
                       </div>
                   </div>
               </div>
               <div class="help__human"><img src="../media/help/human.png" alt=""></div>
           </div>
       </div>
   </section>
