
<section class="section section_look">
    <div class="container">
        <div class="look">
            <div class="look__product"></div>
            <div class="look__info">
                <p>Cannabis Oil поможет вам повысить энергетику, обойти риски и найти пути к счастью.</p>
                <p>Препарат был разработан в синтезе Науки и Древнего Знания. Учёные обратились к формуле, известной уже четыре тысячелетия и потратили десять лет на расшифровку формулы.</p>
                <p>Новейшие методы извлечения действующих веществ из растительного сырья увеличи её действенность. Теперь секрет здоровья доступен всем!</p>
            </div>
            <div class="look__box">
                <div class="look__title section__title">Испробуйте силу <mark>своей удачи</mark></div>
                <div class="look__data">
                    <div class="look__data-event">введите дату своего рождения без года:</div>
                    <div class="look__data-box">
                        <div class="look__data-call">
                            <input id="date" class="datepicker-here" type="text" data-position="bottom left" placeholder="04.03" data-date-format="dd. mm" autocomplete="off">
                        </div>
                        <div class="look__data-info">Четыре – магическое первочисло. Смело выбирайте один из амулетов. <mark>Вам повезёт!</mark></div>
                    </div>
                </div>
                <div class="look__amulets">
                    <div class="look__amulets-item"><img src="../media/look/amulet-1.png" alt=""></div>
                    <div class="look__amulets-item"><img src="../media/look/amulet-2.png" alt=""></div>
                    <div class="look__amulets-item"><img src="../media/look/amulet-3.png" alt=""></div>
                    <div class="look__amulets-item"><img src="../media/look/amulet-4.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>
