
<div class="popup-look js-popup-look">
    <div class="popup-look__box">
        <div class="popup-look__close"> </div>
        <div class="popup-look__title">Вы выиграли скидку!</div>
        <div class="popup-look__description">Заказывайте быстрее, пока удача на вашей стороне! У вас всё получится!</div>
    </div>
    <div class="popup-look__border"></div>
</div>
