
.btn {
    width: 220px;
    height: 55px;
    font-size: 18px;
    font-weight: 700;
    line-height: 55px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: rgb(255, 146, 146);
    background-image: linear-gradient(180deg, rgba(255, 146, 146, 1) 0%, rgba(217, 5, 28, 1) 100%);
    border: none;
    border-radius: 50px;
    transition: .2s transform;

    &:hover {
        transform: scale(0.95);
    }
}

@media (max-width: 1170px) {
    .btn {
        width: 180px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
    }
}
