<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Antg</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Карточка для соцсетей -->
    <meta itemprop="image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <meta name="twitter:image" content="../media/share/image.jpg">

    <!-- Краткое описание страницы  -->
    <meta name="description" content="">
    <meta property="og:description" content="">
    <meta name="twitter:description" content="">

    <!-- Заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="">
    <meta name="twitter:title" content="">

    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="">

    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">

    <!-- Название сайта -->
    <meta property="og:site_name" content="Antg">

    <!-- Favicon -->
    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <!-- Кто принимал участие над разработкой данного сайта -->
    <meta name="Author" content="Кузнецов Никита Рудалисович(Верстальщик)">

    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="header__face">
                <div class="header__head">
                    <div class="header__logo">
                        <a href="/">Antg</a>
                        <div class="header__logo-prefix">be pro</div>
                    </div>
                    <a href="#" class="header__login">Авторизация</a>
                </div>
                <div class="header__body">
                    <div class="header__name">
                        <img src="../media/header/docker.png" alt="">
                    </div>
                    <div class="header__content">
                        <h1 class="header__title" data-aos="fade-right">DOCKER & <span>COMPOSE</span></h1>
                        <div class="header__subtitle" data-aos="zoom-in">Вводный курс в одну из важнейших <span>тем для современной разработки.</span></div>
                        <div class="header__bonus" data-aos="zoom-in">2 в 1</div>
                        <p class="header__description" data-aos="zoom-in">
                            Единственная независимая контейнерная платформа, которая <span>позволяет организациям беспрепятственно создавать,</span> совместно использовать и запускать любые приложения.
                        </p>
                        <div class="header__btn btn" data-aos="zoom-in">Подробнее</div>
                    </div>
                    <div class="section__media section__media_right" data-aos="zoom-in"></div>
                </div>
            </div>
        </header>
        <main>
            <section class="section">
                <div class="section__body section__body_right section__body_white">
                    <div class="section__number" data-aos="zoom-in">01</div>
                    <div class="section__media" data-aos="zoom-in"></div>
                    <h2 class="section__title" data-aos="fade-right">
                        микросервисы <mark>как основа разработки</mark>
                    </h2>
                    <div class="section__description" data-aos="zoom-out-down">Единственная независимая контейнерная платформа, которая позволяет организациям беспрепятственно создавать, совместно использовать и запускать любые приложения в любом месте - от гибридного облака до.</div>
                </div>
            </section>
            <section class="section">
                <div class="section__body section__body_center section__body_blue">
                    <div class="section__media section__media_left" data-aos="zoom-in"></div>
                    <div class="section__number" data-aos="zoom-in">02</div>
                    <h2 class="section__title section__title_white" data-aos="fade-right">
                        контейнер как <mark>базовая единица</mark>
                    </h2>
                    <div class="section__description section__description_white" data-aos="zoom-out-down">Контейнер - это стандартная единица программного обеспечения, которая упаковывает код и все его зависимости, поэтому приложение работает быстро и надежно из одной вычислительной среды в другую.</div>
                </div>
            </section>
            <section class="section">
                <div class="section__body section__body_white">
                    <div class="section__number" data-aos="zoom-in">03</div>
                    <h2 class="section__title" data-aos="fade-right">
                        применение <mark>docker</mark>
                    </h2>
                    <div class="section__description" data-aos="zoom-out-down">Единственная независимая контейнерная платформа, которая позволяет организациям беспрепятственно создавать, совместно использовать и запускать любые приложения в любом месте - от гибридного облака до периферии.</div>
                    <div class="section__slider owl-carousel">
                        <div class="section__slider-item"></div>
                        <div class="section__slider-item"></div>
                        <div class="section__slider-item"></div>
                        <div class="section__slider-item"></div>
                        <div class="section__slider-item"></div>
                        <div class="section__slider-item"></div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="section__body section__body_center section__body_blue">
                    <div class="section__media section__media_left" data-aos="zoom-in"></div>
                    <div class="section__number" data-aos="zoom-in">04</div>
                    <h2 class="section__title section__title_white" data-aos="fade-right">
                        для кого этот <mark>курс</mark>
                    </h2>
                    <div class="section__description section__description_white" data-aos="zoom-out-down">Единственная независимая контейнерная платформа, которая позволяет организациям беспрепятственно создавать, совместно использовать и запускать любые приложения в любом месте - от гибридного облака до периферии.</div>
                </div>
            </section>
            <section class="section">
                <div class="section__body section__body_white">
                    <h2 class="section__title section__title_center" data-aos="fade-right">темы курса</h2>
                    <div class="section__slider owl-carousel">
                        <div class="section__slider-item"></div>
                        <div class="section__slider-item"></div>
                        <div class="section__slider-item"></div>
                        <div class="section__slider-item"></div>
                        <div class="section__slider-item"></div>
                        <div class="section__slider-item"></div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="section__body section__body_left section__body_blue">
                    <div class="section__number" data-aos="zoom-in">05</div>
                    <div class="section__media section__media_right" data-aos="zoom-in"></div>
                    <h2 class="section__title section__title_white" data-aos="fade-right">
                        docker <mark>используют</mark>
                    </h2>
                    <div class="section__description section__description_white" data-aos="zoom-out-down">Единственная независимая контейнерная платформа, которая позволяет организациям беспрепятственно создавать, совместно использовать и запускать любые приложения в любом месте - от гибридного облака до периферии.</div>
                    <div class="section__brand">
                        <div class="section__brand-item"><img src="../media/section/netflix.png" alt=""></div>
                        <div class="section__brand-item"><img src="../media/section/liberty.png" alt=""></div>
                        <div class="section__brand-item"><img src="../media/section/amazon.png" alt=""></div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="section__body section__body_white">
                    <h2 class="section__title section__title_center" data-aos="fade-up">Предзаказ</h2>
                    <div class="section__subtitle" data-aos="zoom-out-down">
                        Docker & Docker Compose
                        <span>Две темы в одном курсе!</span>
                    </div>
                </div>
            </section>
            <section class="section section_preorder">
                <div class="section__body section__body_preorder">
                    <h2 class="section__title section__title_white section__title_center" data-aos="fade-up">4 999 ₽</h2>
                    <div class="section__button">
                        <button class="btn btn_blue">предзаказ</button>
                    </div>
                    <div class="section__description section__description_white section__description_center" data-aos="zoom-out-down">Единственная независимая контейнерная платформа, которая позволяет <span>организациям беспрепятственно создавать.</span></div>
                </div>
            </section>
            <footer class="footer">
                <div class="section footer__body">
                    <div class="footer__item"><img src="../media/footer/antg.png" alt=""></div>
                    <div class="footer__item"><img src="../media/footer/visa.png" alt=""></div>
                    <div class="footer__item"><img src="../media/footer/master.png" alt=""></div>
                    <div class="footer__item"><img src="../media/footer/sber.png" alt=""></div>
                    <div class="footer__item footer__item_btn">
                        <a href="#" class="footer__btn">для пользователя</a>
                    </div>
                </div>
            </footer>
        </main>
    </div>
    
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

</body>

</html>
