<section class="section section_alarm">
	<div class="container">
		<div class="alarm">
            <div class="alarm-wrap">
                <div class="alarm-left">
                    <h3 class="alarm-title">ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></h3>
                </div>
                <div class="alarm-right">
                <p class="alarm-text">Количество упаковок с Vitanax, необходимое для желаемого результата, <b>определяется индивидуально и в отдельных случаях может увеличиться.</b></b></p>
                </div>
            </div>
        </div>
	</div>
</section>