<section class="section section_block2">
    <div class="container">
        <div class="block2">
            <div class="block2__title"><mark>Как работает</mark> амулет и что такое удача?</div>
            <div class="block2__description">
                <p>Удача — это когда реализации ваших планов способствуют внешние обстоятельства. Для того, чтобы притянуть их на свою сторону, необходимо не только постоянно носить амулет с собой, но и искренне верить в его силу. </p>
                <p>Амулет работает с более высокой составляющей нашего тонкого внутреннего пространства - с астральным телом. Амулет берет на себя обязательства, связанные с эмоциональным планом, он может защищать и регулировать всё, что связанно с нашими психологическими проявлениями.</p>
                <p>Отличная практика для работы с такими проявлениями – это визуализации.</p>
            </div>
        </div>
    </div>
</section>