<section class="section section_block6">
    <div class="container">
        <div class="block6">
            <div class="block6__title"><mark>Как изменит вашу жизнь </mark> амулет Атшет:</div>
            <div class="block6__body">
                <div class="block6__wrap">
                    <div class="block6__item">
                        <div class="block6__item-body"></div>
                        <div class="block6__item-back">Наведи</div>
                    </div>
                </div>
                <div class="block6__wrap">
                    <div class="block6__item">
                        <div class="block6__item-body"></div>
                        <div class="block6__item-back">Карьера движется в гору, на работе замечают вас</div>
                    </div>
                </div>
                <div class="block6__wrap">
                    <div class="block6__item">
                        <div class="block6__item-body"></div>
                        <div class="block6__item-back">Судьба разводит вас с плохими людьми и формирует новое успешное окружение</div>
                    </div>
                </div>
                <div class="block6__wrap">
                    <div class="block6__item">
                        <div class="block6__item-body"></div>
                        <div class="block6__item-back">В бизнесе сопутствует успех, торговля становится прибыльной, сделки выгодными</div>
                    </div>
                </div>
                <div class="block6__wrap">
                    <div class="block6__item">
                        <div class="block6__item-body"></div>
                        <div class="block6__item-back">Появляется внутренний магнетизм, вам сложно отказать, у людей вы вызываете симпатию</div>
                    </div>
                </div>
                <div class="block6__wrap">
                    <div class="block6__item">
                        <div class="block6__item-body"></div>
                        <div class="block6__item-back">Сбываются желания, которые не могли долго сбыться</div>
                    </div>
                </div>
                <div class="block6__wrap">
                    <div class="block6__item">
                        <div class="block6__item-body"></div>
                        <div class="block6__item-back">Обстоятельства всегда складываются благоприятным образом, споры и суды решаются в вашу пользу</div>
                    </div>
                </div>
                <div class="block6__wrap">
                    <div class="block6__item">
                        <div class="block6__item-body"></div>
                        <div class="block6__item-back">Обстоятельства всегда складываются благоприятным образом, споры и суды решаются в вашу пользу</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>