<section class="section section_block3">
    <div class="container">
        <div class="block3">
            <div class="block3__title"><mark>Трехфазная визуализация</mark> богатства и исполнения желаний</div>
            <div class="block3__description">
                <p>Обычно в профессиональной литературе говорят о двухфазной визуализации богатства. На самом деле правильная эффективная визуализация занимает три фазы, и вот как раз третья — ключевая.</p>
            </div>
            <div class="block3__list">
                <div class="block3__item">
                    <div class="block3__name">Первая фаза <p>«Объём денег»</p></div>
                    <p>Сядьте в тихом месте и подумайте, какая сумма вам нужна для полного счастья. Представьте ее в виде цифры на странице онлайн-банка или стопок денег. Сколько места они занимают? Поверхность стола? Комнату? Концертный зал? Это первая часть визуализации.</p>
                </div>
                <div class="block3__item">
                    <div class="block3__name">Вторая фаза <p>«Желанный предмет»</p></div>
                    <p>Представьте список всего, что вы купите на эти деньги. Если это дом, то решите, где он находится, что его окружает, какой у него интерьер. Если это машина, то какой она марки? Как звучит ее мотор? И так со всем, чего вы хотите.</p>
                </div>
                <div class="block3__item">
                    <div class="block3__name">Третья фаза <p>«Притягивание реальности»</p></div>
                    <p>Если пропустить эту фазу, то визуализация не сработает. Задача — совершить какое-то действие, чтобы притянуть новую денежную реальность к себе. <b>Самое простое – это прикоснуться к своему амулету Атшет и почувствовать, как через него к вам приходят все желанные и загаданные вами вещи.</b></p>
                </div>
            </div>
        </div>
    </div>
</section>