<section class="section section_block4">
    <div class="container">
        <div class="block4">
            <div class="block4__title"><mark>Амулет</mark> Атшет</div>
            <div class="block4__body">
                <p>Всевидящее Око – сакральный знак известный ещё со времен Древнего Египта. Древнеегипетский знак называется Атшет. Он – глаз всевидящего, справедливого бога, жестоко наказывавшего нарушавших установленные им законы. Египтяне опасались его, но почитали и уважали за силу. Его символом пользовались, ища истину и проводя магические обряды.</p>
                <p> ВЫ думаете случайно его используют в масонском ордене и на долларе?</p>
                <p>Конечно же, нет! </p>
                <p>В этом символе скрыт код Вселенной, код Справедливости и Благополучия.</p>
                <p>Так встали звезды, что и вы можете стать обладателем этой силы!</p>
            </div>
            <div class="block4__subtitle">Атшет формирует энергетическую связь с владельцем. <span>Для этого амулет надо:</span></div>
            <div class="block4__list">
                <div class="block4__item"><p>Всегда иметь при себе</p></div>
                <div class="block4__item"><p>Чувствовать его силу</p></div>
                <div class="block4__item"><p>Как можно чаще брать в руки</p></div>
                <div class="block4__item"><p>Завершать прикосновением к нему третью фазу визуализации</p></div>
            </div>
        </div>
    </div>
</section>