<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title"><mark>Истории</mark> обладателей амулета</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__name">
                        <div class="commits__face"><img src="../media/commits/face-1.jpg" alt=""></div>
                        <p>Иван, 46 лет</p>
                    </div>
                    <div class="commits__description">«Я по жизни был тем, кого принято называть неудачником. Любое дело, за которое я брался, оборачивалось неудачей. А меня, как назло, всегда тянуло в бизнес. Я вкладывал свои средства, брал кредиты, но постоянно прогорал. Дошло до того, что банки просто перестали выдавать мне новые кредиты, а платить старые было нечем. Судебные приставы грозились забрать у меня последнее – мое жилище. В этот момент я был на грани. Наверно, я бы остался бомжом, если бы не наткнулся на страницу в интернете, где рассказывалось об амулете Аштет. Я подумал тогда, что это какое-то божественное проведение и знак свыше, поэтому не задумываясь заказал себе эту штуку. И чудеса начали происходить сразу же, как только я получил свой амулет. Мне позвонили из банка и одобрили новый кредит, с помощью которого я смог перекрыть старые долги. А затем и в бизнесе дела пошли в гору. Не буду долго расписывать, что да как, но результат таков: всего за год из практически бомжа я превратился в очень обеспеченного человека. Смог вывести свой бизнес из долговой ямы и открыть еще одно дело».</div>
                </div>
                <div class="commits__item">
                    <div class="commits__name">
                        <div class="commits__face"><img src="../media/commits/face-2.jpg" alt=""></div>
                        <p>Ирина, 51 год</p>
                    </div>
                    <div class="commits__description">«Я никогда не жаловалась на судьбу. В жизни у меня всегда все складывалось вполне удачно. Но лишь до некоторых пор. Лет десять назад наступила черная полоса. Я не склонна к мистицизму, но было стойкое ощущение, что меня кто-то как будто проклял. Увольнение с престижной работы, развод с мужем, потеря близких друзей – все от меня просто отвернулись. Из счастливой и уважаемой многими женщины я превратилась в развалюху, которую брали на работу только уборщицей. Не отвернулись от меня лишь мои дети. Они-то мне и подарили амулет Аштет. Как я уже говорила, в мистику я не верю, поэтому первые признаки того, что удача вновь повернулась ко мне лицом, я не связала с ним. Во-первых, мне в скором времени предложили хорошую, интересную и денежную должность. Я смогла урегулировать все свои финансовые проблемы и вернуть положение в обществе. И лишь со временем я смогла понять: это все благодаря амулету. Долгие годы я как будто стучалась в закрытую дверь, а с появлением этой вещицы все снова встало на свои места».</div>
                </div>
                <div class="commits__item">
                    <div class="commits__name">
                        <div class="commits__face"><img src="../media/commits/face-3.jpg" alt=""></div>
                        <p>Дмитрий, 32 года</p>
                    </div>
                    <div class="commits__description">«Про себя могу сказать, что я – человек с ленцой. Мама мне всю жизнь даже говорила, что лень вперед меня родилась. Это действительно было так. Я эту лень ощущал буквально на физическом уровне. Поэтому ни на одной работе я долго не задерживался, меня увольняли еще до окончания испытательного срока. В 27 лет я чувствовал себя полным ничтожеством и был уверен, что ничего не добьюсь в жизни из-за своей инертности. Так было до тех пор, пока в мои руки не попал амулет Аштет. Он буквально перевернул мою жизнь с ног на голову. Первые деньги достались мне практически случайно – отец, которого я никогда в своей жизни не видел, оставил мне в наследство дом. Видимо, его совесть замучила, что бросил мою мать с младенцем на руках и не принимал участия в нашей жизни. Этот дом я успешно продал и вырученные деньги вложил в открытие своего первого ресторана. Заведение оказалось очень успешным, и вскоре я открыл еще одно, затем третье. Таким образом, я стал успешным ресторатором, сегодня у меня целая сеть предприятий общепита. И я уверен, что своим успехом я обязан именно амулету».</div>
                </div>
            </div>
        </div>
    </div>
</section>