<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__title">Хотите <mark>изменить судьбу</mark> в лучшую сторону? <span>Чувствуете, что вам не хватает немного удачи?</span></div>
            <div class="face__subtitle">Амулет <mark>Атшет -</mark> <p>проводник в мир богатства и удачи, который круто изменит вашу жизнь!</p></div>
            <div class="face__product"><img src="../media/product.png" alt=""></div>
            <div class="face__btn btn">Хочу изменить жизнь!</div>
        </div>
    </div>
</section>