<form class="form">
    <div class="form__title">Заказать Амулет масонов <mark>прямо сейчас</mark></div>
    <div class="form__price">
        <div class="form__price-old">78 euro</div>
        <div class="form__price-new">39 euro</div>
    </div>
    <label class="form__label">
        <div class="form__label-name">Страна:</div>
        <select class="form__field form__select">
            <option value="Россия">Россия</option>
        </select>
    </label>
    <label class="form__label">
        <div class="form__label-name">Ваше имя:</div>
        <input type="text" class="form__field">
    </label>
    <label class="form__label">
        <div class="form__label-name">Телефон:</div>
        <input type="text" class="form__field">
    </label>
    <div class="form__time">
        <div class="form__time-title">До конца акции осталось:</div>
        <div class="form__time-body">
            <div class="form__time-item">
                <span>00</span>
                <span>Часов</span>
            </div>
            <div class="form__time-item">
                <span>12</span>
                <span>Минут</span>
            </div>
            <div class="form__time-item">
                <span>00</span>
                <span>Секунд</span>
            </div>
        </div>
    </div>
    <button type="submit" class="form__btn btn">Заказать сейчас</button>
</form>