/* stylelint-disable */

@font-face {
	font-family: 'Aetherius';
	src: url("../fonts/Aetherius/Aetherius-Regular.woff2") format("woff2"),
		url("../fonts/Aetherius/Aetherius-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'VeraCrouz';
	src: url("../fonts/VeraCrouz/VeraCrouz-Regular.woff2") format("woff2"),
		url("../fonts/VeraCrouz/VeraCrouz-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'CeraPro';
	src: url("../fonts/CeraPro/CeraPro-Regular.woff2") format("woff2"),
		url("../fonts/CeraPro/CeraPro-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'CeraPro';
	src: url("../fonts/CeraPro/CeraPro-Medium.woff2") format("woff2"),
		url("../fonts/CeraPro/CeraPro-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'CeraPro';
	src: url("../fonts/CeraPro/CeraPro-Bold.woff2") format("woff2"),
		url("../fonts/CeraPro/CeraPro-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'CeraPro';
	src: url("../fonts/CeraPro/CeraPro-Black.woff2") format("woff2"),
		url("../fonts/CeraPro/CeraPro-Black.woff") format("woff");
	font-style: normal;
	font-weight: 900;
}