
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        padding-bottom: 300px;
        background-color: #000;
        background-position: center top;
        background-image: url("../media/section/face.jpg");
    }

    &_block2 {
        padding-top: 220px;
        padding-bottom: 220px;
        background-color: #000;
        background-position: center top;
        background-image: url("../media/section/block2.jpg");
    }

    &_block3 {
        padding-top: 220px;
        padding-bottom: 220px;
        background-color: #000;
        background-position: center top;
        background-image: url("../media/section/block3.jpg");
    }

    &_block4 {
        padding-top: 125px;
        background-color: #000;
        background-position: center top;
        background-image: url("../media/section/block4.jpg");
    }

    &_block5 {
        padding-top: 240px;
        padding-bottom: 240px;
        background-color: #000;
        background-position: center top;
        background-image: url("../media/section/block5.jpg");
    }

    &_block6 {
        background-color: #000;
        background-position: center bottom;
        background-image: url("../media/section/block6.jpg");
    }

    &_commits {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: #000;
        background-position: center top;
        background-image: url("../media/section/commits.jpg");
    }
}

@media (max-width: 1280px) {
    .section {
        &_block2 {
            padding-bottom: 115px;
        }

        &_block3 {
            padding-top: 60px;
            padding-bottom: 60px;
            background-position: center bottom;
        }

        &_block5 {
            padding-top: 60px;
            padding-bottom: 60px;
            background-position: center bottom;
            background-image: url("../media/section/block5-1280.jpg");
        }
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;

        &_face {
            background-image: url("../media/section/face-768.jpg");
        }

        &_block2 {
            padding-bottom: 390px;
            background-color: #000;
            background-position: center bottom;
            background-image: url("../media/section/block2-768.jpg");
        }

        &_block5 {
            background-position: center calc(100% - 110px);
            background-image: url("../media/section/block5-768.jpg");
        }
    }
}

@media (max-width: 480px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_block2 {
            padding-bottom: 390px;
        }

        &_block5 {
            padding-bottom: 300px;
            background-position: center bottom;
        }
    }
}
