
.face {
    position: relative;
}

.face__title {
    margin-bottom: 120px;
    font-size: 36px;
    font-family: 'Aetherius', serif;
    color: #fff;
    text-transform: uppercase;

    mark {
        color: #fe8f00;
    }

    span {
        display: block;
        max-width: 600px;
        margin-top: 20px;
    }
}

.face__subtitle {
    font-family: "VeraCrouz", serif;
    font-size: 105px;
    color: #fff;
    max-width: 590px;

    mark {
        font-family: 'Aetherius', serif;
        font-size: 70px;
        color: #fe8f00;
        text-transform: uppercase;
    }

    p {
        font-family: 'Aetherius', serif;
        font-size: 48px;
    }
}

.face__btn {
    display: inline-block;
    padding: 20px 70px;
    margin-top: 70px;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    background: rgb(252,143,0);
    background: linear-gradient(180deg, rgba(252,143,0,1) 0%, rgba(204,55,2,1) 100%);
}

.face__product {
    position: absolute;
    top: -290px;
    left: 50%;
    transform: translateX(-50%);
    width: 686px;
    margin-left: 345px;
}

@media (max-width: 1280px) {
    .face__subtitle {
        max-width: 470px;
        font-size: 74px;

        p {
            font-size: 30px;
        }
    }
}

@media (max-width: 768px) {
    .face__subtitle {
        font-size: 57px;

        mark {
            font-size: 56px;
        }
    }

    .face__title {
        margin-bottom: 120px;
        padding-bottom: 415px;
        background-image: url("../media/face/product.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto 450px;
    }

    .face__product {
        display: none;
    }
}

@media (max-width: 480px) {
    .face__title {
        max-width: 100%;
        font-size: 28px;
    }

    .face__btn {
        margin-top: 30px;
        font-size: 18px;
        padding-right: 30px;
        padding-left: 30px;
    }
}
