<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Money Amulet</title>
    <meta name="description" content="Денежный амулет - это не что иное, как монета, представляющая древнюю королевскую династию. Такая монета создается специально для определенного человека на основе личной информации. Заранее предупредим, в обычных условиях нельзя создать Money Amulet самостоятельно, для этого нужны особые эзотерические знания и опыт. Этот зачарованный амулет обладает сильным и эффективным действием, имеет невысокую цену и прост в использовании.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Денежный амулет - это не что иное, как монета, представляющая древнюю королевскую династию. Такая монета создается специально для определенного человека на основе личной информации. Заранее предупредим, в обычных условиях нельзя создать Money Amulet самостоятельно, для этого нужны особые эзотерические знания и опыт. Этот зачарованный амулет обладает сильным и эффективным действием, имеет невысокую цену и прост в использовании.">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="Money Amulet, amulet, money">
    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Money Amulet">
    <!-- описание страницы -->
    <meta property="og:description" content="Денежный амулет - это не что иное, как монета, представляющая древнюю королевскую династию. Такая монета создается специально для определенного человека на основе личной информации. Заранее предупредим, в обычных условиях нельзя создать Money Amulet самостоятельно, для этого нужны особые эзотерические знания и опыт. Этот зачарованный амулет обладает сильным и эффективным действием, имеет невысокую цену и прост в использовании.">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Money Amulet">
    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Название страницы -->
    <meta name="twitter:title" content="Money Amulet">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="Денежный амулет - это не что иное, как монета, представляющая древнюю королевскую династию. Такая монета создается специально для определенного человека на основе личной информации. Заранее предупредим, в обычных условиях нельзя создать Money Amulet самостоятельно, для этого нужны особые эзотерические знания и опыт. Этот зачарованный амулет обладает сильным и эффективным действием, имеет невысокую цену и прост в использовании.">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">
    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box face__box_first">
                <div class="section__title face__title">
                    Ключ <span>в мир</span> <mark>благополучия</mark>
                </div>
                <div class="face__list">
                    <div class="face__list-description">
                        Money Amulet обладает энергией высшей силы, которая помогает владельцу:
                    </div>
                    <div class="face__list-item">Улучшить денежную сферу жизни</div>
                    <div class="face__list-item">Зарядиться энергией Вселенной</div>
                    <div class="face__list-item">Привлечь удачу</div>
                    <div class="face__list-item">Защититься от негатива и сглаза</div>
                </div>
            </div>
            <div class="face__product">
                <img src="../media/face/product.png" alt="Амулет">
            </div>
            <div class="face__box">
                
<div class="form">
    <div class="form__title">Заказать moneyamulet</div>
    <div class="form__price">
        <div class="form__price-old">1000 lek</div>
        <div class="form__price-new">490 lek</div>
    </div>
    <div class="form__box">
        <label class="form__label">
            <select class="form__field form__select">
                <option selected></option>
                <option>1</option>
                <option>2</option>
            </select>
            <span>Страна:</span>
        </label>
        <label class="form__label">
            <input class="form__field" type="text">
            <span>Имя:</span>
        </label>
        <label class="form__label">
            <input class="form__field" type="text">
            <span>Телефон:</span>
        </label>
        <button class="form__btn">Заказать</button>
    </div>
</div>

            </div>
        </div>
    </div>
</section>

        <section class="section section_failures">
    <div class="container">
        <div class="failures">
            <div class="section__title failures__title">Устали от <mark>безденежья и неудач?</mark></div>
            <div class="failures__sub-title">Возможно, вам знакомы такие ситуации:</div>
            <div class="failures__box">
                <figure class="failures__item">
                    <div class="failures__media"><img src="../media/failures/img-1.jpg" alt=""></div>
                    <figcaption class="failures__description">Направили все силы и сбережения в проекты, которые не оправдали своих ожиданий.</figcaption>
                </figure>
                <figure class="failures__item">
                    <div class="failures__media"><img src="../media/failures/img-2.jpg" alt=""></div>
                    <figcaption class="failures__description">Упорно работаете, но мало зарабатываете.</figcaption>
                </figure>
                <figure class="failures__item">
                    <div class="failures__media"><img src="../media/failures/img-3.jpg" alt=""></div>
                    <figcaption class="failures__description">Создается впечатление будто удача отвернулась от вас.</figcaption>
                </figure>
                <figure class="failures__item">
                    <div class="failures__media"><img src="../media/failures/img-4.jpg" alt=""></div>
                    <figcaption class="failures__description">Притягиваете неприятности и не можете извлечь выгоду даже из самого выигрышного дела.</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_luck">
    <div class="container">
        <div class="luck">
            <div class="section__title luck__title">Money Amulet – талисман, приносящий удачу и благосостояниес древнейших времен</div>
            <div class="luck__description">
                <span>
                    В древних памятниках письменности есть упоминание о "Монете Солнца", которая дарует своему обладателю способность предвидеть события и извлекать максимум прибыли за короткий срок. По легенде, владеющий амулетом – владеет миром.
                </span>
                <span>
                    В начале 20 века археолог-путешественник нашел древнее племя, в котором хранился прототип амулета. Скопировав символику и проведя специальный обряд, археолог зафиксировал, что монета начала приносить фантастическую удачу и даровать благосостояние. Ритуал и изготовление археолог описал в дневниковых записях, которые недавно были найдены и расшифрованы.
                </span>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="help__info">
                <div class="section__title help__title"><mark>Money Amulet</mark> помогает разбогатеть</div>
                <div class="help__description">
                    <span>
                        Сплав и нанесение древней символики делается на растущую луну. Маг проводит специальный обряд, который заражает монету божественной энергией, дарующей удачу и богатство, и передает ее будущему владельцу.
                    </span>
                    <span>
                        Амулет начнет работать только тогда, <mark>когда его владелец закончит начатый ритуал.</mark>
                    </span>
                </div>
            </div>
            <div class="help__box">
                <figure class="help__item">
                    <div class="help__media">
                        <img src="../media/help/img-1.jpg" alt="">
                    </div>
                    <figcaption class="help__item-description">
                        Очистите амулет через подсоленную воду – так вы снимите с него чужую энергетику.
                    </figcaption>
                </figure>
                <figure class="help__item">
                    <div class="help__media">
                        <img src="../media/help/img-2.jpg" alt="">
                    </div>
                    <figcaption class="help__item-description">
                        Положите его на три ночи под свою подушку вместе с деньгами (чем выше достоинство, тем сильнее энергия).
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_expectation">
    <div class="container">
        <div class="expectation">
            <div class="section__title expectation__title">Как долго ждать эффект?</div>
            <div class="expectation__description">В течение месяца ваше материальное состояние улучшится, и удача будет способствовать во всех начинаниях.</div>
        </div>
    </div>
</section>

        
<section class="section section_fact">
    <div class="container">
        <div class="fact">
            <div class="section__title fact__title">
                Даже богатые люди удивляются, <mark>как Money Amulet легко приумножает благосостояние</mark>
            </div>
            <div class="fact__description">
                <mark>Money Amulet ежедневно подпитывается силами Вселенной, увеличивая заряд по мере роста благосостояния владельца.</mark> Поэтому монету необходимо всегда иметь при себе и контактировать с ней. Думайте о желаемом, мысленно обращаясь к амулету с просьбой о необходимой помощи.
            </div>
        </div>
    </div>
</section>

        
<section class="section section_progress">
    <div class="container">
        <div class="progress">
            <div class="section__title progress__title">Какие изменения начнут <mark>происходить в вашей жизни?</mark></div>
            <div class="progress__box">
                <figure class="progress__item">
                    <div class="progress__media"><img src="../media/progress/icon-1.png" alt=""></div>
                    <figcaption class="progress__description">Улучшится финансовое благополучие</figcaption>
                </figure>
                <figure class="progress__item">
                    <div class="progress__media"><img src="../media/progress/icon-2.png" alt=""></div>
                    <figcaption class="progress__description">Станет сопутствовать удача в жизни</figcaption>
                </figure>
                <figure class="progress__item">
                    <div class="progress__media"><img src="../media/progress/icon-3.png" alt=""></div>
                    <figcaption class="progress__description">Произойдет стремительный карьерный рост</figcaption>
                </figure>
                <figure class="progress__item">
                    <div class="progress__media"><img src="../media/progress/icon-4.png" alt=""></div>
                    <figcaption class="progress__description">Сможете быстро и легко достигать поставленных целей</figcaption>
                </figure>
                <figure class="progress__item">
                    <div class="progress__media"><img src="../media/progress/icon-5.png" alt=""></div>
                    <figcaption class="progress__description">Возникнет мощный блок от негативной энергии</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title">Люди, которые <mark>изменили свою жизнь к лучшему</mark> с Money Amulet</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Teresa Lawson,</div>
                    <div class="commits__age">37 лет</div>
                    <div class="commits__description">
                        Я из очень бедной семьи. Я всегда хотела жить лучше. Но что бы я ни делала, сколько ни работала – всегда не хватало денег. По выходным я убиралась в богатых домах. И в одном из них случайно подслушала разговор хозяев о Money Amulet. Мне стало интересно, что это за вещь, приносящая деньги. Я нашла Money Amulet в интернете и долго размышляла купить себе еды на несколько дней или амулет. Мне страшно вспоминать, стоя в собственной просторной квартире, что я могла сделать неправильный выбор. В тяжелые времена я не могла себе позволить есть каждый день, а сейчас владею собственным рестораном. Я счастлива, что я и моя семья наконец-то ни в чем не нуждаются. И все это благодаря Money Amulet.
                    </div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Brice Hodge,</div>
                    <div class="commits__age">30 лет</div>
                    <div class="commits__description">
                        Я работал таксистом и как-то подвозил парня, который рассказал безумную историю. Он купил Money Amulet и за год стал долларовым миллионером, играя на бирже. Я конечно ему не поверил, но через неделю увидел его фото в газете. Я был в шоке и решил тоже купить себе амулет. Нашел официальный сайт, заказал и носил не снимая. Через 2 недели я очень удачно купил пакет акций, хотя особо не понимал в этом ничего. Действовал интуитивно, будто меня кто-то направлял. Вскоре я профессионально занялся трейдингом в интернете. Доходом распоряжался с умом, делая инвестиции. Сейчас на моем счету больше полмиллиона долларов. Амулет не снимал с себя с момента покупки.
                    </div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Lily Barnett,</div>
                    <div class="commits__age">42 года</div>
                    <div class="commits__description">
                        Мой муж взял большой кредит на дело и потерял все! Не знаю почему так вышло, ведь он все просчитал. Первый год было очень тяжело выплачивать долг. Мы даже лишились машины, которая была дополнительным заработком. А потом появилась угроза потерять и дом. Я была в полном отчаянии. Хорошо, что случайно нашла Money Amulet в интернете. Заказала на официальном сайте по предоплате, доставили быстро курьерской службой. Но самое главное, амулет спас нас! Как только я и муж стали такой носить, то дела пошли в гору. Появились новые бизнес-партнеры, за полгода мы смогли расплатиться с огромным долгом и даже купили новую машину.
                    </div>
                    <div class="commits__stars">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_secret">
    <div class="container">
        <div class="secret">
            <div class="section__title secret__title">Money Amulet – секрет вашей новой беззаботной жизни</div>
            <div class="secret__btn">Заказать Money Amulet</div>
        </div>
    </div>
</section>

        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
