<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nicozero</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <div class="wrap">
            <section class="section section_face wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="face">
                        <div class="face__head">
                            <div class="logo"><img src="../media/logo.png" alt=""></div>
                        </div>
                        <div class="face__box">
                            <h1 class="face__title">Бросить
                                <span>курить</span>
                                <span>легко!</span></h1>
                            <div class="advantages">
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon1.png" alt="">
        </div>
        <div class="advantages__title">Без тяги <span>к сигаретам</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon2.png" alt="">
        </div>
        <div class="advantages__title">Без абстинентного <span>синдрома</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon3.png" alt="">
        </div>
        <div class="advantages__title">Без книг <span>и гипноза</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon4.png" alt="">
        </div>
        <div class="advantages__title">Без медикаментов <span>и пластырей</span></div>
    </div>
</div>

                        </div>
                        <div class="face__box face__box_eggs">
                            <div class="order face__order">
    <div class="order__title">Закажите сейчас <span>со скидкой</span></div>
    <div class="order__price">
        <span>€ 599</span>
        <span>€ 99</span>
    </div>
    <div class="order__form">
        <label class="order__item">
            <span>Ваше имя:</span>
            <input class="order__field" type="text" name="name">
        </label>
        <label class="order__item">
            <span>Страна:</span>
            <input class="order__field" type="text" name="country">
        </label>
        <label class="order__item">
            <span>Телефон:</span>
            <input class="order__field" type="text" name="phone">
        </label>
        <div class="order__item order__item_btn">
            <button class="order__btn">Заказать</button>
        </div>
    </div>
</div>

                            <div class="eggs">
    <div class="eggs__item">
        <img src="../media/eggs/img1.png" alt="">
    </div>
    <div class="eggs__item">
        <img src="../media/eggs/img2.png" alt="">
    </div>
    <div class="eggs__item">
        <img src="../media/eggs/img3.png" alt="">
    </div>
</div>

                        </div>
                        <div class="face__product">
                            <div class="face__arrow"><img src="../media/face/arrow.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section_effects wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="effects">
                        <div class="effects__box">
                            <div class="effects__title">
                                Когда вы выкурили <span>свою <span>первую сигарету,</span></span>
                            </div>
                            <div class="effects__subtitle">
                                вам точно хотелось остаться курильщиком
                            </div>
                            <div class="effects__description">
                                на всю жизнь?
                            </div>
                            <div class="effects__events wow shake" data-wow-duration="10s" data-wow-iteration="infinite">
                                наведите на фото
                                <img src="../media/effects/arrow-right.png" alt="">
                            </div>
                        </div>
                        <div class="effects__media">
                            <div class="effects__hover js-effects__hover"></div>
                            <div class="effects__fadeLine">
                                <img src="../media/effects/fadeLine.png" alt="">
                            </div>
                            <div class="effects__face effects__face_before"></div>
                            <div class="effects__face effects__face_after"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section_warning wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="facts">
                        <div class="facts__item">
                            <div class="facts__content">
                                <div class="facts__subTitle">
                                    <div class="facts__nomber">1.</div>
                                    Никотин – это вещество, которое вызывает привыкание с первой дозы.
                                    <span>По силе воздействия на организм он превосходит даже героин, поскольку вызывает зависимость с первой затяжки.</span>
                                </div>
                            </div>
                            <div class="facts__media">
                                <img src="../media/facts/img1.jpg" alt="">
                            </div>
                        </div>
                        <div class="facts__item facts__item_right">
                            <div class="facts__media">
                                <img src="../media/facts/img2.jpg" alt="">
                            </div>
                            <div class="facts__content">
                                <div class="facts__subTitle">
                                    <div class="facts__nomber">2.</div>
                                    До того, как вы впервые закурили, наверняка были уверены:
                                    <span>Я смогу бросить в любой момент! В действительности это гораздо сложнее, чем кажется.</span>
                                </div>
                            </div>
                        </div>
                        <div class="facts__item">
                            <div class="facts__content">
                                <div class="facts__subTitle">
                                    <div class="facts__nomber">3.</div>
                                    Возможно, вы испытываете стыд или неприязнь к самому себе из-за того, что не можете бросить курить самостоятельно.
                                    <span>Вы постоянно слышите о вреде курения и уже выработали иммунитет к ужасающим историям курильщиков.</span>
                                </div>
                            </div>
                            <div class="facts__media">
                                <img src="../media/facts/img3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="warning section__warning">
                        <div class="wraning__title"><span>Запах сигарет</span> преследует <span>вас повсюду,</span> </div>
                        <div class="wraning__subTitle">от него не спасает <span>ни жвачка, ни духи.</span></div>
                    </div>
                </div>
            </section>
            <div class="section section_cause wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="cause">
                        <div class="cause__title">Однако вы <span>до сих пор</span> <span>являетесь</span> курильщиком.</div>
                        <div class="cause__subTitle">Так почему вам <span>на самом деле</span> хочется курить?</div>
                        <div class="cause__description">
                            <span>При постоянном курении в мозге резко вырастает число ацетилхолиновых рецепторов (именно они обеспечивают резкий выброс гормонов радости), а их чувствительность падает.</span>

                            Эти рецепторы в норме активируются особым органическим соединением ацетилхолином, очень похожим по структуре на никотин. При повышении числа рецепторов собственных запасов ацетилхолина перестает хватать. И чтобы чувствовать себя счастливым, человеку приходится постоянно увеличивать дозу никотина — так формируется физиологическая зависимость.
                        </div>
                        <div class="cause__info">
                            При первом попадании в организм никотина вы сразу же становитесь зависимым от этого токсического вещества. <span>Желание закурить контролирует ваш мозг, меняет ваши планы, поведение и даже стиль общения.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section_memories wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="memories">
                        <div class="memories_subTitle">Вспомните, когда вам</div>
                        <div class="memories_title">сильнее всего хочется курить?</div>
                        <div class="memories__box">
                            <div class="memories__item">
                                <div class="memories__media"><img src="../media/memories/img1.png" alt=""></div>
                                <div class="memories__name">Сразу после пробуждения</div>
                            </div>
                            <div class="memories__item">
                                <div class="memories__media"><img src="../media/memories/img2.png" alt=""></div>
                                <div class="memories__name">В самолете</div>
                            </div>
                            <div class="memories__item">
                                <div class="memories__media"><img src="../media/memories/img3.png" alt=""></div>
                                <div class="memories__name">У некурящих гостей</div>
                            </div>
                            <div class="memories__item">
                                <div class="memories__media"><img src="../media/memories/img4.png" alt=""></div>
                                <div class="memories__name">После принятого алкоголя</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section_question wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="question">
                        <div class="question__head">
                            <div class="question__title"><span>Ответьте на</span> один вопрос:</div>
                            <div class="question__description">вам действительно хочется освободиться от зависимости, перестать спускать кучу денег на дым, получать удовольствие от жизни без необходимости затянуться и легче справляться со стрессом?</div>
                        </div>
                        <div class="question__subTitle">
                            Если это так, <span>Nicozero  вам в этом поможет.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section_step wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="step">
                        <div class="step__title">Всего 4 недели –</div>
                        <div class="gradient">
                            <div class="step__subTitle">и вы больше никогда не захотите курить</div>
                        </div>
                        <div class="step__box">
                            <div class="step__item">
                                <div class="step__count">1</div>
                                <div class="step__name">Первая неделя</div>
                                <div class="step__line"></div>
                                <div class="step__description">Входящие в состав Nicozero вещества увеличивают чувствительность ацетилхолиновых рецепторов (тех самых, которые отвечают за удовольствие).</div>
                            </div>
                            <div class="step__item">
                                <div class="step__count">2</div>
                                <div class="step__name">Вторая неделя</div>
                                <div class="step__line"></div>
                                <div class="step__description">Вы получаете удовольствие от вкусной еды, просмотра любимого сериала и обычного отдыха. Уровень гормонов стресса стабильно снижается. Нервное напряжение уходит, а у вас пропадает необходимость "расслабиться" с помощью сигареты.</div>
                            </div>
                            <div class="step__item">
                                <div class="step__count">3</div>
                                <div class="step__name">Третья неделя</div>
                                <div class="step__line"></div>
                                <div class="step__description">Мозг блокирует раздражение ацетилхолиновых рецепторов при получении никотина – вы перестаете получать удовольствие от сигарет, но все еще можете продолжать курить. В это время организм полностью перестраивается на получение гормона радости естественным путем.</div>
                            </div>
                            <div class="step__item">
                                <div class="step__count">4</div>
                                <div class="step__name">Четвертая неделя</div>
                                <div class="step__line"></div>
                                <div class="step__description">Вы начинаете замечать, как снова наслаждаетесь тем, что вам в действительности приносит удовольствие. Пропадает физическая и психологическая необходимость закурить!</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section_product wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="product">
                        <div class="gradient">
                            <div class="product__title">Nicozero</div>
                        </div>
                        <div class="product__subTitle">Спрей для избавления от <span>никотиновой зависимости</span></div>
                        <div class="product__box">
                            <div class="product__item">
                                <div class="product__media"><img src="../media/product/img1.jpg" alt=""></div>
                                <div class="product__name">Экстракт <span>зерен овса</span></div>
                                <div class="product__description">Укрепляет нервную систему, сосуды и сердечную мышцу, благоприятно действует на состав крови</div>
                            </div>
                            <div class="product__item">
                                <div class="product__media"><img src="../media/product/img2.jpg" alt=""></div>
                                <div class="product__name">Зверобой</div>
                                <div class="product__description">Вызывает постепенное и устойчивое отвращение к табачному запаху, очищает дыхательные пути от вредных отложений.</div>
                            </div>
                            <div class="product__item">
                                <div class="product__media"><img src="../media/product/img3.jpg" alt=""></div>
                                <div class="product__name">Имбирь</div>
                                <div class="product__description">Разжижает кровь, уменьшает слипание тромбоцитов и формирование тромбов, очищает организм от токсинов. </div>
                            </div>
                            <div class="product__item">
                                <div class="product__media"><img src="../media/product/img4.jpg" alt=""></div>
                                <div class="product__name">Боярышник</div>
                                <div class="product__description">Выводит из организма вещества, образовавшиеся после распада никотина, очищает лёгкие</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section_professional wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="professional">
                        <div class="professional__box professional__box_doc">
                            <div class="professional__title">Мнение специалиста</div>
                            <div class="professional__subTitle">
                                Никотиновая зависимость – бич современности. Избавиться от нее по-настоящему сложно, нередко мне самому, как доктору, казалось это слишком сложно.
                            </div>
                            <div class="professional__description">
                                Теперь, когда на рынок вышел Nicozero, никаких сомнений не остается, что бросить курить раз и навсегда может каждый вне зависимости от стажа.
                                <span>В основе Nicozero принципиально новый подход. Препарат воздействует на рецепторы, отвечающие за тягу к курению. Первое время мозг обманывается, полагая, что ему дают дозу никотина, поскольку Nicozero удовлетворяет истинные потребности организма, возникающие при курении. Постепенно привычка прикуривать сигарету сходит на нет. К моменту завершения курса с Nicozero у вас вырабатывается стойкое отвращение к сигаретам, и вы легко, а главное, навсегда, избавляетесь от сильнейшей никотиновой зависимости.</span>
                            </div>
                            <div class="professional__footer">
                                <!-- <div class="professional__identifier"><img src="../media/professional/identifier.png" alt=""></div> -->
                                <div class="professional__footer-box">
                                    <div class="professional__name">Билл Смитт,</div>
                                    <div class="professional__position">д.м.н., врач высшей категории, нарколог</div>
                                </div>
                            </div>
                        </div>
                        <div class="professional__box professional__box_human">
                            <div class="professional__media"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section_reviews">
                <div class="container">
                    <div class="reviews">
                        <div class="gradient">
                            <div class="reviews__title">Отзывы <span>о Nicozero</span></div>
                        </div>
                        <div class="reviews__box">
                            <div class="reviews__item wow bounceInUp" data-wow-duration="2s">
                                <div class="reviews__head">
                                    <div class="reviews__media"><img src="../media/order/face1.jpg" alt=""></div>
                                    <div class="reviews__head-info">
                                        <div class="reviews__name">Стефан</div>
                                        <div class="reviews__age">39 лет</div>
                                    </div>
                                </div>
                                <div class="reviews__description">
                                    Я курил с 14 лет. Сейчас мне 39, и только год назад я смог избавиться от никотиновой зависимости с помощью Nicozero.
                                    <span>24 года сознательной жизни я курил и представить не мог, как прекрасна жизнь без этой ужасной вони табака, желтых зубов, вечного кашля и гневных взглядов некурящих. Пытался несколько раз бросить самостоятельно, все безрезультатно. Теперь, благодаря Nicozero, одна только мысль о сигарете вызывает у меня отвращение.</span>
                                </div>
                                <div class="reviews__footer">
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                </div>
                            </div>
                            <div class="reviews__item wow bounceInDown" data-wow-duration="2s">
                                <div class="reviews__head">
                                    <div class="reviews__media"><img src="../media/order/face2.jpg" alt=""></div>
                                    <div class="reviews__head-info">
                                        <div class="reviews__name">Анна</div>
                                        <div class="reviews__age">42 года</div>
                                    </div>
                                </div>
                                <div class="reviews__description">
                                    Я перепробовала разные способы в попытках бросить курить: если не все, то очень многие. Все они заканчивались одинаково: максимум через месяц я возвращалась к сигарете.
                                    <span>Она была для меня другом, поддержкой, опорой, способом себя развлечь. Сейчас понимаю, насколько была глупа, ведь я сама себя обманывала, потому что просто-напросто не могла бросить курить. А все те способы, что пробовала – не больше, чем маркетинговый ход. Пишу отзыв о Nicozero, потому что именно он помог мне НАВСЕГДА бросить курить. Благодаря этому чудесному средству я уже 8 месяцев не курю и точно знаю, что больше никогда не вернусь к этой пагубной привычке.</span>
                                </div>
                                <div class="reviews__footer">
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                </div>
                            </div>
                            <div class="reviews__item wow bounceInUp" data-wow-duration="2s">
                                <div class="reviews__head">
                                    <div class="reviews__media"><img src="../media/order/face3.jpg" alt=""></div>
                                    <div class="reviews__head-info">
                                        <div class="reviews__name">Даниэль</div>
                                        <div class="reviews__age">33 года</div>
                                    </div>
                                </div>
                                <div class="reviews__description">
                                    Среди всех способов распрощаться с курением, Nicozero, пожалуй, единственный эффективный.
                                    <span>В этом я убедился на собственном опыте. Мне хватило трех недель, чтобы затушить свою последнюю в жизни сигарету и решить никогда больше не возвращаться к курению. Спасибо производителям за это средство!</span>
                                </div>
                                <div class="reviews__footer">
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                    <div class="reviews__stars"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section_fake wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="fake">
                        <div class="fake__box">
                            <div class="fake__title">Остерегайтесь подделок!</div>
                            <div class="fake__description">В связи с огромной популярностью Nicozero, стали появляться фальсифицированные образцы. Оригинальный продукт Nicozero можно приобрести только на этом сайте.</div>
                        </div>
                        <div class="fake__media"></div>
                    </div>
                </div>
            </div>
            <div class="section section_support wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="support">
                        <div class="gradient">
                            <div class="support__title">Часто задаваемые вопросы</div>
                        </div>
                        <div class="support__box">
                            <div class="support__item">
                                <div class="support__name">
                                    <div class="support__indikator">
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <span>Наберу ли я вес после того как брошу курить при помощи Nicozero?</span>
                                </div>
                                <div class="support__description">
                                    Нет. Набор веса при отказе от никотина волевым методом связан с попытками успокоить нервную систему, подавить жажду никотина едой. С Nicozero такого не произойдет, так как этот метод изначально успокаивает нервную систему и только потом вы совершенно спокойно перестаете курить навсегда.
                                </div>
                            </div>
                            <div class="support__item">
                                <div class="support__name">
                                    <div class="support__indikator">
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <span>Я много раз бросал курить с помощью разных средств, но всегда возвращался к сигаретам. Чем Nicozero отличается от других способов, почему с ним я точно брошу курить навсегда?</span>
                                </div>
                                <div class="support__description">
                                    Nicozero содержит в себе вещества, которые всасываются в кровь и постепенно вымывают никотин из организма. Происходит процесс детоксикации: отравленные органы улучшают работу. В период детоксикации организм смещает приоритет на обновление работы органов, а не на получение новой дозы никотина. Вы будете чувствовать улучшение самочувствие и мысль о сигарете сама отойдет на второй план.
                                </div>
                            </div>
                            <div class="support__item">
                                <div class="support__name">
                                    <div class="support__indikator">
                                        <span></span>
                                        <span></span>
                                    </div>
                                    <span>Будет ли мне плохо, если я закурю во время приема Nicozero?</span>
                                </div>
                                <div class="support__description">
                                    Нет. В отличие от иных препаратов, Nicozero не содержит токсичных веществ, способных вызвать негативную реакцию организма.
                                </div>
                            </div>
                        </div>
                        <div class="support__callback">
                            <div class="support__subTitle">Остались вопросы?</div>
                            <div class="support__info">
                                Задайте их нашему специалисту, вам перезвонят и проконсультируют.
                            </div>
                            <div class="support__btn">Задать вопрос</div>
                        </div>
                        <div class="support__media"></div>
                    </div>
                </div>
            </div>
            <section class="section section_footer-face section_face wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="face">
                        <div class="face__head">
                            <div class="logo"><img src="../media/logo.png" alt=""></div>
                        </div>
                        <div class="face__box">
                            <h1 class="face__title">Бросить
                                <span>курить</span>
                                <span>легко!</span></h1>
                            <div class="advantages">
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon1.png" alt="">
        </div>
        <div class="advantages__title">Без тяги <span>к сигаретам</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon2.png" alt="">
        </div>
        <div class="advantages__title">Без абстинентного <span>синдрома</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon3.png" alt="">
        </div>
        <div class="advantages__title">Без книг <span>и гипноза</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__media">
            <img src="../media/advantages/icon4.png" alt="">
        </div>
        <div class="advantages__title">Без медикаментов <span>и пластырей</span></div>
    </div>
</div>

                        </div>
                        <div class="face__box face__box_eggs face__box_scroll">
                            <div class="order face__order">
    <div class="order__title">Закажите сейчас <span>со скидкой</span></div>
    <div class="order__price">
        <span>€ 599</span>
        <span>€ 99</span>
    </div>
    <div class="order__form">
        <label class="order__item">
            <span>Ваше имя:</span>
            <input class="order__field" type="text" name="name">
        </label>
        <label class="order__item">
            <span>Страна:</span>
            <input class="order__field" type="text" name="country">
        </label>
        <label class="order__item">
            <span>Телефон:</span>
            <input class="order__field" type="text" name="phone">
        </label>
        <div class="order__item order__item_btn">
            <button class="order__btn">Заказать</button>
        </div>
    </div>
</div>

                            <div class="eggs">
    <div class="eggs__item">
        <img src="../media/eggs/img1.png" alt="">
    </div>
    <div class="eggs__item">
        <img src="../media/eggs/img2.png" alt="">
    </div>
    <div class="eggs__item">
        <img src="../media/eggs/img3.png" alt="">
    </div>
</div>

                        </div>
                        <div class="face__product"></div>
                    </div>
                </div>
            </section>
            <footer class="section section_footer wow fadeIn" data-wow-duration="1s">
                <div class="container">
                    <div class="footer">
                        <p class="footer_leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International <br>
                            <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> |
                            <a href="http://feedback-team.com" target="_blank">Report</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div>
        <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
