<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Что такое мета теги и для чего они нужны">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="мета теги, meta, мета теги для seo">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="META теги">
    <!-- описание страницы -->
    <meta property="og:description" content="Описание страницы про META теги">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Фрилансер по жизни">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Имя/логин автора -->
    <meta name="twitter:site" content="Жека">
    <!-- Название страницы -->
    <meta name="twitter:title" content="META теги">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="про META теги">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>

    <body>
        <section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__head">
                <div class="face__logo">
                    <img src="../media/face/logo.svg" alt="">
                </div>
            </div>
            <div class="face__body">
                <div class="face__box face__box_left">
                    <div class="face__box-title">
                        <div class="face__title-border"></div>
                        <div class="face__title">Амулет <span>для привлечения денег</span></div>
                        <div class="face__sub-title">Впусти богатство в свою жизнь!</div>
                    </div>
                    <div class="face__list">
                        <div class="face__list-title">MoneyAmulet привлечет в вашу жизнь:</div>
                        <div class="face__item">
                            <img src="../media/face/dolar.svg" alt="">
                            <span>Финансовое благополучие</span>
                        </div>
                        <div class="face__item">
                            <img src="../media/face/energy.svg" alt="">
                            <span>Энергетику богатства</span>
                        </div>
                        <div class="face__item">
                            <img src="../media/face/stability.svg" alt="">
                            <span>Стабильность и независимость</span>
                        </div>
                    </div>
                </div>
                <div class="face__box">
                    
<form class="form">
    <div class="form__body">
        <label class="form__label">
            <select class="form__field form__select">
                <option selected value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </label>
        <div class="form__footer">
            <a href="" class="form__btn">Заказать</a>
        </div>
    </div>
</form>

                    <div class="face__product">
                        <div class="face__product-head">
                            <div class="face__product-discount">
                                <img src="../media/form/discount.svg" alt="">
                                <span>Цена со скидкой</span>
                                <span>490 руб</span>
                                <span>1000 руб</span>
                            </div>
                        </div>
                        <div class="face__product-media">
                            <img src="../media/face/product.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_myMoney">
    <div class="container">
        <div class="myMoney">
            <div class="myMoney__title section__title">Позвольте деньгам стать вашими!</div>
            <div class="myMoney__description">
                <div class="myMoney__descriptio-border"></div>
                <span>Как часто вам приходилось сокрушаться на тему нехватки денег?</span>
                 "Богатым просто повезло оказаться в нужное время в нужном месте. Я не такой удачливый, чтобы разбогатеть на пустом месте", – знакомые размышления? Если да, то пора от них отказаться и поверить, что богатым может стать абсолютно каждый, и вы в их числе!
            </div>
            <div class="myMoney__clearMoney">
                <div class="myMoney__clearMoney-icon"><img src="../media/myMoney/arrow.svg" alt=""></div>
                <img src="../media/myMoney/clearMoney.png" alt="">
            </div>
        </div>
    </div>
</section>

        
<section class="section section_memory">
    <div class="container">
        <div class="memory">
            <div class="memory__title section__title">Забудьте эти выражения!</div>
            <div class="memory__box">
                <div class="memory__item"><span>!</span> Я мало зарабатываю</div>
                <div class="memory__item"><span>!</span> Я не умею распоряжаться деньгами</div>
                <div class="memory__item"><span>!</span> У меня куча кредитов</div>
                <div class="memory__item"><span>!</span> Денег на всех не хватит</div>
                <div class="memory__item"><span>!</span> Я не умею копить</div>
                <div class="memory__item"><span>!</span> В моей семье нет богачей</div>
                <div class="memory__item"><span>!</span> Я слишком глуп, чтобы стать богатым</div>
                <div class="memory__item"><span>!</span> Такие, как я, богатыми не становятся</div>
                <div class="memory__item"><span>!</span> Мне не хватает знаний</div>
            </div>
            <div class="memory__media">
                <img src="../media/memory/memory.jpg" alt="">
            </div>
        </div>
    </div>
</section>

        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
