<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Что такое мета теги и для чего они нужны">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="мета теги, meta, мета теги для seo">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="META теги">
    <!-- описание страницы -->
    <meta property="og:description" content="Описание страницы про META теги">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Фрилансер по жизни">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Имя/логин автора -->
    <meta name="twitter:site" content="Жека">
    <!-- Название страницы -->
    <meta name="twitter:title" content="META теги">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="про META теги">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
</head>

    <body>
        <section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__head">
                <div class="face__logo">
                    <img src="../media/face/logo.svg" alt="">
                </div>
            </div>
            <div class="face__body">
                <div class="face__box face__box_left">
                    <div class="face__box-title">
                        <div class="face__title-border"></div>
                        <div class="face__title">Амулет <span>для привлечения денег</span></div>
                        <div class="face__sub-title">Впусти богатство в свою жизнь!</div>
                    </div>
                    <div class="face__list">
                        <div class="face__list-title">MoneyAmulet привлечет в вашу жизнь:</div>
                        <div class="face__item">
                            <img src="../media/face/dolar.svg" alt="">
                            <span>Финансовое благополучие</span>
                        </div>
                        <div class="face__item">
                            <img src="../media/face/energy.svg" alt="">
                            <span>Энергетику богатства</span>
                        </div>
                        <div class="face__item">
                            <img src="../media/face/stability.svg" alt="">
                            <span>Стабильность и независимость</span>
                        </div>
                    </div>
                </div>
                <div class="face__box">
                    
<form class="form">
    <div class="form__body">
        <label class="form__label">
            <select class="form__field form__select">
                <option selected value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </label>
        <div class="form__footer">
            <a href="" class="form__btn">Заказать</a>
        </div>
    </div>
</form>

                    <div class="face__product">
                        <div class="face__product-head">
                            <div class="face__product-discount">
                                <img src="../media/form/discount.svg" alt="">
                                <span>Цена со скидкой</span>
                                <span>490 руб</span>
                                <span>1000 руб</span>
                            </div>
                        </div>
                        <div class="face__product-media">
                            <img src="../media/face/product.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_myMoney">
    <div class="container">
        <div class="myMoney">
            <div class="myMoney__title section__title">Позвольте деньгам стать вашими!</div>
            <div class="myMoney__description">
                <div class="myMoney__descriptio-border"></div>
                <span>Как часто вам приходилось сокрушаться на тему нехватки денег?</span>
                 "Богатым просто повезло оказаться в нужное время в нужном месте. Я не такой удачливый, чтобы разбогатеть на пустом месте", – знакомые размышления? Если да, то пора от них отказаться и поверить, что богатым может стать абсолютно каждый, и вы в их числе!
            </div>
            <div class="myMoney__clearMoney">
                <div class="myMoney__clearMoney-icon"><img src="../media/myMoney/arrow.svg" alt=""></div>
                <img src="../media/myMoney/clearMoney.png" alt="">
            </div>
        </div>
    </div>
</section>

        
<section class="section section_memory">
    <div class="container">
        <div class="memory">
            <div class="memory__title section__title">Забудьте эти выражения!</div>
            <div class="memory__box">
                <div class="memory__item"><span>!</span> Я мало зарабатываю</div>
                <div class="memory__item"><span>!</span> Я не умею распоряжаться деньгами</div>
                <div class="memory__item"><span>!</span> У меня куча кредитов</div>
                <div class="memory__item"><span>!</span> Денег на всех не хватит</div>
                <div class="memory__item"><span>!</span> Я не умею копить</div>
                <div class="memory__item"><span>!</span> В моей семье нет богачей</div>
                <div class="memory__item"><span>!</span> Я слишком глуп, чтобы стать богатым</div>
                <div class="memory__item"><span>!</span> Такие, как я, богатыми не становятся</div>
                <div class="memory__item"><span>!</span> Мне не хватает знаний</div>
            </div>
            <div class="memory__media">
                <img src="../media/memory/memory.jpg" alt="">
            </div>
        </div>
    </div>
</section>

        
<section class="section section_help">
    <div class="container">
        <div class="help">
            <div class="help__title section__title">MoneyAmulet поможет разбогатеть каждому</div>
            <div class="help__description">
                <span>MoneyAmulet</span> – это амулет, изготовленный из материала, добытого из гробницы египетского фараона Тутанхамона.
            </div>
            <div class="help__media">
                <img src="../media/help/human.png" alt="">
            </div>
        </div>
    </div>
</section>

        
<section class="section section_instruction">
    <div class="container">
        <div class="instruction">
            <div class="instruction__title section__title">Как это работает?</div>
            <div class="instruction__box">
                <div class="instruction__description">
                    <div class="instruction__descriptio-border"></div>
                    <span>Чтобы стать богатым, не обязательно вкалывать сутками. Вселенная готова одарить вас финансовым благосостоянием, потому что вы этого заслуживаете.</span>
                     Просто позвольте ей вам помочь – носите MoneyAmulet как можно чаще, забудьте негативные высказывания о деньгах и примите главный подарок судьбы с достоинством!
                </div>
                <div class="instruction__product">
                    <img src="../media/instruction/product.png" alt="">
                </div>
            </div>
            <div class="instruction__massonry">
                <div class="instruction__massonry-title">
                    <span>!</span>
                    <span>Как только вы получите <mark>MoneyAmulet</mark>, его необходимо подготовить для своей энергетики</span>
                </div>
                <div class="instruction__item instruction__item_4">
                    <span>Для этого проведите ритуал: налейте в стакан чистой воды, сделайте из него три глотка и положите в него амулет</span>
                    <div class="instruction__item-title">Ритуал</div>
                    <div class="instruction__item-count">1</div>
                </div>
                <div class="instruction__item instruction__item_5">
                    <span>Он должен пролежать там всю ночь, после чего MoneyAmulet можно надеть на шею, а оставшейся водой следует полить цветы</span>
                    <div class="instruction__item-title">Терпение</div>
                    <div class="instruction__item-count">2</div>
                </div>
                <div class="instruction__item instruction__item_6">
                    <span>Чтобы амулет приумножал ваше богатство и приносил еще больше денег, время от времени заряжайте его.</span>
                    <div class="instruction__item-title">Еще больше</div>
                    <div class="instruction__item-count">3</div>
                </div>
                <div class="instruction__item instruction__item_7">
                    <span>Для этого необходимо один раз в месяц в полнолуние класть на подоконник открытый кошелек с деньгами и картами</span>
                    <div class="instruction__item-title">Правила</div>
                    <div class="instruction__item-count">4</div>
                </div>
                <div class="instruction__item instruction__item_8">
                    <span>Сверху на кошелек нужно положить MoneyAmulet таким образом, чтобы на него попадал лунный свет.</span>
                    <div class="instruction__item-title">Точность</div>
                    <div class="instruction__item-count">5</div>
                </div>
                <div class="instruction__item instruction__item_9">
                    <span>Утром уберите кошелек и не тратьте деньги после этого целые сутки, а амулет носите 7 дней, не снимая.</span>
                    <div class="instruction__item-title">Результат</div>
                    <div class="instruction__item-count">6</div>
                </div>
            </div>
            <div class="instruction__footer">
                Даже если вы будете проводить такой ритуал только раз в год, ваши финансы значительно приумножатся безо всяких усилий.
            </div>
        </div>
    </div>
</section>

        
<section class="section section_commit">
    <div class="container">
        <div class="commit">
            <div class="commit__title section__title">Этот метод проверен миллионами людей</div>
            <div class="commit__box">
                <div class="commit__item">
                    <div class="commit__media"><img src="../media/commit/face-1.jpg" alt=""></div>
                    <div class="commit__body">
                        <div class="commit__name">
                            Dea Bushati
                        </div>
                        <div class="commit__description">
                            Мужа уволили с работы и он начал метаться между заработками. Я не знала, чем ему помочь. Я сидела в декрете с ребенком, работать не могла, старалась изо всех сил, чтобы дома ему было хорошо и он не мучил себя переживаниями о работе. После неудачных поисков работы муж решил открыть свой бизнес, но дела у него не ладились. Тогда я случайно наткнулась на Money Amulet в интернете и решила заказать для супруга, вдруг поможет. Муж начал носить и дела у него пошли в гору. Буквально за месяц он получил доход вдвое больше, чем была его зарплата. Сейчас он владеет сетью автомоек и с деньгами у нас все отлично!
                        </div>
                    </div>
                </div>
                <div class="commit__item">
                    <div class="commit__media"><img src="../media/commit/face-2.jpg" alt=""></div>
                    <div class="commit__body">
                        <div class="commit__name">
                            Kevin Shehu
                        </div>
                        <div class="commit__description">
                            Я про Money Amulet услышал от своего дяди, он недавно стал долларовым миллионером. Подумал, что такой богатый человек ерунды не скажет. Нашел официальный сайт, оттуда заказал себе амулет и стал носить не снимая. Через месяц я очень удачно купил пакет акций, а через полтора – занялся трейдингом в интернете. Часть дохода я вложил в криптовалюту и открыл свой бизнес по автолизингу. У меня на счету сейчас полмиллиона долларов. Амулет никогда с себя не снимаю. Заметил, что дядя тоже всегда носит Money Amulet, наверное, это и есть секрет миллионеров.
                        </div>
                    </div>
                </div>
                <div class="commit__item">
                    <div class="commit__media"><img src="../media/commit/face-3.jpg" alt=""></div>
                    <div class="commit__body">
                        <div class="commit__name">
                            Sara Balla
                        </div>
                        <div class="commit__description">
                            После смерти мужа я осталась одна с тремя детьми на руках. Денег не было даже на молоко детям. Я металась между двумя работами: днем устроилась гардеробщицей, а по ночам мыла полы в спортзалах. Все деньги отдавала за ЖКХ, съем квартиры и на школьные сборы детям. На еду почти не оставалось денег, а уж про траты на себя я вообще молчу. Как-то раз мама подарила мне Money Amulet, она купила его для меня по совету своей приятельницы. Я отнеслась к амулету как к безделушке, но чтобы маме было приятно, надела монетку на шею. Мне буквально через неделю в обоих местах работы повысили зарплату, а через месяц мне предложили перейти на более оплачиваемую работу. Я с тех пор Money Amulet никогда не снимаю, он мне удачу и деньги притягивает!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        <section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__head">
                <div class="face__logo">
                    <img src="../media/face/logo.svg" alt="">
                </div>
            </div>
            <div class="face__body">
                <div class="face__box face__box_left">
                    <div class="face__box-title">
                        <div class="face__title-border"></div>
                        <div class="face__title">Амулет <span>для привлечения денег</span></div>
                        <div class="face__sub-title">Впусти богатство в свою жизнь!</div>
                    </div>
                    <div class="face__list">
                        <div class="face__list-title">MoneyAmulet привлечет в вашу жизнь:</div>
                        <div class="face__item">
                            <img src="../media/face/dolar.svg" alt="">
                            <span>Финансовое благополучие</span>
                        </div>
                        <div class="face__item">
                            <img src="../media/face/energy.svg" alt="">
                            <span>Энергетику богатства</span>
                        </div>
                        <div class="face__item">
                            <img src="../media/face/stability.svg" alt="">
                            <span>Стабильность и независимость</span>
                        </div>
                    </div>
                </div>
                <div class="face__box">
                    
<form class="form">
    <div class="form__body">
        <label class="form__label">
            <select class="form__field form__select">
                <option selected value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </label>
        <div class="form__footer">
            <a href="" class="form__btn">Заказать</a>
        </div>
    </div>
</form>

                    <div class="face__product">
                        <div class="face__product-head">
                            <div class="face__product-discount">
                                <img src="../media/form/discount.svg" alt="">
                                <span>Цена со скидкой</span>
                                <span>490 руб</span>
                                <span>1000 руб</span>
                            </div>
                        </div>
                        <div class="face__product-media">
                            <img src="../media/face/product.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
