
.brands {
  padding-top: 280px;
  padding-bottom: 280px;
  background: url("../../media/brands/bg.png") no-repeat right center;
}

.brands__title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.brands__intro {
  margin-bottom: 1.5rem;
  font-size: 24px;
  color: #333;

  & span {
    font-size: 24px;
    color: #8d83f9;
  }
}

.brands__description {
  color: #888;
}

@media (max-width: 992px) {
  .brands {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: #fff;
  }
}

@media (max-width: 768px) {
  .brands__title {
    font-size: 30px;
  }
}
