
.footer {
  padding-top: 70px;
  background-color: #fff;
}

.footer__title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__nav-item {
  font-size: 18px;
  margin-bottom: 3rem;
  cursor: pointer;
}

.footer__copyright {
  padding: 1.5rem 0;
  background-color: #f6f5f7;
  text-align: center;
  font-size: 15px;
  color: #828282;
}
