
.myWorks__item {
  text-align: center;
}

.myWorks__title {
  display: inline-block;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 1rem;
  font-size: 24px;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
  }
}

.myWorks__media {
  margin-bottom: 1rem;
}

.myWorks__description {
  margin-bottom: 1rem;
  color: #656565;
}

.myWorks__btm {
  border-radius: 2px;
  color: #fff;
}

@media (max-width: 992px) {
  .myWorks__title {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .myWorks__title {
    font-size: 18px;
  }
}
