
.product {
  margin-bottom: 2rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0px 3px 18px 0px rgba(185, 155, 251, 0.4);
  background-color: #fff;

  &_mt-6r {
    margin-top: -6rem;
  }
}

.product__nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);

  &-item {
    cursor: pointer;
    transition: .3s;

    &:hover {
      color: #b89bfa;
    }
  }

  &-item_active {
    color: #8d83f9;
  }
}

.product__box {
  display: none;

  &_active {
    display: block;
  }
}

.product__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 3rem 1rem;
  margin-bottom: 2rem;
  transition: .3s;

  &:hover {
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .3);

    & .product__btn {
      visibility: visible;
      opacity: 1;
    }

    & .product__head {
      visibility: visible;
      opacity: 1;
    }
  }
}

.product__head {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  transition: .3s;

  &-reviews {
    display: flex;
    cursor: pointer;

    & span {
      margin-left: .5rem;
      font-size: 14px;
      color: #777777;
    }
  }
}

.product__media {
  margin-bottom: 2rem;
}

.product__description {
  margin-bottom: 1rem;
  color: #777777;
  text-align: center;
}

.product__price {
  font-size: 25px;
  color: #333;
}

.product__btn {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .3s;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

@media (max-width: 1200px) {
  .product {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .product__nav {
    flex-wrap: wrap;
    justify-content: flex-start;

    &-item {
      width: 33.333%;
      line-height: 30px;
      text-align: center;
      padding: 0 1rem;
    }
  }
}

@media (max-width: 576px) {
  .product__nav {
    justify-content: center;

    &-item {
      width: 100%;
    }
  }
}
