
.jobOpenings {
  margin-top: -1rem;

  & .owl-dot {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, .62) !important;
    border-radius: 50%;
    margin-right: .5rem;
    margin-left: .5rem;

    &:focus {
      outline: 0;
    }

    &.active {
      background-color: #000;
      border: 1px solid rgba(0, 0, 0, 1) !important;
    }
  }

  & .owl-dots {
    margin-top: 93px;
    text-align: center;
  }

  &_catalog {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    & .jobOpenings__item {
      width: 358px;
      margin-right: 1rem;
      margin-left: 1rem;
    }

    & .jobOpenings__media {
      margin-bottom: 20px;
    }
  }

  &_catalogOther {
    & .jobOpenings__item {
      margin-top: 4rem;
    }
  }

  &_fff {
    background-color: #fff;
  }

  &_nav {
    padding-left: 50px;
    padding-right: 50px;

    & .owl-nav {
      position: absolute;
      left: 0;
      top: 50%;
      display: flex;
      justify-content: space-between;
      width: 100%;
      transform: translateY(-50%);

      & .owl-next {
        width: 30px;
      }

      & .owl-prev {
        width: 30px;
      }
    }
  }
}

.jobOpenings__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, .1);
  text-align: center;
  color: #000;
  transition: .3s;

  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 8px;
    background-color: #3cd52d;
    content: '';
    transition: .3s width;
  }

  &__bg10 {
    background: url(../../media/jobOpenings/itembg10.png) no-repeat center center;
  }

  &_vacancy {
    padding-top: 0;
  }

  &_status {
    padding-bottom: 5rem;
  }

  &_active {
    box-shadow: 0 0 7px 0px #3cd52d;
    outline: 2px solid #3cd52d;

    & .jobOpenings__circle {
      background-color: #3cd52d;
    }
  }

  &:hover {
    text-decoration: none;
    transform: scale(1.05);
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, .4);

    & .jobOpenings__act {
      &-answer {
        display: block;
      }
    }

    &::after {
      width: 100%;
    }
  }
}

.jobOpenings__item-date {
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: 25px;
  color: #bababa;
}

.jobOpenings__act {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.69);
}

.jobOpenings__act-status {
  padding: 6.5px 10px;
  background-color: #a5a5a5;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 16px;
}

.jobOpenings__act-answer {
  display: none;
  margin-top: -42px;
  margin-bottom: auto;
}

.jobOpenings__act-true {
  width: 230px;
  height: 68px;
  margin-bottom: 10px;
  background-color: #3cd52e;
  color: #fff;
  font-size: 18px;
  line-height: 68px;
  text-align: center;
  border: 1px solid #3cd52e;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.jobOpenings__act-false {
  width: 230px;
  height: 68px;
  background-color: #f7f7f7;
  color: #000;
  font-size: 18px;
  line-height: 68px;
  text-align: center;
  border: 1px solid #e8e8e8;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.jobOpenings__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;

  &-date {
    padding: 5px 1rem;
    border-radius: 5px;
    background-color: #f5f7f6;
    color: #808080;
    font-size: 14px;
  }

  &-count {
    padding: 4px;
    max-width: 65px;
    box-shadow: 0 0 2px #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    background-color: #ececec;
    font-size: 10px;
    cursor: pointer;
  }
}

.jobOpenings__head-icon {
  min-width: 30px;
  width: 30px;

  &:nth-child(2) {
    margin-left: 1rem;
  }

  &_last {
    max-width: 30px;
    min-width: 30px;
    margin-left: auto;
  }
}

.jobOpenings__media {
  margin-right: auto;
  margin-left: auto;
}

.jobOpenings__school {
  padding: 6px 29px;
  border: 2px solid #ffd26f;
  border-radius: 10px;
  margin-top: -8px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 400;
  color: #ffd26f;
  background-color: #ffffff;
}

.jobOpenings__name {
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 26px;
}

.jobOpenings__title {
  margin-bottom: .5rem;
  font-weight: 700;
  font-size: 20px;
}

.jobOpenings__intro {
  margin-bottom: .5rem;
  font-weight: 400;
  font-size: 16px;
  color: #3cd52d;
}

.jobOpenings__employees {
  margin-bottom: .5rem;
  font-size: 14px;
  color: #808080;
}

.jobOpenings__description {
  margin-bottom: 1.5rem;
  font-size: 14px;
  text-align: left;
}

.jobOpenings__link {
  font-size: 14px;
  color: #3cd52d;
}

.jobOpenings__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;

  & span {
    font-style: italic;
    font-size: 18px;
  }

  & img {
    width: 30px !important;
    min-width: 30px !important;
    width: 30px !important;
    margin-right: .5rem;
  }
}

.jobOpenings__city {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-style: italic;
  color: #a4a4a4;
  font-size: 18px;

  & img {
    margin-left: 8px;
    max-width: 16px;
    min-width: 16px;
    margin-right: .5rem;
  }
}

.jobOpenings__footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.jobOpenings__footer-item {
  position: relative;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  padding: 6px 17px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  line-height: 1;

  &:hover {
    & span {
      display: block;
      opacity: 1;
    }
  }

  & span {
    display: none;
    position: absolute;
    bottom: 140%;
    left: 50%;
    padding: 30px;
    background-color: #56595c;
    border: 1px solid #cacaca;
    font-size: 12px;
    line-height: 1;
    transform: translateX(-50%);
    opacity: 0;
    color: #fff;
    white-space: nowrap;

    &::before {
      position: absolute;
      top: 98%;
      left: 50%;
      transform: rotate(45deg) translateX(-50%);
      width: 10px;
      height: 10px;
      border-right: 1px solid #cacaca;
      border-bottom: 1px solid #cacaca;
      background-color: #56595c;
      content: '';
    }
  }
}

.jobOpenings__status {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
}

.jobOpenings__answer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jobOpenings__check {
  width: 30px;
  height: 30px;
  margin-right: .5rem;

  &:hover {
    text-decoration: none;
  }

  &_true {
    background-color: #3cd52d;

    & + span {
      color: #3cd52d;
    }
  }
}

.jobOpenings__circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fbfbfb;
  border: 1px solid #e8e8e8;
  cursor: pointer;
}

.lookJobOpenings {
  margin-top: 93px;
}

.lookJobOpenings__btn {
  font-size: 21px;
}

@media (max-width: 1200px) {
  .jobOpenings {
    &_catalog {
      & .jobOpenings__item {
        width: 288px;
      }
    }
  }

  .jobOpenings__footer  {
    flex-wrap: wrap;
  }

  .jobOpenings__footer-item {
    padding: 5px 10px;
    margin-right: 2px;
    margin-left: 2px;
  }
}

@media (max-width: 980px) {
  .jobOpenings {
    &_catalog {
      & .jobOpenings__item {
        width: 342px;
      }
    }
  }

  .lookJobOpenings__btn {
    padding: 1rem 2rem;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .jobOpenings {
    &_catalog {
      & .jobOpenings__item {
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .jobOpenings {
    &_nav {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}
