
.priceCount {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, .5);
  opacity: 0;

  &_active {
    left: 0;
  }
}

.priceCount__info {
  position: absolute;
  top: 0;
  right: -440px;
  bottom: 0;
  width: 440px;
  height: 100vh;
  background-color: #fff;
  transition: .3s right;
  box-shadow: -1px -3px 20px 0px rgba(0, 0, 0, .32);

  &_active {
    right: 0;
  }
}

.priceCount__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 37px 1rem 4rem;
  background-color: #000;
  color: #fff;
}

.priceCount__title {
  font-size: 24px;
  font-weight: 400;
}

.priceCount__close {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &:hover {
    & span {
      background-color: #adadad;
    }
  }

  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 3px;
    border-radius: 30px;
    background-color: #fff;
    transition: .3s background-color;

    &:first-child {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:last-child {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

@media(max-width: 480px) {
  .priceCount__info {
    width: 320px;
  }
}
