
.progressBar {
  margin-top: 2rem;
}

.progressBar__item {
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: #f2f2f2;
  border-radius: 25px;
}

.progressBar__item-polosa {
  width: 40%;
  height: 1rem;
  background-color: #3cd52d;
}

.progressBar__description {
  color: #3cd52d;
  font-weight: 400;
  font-size: 14px;
}
