
.scope {
  display: flex;
  margin-right: -1rem;
  margin-left: -1rem;
}

.scope__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 1rem;
  text-align: center;
  flex: 1 1 0;
  cursor: pointer;
}

.scope__media {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  margin-bottom: .5rem;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, .1);
}

.scope__intro {
  font-size: 14px;
}

@media (max-width: 980px) {
  .scope {
    flex-wrap: wrap;
  }

  .scope__item {
    min-width: 118px;
    max-width: 118px;
  }
}

@media (max-width: 768px) {
  .scope__item {
    min-width: 83px;
    max-width: 83px;
  }
}

@media (max-width: 480px) {
  .scope {
    margin-right: -.5rem;
    margin-left: -.5rem;
  }

  .scope__item {
    min-width: 33.333%;
    max-width: 33.333%;
    margin-right: 0;
    margin-left: 0;
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .scope__intro {
    font-size: 12px;
  }
}
