
.settings {
  padding: 3rem 2rem;
  background-color: #fff;
}

.settings__title {
  margin-bottom: 3rem;
  font-size: 22px;
  font-weight: 400;
}

// .settings__form {}

.settings__box {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.settings__name {
  width: 100%;
  max-width: 200px;
  font-weight: 400;
}

.settings__intro {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 14px;
}

.settings__intro-icon {
  margin: 2px;
}

.settings__open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: auto;
  box-shadow: 0 0 7px 0px #e8e8e8;
  cursor: pointer;

  & img {
    width: 20px;
  }
}

@media(max-width: 768px) {
  .settings {
    padding: 2rem 1rem;
    background-color: #fff;
  }

  .settings__name {
    width: calc(50% - 15px);
    font-size: 14px;
  }

  .settings__intro {
    width: calc(50% - 15px);
  }
}
