/* stylelint-disable */

.no-scroll {
  overflow: hidden;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

abbr[title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

b,
strong {
  font-weight: 700;
}

button,
select {
  text-transform: none;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: inherit;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn,
i {
  font-style: italic;
}

mark {
  color: #000;
  background: transparent;
}

progress {
  vertical-align: baseline;
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

small {
  font-size: .8em;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

textarea {
  overflow: auto;
}

hr {
  height: 0;
  overflow: visible;
}

table {
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
}

template,
[hidden] {
  display: none;
}

[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
  appearance: button;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/* stylelint-disable */

.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 25px 46px;
  color: #000;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* stylelint-disable */

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham/Gotham-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham/Gotham-Book.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.section {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #fff;
}

.section_face {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f1f1f1;
  border-radius: 0 0 30px 30px;
}

.section_header {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f1f1f1;
}

.section_footer {
  padding-top: 0;
  padding-bottom: 0;
}

.section_pay {
  padding-top: 0;
}

.section_tovar {
  padding-top: 0;
}

.section__title {
  margin-bottom: 95px;
  font-family: "Gotham", sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/* stylelint-disable */

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

/*
 *  Owl Carousel - Core
 */

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */

.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("../plugin/owl/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}

.catalog__item {
  position: relative;
  width: 330px;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
}

.catalog__item_double {
  width: 690px;
}

.catalog__item:hover .catalog__media img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.catalog__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 410px;
  padding: 30px;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #f2f2f2;
}

.catalog__media img {
  max-width: 90%;
  max-height: 90%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.catalog__categories {
  margin-bottom: 5px;
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #b1b1b1;
  text-transform: uppercase;
}

.catalog__name {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.catalog__price {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.face .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  transform: translateY(-70px);
}

.face .owl-dot {
  overflow: hidden;
  border: 2px solid #000 !important;
  border-radius: 50%;
}

.face .owl-dot:focus {
  outline: none;
}

.face .owl-dot span {
  display: block;
  width: 20px;
  height: 20px;
}

.face .owl-dot.active {
  background-color: #000;
}

.face .owl-dot + .owl-dot {
  margin-left: 19px;
}

.face__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.face__item-info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 660px;
  margin-right: 100px;
}

.face__brand {
  margin-bottom: 50px;
  font-family: "Gotham", sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
}

.face__name {
  margin-bottom: 30px;
  font-family: "Gotham", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.face__name span {
  display: block;
}

.face__description {
  margin-bottom: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #656565;
  text-transform: uppercase;
}

.face__price {
  margin-bottom: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
}

.face__more {
  position: relative;
  display: inline-block;
  padding: 15px 100px 15px 80px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #000;
  border-radius: 10px;
}

.face__more:hover::before {
  right: 20px;
}

.face__more::before {
  position: absolute;
  top: 50%;
  right: 45px;
  width: 18px;
  height: 12px;
  content: '';
  background-image: url("../media/face/arrow.png");
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer {
  padding: 95px 120px;
  background-color: #000;
  border-radius: 30px 30px 0 0;
}

.footer__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
}

.footer__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__pay-item + .footer__pay-item {
  margin-left: 40px;
}

.footer__head-item > a {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 840px;
}

.footer__list {
  list-style-type: none;
}

.footer__list a {
  display: inline-block;
  padding: 5px;
  font-size: 18px;
  color: #989898;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__list + .footer__list {
  margin-left: 30px;
}

.footer__position {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 30px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__info-item {
  font-size: 18px;
  color: #fff;
}

.footer__info-item > a {
  font-size: inherit;
  color: inherit;
}

.header {
  overflow: hidden;
  background-color: #000;
  border-radius: 0 0 30px 30px;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__login-item {
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border: 1px solid transparent;
  border-radius: 50px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__login-item + .header__login-item {
  margin-left: 20px;
}

.header__login-item_white {
  color: #000;
  background-color: #fff;
}

.header__logo {
  margin-left: -260px;
}

.header__userNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__userNav-item {
  cursor: pointer;
}

.header__userNav-item + .header__userNav-item {
  margin-left: 40px;
}

.header__nav {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #151515;
}

.header__nav-burger {
  display: none;
}

.header__nav-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__nav-item {
  position: relative;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -30px;
}

.pay__item {
  width: calc(50% - 15px);
  padding: 50px;
  margin-top: 30px;
  background-color: #000;
  border-radius: 10px;
}

.pay__name {
  margin-bottom: 25px;
  font-family: "Gilroy", sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #fff;
}

.pay__description {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.pay__description p + p {
  margin-top: 10px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.product__item {
  display: block;
  width: 210px;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
  color: #000;
  text-decoration: none;
}

.product__item:hover .product__media img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.product__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 210px;
  padding: 25px;
  background-color: #f2f2f2;
}

.product__media img {
  max-width: 80%;
  max-height: 80%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.product__name {
  margin-top: 15px;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1024px;
  }

  .catalog__item {
    width: 310px;
  }

  .catalog__item_double {
    width: 650px;
  }

  .face__item-info {
    max-width: 520px;
    margin-right: 50px;
  }

  .footer {
    padding: 70px 40px 40px;
  }

  .footer__head-item > a {
    font-size: 22px;
  }

  .footer__logo {
    max-width: 230px;
  }

  .footer__info-item {
    font-size: 16px;
  }

  .header__nav-item {
    font-size: 14px;
  }

  .pay__description {
    font-size: 18px;
    line-height: 1.2;
  }

  .product__item {
    width: 226px;
  }

  .product__media {
    height: 226px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section_header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section_face {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section_footer {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section_pay {
    padding-top: 0;
  }

  .section_tovar {
    padding-top: 0;
  }

  .section__title {
    margin-bottom: 40px;
    font-size: 34px;
  }

  .catalog__item {
    width: 354px;
  }

  .catalog__item_double {
    width: 738px;
  }

  .face__item-info {
    max-width: 370px;
  }

  .face__brand {
    margin-bottom: 20px;
  }

  .face__name {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .face__description {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.3;
    text-transform: none;
  }

  .face__price {
    font-size: 34px;
  }

  .face__more {
    padding: 15px 80px 15px 60px;
    font-size: 16px;
  }

  .footer__head {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__head-item:first-child {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__info-item + .footer__info-item {
    margin-top: 5px;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__position {
    margin-top: 30px;
    margin-left: 0;
  }

  .header__login-item {
    padding: 6px 20px;
    font-size: 16px;
  }

  .header__logo {
    max-width: 220px;
    margin-left: 0;
  }

  .header__burger_active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .header__nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header__nav_mobile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    border-radius: 0 0 30px 30px;
  }

  .header__nav-burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 40px;
    height: 25px;
    margin-left: auto;
    cursor: pointer;
  }

  .header__nav-burger span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-transition: .3s transform;
    -o-transition: .3s transform;
    transition: .3s transform;
  }

  .header__nav-burger_active span:nth-child(1) {
    -webkit-transform: translateY(11px) rotate(45deg);
    -ms-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
  }

  .header__nav-burger_active span:nth-child(2) {
    opacity: 0;
  }

  .header__nav-burger_active span:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
  }

  .header__nav-body {
    position: fixed;
    top: 0;
    right: 100%;
    bottom: 0;
    z-index: 5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #fff;
    border: 1px solid #efefef;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .header__nav-body_active {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  .header__nav-item {
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    text-transform: none;
    white-space: nowrap;
    border-bottom: 1px solid #efefef;
  }

  .header__nav-item::before {
    display: none;
  }

  .header__nav-item:hover {
    background-color: #f9f9f9;
  }

  .header__userNav-item {
    max-width: 23px;
  }

  .header__userNav-item:last-child {
    max-width: 20px;
  }

  .header__userNav-item + .header__userNav-item {
    margin-left: 20px;
  }

  .pay__item {
    padding: 25px;
  }

  .pay__description {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }

  .catalog__item {
    width: 210px;
  }

  .catalog__item_double {
    width: 450px;
  }

  .catalog__media {
    height: 210px;
  }

  .catalog__categories {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    text-transform: none;
  }

  .catalog__name {
    font-size: 14px;
  }

  .face .owl-dots {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  .face__item-info {
    max-width: 220px;
    margin-right: 25px;
  }

  .face__brand {
    font-size: 30px;
  }

  .face__name {
    font-size: 24px;
  }

  .face__description {
    font-size: 16px;
  }

  .face__price {
    margin-bottom: 20px;
  }

  .face__more {
    padding: 15px 50px 15px 30px;
    font-size: 14px;
  }

  .face__more::before {
    right: 20px;
  }

  .face__more:hover::before {
    right: 10px;
  }

  .footer {
    padding: 30px 20px 40px;
  }

  .footer__logo {
    margin-right: auto;
    margin-left: auto;
  }

  .footer__pay {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__head-item {
    width: 100%;
    text-align: center;
  }

  .footer__list a {
    font-size: 14px;
  }

  .footer__list + .footer__list {
    margin-left: 0;
  }

  .header__head {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__login {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-top: 25px;
  }

  .header__logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .header__userNav {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .header__login-item {
    padding: 5px 20px;
    font-size: 14px;
    border-color: #fff;
  }

  .pay {
    margin-top: -15px;
  }

  .pay__item {
    width: calc(50% - 7.5px);
    margin-top: 15px;
  }

  .pay__name {
    margin-bottom: 15px;
    font-size: 26px;
  }

  .product__item {
    width: 210px;
    margin-right: 7.5px;
    margin-bottom: 15px;
    margin-left: 7.5px;
  }

  .product__media {
    height: 210px;
  }

  .product__name {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section_header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section_face {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section_footer {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section_pay {
    padding-top: 0;
  }

  .section_tovar {
    padding-top: 0;
  }

  .section__title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .catalog {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }

  .catalog__item {
    width: calc(50% - 15px);
    margin-right: 7.5px;
    margin-left: 7.5px;
  }

  .catalog__item_double {
    width: 100%;
  }

  .catalog__media {
    height: 210px;
  }

  .face .owl-dots {
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  .face__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .face__item-info {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .face__item-media {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    max-width: 160px;
    margin-bottom: 20px;
  }

  .face__brand {
    margin-bottom: 10px;
  }

  .footer__nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer__list {
    width: calc(50% - 15px);
    margin-bottom: 10px;
  }

  .footer__list + .footer__list {
    margin-left: 0;
  }

  .footer__list:nth-child(2n) {
    margin-left: 30px;
  }

  .footer__list a {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .footer__info-item {
    font-size: 14px;
  }

  .footer__info-item + .footer__info-item {
    margin-top: 15px;
  }

  .pay__item {
    width: 100%;
  }

  .pay__name {
    margin-bottom: 15px;
    font-size: 26px;
  }

  .product {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }

  .product__item {
    width: calc(50% - 15px);
  }

  .product__media {
    height: auto;
    min-height: 137px;
  }

  .product__name {
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  .catalog {
    margin-right: 0;
    margin-left: 0;
  }

  .catalog__item {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .catalog__media {
    height: 210px;
  }
}