
.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &_face {
        position: relative;
        z-index: 2;
        padding-bottom: 500px;
        background-image: url("../media/section/face.jpg");
        background-repeat: no-repeat;
        background-position: center top;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 754px;
            content: '';
            background-image: url("../media/section/face-human.png");
            background-repeat: no-repeat;
            background-position: center bottom;
        }
    }

    &_footer {
        padding-bottom: 60px;

        & .face__appearance {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    &_drugs {
        margin-top: -101px;
        background-image: url("../media/section/drugs.jpg");
        background-repeat: no-repeat;
        background-position: center top;
    }

    &_facts {
        background-image: url("../media/section/facts.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    &_help {
        background-image: url("../media/section/help.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    &_chance {
        padding-top: 100px;
        background-image: url("../media/section/chance.jpg");
        background-repeat: no-repeat;
        background-position: center bottom;

        &-footer {
            background-image: url("../media/section/chance-footer.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &_professional {
        background-image: url("../media/section/professional.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }

    &_warning {
        background-color: #f3f3f3;
    }
}

@media (max-width: 1030px) {
    .section {
        &_face {
            padding-bottom: 300px;

            &::before {
                height: 388px;
                background-image: url("../media/section/face-human-1030.png");
            }
        }

        &_footer {
            padding-bottom: 60px;
        }

        &_drugs {
            margin-top: -52px;
            background-size: cover;
        }

        &_facts {
            background-image: url("../media/section/facts-1030.jpg");
        }

        &_help {
            background-image: url("../media/section/help-1030.jpg");
        }

        &_chance {
            padding-top: 60px;
            background-image: url("../media/section/chance-1030.jpg");

            &-footer {
                background-image: url("../media/section/chance-footer-1030.jpg");
            }
        }

        &_professional {
            background-image: url("../media/section/professional-1030.jpg");
            background-size: cover;
        }
    }
}

@media (max-width: 768px) {
    .section {
        &_face {
            background-image: url("../media/section/face-768.jpg");

            &::before {
                height: 289px;
                background-image: url("../media/section/face-human-768.png");
            }
        }

        &_footer {
            padding-bottom: 60px;
        }

        &_drugs {
            background-image: url("../media/section/drugs-768.jpg");
        }

        &_help {
            background-image: url("../media/section/help-768.jpg");
        }

        &_chance {
            padding-top: 60px;
            background-image: url("../media/section/chance-768.jpg");
        }

        &_professional {
            background-color: #ecf6ff;
            background-image: none;
        }
    }
}

@media (max-width: 480px) {
    .section {
        &_face {
            padding-bottom: 150px;

            &::before {
                height: 181px;
                background-image: url("../media/section/face-human-480.png");
            }
        }

        &_footer {
            padding-bottom: 60px;
        }
    }
}
