
.warning {
    display: flex;
    justify-content: space-between;
    border: 3px solid #3c9458;
}

.warning__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
}

.warning__title {
    max-width: 500px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    color: #da4750;
    text-transform: uppercase;
}

.warning__info {
    font-size: 16px;
}

.warning__product {
    position: relative;
    min-width: 477px;
    min-height: 298px;
    background-image: url("../media/warning/bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 1030px) {
    .warning__product {
        min-width: 350px;
    }
}

@media (max-width: 768px) {
    .warning {
        flex-direction: column;
    }

    .warning__product {
        min-width: 100%;
        background-image: url("../media/warning/bg-768.jpg");

        & img {
            left: 44%;
        }
    }
}

@media (max-width: 480px) {
    .warning__title {
        font-size: 22px;
        text-align: center;
    }

    .warning__info {
        font-size: 16px;
        text-align: center;
    }
}
