
.networks {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.networks__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 45px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;

  &:hover {
    box-shadow: -3px 4px 14px 0px rgba(0, 0, 0, 0.1);
    background: rgb(140, 132, 249);
    background: linear-gradient(45deg, rgb(140, 132, 249) 0%, rgb(161, 101, 244) 100%);
  }
}
