<section class="section section_advantages">
    <div class="container">
        <div class="advantages">
            <div class="advantages__title">Преимущества использования антисептика <a href="">Cleanelle</a></div>
            <div class="advantages__list">
                <div class="advantages__item"><b>Эффективность</b> – содержание этилового спирта – 70%. Погибают все виды болезнетворных бактерий, вирусов и грибов.</div>
                <div class="advantages__item"><b>Пролонгированная защита</b> – создает барьер между кожей и бактериями на длительное время. </div>
                <div class="advantages__item"><b>Безопасность</b> – ухаживает, укрепляет и восстанавливает кожу</div>
                <div class="advantages__item"><b>Компактность</b> – легко везде носить с собой и использовать по мере необходимости</div>
                <div class="advantages__item"><b>Экономичность и простота использования</b> - всего 2-4 мл средства, нанести и растереть</div>
            </div>
            <div class="advantages__product"></div>
        </div>
    </div>
</section>
