
<div class="face">
    <h1 class="face__title">Cleanelle</h1>
    <div class="face__description">Антибактериальный гель для рук с высокой вирулицидной активностью</div>
    <div class="face__list">
        <div class="face__item"><span><img src="../media/face/icon-1.png" alt=""></span>Убивает 99,99% вирусов и бактерий</div>
        <div class="face__item"><span><img src="../media/face/icon-2.png" alt=""></span>Содержит 70% этанолового спирта</div>
        <div class="face__item"><span><img src="../media/face/icon-3.png" alt=""></span>Бережно ухаживает за кожей</div>
    </div>
    <div class="face__product">
        <div class="face__discount"><span>-</span>50<span>%</span></div>
        <img src="../media/face/product.png" alt="">
        <div class="face__product-list">
            <img src="../media/face/list.png" alt="">
        </div>
    </div>
    <%- include('form') %>
</div>
