
<div class="form">
    <div class="form__head">
        <div class="form__title">Купить со скидкой</div>
        <div class="form__price"><span>99 eur</span><span>49 eur</span></div>
    </div>
    <div class="form__body">
        <div class="form__label">
            <select class="form__field">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </div>
    </div>
    <div class="form__footer">
        <button class="form__btn btn">ЗАКАЗАТЬ</button>
        <span class="form__footer-info">осталось: 10 шт. </span>
    </div>
</div>
