<section class="section section_ingredients">
    <div class="container">
        <div class="ingredients">
            <div class="ingredients__title">СОСТАВ <a href="">CLEANELLE</a></div>
            <div class="ingredients__body">
                <div class="ingredients__box">
                    <div class="ingredients__item ingredients__item_first">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/icon-1.png" alt="">
                        </div>
                        <div class="ingredients__name">ЭТАНОЛ</div>
                        <div class="ingredients__info">
                            Средство, содержащее более 70% этанола, считается самым надежным антисептиком для рук от вируса, т.к. это вещество обладает <b>вирулицидной активностью и поэтому хорошо устраняет вирусы</b> на кожных покровах.
                            <span>БОЛЕЕ НИЗКАЯ КОНЦЕНТРАЦИЯ НЕ ОКАЗЫВАЕТ ЖЕЛАЕМОГО ЭФФЕКТА.</span>
                        </div>
                    </div>
                </div>
                <div class="ingredients__box">
                    <div class="ingredients__item">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/icon-2.png" alt="">
                        </div>
                        <div class="ingredients__name">Масло мяты</div>
                        <div class="ingredients__info">
                            Масло мяты <b>успокаивает раздраженную кожу</b>, обладает заживляющим и противовоспалительным действием.
                        </div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/icon-3.png" alt="">
                        </div>
                        <div class="ingredients__name">Масло лемонграсса</div>
                        <div class="ingredients__info">
                            Содержит централь и гераниол - <b>натуральные антисептики</b>, которые стимулируют заживление ран.
                        </div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/icon-4.png" alt="">
                        </div>
                        <div class="ingredients__name">Масло гвоздичного дерева</div>
                        <div class="ingredients__info">
                            <b>Богато витаминами</b> и биоактивными веществами. Обладает выраженными противогрибковыми и антивирусными свойствами.
                        </div>
                    </div>
                </div>
            </div>
            <div class="ingredients__product">
                <img src="../media/ingredients/product.png" alt="">
            </div>
        </div>
    </div>
</section>
