
<section class="section section_instructions">
    <div class="container">
        <div class="instructions">
            <div class="instructions__title">Используйте антисептик <a href="">Cleanelle</a> каждый <span>раз, когда дотронулись до:</span></div>
            <div class="instructions__body">
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-1.png" alt=""></div>
                    <figcaption class="instructions__name">Дверных ручек</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-2.png" alt=""></div>
                    <figcaption class="instructions__name">Кнопки лифта</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-3.png" alt=""></div>
                    <figcaption class="instructions__name">Ключей</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-4.png" alt=""></div>
                    <figcaption class="instructions__name">Перил</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-5.png" alt=""></div>
                    <figcaption class="instructions__name">Водопроводного крана</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-6.png" alt=""></div>
                    <figcaption class="instructions__name">Кошелька и денег</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-7.png" alt=""></div>
                    <figcaption class="instructions__name">Мобильного телефона</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-8.png" alt=""></div>
                    <figcaption class="instructions__name">Компьютерной клавиатуры</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
