
<section class="section section_job">
    <div class="container">
        <div class="job">
            <div class="job__title">Как мы работаем</div>
            <div class="job__box">
                <div class="job__item">
                    <div class="job__icon">
                        <img src="../media/job/icon-1.png" alt="">
                    </div>
                    <div class="job__description">Оставьте заявку на нашем сайте</div>
                </div>
                <div class="job__item">
                    <div class="job__icon">
                        <img src="../media/job/icon-2.png" alt="">
                    </div>
                    <div class="job__description">Мы перезвоним вам в ближайшее время для подтверждения заказа</div>
                </div>
                <div class="job__item">
                    <div class="job__icon">
                        <img src="../media/job/icon-3.png" alt="">
                    </div>
                    <div class="job__description">Доставим ваш заказ курьером за 3-7 дней</div>
                </div>
            </div>
        </div>
    </div>
</section>
