<section class="section section_recommendations">
    <div class="container">
        <div class="recommendations">
            <div class="warning">
                <div class="warning__info">
                    <div class="warning__title">
                        <span>Всемирная Организация</span> Здравоохранения предупреждает:
                    </div>
                    <div class="warning__description">
                        соблюдение правил гигиены рук – самый эффективный способ предотвращения инфекционных заболеваний.
                    </div>
                </div>
            </div>
            <div class="recommendations__title">Рекомендации ВОЗ для защиты от инфекции:</div>
            <div class="recommendations__list">
                <div class="recommendations__item">
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/icon-1.png" alt="">
                    </div>
                    <div class="recommendations__item-title">Соблюдайте гигиену рук</div>
                    <div class="recommendations__item-description">
                        Регулярно мойте и обрабатывайте руки спиртосодержащим средством.

                        <span>Зачем это нужно?</span>
                        Если на поверхности рук присутствует вирус, то мытье и обработка рук убьют его.
                    </div>
                </div>
                <div class="recommendations__item">
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/icon-2.png" alt="">
                    </div>
                    <div class="recommendations__item-title">Соблюдайте дистанцию в общественных местах</div>
                    <div class="recommendations__item-description">
                        Держитесь от людей на расстоянии как минимум 1 метра, особенно если у них кашель и насморк.

                        <span>Зачем это нужно?</span>
                        Кашляя или чихая, человек, болеющий респираторной инфекцией, распространяет вокруг себя мельчайшие капли, содержащие вирус. Если вы находитесь слишком близко к такому человеку, то можете заразиться вирусом при вдыхании
                        воздуха.
                    </div>
                </div>
                <div class="recommendations__item">
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/icon-3.png" alt="">
                    </div>
                    <div class="recommendations__item-title">Не трогайте руками глаза, нос и рот</div>
                    <div class="recommendations__item-description">
                        <span>Зачем это нужно?</span>
                        Руки касаются многих поверхностей, на которых может присутствовать вирус. При контакте со слизистой, вирус с кожи рук может попасть в организм.
                    </div>
                </div>
                <div class="recommendations__item recommendations__item_product">
                    <div class="recommendations__item-title">
                        Используйте <a href="">Cleanelle</a> всегда и везде
                    </div>
                    <div class="recommendations__item-description">
                        Без мыла, воды и салфеток.
                    </div>
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/product.png" alt="">
                    </div>
                    <div class="recommendations__item-btn btn">ЗАКАЗАТЬ</div>
                </div>
            </div>
        </div>
    </div>
</section>
