
<section class="section section_regulations">
    <div class="container">
        <div class="regulations">
            <div class="warning">
                <div class="warning__info">
                    <div class="warning__title">
                        <span>От этого зависит ваше здоровье</span> и здоровье ваших близких!
                    </div>
                    <div class="warning__description">
                        Необходимо использовать антисептик каждый раз, когда соприкасаетесь с этими предметами.
                    </div>
                </div>
            </div>
            <div class="regulations__title">Как правильно использовать антисептик?</div>
            <div class="regulations__body">
                <div class="regulations__box">
                    <div class="regulations__item regulations__item_color-1">
                        <div class="regulations__count">01</div>
                        <div class="regulations__description">Средство необходимо нанести на ладонь и сразу приступить к его втиранию. </div>
                    </div>
                    <div class="regulations__item regulations__item_color-2">
                        <div class="regulations__count">02</div>
                        <div class="regulations__description">Очень важно обрабатывать всю поверхность кистей, уделяя особое внимание участкам между пальцами и под ногтями. </div>
                    </div>
                </div>
                <div class="regulations__box">
                    <div class="regulations__item regulations__item_color-3">
                        <div class="regulations__count">03</div>
                        <div class="regulations__description">Суммарное время обработки должно быть не меньше 30 секунд.</div>
                        <div class="regulations__product">
                            <img src="../media/regulations/product.png" alt="">
                        </div>
                        <div class="regulations__btn btn">ЗАКАЗАТЬ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
