
<form class="form">
    <div class="form__head">
        <div class="form__head-box">
            <div class="form__head-name">цена со скидкой:</div>
            <div class="form__head-price">990₽</div>
        </div>
        <div class="form__head-box">
            <div class="form__head-nameOld">старая цена:</div>
            <div class="form__head-priceOld">2200₽</div>
        </div>
    </div>
    <div class="form__body">
        <div class="form__item">
            <select name="select1" class="form__select form__field" required>
                <option value="Latvia">Latvia</option>
                <option value="Latvia2">Latvia2</option>
                <option value="Latvia3">Latvia3</option>
            </select>
        </div>
        <div class="form__item">
            <input name="FirstName" type="text" class="form__field" placeholder="First Name" required>
        </div>
        <div class="form__item">
            <input name="LastName" type="text" class="form__field" placeholder="Last Name" required>
        </div>
        <div class="form__item">
            <input name="Address" type="text" class="form__field" placeholder="Address" required>
        </div>
        <div class="form__item">
            <input name="City" type="text" class="form__field" placeholder="City" required>
        </div>
        <div class="form__item">
            <select name="select2" class="form__select form__field">
                <option value="Latvia">Select State</option>
                <option value="Latvia2">Select State</option>
                <option value="Latvia3">Select State</option>
            </select>
        </div>
        <div class="form__item">
            <input name="ZipCode" type="text" class="form__field" placeholder="Zip Code" required>
        </div>
        <div class="form__item">
            <input name="Email" type="email" class="form__field" placeholder="Email" required>
        </div>
        <div class="form__item">
            <input name="tel" type="tel" class="form__field" placeholder="Telephone" required>
        </div>
    </div>
    <div class="form__footer">
        <input disabled="disabled" class="submit form__btn btn js-openPopap" type="submit" value="Заказать со скидкой">
    </div>
</form>

<div class="timer js-timerTwo timer_show clock flip-clock-wrapper" style="margin:2em;">
    <span class="flip-clock-divider days">
        <span class="flip-clock-label">дней</span>
    </span>
    <ul class="flip ">
        <li class="flip-clock-before">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">9</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">9</div>
                </div>
            </a>
        </li>
        <li class="flip-clock-active">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">0</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">0</div>
                </div>
            </a>
        </li>
    </ul>
    <ul class="flip ">
        <li class="flip-clock-before">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">0</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">0</div>
                </div>
            </a>
        </li>
        <li class="flip-clock-active">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">2</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">2</div>
                </div>
            </a>
        </li>
    </ul><span class="flip-clock-divider hours"><span class="flip-clock-label">часов</span><span class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span></span>
    <ul class="flip ">
        <li class="flip-clock-before">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">0</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">0</div>
                </div>
            </a>
        </li>
        <li class="flip-clock-active">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">1</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">1</div>
                </div>
            </a>
        </li>
    </ul>
    <ul class="flip ">
        <li class="flip-clock-before">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">0</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">0</div>
                </div>
            </a>
        </li>
        <li class="flip-clock-active">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                </div>
            </a>
        </li>
    </ul><span class="flip-clock-divider minutes"><span class="flip-clock-label">минут</span><span class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span></span>
    <ul class="flip  play">
        <li class="flip-clock-before">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">2</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">2</div>
                </div>
            </a>
        </li>
        <li class="flip-clock-active">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">1</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">1</div>
                </div>
            </a>
        </li>
    </ul>
    <ul class="flip  play">
        <li class="flip-clock-before">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">0</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">0</div>
                </div>
            </a>
        </li>
        <li class="flip-clock-active">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">9</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">9</div>
                </div>
            </a>
        </li>
    </ul><span class="flip-clock-divider seconds"><span class="flip-clock-label">секунд</span><span class="flip-clock-dot top"></span><span class="flip-clock-dot bottom"></span></span>
    <ul class="flip  play">
        <li class="flip-clock-before">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">3</div>
                </div>
            </a>
        </li>
        <li class="flip-clock-active">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">2</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">2</div>
                </div>
            </a>
        </li>
    </ul>
    <ul class="flip  play">
        <li class="flip-clock-before">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">8</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">8</div>
                </div>
            </a>
        </li>
        <li class="flip-clock-active">
            <a href="#">
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">7</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">7</div>
                </div>
            </a>
        </li>
    </ul>
</div>
