
<section class="section section_popup popup">
    <div class="container">
        <div class="popup__box">
            <div class="popup__title">Disclaimer</div>
            <div class="popup__description">
                This product is not for use by or sale to persons under the age of 18. This product should be used only as directed on the label. It should not be used if you are pregnant or nursing. Consult with a physician before use if you have a serious medical condition or use prescription medications. A Doctor's advice should be sought before using this and any supplemental dietary product. All trademarks and copyrights are the property of their respective owners and are not affiliated with nor do they endorse this product. These statements have not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease. Individual weight loss results will vary. By using this site you agree to follow the Privacy Policy and all Terms & Conditions printed on this site. Void Where Prohibited By Law.
            </div>
            <div class="popup__btn">
                <div class="popup__close">Close</div>
            </div>
        </div>
    </div>
</section>
<section class="section section_popup popup">
    <div class="container">
        <div class="popup__box">
            <div class="popup__title">Terms and Conditions of Use</div>
            <div class="popu__subTitle">CAREFULLY READ AND UNDERSTAND THESE TERMS BEFORE ORDERING ANY PRODUCT THROUGH THIS WEBSITE</div>
            <div class="popup__description">
                The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: "Client", “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. “KETO”, "The Company", “Ourselves”, “We” and "Us", refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance with and subject to, prevailing English Law. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.
            </div>
            <div class="popu__subTitle">Privacy Statement</div>
            <div class="popup__description">All orders are secured with a 30-Day Money Back Guarantee.</div>
            <div class="popup__description">To return your order for a full refund, simply contact us for a RMA Return Merchandise Authorization number, and we'll give you instructions on how to return your order to our warehouse for a full refund. KETO BodyTone is committed to protecting your privacy. Authorized employees within the company on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers.</div>
            <div class="popup__description">
            <div class="popu__subTitle">Confidentiality</div>
                Any information concerning the Client and their respective Client Records may be passed to third parties. However, Client records are regarded as confidential and therefore will not be divulged to any third party. Clients have the right to request sight of, and copies of any and all Client Records we keep, on the proviso that we are given reasonable notice of such a request. Clients are requested to retain copies of any literature issued in relation to the provision of our services. Where appropriate, we shall issue Client’s with appropriate written information, handouts or copies of records as part of an agreed contract, for the benefit of both parties.</div>
            <div class="popup__btn">
                <div class="popup__close">Close</div>
            </div>
        </div>
    </div>
</section>
<section class="section section_popup popup">
    <div class="container">
        <div class="popup__box">
            <div class="popup__title">Privacy Policy</div>
            <div class="popup__subTitle">KETO BodyTone – Privacy Statement & Terms of Use
In using this website you are deemed to have read and agreed to the following terms and conditions:</div>
            <div class="popup__description">The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: "Client", “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. “KETO”, "The Company", “Ourselves”, “We” and "Us", refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance with and subject to, prevailing English Law. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</div>
            <div class="popup__subTitle">Privacy Statement</div>
            <div class="popup__description">All orders are secured with a 30-Day Money Back Guarantee.</div>
            <div class="popup__description">To return your order for a full refund, simply contact us for a RMA Return Merchandise Authorization number, and we'll give you instructions on how to return your order to our warehouse for a full refund. KETO BodyTone is committed to protecting your privacy. Authorized employees within the company on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers.</div>
            <div class="popup__subTitle">Confidentiality</div>
            <div class="popup__description">Any information concerning the Client and their respective Client Records may be passed to third parties. However, Client records are regarded as confidential and therefore will not be divulged to any third party. Clients have the right to request sight of, and copies of any and all Client Records we keep, on the proviso that we are given reasonable notice of such a request. Clients are requested to retain copies of any literature issued in relation to the provision of our services. Where appropriate, we shall issue Client’s with appropriate written information, handouts or copies of records as part of an agreed contract, for the benefit of both parties.</div>
            <div class="popup__btn">
                <div class="popup__close">Close</div>
            </div>
        </div>
    </div>
</section>
<section class="section section_popup popup">
    <div class="container">
        <div class="popup__box">
            <div class="popup__title">Shipping Policy</div>
            <div class="popup__subTitle">Shipping Methods</div>
            <div class="popup__description">We ship with USPS Priority Air Mail. Delivery takes 2-4 business days depending on your location. For international orders, it can take upto an additional 3-5 business days. All orders are shipped with insurance and delivery is guaranteed.</div>
            <div class="popup__subTitle">RETURNS</div>
            <div class="popup__description">All orders are secured with a 30-Day Money Back Guarantee.</div>
            <div class="popup__description">To return your order for a full refund, simply contact us for a RMA Return Merchandise Authorization number, and we'll give you instructions on how to return your order to our warehouse for a full refund.</div>
            <div class="popup__btn">
                <div class="popup__close">Close</div>
            </div>
        </div>
    </div>
</section>
<section class="section section_popup popup">
    <div class="container">
        <div class="contact">
            <div class="contact__title">Contact Us</div>
            <div class="contact__description">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit</div>
            <form class="contact__form">
                <div class="contact__item">
                    <input name="name" type="text" class="contact__field" placeholder="Name" required>
                </div>
                <div class="contact__item">
                    <input name="email" type="text" class="contact__field" placeholder="Email Address" required>
                </div>
                <div class="contact__item">
                    <input name="tel" type="text" class="contact__field" placeholder="Telephone" required>
                </div>
                <div class="contact__item">
                    <textarea class="contact__textarea" placeholder="Enter your Message here"></textarea>
                </div>
                <div class="contact__item contact__item_group">
                    <input type="text" class="contact__field contact__field_width" placeholder="Captcha">
                    <div class="contact__captcha">gf3cwg</div>
                </div>
                <div class="contact__item">
                    <div class="popup__close">Close</div>
                </div>
                <div class="contact__item">
                    <input class="contact__btn contact__btn_orange" type="submit" placeholder="Send">
                </div>
            </form>
        </div>
    </div>
</section>
