<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Cleanelle</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Антисептик для рук, или Cleanelle, — тип дезинфицирующего средства, который используется в среде медицинского обслуживания для предотвращения передачи патогенных микроорганизмов, а также для соблюдения элементарных правил гигиены рук в местах, в которых умывальник и мыло не доступны.">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="Антисептик, санитайзер, уход, микробы">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Антисептик для рук, или Cleanelle">
    <!-- описание страницы -->
    <meta property="og:description" content="Антисептик для рук, или Cleanelle, — тип дезинфицирующего средства, который используется в среде медицинского обслуживания для предотвращения передачи патогенных микроорганизмов, а также для соблюдения элементарных правил гигиены рук в местах, в которых умывальник и мыло не доступны.">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Cleanelle">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Название страницы -->
    <meta name="twitter:title" content="Cleanelle">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="Антисептик для рук, или Cleanelle, — тип дезинфицирующего средства, который используется в среде медицинского обслуживания для предотвращения передачи патогенных микроорганизмов, а также для соблюдения элементарных правил гигиены рук в местах, в которых умывальник и мыло не доступны.">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <section class="section section_face">
            <div class="container">
                
<div class="face">
    <h1 class="face__title wow fadeIn">Cleanelle</h1>
    <div class="face__description">Антибактериальный гель для рук с высокой вирулицидной активностью</div>
    <div class="face__list">
        <div class="face__item"><span><img src="../media/face/icon-1.png" alt=""></span>Убивает 99,99% вирусов и бактерий</div>
        <div class="face__item"><span><img src="../media/face/icon-2.png" alt=""></span>Содержит 70% этилового спирта</div>
        <div class="face__item"><span><img src="../media/face/icon-3.png" alt=""></span>Бережно ухаживает за кожей</div>
    </div>
    <div class="face__product">
        <div class="face__discount"><span>-</span>50<span>%</span></div>
        <img src="../media/face/product.png" alt="">
        <div class="face__product-list">
            <img src="../media/face/list.png" alt="">
        </div>
    </div>
    
<div class="form">
    <div class="form__head">
        <div class="form__title">Купить со скидкой</div>
        <div class="form__price"><span>99 eur</span><span>49 eur</span></div>
    </div>
    <div class="form__body">
        <div class="form__label">
            <select class="form__field">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </div>
    </div>
    <div class="form__footer">
        <button class="form__btn btn wow tada" data-wow-delay="3s">ЗАКАЗАТЬ</button>
        <span class="form__footer-info">осталось: 10 шт. </span>
    </div>
</div>

</div>

            </div>
        </section>
        <section class="section section_recommendations">
    <div class="container">
        <div class="recommendations">
            <div class="warning wow pulse" data-wow-offset="100" data-wow-delay="0.5s">
                <div class="warning__info">
                    <div class="warning__title" >
                        <span>Всемирная Организация</span> Здравоохранения предупреждает:
                    </div>
                    <div class="warning__description">
                        соблюдение правил гигиены рук – самый эффективный способ предотвращения инфекционных заболеваний.
                    </div>
                </div>
            </div>
            <div class="recommendations__title wow fadeIn" data-wow-offset="100">Рекомендации ВОЗ для защиты от инфекции:</div>
            <div class="recommendations__list">
                <div class="recommendations__item">
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/icon-1.png" alt="">
                    </div>
                    <div class="recommendations__item-title">Соблюдайте гигиену рук</div>
                    <div class="recommendations__item-description">
                        Регулярно мойте и обрабатывайте руки спиртосодержащим средством.

                        <span>Зачем это нужно?</span>
                        Если на поверхности рук присутствует вирус, то мытье и обработка рук убьют его.
                    </div>
                </div>
                <div class="recommendations__item">
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/icon-2.png" alt="">
                    </div>
                    <div class="recommendations__item-title">Соблюдайте дистанцию в общественных местах</div>
                    <div class="recommendations__item-description">
                        Держитесь от людей на расстоянии как минимум 1 метра, особенно если у них кашель и насморк.

                        <span>Зачем это нужно?</span>
                        Кашляя или чихая, человек, болеющий респираторной инфекцией, распространяет вокруг себя мельчайшие капли, содержащие вирус. Если вы находитесь слишком близко к такому человеку, то можете заразиться вирусом при вдыхании
                        воздуха.
                    </div>
                </div>
                <div class="recommendations__item">
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/icon-3.png" alt="">
                    </div>
                    <div class="recommendations__item-title">Не трогайте руками глаза, нос и рот</div>
                    <div class="recommendations__item-description">
                        <span>Зачем это нужно?</span>
                        Руки касаются многих поверхностей, на которых может присутствовать вирус. При контакте со слизистой, вирус с кожи рук может попасть в организм.
                    </div>
                </div>
                <div class="recommendations__item recommendations__item_product">
                    <div class="recommendations__item-title">
                        Используйте <a href="">Cleanelle</a> всегда и везде
                    </div>
                    <div class="recommendations__item-description">
                        Без мыла, воды и салфеток.
                    </div>
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/product.png" alt="">
                    </div>
                    <div class="recommendations__item-btn btn">ЗАКАЗАТЬ</div>
                </div>
            </div>
        </div>
    </div>
</section>

        <section class="section section_advantages">
    <div class="container">
        <div class="advantages">
            <div class="advantages__title wow fadeIn" data-wow-offset="100">Преимущества использования антисептика <a href="">Cleanelle</a></div>
            <div class="advantages__list">
                <div class="advantages__item wow bounceInLeft" data-wow-offset="100"><b>Эффективность</b> – содержание этилового спирта – 70%. Погибают все виды болезнетворных бактерий, вирусов и грибов.</div>
                <div class="advantages__item wow bounceInLeft" data-wow-offset="100"><b>Пролонгированная защита</b> – создает барьер между кожей и бактериями на длительное время. </div>
                <div class="advantages__item wow bounceInLeft" data-wow-offset="100"><b>Безопасность</b> – ухаживает, укрепляет и восстанавливает кожу.</div>
                <div class="advantages__item wow bounceInLeft" data-wow-offset="100"><b>Компактность</b> – легко везде носить с собой и использовать по мере необходимости.</div>
                <div class="advantages__item wow bounceInLeft" data-wow-offset="100"><b>Экономичность и простота использования</b> - всего 2-4 мл средства, нанести и растереть.</div>
            </div>
            <div class="advantages__product"></div>
        </div>
    </div>
</section>

        <section class="section section_ingredients">
    <div class="container">
        <div class="ingredients">
            <div class="ingredients__title wow fadeIn" data-wow-offset="100">СОСТАВ <a href="">CLEANELLE</a></div>
            <div class="ingredients__body">
                <div class="ingredients__box">
                    <div class="ingredients__item ingredients__item_first">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/icon-1.png" alt="">
                        </div>
                        <div class="ingredients__name">Этанол</div>
                        <div class="ingredients__info">
                            Средство, содержащее более 70% этанола, считается самым надежным антисептиком для рук от вируса, т.к. это вещество обладает <b>вирулицидной активностью и поэтому хорошо устраняет вирусы</b> на кожных покровах.
                            <span>БОЛЕЕ НИЗКАЯ КОНЦЕНТРАЦИЯ НЕ ОКАЗЫВАЕТ ЖЕЛАЕМОГО ЭФФЕКТА.</span>
                        </div>
                    </div>
                </div>
                <div class="ingredients__box">
                    <div class="ingredients__item">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/icon-2.png" alt="">
                        </div>
                        <div class="ingredients__name">Масло мяты</div>
                        <div class="ingredients__info">
                            Масло мяты <b>успокаивает раздраженную кожу</b>, обладает заживляющим и противовоспалительным действием.
                        </div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/icon-3.png" alt="">
                        </div>
                        <div class="ingredients__name">Масло лемонграсса</div>
                        <div class="ingredients__info">
                            Содержит централь и гераниол - <b>натуральные антисептики</b>, которые стимулируют заживление ран.
                        </div>
                    </div>
                    <div class="ingredients__item">
                        <div class="ingredients__media">
                            <img src="../media/ingredients/icon-4.png" alt="">
                        </div>
                        <div class="ingredients__name">Масло гвоздичного дерева</div>
                        <div class="ingredients__info">
                            <b>Богато витаминами</b> и биоактивными веществами. Обладает выраженными противогрибковыми и антивирусными свойствами.
                        </div>
                    </div>
                </div>
            </div>
            <div class="ingredients__product">
                <img src="../media/ingredients/product.png" alt="">
            </div>
        </div>
    </div>
</section>

        
<section class="section section_instructions">
    <div class="container">
        <div class="instructions">
            <div class="instructions__title wow fadeIn" data-wow-offset="100">Используйте антисептик <a href="">Cleanelle</a> каждый <span>раз, когда дотронулись до:</span></div>
            <div class="instructions__body">
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-1.png" alt=""></div>
                    <figcaption class="instructions__name">Дверных ручек</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-2.png" alt=""></div>
                    <figcaption class="instructions__name">Кнопки лифта</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-3.png" alt=""></div>
                    <figcaption class="instructions__name">Ключей</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-4.png" alt=""></div>
                    <figcaption class="instructions__name">Перил</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-5.png" alt=""></div>
                    <figcaption class="instructions__name">Водопроводного крана</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-6.png" alt=""></div>
                    <figcaption class="instructions__name">Кошелька и денег</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-7.png" alt=""></div>
                    <figcaption class="instructions__name">Мобильного телефона</figcaption>
                </figure>
                <figure class="instructions__item">
                    <div class="instructions__media"><img src="../media/instructions/icon-8.png" alt=""></div>
                    <figcaption class="instructions__name">Компьютерной клавиатуры</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_regulations">
    <div class="container">
        <div class="regulations">
            <div class="warning wow pulse" data-wow-offset="100" data-wow-delay="1s">
                <div class="warning__info">
                    <div class="warning__title">
                        <span>От этого зависит ваше здоровье</span> и здоровье ваших близких!
                    </div>
                    <div class="warning__description">
                        Необходимо использовать антисептик каждый раз, когда соприкасаетесь с этими предметами.
                    </div>
                </div>
            </div>
            <div class="regulations__title wow fadeIn" data-wow-offset="100">Как правильно использовать антисептик?</div>
            <div class="regulations__body">
                <div class="regulations__box">
                    <div class="regulations__item regulations__item_color-1">
                        <div class="regulations__count">01</div>
                        <div class="regulations__description">Средство необходимо нанести на ладонь и сразу приступить к его втиранию. </div>
                    </div>
                    <div class="regulations__item regulations__item_color-2">
                        <div class="regulations__count">02</div>
                        <div class="regulations__description">Очень важно обрабатывать всю поверхность кистей, уделяя особое внимание участкам между пальцами и под ногтями. </div>
                    </div>
                </div>
                <div class="regulations__box">
                    <div class="regulations__item regulations__item_color-3">
                        <div class="regulations__count">03</div>
                        <div class="regulations__description">Суммарное время обработки должно быть не меньше 30 секунд.</div>
                        <div class="regulations__product">
                            <img src="../media/regulations/product.png" alt="">
                        </div>
                        <div class="regulations__btn btn">ЗАКАЗАТЬ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        <section class="section section_face section_footer">
            <div class="container">
                
<div class="face">
    <h1 class="face__title wow fadeIn">Cleanelle</h1>
    <div class="face__description">Антибактериальный гель для рук с высокой вирулицидной активностью</div>
    <div class="face__list">
        <div class="face__item"><span><img src="../media/face/icon-1.png" alt=""></span>Убивает 99,99% вирусов и бактерий</div>
        <div class="face__item"><span><img src="../media/face/icon-2.png" alt=""></span>Содержит 70% этилового спирта</div>
        <div class="face__item"><span><img src="../media/face/icon-3.png" alt=""></span>Бережно ухаживает за кожей</div>
    </div>
    <div class="face__product">
        <div class="face__discount"><span>-</span>50<span>%</span></div>
        <img src="../media/face/product.png" alt="">
        <div class="face__product-list">
            <img src="../media/face/list.png" alt="">
        </div>
    </div>
    
<div class="form">
    <div class="form__head">
        <div class="form__title">Купить со скидкой</div>
        <div class="form__price"><span>99 eur</span><span>49 eur</span></div>
    </div>
    <div class="form__body">
        <div class="form__label">
            <select class="form__field">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </div>
    </div>
    <div class="form__footer">
        <button class="form__btn btn wow tada" data-wow-delay="3s">ЗАКАЗАТЬ</button>
        <span class="form__footer-info">осталось: 10 шт. </span>
    </div>
</div>

</div>

            </div>
        </section>
        
<section class="section section_job">
    <div class="container">
        <div class="job">
            <div class="job__title wow fadeIn" data-wow-offset="100">Как мы работаем</div>
            <div class="job__box">
                <div class="job__item">
                    <div class="job__icon">
                        <img src="../media/job/icon-1.png" alt="">
                    </div>
                    <div class="job__description">Оставьте заявку на нашем сайте</div>
                </div>
                <div class="job__item">
                    <div class="job__icon">
                        <img src="../media/job/icon-2.png" alt="">
                    </div>
                    <div class="job__description">Мы перезвоним вам в ближайшее время для подтверждения заказа</div>
                </div>
                <div class="job__item">
                    <div class="job__icon">
                        <img src="../media/job/icon-3.png" alt="">
                    </div>
                    <div class="job__description">Доставим ваш заказ курьером за 3-7 дней</div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<section class="section section_cleanelle">
    <div class="container">
        <div class="cleanelle">
            <div class="cleanelle__title">cleanelle</div>
        </div>
    </div>
</section>

        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
