<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Cleanelle</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Антисептик для рук, или Cleanelle, — тип дезинфицирующего средства, который используется в среде медицинского обслуживания для предотвращения передачи патогенных микроорганизмов, а также для соблюдения элементарных правил гигиены рук в местах, в которых умывальник и мыло не доступны.">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="Антисептик, санитайзер, уход, микробы">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Антисептик для рук, или Cleanelle">
    <!-- описание страницы -->
    <meta property="og:description" content="Антисептик для рук, или Cleanelle, — тип дезинфицирующего средства, который используется в среде медицинского обслуживания для предотвращения передачи патогенных микроорганизмов, а также для соблюдения элементарных правил гигиены рук в местах, в которых умывальник и мыло не доступны.">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Cleanelle">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Название страницы -->
    <meta name="twitter:title" content="Cleanelle">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="Антисептик для рук, или Cleanelle, — тип дезинфицирующего средства, который используется в среде медицинского обслуживания для предотвращения передачи патогенных микроорганизмов, а также для соблюдения элементарных правил гигиены рук в местах, в которых умывальник и мыло не доступны.">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        
<section class="section section_face">
    <div class="container">
        <div class="face">
            <h1 class="face__title">Cleanelle</h1>
            <div class="face__description">Антибактериальный гель для рук с высокой вирулицидной активностью</div>
            <div class="face__list">
                <div class="face__item"><span><img src="../media/face/icon-1.png" alt=""></span>Убивает 99,99% вирусов и бактерий</div>
                <div class="face__item"><span><img src="../media/face/icon-2.png" alt=""></span>Содержит 70% этанолового спирта</div>
                <div class="face__item"><span><img src="../media/face/icon-3.png" alt=""></span>Бережно ухаживает за кожей</div>
            </div>
            <div class="face__product">
                <div class="face__discount"><span>-</span>50<span>%</span></div>
                <img src="../media/face/product.png" alt="">
                <div class="face__product-list">
                    <img src="../media/face/list.png" alt="">
                </div>
            </div>
            
<div class="form">
    <div class="form__head">
        <div class="form__title">Купить со скидкой</div>
        <div class="form__price"><span>99 eur</span><span>49 eur</span></div>
    </div>
    <div class="form__body">
        <div class="form__label">
            <select class="form__field">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </div>
        <div class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </div>
    </div>
    <div class="form__footer">
        <button class="form__btn btn">ЗАКАЗАТЬ</button>
        <span class="form__footer-info">осталось: 10 шт. </span>
    </div>
</div>

        </div>
    </div>
</section>

        <section class="section section_recommendations">
    <div class="container">
        <div class="recommendations">
            <div class="warning">
                <div class="warning__info">
                    <div class="warning__title">
                        <span>Всемирная Организация</span> Здравоохранения предупреждает:
                    </div>
                    <div class="warning__description">
                        соблюдение правил гигиены рук – самый эффективный способ предотвращения инфекционных заболеваний.
                    </div>
                </div>
            </div>
            <div class="recommendations__title">Рекомендации ВОЗ для защиты от инфекции:</div>
            <div class="recommendations__list">
                <div class="recommendations__item">
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/icon-1.png" alt="">
                    </div>
                    <div class="recommendations__item-title">Соблюдайте гигиену рук</div>
                    <div class="recommendations__item-description">
                        Регулярно мойте и обрабатывайте руки спиртосодержащим средством.

                        <span>Зачем это нужно?</span>
                        Если на поверхности рук присутствует вирус, то мытье и обработка рук убьют его.
                    </div>
                </div>
                <div class="recommendations__item">
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/icon-2.png" alt="">
                    </div>
                    <div class="recommendations__item-title">Соблюдайте дистанцию в общественных местах</div>
                    <div class="recommendations__item-description">
                        Держитесь от людей на расстоянии как минимум 1 метра, особенно если у них кашель и насморк.

                        <span>Зачем это нужно?</span>
                        Кашляя или чихая, человек, болеющий респираторной инфекцией, распространяет вокруг себя мельчайшие капли, содержащие вирус. Если вы находитесь слишком близко к такому человеку, то можете заразиться вирусом при вдыхании
                        воздуха.
                    </div>
                </div>
                <div class="recommendations__item">
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/icon-3.png" alt="">
                    </div>
                    <div class="recommendations__item-title">Не трогайте руками глаза, нос и рот</div>
                    <div class="recommendations__item-description">
                        <span>Зачем это нужно?</span>
                        Руки касаются многих поверхностей, на которых может присутствовать вирус. При контакте со слизистой, вирус с кожи рук может попасть в организм.
                    </div>
                </div>
                <div class="recommendations__item recommendations__item_product">
                    <div class="recommendations__item-title">
                        Используйте <a href="">Cleanelle</a> всегда и везде
                    </div>
                    <div class="recommendations__item-description">
                        Без мыла, воды и салфеток.
                    </div>
                    <div class="recommendations__item-media">
                        <img src="../media/recommendations/product.png" alt="">
                    </div>
                    <div class="recommendations__item-btn btn">ЗАКАЗАТЬ</div>
                </div>
            </div>
        </div>
    </div>
</section>

        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
