<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Detonic</title>
    <meta name="description" content="Detonic">
    <meta itemprop="image" content="../media/share/image.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Отключает формирование ссылки у номера телефона на iOS -->
    <meta name="format-detection" content="telephone=no">
    <!-- Краткое описание страницы  -->
    <meta name="description" content="Detonic">
    <!-- Ключевые слова страницы  -->
    <meta name="keywords" content="Detonic">

    <!-- заголовок страницы, который будет выводится в записи социальной сети -->
    <meta property="og:title" content="Detonic">
    <!-- описание страницы -->
    <meta property="og:description" content="Detonic">
    <!-- ссылка на изображение, которое будет публиковаться в записи -->
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image" content="../media/share/image.jpg">
    <meta property="og:image:url" content="../media/share/image.jpg">
    <meta property="og:image:secure_url" content="../media/share/image.jpg">
    <!-- название сайта -->
    <meta property="og:site_name" content="Detonic">

    <!-- Тип карты, по умолчанию используется summary -->
    <meta name="twitter:card" content="summary">
    <!-- Название страницы -->
    <meta name="twitter:title" content="Detonic">
    <!-- Описание страницы -->
    <meta name="twitter:description" content="Detonic">
    <!-- Cсылка на изображение -->
    <meta name="twitter:image" content="../media/share/image.jpg">

    <link sizes="16x16" rel="shortcut icon" type="image/png" href="../media/favicon/favicon-16x16.png">
    <link sizes="32x32" rel="icon" type="image/png" href="../media/favicon/favicon-32x32.png">
    <link sizes="192x192" rel="icon" type="image/png" href="../media/favicon/android-chrome-192x192.png">
    <link sizes="180x180" rel="apple-touch-icon" href="../media/favicon/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="../css/style.css">
</head>

    <body>
        <main>
            
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">DETONIC</div>
                <div class="section__title face__title" data-aos="fade-up">эффективное решение интимной проблемы </div>
                <div class="face__product">
                    <img src="../media/product.png" alt="Detonic">
                </div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">
                        <div class="face__woman"></div>
                        <img src="../media/face/item-1.png" alt="">
                        Лечит инфекционные и воспалительные процессы
                    </div>
                    <div class="face__check" data-aos="fade-right">
                        <img src="../media/face/item-2.png" alt="">
                        Эффективен против патогенных микроорганизмов
                    </div>
                    <div class="face__check" data-aos="fade-right">
                        <img src="../media/face/item-3.png" alt="">
                        Снимает болевые симптомы
                    </div>
                    <div class="face__check" data-aos="fade-right">
                        <img src="../media/face/item-4.png" alt="">
                        Лечит хроническую форму
                    </div>
                </div>
            </div>
            <div class="face__box">
                <form class="form" action="" method="post">
    <div class="form__title">Заказать <span>сейчас</span></div>
    <div class="form__price">
        <div class="form__price-old">100$</div>
        <div class="form__price-main">20$</div>
    </div>
    <div class="form__body">
        <label class="form__label">
            <select class="form__field form__select">
                <option selected="" value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </label>
    </div>
    <div class="form__time">
        <div class="form__time-title">До конца акции:</div>
        <div class="form__time-box">
            <div class="form__time-count">
                <span>00</span>
                <span>часов</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>22</span>
                <span>минут</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>00</span>
                <span>секунд</span>
            </div>
        </div>
    </div>
    <button class="form__btn">ЗАКАЗАТЬ</button>
</form>

            </div>
        </div>
    </div>
</section>

            
<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="section__title symptoms__title" data-aos="fade-left">При обнаружении характерных симптомов</div>
        </div>
    </div>
</section>

            
 <section class="section section_act">
     <div class="container">
         <div class="act">
             <div class="section__title act__title" data-aos="fade-right">действовать нужно немедленно!</div>
             <div class="act__box">
                 <div class="act__item"> <mark>Частые ложные позывы</mark> к мочеиспусканию </div>
                 <div class="act__item"> <mark>Резь, боль, жжение</mark> и зуд в области уретры </div>
                 <div class="act__item"> <mark>Ноющая боль внизу живота</mark> или в районе поясницы </div>
                 <div class="act__item"> <mark>Примеси крови</mark> в моче </div>
                 <div class="act__item"> <mark>Неприятный</mark> запах мочи </div>
                 <div class="act__item"> <mark>Высокая температура,</mark> тошнота или рвота </div>
             </div>
         </div>
     </div>
 </section>

            
<section class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="problems__media"><img src="../media/problems/human.png" alt=""></div>
            <div class="problems__body">
                <div class="section__title problems__title" data-aos="fade-left">Тема может <span>и интимная,</span> <span>а вот проблема</span> серьёзная. </div>
                <div class="problems__info">
                    Цистит — это воспаление мочевого пузыря, инфекционное поражение слизистых покровов. Частое, болезненное мочеиспускание – основной признак. Может отмечаться повышение температуры тела, появление в моче крови.
                    <mark>Практически каждая женщина в течение жизни сталкивается с этой проблемой. Подавляющее большинство.</mark>
                </div>
                <div class="problems__name">
                    Артур Ламис
                    <mark>уролог, стаж 32 года</mark>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_women">
    <div class="container">
        <div class="women">
            <div class="section__title women__title" data-aos="fade-right">Почему женщины <mark>чаще страдают от цистита?</mark></div>
            <div class="women__list">
                <div class="women__item" data-aos="fade-right"><mark>Особенности женской анатомии:</mark> женский мочеиспускательный канал более короткий и прямой, чем у мужчин.</div>
                <div class="women__item" data-aos="fade-right">Поэтому <mark>инфекция легче проникает</mark> в мочевой пузырь</div>
                <div class="women__item" data-aos="fade-right"><mark>Именно это</mark> – самая частая причина возникновения цистита</div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_warning">
    <div class="container">
        <div class="warning">
            <div class="section__title warning__title" data-aos="fade-up"><span>НЕ ЗАНИМАЙТЕСЬ</span> САМОЛЕЧЕНИЕМ</div>
        </div>
    </div>
</section>

            
<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title" data-aos="fade-right"> Это самая частая причина <span>перехода цистита в</span> хроническую форму. </div>
            <div class="professional__info">
                <p>С болезнью, которую лечили долго и неверно, справиться гораздо труднее: принимать антибиотики надо с максимальной ответственностью, несистемное лечение приводит к ситуации, когда они перестают
                действовать.
                <span>
                    Попробуйте Detonic — растительный препарат, который я использую в своей практике. Он доказал эффективность при любом ходе течения цистита, в том числе при хронических случаях. За курс применения этот растительный
                    препарат устраняет бактериальную и патогенную флору, нормализует работу почек и снимает болевой синдром. Также препарат уместен для профилактического лечения.
                </span>
                </p>
                <div class="professional__media">
                    <img src="../media/professional/human.png" alt="">
                </div>
            </div>
            <div class="professional__name">
                Артур Ламис
                <mark>уролог, стаж 32 года</mark>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Мнение пациентов</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Ханна, 38<mark>Страдала от цистита больше года.</mark></div>
                    <div class="commits__description">
                        Первый раз появился после секса. Сначала просто был дискофморт, потом боль – такая, что шелохнуться невозможно. Кое-как добралась в аптеку, купила первый попавшийся антибиотик. Помог. Через месяц та же история и снова антибиотик. На четвертый раз он не спас: пролежала пару дней с острой болью и горячей бутылкой между ног. С виноватым видом добралась до врача, а он мне те же самые антибиотики назначил! Стала искать, чем народ лечится, нашла статью про Detonic, заказала, пропила. Вот уже полтора года как никаких симптомов этой заразы. Через полгода обследовалась у уролога, анализы идеальные. Слава богу, эти пытки закончились, вернулась к нормальной жизни.
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">Майя, 64<mark>Полтора месяца назад цистит нарушил все мои планы.</mark></div>
                    <div class="commits__description">
                        Собирались с дочкой в отпуск, и тут случился неприятный сюрприз – сухость, дискомфорт и сильное жжение, особенно после походов в туалет. Страдала от этого даже больше, чем от приливов, которые сопровождают меня из-за климакса. Побежала к врачу, которого мне посоветовала коллега. По ее словам, он вылечил немало людей с похожими симптомами. После результатов анализов он поставил диагноз – воспаление мочевого пузыря на фоне менопаузального периода. Доктор пояснил, что цистит не редкость при климаксе и назначил Detonic. Облегчение наступило уже после первого применения. После курса лечения вообще забыла что это такое и надеюсь, больше подобного я не испытаю.
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Адриана, 49<mark>Страдала от хронического цистита с детства.</mark></div>
                    <div class="commits__description">
                        3-4 раза в год случалось обострение, это когда от боли ниже живота хотелось лезть на стену, повышается и в туалет ходить очень больно. После очередного осмотра у врача обнаружился пузырно-мочеточниковый рефлюкс – забрасывание мочи обратно в почки, как мне сказали в клинике. Я тогда сильно перепугалась и расстроилась. Нашла другого врача, он прописал Detonic. Спустя неделю все симптомы ушли, и облегчение, которое я почувствовала, не сравнится ни с чем! А после курса Detonic цистит в прошлом )
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            
<section class="section section_info" data-aos="fade-right">
    <div class="container">
        <div class="info">
            <div class="info__title">ПОЖАЛУЙСТА, <span>ОБРАТИТЕ ВНИМАНИЕ!</span></div>
            <div class="info__description">Количество упаковок, необходимое для желаемого результата, <mark>определяется индивидуально и в отдельных случаях может увеличиться.</mark></div>
        </div>
    </div>
</section>

            
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">DETONIC</div>
                <div class="section__title face__title" data-aos="fade-up">эффективное решение интимной проблемы </div>
                <div class="face__product">
                    <img src="../media/product.png" alt="Detonic">
                </div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">
                        <div class="face__woman"></div>
                        <img src="../media/face/item-1.png" alt="">
                        Лечит инфекционные и воспалительные процессы
                    </div>
                    <div class="face__check" data-aos="fade-right">
                        <img src="../media/face/item-2.png" alt="">
                        Эффективен против патогенных микроорганизмов
                    </div>
                    <div class="face__check" data-aos="fade-right">
                        <img src="../media/face/item-3.png" alt="">
                        Снимает болевые симптомы
                    </div>
                    <div class="face__check" data-aos="fade-right">
                        <img src="../media/face/item-4.png" alt="">
                        Лечит хроническую форму
                    </div>
                </div>
            </div>
            <div class="face__box">
                <form class="form" action="" method="post">
    <div class="form__title">Заказать <span>сейчас</span></div>
    <div class="form__price">
        <div class="form__price-old">100$</div>
        <div class="form__price-main">20$</div>
    </div>
    <div class="form__body">
        <label class="form__label">
            <select class="form__field form__select">
                <option selected="" value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </label>
    </div>
    <div class="form__time">
        <div class="form__time-title">До конца акции:</div>
        <div class="form__time-box">
            <div class="form__time-count">
                <span>00</span>
                <span>часов</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>22</span>
                <span>минут</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>00</span>
                <span>секунд</span>
            </div>
        </div>
    </div>
    <button class="form__btn">ЗАКАЗАТЬ</button>
</form>

            </div>
        </div>
    </div>
</section>

            <section class="section section_footer">
                <footer>
                    <div class="container">
                        <div class="adress">
                             <p class="footer_leadbit">BERNADATTE LTD, Av Ricardo J. Alfaro, Panama International<br>
                                 <a href="/cdn/files/Privacy Policy.html" target="_blank">Privacy Policy</a> | <a href="http://feedback-team.com" target="_blank">Report</a>
                             </p>
                        </div>
                    </div>
                </footer>
            </section>
            <div id="loader-wrapper">
                <div id="loader"></div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </main>
        
<script src="../js/jquery.js"></script>
<script src="../js/plugin.js"></script>
<script src="../js/index.js"></script>

    </body>
</html>
