
.face {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.face__product {
    position: absolute;
    bottom: -160px;
    left: 50%;
    z-index: -1;
    width: 931px;
    height: 711px;
    background-image: url("../media/face/product.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateX(-50%);
}

.face__box {
    max-width: 358px;
}

.face__title-intro {
    margin-bottom: 35px;
    font-size: 27px;
    font-weight: 600;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;

    & span {
        display: block;
        font-size: 51px;
        line-height: 50px;
    }
}

.face__title {
    margin-bottom: 55px;
    font-size: 67px;
    font-weight: 800;
    line-height: 62px;
    color: #fff;
    text-transform: uppercase;

    & mark {
        color: #a8dd48;
        background-color: transparent;
    }
}

.face__box-icon {
    display: flex;
}

.face__icon {
    & + & {
        margin-left: 20px;
    }
}

@media (max-width: 1030px) {
    .face__title-intro {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1;

        & span {
            display: block;
            font-size: inherit;
            line-height: inherit;
        }
    }

    .face__title {
        margin-bottom: 20px;
    }

    .face__product {
        bottom: -230px;
        left: 48%;
        width: 600px;
        height: 458px;
    }
}

@media (max-width: 768px) {
    .face__product {
        top: 300px;
        bottom: auto;
        width: 283px;
        height: 420px;
        background-image: url("../media/face/product-768.png");
    }

    .face__box {
        max-width: 100%;
        margin-bottom: 455px;
    }

    .face__title-intro {
        text-align: center;
    }

    .face__box-icon {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .face__title-intro {
        font-size: 18px;
        line-height: 1.2;
    }
}
