
.failures {
    display: flex;
    flex-direction: column;
}

.failures__title {
    position: relative;
    max-width: 785px;
    margin-bottom: 90px;
    margin-left: auto;
    font-size: 53px;
    font-weight: 800;
    line-height: 48px;
    color: #fff;
    text-align: right;
    text-transform: uppercase;

    & span {
        &:first-child {
            position: absolute;
            top: -10px;
            left: 0;
            font-size: 113px;
            font-weight: 400;
            line-height: 105px;
        }

        &:last-child {
            font-size: 103px;
            font-weight: 800;
            line-height: 95px;
        }
    }

    & > mark {
        display: block;
        font-size: 41px;
        font-weight: 400;
        line-height: 38px;
    }

    & mark {
        color: #e6db2b;
    }
}

.failures__box {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.failures__item {
    position: relative;
    width: 18%;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;

    &::before {
        position: absolute;
        top: -14px;
        left: 0;
        width: 58px;
        height: 6px;
        content: '';
        background-color: #e6db2b;
    }
}

@media (max-width: 1030px) {
    .failures__title {
        position: static;
        max-width: 100%;

        & span {
            display: inline;

            &:first-child {
                position: static;
                font-size: inherit;
                line-height: inherit;
            }

            &:last-child {
                font-size: inherit;
                line-height: inherit;
            }
        }

        & mark {
            display: inline;
            font-size: inherit;
        }
    }

    .failures__box {
        margin-right: -7px;
        margin-left: -7px;
    }

    .failures__item {
        margin-right: 7px;
        margin-left: 7px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .failures__item {
        width: 30%;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .failures__box {
        justify-content: space-between;
        margin-right: 0;
        margin-left: 0;
    }

    .failures__item {
        width: 45%;
        margin-right: 0;
        margin-left: 0;
        text-align: center;

        &::before {
            left: 50%;
            margin-left: -29px;
        }
    }
}
